<div class="profile-body">
    <div class="row">
        <div class="col-sm-3 mb-2">
            <label class="col-form-label">Sign-In Method</label>
            <input class="form-control disabled" id="exampleInputEmail1" value="Google" type="text" />
        </div>
        <div class="col-sm-3 mb-2">
            <label class="col-form-label">Email Address</label>
            <input class="form-control disabled" id="exampleInputEmail1" value="venkat.kasthala@gmail.com" type="email" />
        </div>

        <div class="col-sm-3 mb-2">
            <label class="col-form-label">Country</label>
            <select class="form-control">
            <option value="1">USA</option>
        </select>
        </div>
    </div>

    <div class="py-3 profile-web">
        <span class="cursor">Reset Password</span>
    </div>
    <div class="py-3 text-right profile-mobile" *ngIf="!showResetForm">
        <button type="button" class="btn btn-reset" (click)="resetPassword()">Reset Password</button>
    </div>
    <div class="row" *ngIf="showResetForm">
        <div class="col-sm-3 mb-2">
            <label class="col-form-label">Current Password</label>
            <input class="form-control" id="currentpassword" type="password" />
        </div>
        <div class="col-sm-3 mb-2">
            <label class="col-form-label">New Password</label>
            <input class="form-control" id="newpassword" type="password" />
        </div>
        <div class="col-sm-3 mb-2">
            <label class="col-form-label">Confirm Password</label>
            <input class="form-control" id="confirmpassword" type="password" />
        </div>
    </div>

    <div class="row mb-3 profile-web">
        <div class="col-sm-3 mb-2">
            <label class="col-form-label">Brokerages Used</label>
            <select class="form-control">
            <option value="1">tdAmeritrade</option>
            <option value="2">Robinhood</option>
            <option value="3">WebBull</option>
            <option value="4">Charles Schwab</option>
            <option value="5">Interactive Brokers</option>
        </select>
        </div>
        <div class="col-sm-3 mb-2">
            <label class="col-form-label">Traded Instruments</label>
            <select class="form-control">
            <option value="1">Stocks</option>
            <option value="2">Stock Options</option>
            <option value="3">Stock Futures</option>
            <option value="4">Commodity Futures</option>
            <option value="5">Forex Options</option>
        </select>
        </div>

    </div>

    <div class="trade-btn profile-bottom pt-3 profile-web">
        <div class="btn btn-apply" (click)="saveprofile()">
            SAVE
        </div>
    </div>
</div>