<div class="deposits-top mb-3">
    <div class="row">
        <div class="col-6 mb-2">
            <label class="col-form-label">What is the portfolio value (including cash) at the time of setting up this proﬁle?</label>
            <input type="text" class="form-control" />
        </div>
    </div>
</div>

<mat-accordion class="example-headers-align w-100" multi="true">
    <mat-expansion-panel [expanded]="true" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Deposit and Withdrawal History
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <div class="d-flex mb-2">
                <div class="card-main">
                    <label class="col-form-label">Entry Date</label>
                    <div class="datepicker-group">
                        <input matInput [matDatepicker]="executed_date" (click)="executed_date.open()" id="executed_date" (dateChange)="addEvent('input', $event)" name="executed_date" [(ngModel)]="executedDate" />
                        <mat-datepicker-toggle matSuffix [for]="executed_date"></mat-datepicker-toggle>
                        <mat-datepicker #executed_date></mat-datepicker>
                    </div>
                </div>
                <div class="card-main">
                    <label class="col-form-label">Deposit</label>
                    <select class="form-control">
                        <option value="1">Deposit</option>
                        <option value="1">Withdrawal</option>
                    </select>
                </div>
                <div class="card-main">
                    <label class="col-form-label">Amount</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="card-main add-item">
                    <mat-icon>add_circle</mat-icon>
                </div>
            </div>
            <ng-container *ngIf="DepositList.length">
                <div *ngFor="let deposit of DepositList;let index = index">
                    <div class="d-flex align-items-center mb-2">
                        <span class="card-main pl-3">{{deposit.entrydate}}</span>
                        <span class="card-main pl-3">Deposit</span>
                        <span class="card-main pl-3">12,024</span>
                        <mat-icon class="mr-3 mat-icon-sm mat-icon-edit">edit</mat-icon>
                        <mat-icon class="mat-icon-sm">delete</mat-icon>
                    </div>
                </div>
            </ng-container>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>

<div class="trade-btn py-3">
    <div class="btn btn-apply" (click)="saveprofile()">
        SAVE
    </div>
</div>