<div class="addnew-trade">
  <div class="px-2 mt-3">
    <div class="addnew-trade-body">
      <div class="trade-dash-main">
        <div class="trade-dash-name">
          <h3>
            {{add ? 'Add Trade' : ''}} {{view ? 'View Trade' : ''}}
            <span *ngIf="edit">Edit Trade - {{tradeStrategy.uid}}</span>
            <span *ngIf="close">Close Trade - {{tradeStrategy.uid}}</span>
          </h3>
        </div>
      </div>
      <ng-container [ngSwitch]="currentState">
        <ng-container *ngSwitchCase="1">

          <!--entry first-->
          <div class="addnew-first p-3">
            <div class="trade-form">
              <div class="d-flex">
                <label class="col-form-label pb-0 mr-2">Enter Symbol</label>
                <app-trade-search (symbolSelectEvent)="symbolSelectEventHandler($event)"></app-trade-search>
                <button class="btn btn-enter ml-2" (click)="enterSymbol()">Submit </button>
              </div>

            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <div class="addnew-trade-body">
            <app-trade-details-header [selectedStock]="selectedStock" [stockSummary]="stockSummary"
              (loadMoreStats)="loadMoreStatsHandler($event)"></app-trade-details-header>
          </div>
          <div class="d-flex no-gutters" style="margin-right: -1px;">
            <div class="col-8 trade-details-ltside">
              <mat-horizontal-stepper labelPosition="left" #stepper [linear]="false">
                <mat-step [class.active]="stepone.completed" #stepone>
                  <ng-template matStepLabel>1.Trade Details</ng-template>
                  <div class="stepper-content">
                    <app-trade-details (nextStep)="goForward()" (activateRisk)="activeStep = true"
                      (addTradeEvent)="addTrade($event)" (navigateRiskAnalysisEvent)="navigaeToRiskAnalysis()"
                      [stockSummary]="stockSummary" [selectedStock]="selectedStock" [inputState]="inputState"
                      [editTrade]="edit" [addTrade]="add" [closeTrade]="close" [viewTrade]="view"
                      [strategyTypeChangeSubject]="strategyTypeChangeSubject"
                      [stockOrOptionAddedSubject]="stockOrOptionAddedSubject"
                      [localStockClosedSubject]="localStockClosedSubject"
                      [localOptionClosedSubject]="localOptionClosedSubject" #tradeDetails>
                    </app-trade-details>
                  </div>
                  <div *ngIf="!add && tradeStrategy.statusId !=4">
                    <span class="cursor legs-heading" (click)="showClosedLegs()">
                      <span *ngIf="closedLegs" class="text-success d-flex align-items-center">Hide Closed Legs <i
                          class="negative-amt material-icons">keyboard_arrow_down</i>
                      </span>
                      <span *ngIf="!closedLegs" class="text-success d-flex align-items-center">Show Closed Legs <i
                          class="negative-amt material-icons">keyboard_arrow_right</i>
                      </span>
                    </span>
                    <div *ngIf="closedLegs && tradeHistory">
                      <div class="trade-card-box"
                        *ngFor="let item of tradeHistory.stockLegHistories;let index = index">
                        <div class="card-main">
                          <label class="col-form-label pt-0">Action</label>
                          <select id="inputState" class="form-control disabled px-0" [(ngModel)]="item.actionType">
                            <option value=1 selected data-default>Buy to Open</option>
                            <option value=2>Sell to Open</option>
                            <option value=3>Buy to Close</option>
                            <option value=4>Sell to Close</option>
                          </select>
                        </div>
                        <div class="card-main card-main-md">
                          <label class="col-form-label pt-0">Quantity</label>
                          <input type="number" min="0" class="form-control cards-input disabled"
                            [(ngModel)]="item.quantity" />
                        </div>
                        <div class="card-main card-main-custom pr-1">
                          <label class="col-form-label pt-0">Entry Price</label>
                          <input type="number" min="0" class="form-control cards-input disabled"
                            [(ngModel)]="item.entryPrice" pattern="^\d*(\.\d{0,2})?$" step="0.01" />
                        </div>
                        <div class="card-main card-main-custom">
                          <label class="col-form-label pt-0">Exit Price</label>
                          <input type="number" min="0" class="form-control cards-input disabled"
                            [(ngModel)]="item.exitPrice" pattern="^\d*(\.\d{0,2})?$" step="0.01" />
                        </div>
                        <div class="card-main card-main-sm">
                          <label class="col-form-label pt-0">Return</label>
                          <h6 class="input_text">
                            {{(item.quantity && item.exitPrice && item.entryPrice) ? (item.quantity * (item.exitPrice - item.entryPrice) * (item.actionType == 3 ? -1 : 1)).toFixed(2) : 0}}
                          </h6>
                        </div>
                      </div>
                      <div class="mb-1 trade-card-box" *ngIf="tradeHistory.optionLegHistories.length > 0">
                        <div class="card-main">Action</div>
                        <div class="card-main card-main-md">Contracts</div>
                        <div class="card-main card-main-md">Strike</div>
                        <div class="card-main">Expiration</div>
                        <div class="card-main card-main-md">Call / Put</div>
                        <div class="card-main card-main-md">Entry Price</div>
                        <div class="card-main card-main-md">Exit Price</div>
                        <div class="card-main card-main-md">Return</div>
                      </div>
                      <div class="mb-1 trade-card-box"
                        *ngFor="let item of tradeHistory.optionLegHistories;let index = index">
                        <div class="card-main">
                          <select id="inputState" class="form-control disabled px-0" [(ngModel)]="item.actionType">
                            <option value=1 selected data-default>Buy to Open</option>
                            <option value=2>Sell to Open</option>
                            <option value=3>Buy to Close</option>
                            <option value=4>Sell to Close</option>
                          </select>
                        </div>
                        <div class="card-main card-main-md">
                          <input type="number" min="0" class="form-control cards-input disabled"
                            [(ngModel)]="item.contracts" />
                        </div>
                        
                        <div class="card-main card-main-md">
                          <input type="number" step="0.01" min="0" class="form-control cards-input disabled"
                            [(ngModel)]="item.strikePrice" pattern="^\d*(\.\d{0,2})?$" />
                        </div>
                        <div class="card-main">
                          <div class="datepicker-group">
                            <input matInput [matDatepicker]="expireDate" id="expireDate" name="item.expireDate"
                              class="disabled" [(ngModel)]="item.expireDate" />
                            <mat-datepicker-toggle matSuffix [for]="expireDate" class="disabled">
                            </mat-datepicker-toggle>
                            <mat-datepicker #expireDate></mat-datepicker>
                          </div>
                        </div>
                        <div class="card-main card-main-md">
                          <select id="inputState" class="form-control select-input disabled px-0"
                            [(ngModel)]="item.optionType">
                            <option value=1 selected data-default>Call</option>
                            <option value=2>Put</option>
                          </select>
                        </div>

                        <div class="card-main card-main-md">
                          <input type="number" min="0" class="form-control cards-input disabled"
                            [(ngModel)]="item.entryPrice" pattern="^\d*(\.\d{0,2})?$" step="0.01" />
                        </div>
                        <div class="card-main card-main-md">
                          <input type="number" min="0" class="form-control cards-input disabled"
                            [(ngModel)]="item.exitPrice" pattern="^\d*(\.\d{0,2})?$" step="0.01" />
                        </div>
                        <div class="card-main card-main-md">
                          <h6 class="input_text">
                            {{(item.contracts && item.exitPrice && item.entryPrice) ? (item.contracts * ((item.exitPrice - item.entryPrice) * 100) *  (item.actionType == 3 ? -1 : 1)).toFixed(2) : 0}}
                          </h6>
                        </div>
                      </div>
                    </div>
                    <div class="net_debit">
                      <div class="" [ngClass]="close || view ? 'justify-content-between' : 'realized_label'">
                        <div *ngIf="close || view">
                          <label class="col-form-label mr-2">Closed Date <span class="text-danger">*</span></label>
                          <div class="datepicker-group datepicker-sm">
                            <input matInput [matDatepicker]="closed_date" (click)="closed_date.open()" id="closed_date"
                              (dateChange)="addEvent('input', $event)" name="stockOptions[index].closed_date"
                              [(ngModel)]="tradeDetails.closeDate" [ngClass]="view ? 'disabled' : ''" />
                            <mat-datepicker-toggle matSuffix [for]="closed_date"
                              [ngClass]="viewTrade ? 'disabled' : ''"></mat-datepicker-toggle>
                            <mat-datepicker #closed_date></mat-datepicker>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>2.Thesis</ng-template>
                  <div class="stepper-content">
                    <app-trade-thesis (nextStep)="goForward()" (prevStep)="goBack(true)" [inputState]="inputState"
                      [editTrade]="edit" [viewTrade]="view" [addTrade]="add" [closeTrade]="close"  #tradeThesis>
                    </app-trade-thesis>
                  </div>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>3.Entry Rules</ng-template>
                  <div class="stepper-content">
                    <app-entry-rules (prevStep)="goBack()" [inputState]="inputState" [editTrade]="edit" [addTrade]="add"
                      [closeTrade]="close" #entryRules></app-entry-rules>
                    <div *ngIf="close || view">
                      <app-exit-rules #exitRules></app-exit-rules>
                    </div>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>
              <div class="text-center py-3">
                <span class="order-btn text-center"
                  *ngIf="(tradeDetails.stockAdded || tradeDetails.stockOptions.length > 0) && (stepper.selectedIndex == 0)">
                  <button type="button" class="btn btn-gray mr-3" *ngIf="!close && !tradeStrategy.executed && !edit"
                    (click)="saveTradeAsDraft()">Save as Draft</button>
                </span>
                <button type="button" class="btn btn-next mr-3"
                  *ngIf="(add && (tradeDetails.stockOptions.length || tradeDetails.stockAdded))"
                  (click)="CheckExecutionDate('Confirm Trade Execution Date')">ADD TRADE</button>

                <button type="button" class="btn btn-gray mr-3" *ngIf="edit" (click)="cancelTrade()">CANCEL</button>
                <button type="button" class="btn btn-next mr-3" *ngIf="edit" (click)="editTrade()">UPDATE</button>

                <button type="button" class="btn btn-next mr-3" *ngIf="close && !view" (click)="closeTrade()">CLOSE
                  TRADE</button>
              </div>
            </div>
            <div class="col-4 trade-details-aside">
              <app-trade-details-aside [selectedStock]="selectedStock" [stockSummary]="stockSummary"
                (loadMoreStats)="loadMoreStatsHandler($event)" (calculateMaxRisk)="calculateMaxRisk($event)"
                [strategyTypeChangeSubject]="strategyTypeChangeSubject"
                [stockOrOptionAddedSubject]="stockOrOptionAddedSubject" [tradeStrategy]="tradeStrategy"
                #tradeDetailsAside></app-trade-details-aside>
            </div>
          </div>
        </ng-container>
      </ng-container>

    </div>
  </div>
</div>

<!-- Add-new-trade-mobile -->
<div class="add-newtrade-mobile">
  <div class="container">
    <div class="trade-top-heading">
      <h3>
        ADD TRADE
      </h3>
    </div>
  </div>
  <div class="trad-border"></div>

  <div class="new-trade-inner">
    <div class="addnew-steps">
      <mat-horizontal-stepper labelPosition="bottom" #tradeMobileStepper [linear]="false">
        <mat-step>

          <div class="stepper-content">
            <app-mobile-trade-details [stockOptions]="stockOptions" [stockAdded]="stockAdded"
              (nextStep)="goForward(false,true)" (updateStockAdded)="stockAdded = $event"></app-mobile-trade-details>
          </div>
        </mat-step>
        <mat-step>
          <div class="stepper-content">
            <app-mobile-risk-analysis [stockOptions]="stockOptions" [stockAdded]="stockAdded"
              (prevStep)="goBack(false,true)" (nextStep)="goForward(false,true)" (skipAnalysis)="goForward(true,true)">
            </app-mobile-risk-analysis>
          </div>
        </mat-step>
        <mat-step>
          <div class="stepper-content">
            <app-mobile-trade-analysis [stockOptions]="stockOptions" [stockAdded]="stockAdded"
              (prevStep)="goBack(false,true)" (nextStep)="goForward(false,true)"></app-mobile-trade-analysis>
          </div>
        </mat-step>

        <mat-step>
          <div class="stepper-content">
            <app-mobile-trade-thesis (prevStep)="goBack(false,true)" (nextStep)="goForward(false,true)">
            </app-mobile-trade-thesis>
          </div>
        </mat-step>

        <mat-step>
          <div class="stepper-content">
            <app-mobile-risk-management (prevStep)="goBack(false,true)" (nextStep)="goForward(false,true)">
            </app-mobile-risk-management>
          </div>
        </mat-step>

        <mat-step>
          <div class="stepper-content">
            <app-mobile-entry-rules (prevStep)="goBack(false,true)"></app-mobile-entry-rules>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>