
  
  <div class="addnew-trade">
    <div class="container px-2">
      <div class="addnew-trade-body">
      <div class="trade-dash-main">
        <div class="trade-dash-name">
            <h3>
              {{add ? 'Add' : ''}} {{edit ? 'Edit' : ''}} {{close ? 'Close' : ''}}  Trade
            </h3>
        </div>
      </div>
    <ng-container [ngSwitch]="currentState">
      <ng-container *ngSwitchCase="1">
        
          <!--entry first-->
          <div class="addnew-first p-3">
            <div class="trade-form">
              <div class="d-flex">
                <label class="col-form-label pb-0 mr-2">Enter Symbol</label>
                <app-trade-search (symbolSelectEvent)="symbolSelectEventHandler($event)"></app-trade-search>
                <button class="btn btn-enter ml-2" (click)="enterSymbol()">Submit </button>
              </div>
             
            </div>
          </div>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <div class="addnew-trade-body">
          <app-trade-details-header [selectedStock]="selectedStock" [stockSummary]="stockSummary"
            (loadMoreStats)="loadMoreStatsHandler($event)"></app-trade-details-header>
        </div>
        <div class="d-flex no-gutters" style="margin-right: -1px;">
          <div class="col-8">
            <mat-horizontal-stepper labelPosition="left" #stepper [linear]="false">
              <mat-step [class.active]="stepone.completed" #stepone>
                <ng-template matStepLabel>Trade Details</ng-template>
                <div class="stepper-content">
                  <app-trade-details (nextStep)="goForward()" (activateRisk)="activeStep = true"
                    (addTradeEvent)="addTrade($event)" (navigateRiskAnalysisEvent)="navigaeToRiskAnalysis()"
                    [stockSummary]="stockSummary" [selectedStock]="selectedStock" [inputState]="inputState"
                    [editTrade]="edit" [addTrade]="add" [closeTrade]="close" #tradeDetails>
                  </app-trade-details>
                </div>
                <div *ngIf="edit">
                  <span class="cursor" (click)="showClosedLegs()">
                    <span *ngIf="closedLegs" class="text-success d-flex align-items-center">Hide Closed Legs <i class="negative-amt material-icons">keyboard_arrow_down</i>
                    </span>
                    <span *ngIf="!closedLegs" class="text-success d-flex align-items-center">Show Closed Legs <i class="negative-amt material-icons">keyboard_arrow_right</i>
                    </span>
                  </span>
                  <div *ngIf="closedLegs">
                    <div class="trade-card-box mb-1">
                      <div class="card-main">
                        <label class="col-form-label pt-0">Action</label>
                        <select id="inputState" class="form-control disabled px-0">
                          <option value=1 selected data-default>Buy to Open</option>
                          <option value=2>Sell to Open</option>
                        </select>
                      </div>
                      <div class="card-main card-main-sm">
                        <label class="col-form-label pt-0">Quantity</label>
                        <input type="number" min="0" class="form-control cards-input disabled" value="15" />
                      </div>
                      <div class="card-main card-main-md pr-1">
                        <label class="col-form-label pt-0">Entry Price</label>
                        <input type="number" min="0" class="form-control cards-input disabled" value="5.00" />
                      </div>
                      <div class="card-main card-main-md">
                        <label class="col-form-label pt-0">Exit Price</label>
                        <input type="number" min="0" class="form-control cards-input disabled" value="5.00" />
                      </div>
                      <div class="card-main card-main-sm">
                        <label class="col-form-label pt-0">Return</label>
                        <h6 class="input_text">
                          -$500.00
                        </h6>
                      </div>
                    </div>
                    <div class="mb-1 trade-card-box">
                      <div class="card-main">
                        <label class="col-form-label pt-0">Action</label>
                        <select id="inputState" class="form-control disabled px-0">
                          <option value=1 selected data-default>Buy to Open</option>
                          <option value=2>Sell to Open</option>
                        </select>
                      </div>
                      <div class="card-main card-main-sm">
                        <label class="col-form-label pt-0">Contracts</label>
                        <input type="number" min="0" class="form-control cards-input disabled" value="15" />
                      </div>
                      <div class="card-main">
                        <label class="col-form-label pt-0">Expiration</label>
                        <div class="datepicker-group">
                          <input matInput [matDatepicker]="expireDate" id="expireDate" name="stockOptions[index].expireDate" class="disabled" value="12/24/2020" />
                          <mat-datepicker-toggle matSuffix [for]="expireDate" class="disabled">
                          </mat-datepicker-toggle>
                          <mat-datepicker #expireDate></mat-datepicker>
                        </div>
                      </div>
                      <div class="card-main card-main-sm">
                        <label class="col-form-label pt-0">Strike</label>
                        <input type="number" step="0.01" min="0" class="form-control cards-input disabled" value="480" />
                      </div>
                      <div class="card-main card-main-sm">
                        <label class="col-form-label pt-0">Call / Put</label>
                        <select id="inputState" class="form-control select-input disabled px-0">
                          <option value=1 selected data-default>Call</option>
                          <option value=2>Put</option>
                        </select>
                      </div>
                      <div class="card-main card-main-md pr-1">
                        <label class="col-form-label pt-0">Entry Price</label>
                        <input type="number" min="0" class="form-control cards-input disabled" value="5.00" />
                      </div>
                      <div class="card-main card-main-md">
                        <label class="col-form-label pt-0">Exit Price</label>
                        <input type="number" min="0" class="form-control cards-input disabled" value="5.00" />
                      </div>
                      <div class="card-main card-main-sm">
                        <label class="col-form-label pt-0">Return</label>
                        <h6 class="input_text">
                          -$500.00
                        </h6>
                      </div>
                    </div>
                    <div class="net_debit">
                      <span class="realized_label">Realized Return</span>
                      <span class="realized_return mx-2">-400.00</span>
                    </div>
                  </div>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Thesis</ng-template>
                <div class="stepper-content">
                  <app-trade-thesis (nextStep)="goForward()" (prevStep)="goBack(true)" [inputState]="inputState"
                  [editTrade]="edit" [addTrade]="add" [closeTrade]="close" #tradeThesis>
                  </app-trade-thesis>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Entry Rules</ng-template>
                <div class="stepper-content">
                  <app-entry-rules (prevStep)="goBack()" [inputState]="inputState" [editTrade]="edit" [addTrade]="add" [closeTrade]="close" #entryRules></app-entry-rules>
                  <app-exit-rules></app-exit-rules>
                </div>
              </mat-step>
              
              <mat-step *ngIf="close">
                <ng-template matStepLabel>Rules Checklist</ng-template>
                <div class="stepper-content">
                  <app-exit-rules (prevStep)="goBack()" [inputState]="inputState" #exitRules></app-exit-rules>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
            <div class="text-center py-3">
              <span class="order-btn text-center" *ngIf="(tradeDetails.stockAdded || tradeDetails.stockOptions.length > 0) && (stepper.selectedIndex == 0)">
                <button type="button" class="btn btn-gray mr-3" *ngIf="!close && !tradeStrategy.executed" (click)="saveTradeAsDraft()">SAVE AS DRAFT</button>
              </span>
              <button type="button" class="btn btn-next mr-3" *ngIf="add"
                (click)="CheckExecutionDate('Confirm Trade Execution Date')">ADD TRADE</button>

              <button type="button" class="btn btn-gray mr-3" *ngIf="edit">CANCEL</button>
              <button type="button" class="btn btn-next mr-3" *ngIf="edit" (click)="editTrade()">UPDATE</button>
              
              <button type="button" class="btn btn-next mr-3" *ngIf="close" (click)="closeTrade()">CLOSE TRADE</button>
            </div>
          </div>
          <div class="col-4 trade-details-aside">
            <app-trade-details-aside [selectedStock]="selectedStock" [stockSummary]="stockSummary"
            (loadMoreStats)="loadMoreStatsHandler($event)" (calculateMaxRisk)="calculateMaxRisk($event)" #tradeDetailsAside></app-trade-details-aside>
          </div>
        </div>
      </ng-container>
    </ng-container>

    </div>
  </div>
</div>

<!-- Add-new-trade-mobile -->
<div class="add-newtrade-mobile">
  <div class="container">
    <div class="trade-top-heading">
      <h3>
        ADD TRADE
      </h3>
    </div>
  </div>
  <div class="trad-border"></div>

  <div class="new-trade-inner">
    <div class="addnew-steps">
      <mat-horizontal-stepper labelPosition="bottom" #tradeMobileStepper [linear]="false">
        <mat-step>

          <div class="stepper-content">
            <app-mobile-trade-details [stockOptions]="stockOptions" [stockAdded]="stockAdded"
              (nextStep)="goForward(false,true)" (updateStockAdded)="stockAdded = $event"></app-mobile-trade-details>
          </div>
        </mat-step>
        <mat-step>
          <div class="stepper-content">
            <app-mobile-risk-analysis [stockOptions]="stockOptions" [stockAdded]="stockAdded"
              (prevStep)="goBack(false,true)" (nextStep)="goForward(false,true)" (skipAnalysis)="goForward(true,true)">
            </app-mobile-risk-analysis>
          </div>
        </mat-step>
        <mat-step>
          <div class="stepper-content">
            <app-mobile-trade-analysis [stockOptions]="stockOptions" [stockAdded]="stockAdded"
              (prevStep)="goBack(false,true)" (nextStep)="goForward(false,true)"></app-mobile-trade-analysis>
          </div>
        </mat-step>

        <mat-step>
          <div class="stepper-content">
            <app-mobile-trade-thesis (prevStep)="goBack(false,true)" (nextStep)="goForward(false,true)">
            </app-mobile-trade-thesis>
          </div>
        </mat-step>

        <mat-step>
          <div class="stepper-content">
            <app-mobile-risk-management (prevStep)="goBack(false,true)" (nextStep)="goForward(false,true)">
            </app-mobile-risk-management>
          </div>
        </mat-step>

        <mat-step>
          <div class="stepper-content">
            <app-mobile-entry-rules (prevStep)="goBack(false,true)"></app-mobile-entry-rules>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>