<div class="container-fluid">
  <div class="addnew-trade">
    <div class="addnew-trade-body">
      <ng-container [ngSwitch]="currentState">
        <ng-container *ngSwitchCase="1">
          <!--entry first-->
          <div class="addnew-first p-3">
            <div class="trade-form">
              <div class="d-flex justify-content-center align-items-center">
                <label class="col-form-label px-2">Enter Symbol</label>
                <app-trade-search (symbolSelectEvent)="symbolSelectEventHandler($event)"></app-trade-search>
                <button class="btn btn-enter ml-2" (click)="enterSymbol()">ENTER</button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <app-trade-details-header [selectedStock]="selectedStock" [stockSummary]="stockSummary"
            (loadMoreStats)="loadMoreStatsHandler($event)"></app-trade-details-header>

          <mat-vertical-stepper labelPosition="left" #stepper [linear]="false">
            <mat-step [class.active]="stepone.completed" #stepone>
              <ng-template matStepLabel>Trade Details</ng-template>
              <div class="stepper-content">
                <app-trade-details (nextStep)="goForward()" (activateRisk)="activeStep = true"
                  (addTradeEvent)="addTrade($event)" (navigateRiskAnalysisEvent)="navigaeToRiskAnalysis($event)"
                  [stockSummary]="stockSummary" [selectedStock]="selectedStock" [inputState]="inputState" #tradeDetails>
                </app-trade-details>
              </div>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel>Trade Thesis</ng-template>
              <div class="stepper-content">
                <app-trade-thesis (nextStep)="goForward()" (prevStep)="goBack(true)" [inputState]="inputState"
                  #tradeThesis>
                </app-trade-thesis>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Entry Rules</ng-template>
              <div class="stepper-content">
                <app-entry-rules (prevStep)="goBack()" #entryRules></app-entry-rules>
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<!-- Add-new-trade-mobile -->
<div class="add-newtrade-mobile">
  <div class="container-fluid">
    <div class="trade-top-heading">
      <h3>
        ADD TRADE
      </h3>
    </div>
  </div>
  <div class="trad-border"></div>

  <div class="new-trade-inner">
    <div class="addnew-steps">
      <mat-horizontal-stepper labelPosition="bottom" #tradeMobileStepper [linear]="false">
        <mat-step>

          <div class="stepper-content">
            <app-mobile-trade-details [stockOptions]="stockOptions" [stockAdded]="stockAdded"
              (nextStep)="goForward(false,true)" (updateStockAdded)="stockAdded = $event"></app-mobile-trade-details>
          </div>
        </mat-step>
        <mat-step>
          <div class="stepper-content">
            <app-mobile-risk-analysis [stockOptions]="stockOptions" [stockAdded]="stockAdded"
              (prevStep)="goBack(false,true)" (nextStep)="goForward(false,true)" (skipAnalysis)="goForward(true,true)">
            </app-mobile-risk-analysis>
          </div>
        </mat-step>
        <mat-step>
          <div class="stepper-content">
            <app-mobile-trade-analysis [stockOptions]="stockOptions" [stockAdded]="stockAdded"
              (prevStep)="goBack(false,true)" (nextStep)="goForward(false,true)"></app-mobile-trade-analysis>
          </div>
        </mat-step>

        <mat-step>
          <div class="stepper-content">
            <app-mobile-trade-thesis (prevStep)="goBack(false,true)" (nextStep)="goForward(false,true)">
            </app-mobile-trade-thesis>
          </div>
        </mat-step>

        <mat-step>
          <div class="stepper-content">
            <app-mobile-risk-management (prevStep)="goBack(false,true)" (nextStep)="goForward(false,true)">
            </app-mobile-risk-management>
          </div>
        </mat-step>

        <mat-step>
          <div class="stepper-content">
            <app-mobile-entry-rules (prevStep)="goBack(false,true)"></app-mobile-entry-rules>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>