<div class="compare-popup">
    <div class="compare-pop-inner">
        <div class="top-pop-inner pb-0">
            <!-- <div class="left-heading">
                <h6>{{title}}</h6>
            </div> -->
            <div class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </div>
        </div>

        <div class="main-pop-inner">
            <div class="modal-title mb-1">{{title}}</div>
            <p class="mb-0">Thanks for letting us know your thoughts on the product.</p>
            <p class="mb-2 small-text">Please share your comments.</p>
            <div class="pb-2">
                <label class="col-form-label pb-0">Name</label>
                <input class="form-control" matInput id="name" placeholder="Name" [(ngModel)]='data.name' />
            </div>
            <div class="pb-2">
                <label class="col-form-label pb-0">Email</label>
                <input class="form-control" placeholder="Email" matInput id="email" [(ngModel)]='data.email' />
            </div>
            <div class="pb-2">
                <label class="col-form-label pb-0">Provide your comments</label>
                <textarea class="form-control" matInput id="feature_details" [(ngModel)]='data.description'></textarea>
            </div>
            <div class="py-2 d-flex justify-content-between">
                <span class="demo-toggle">Can we post this review in our landing page and third-party sites? </span>
                    
                <div class="switch col-2">
                    <input type="checkbox"  id="reviewToggle" class="cursor" [(ngModel)]="data.postAllowed" checked >
                    <label for="reviewToggle"></label>
                </div>
            </div>
        </div>

        <div class="px-3 pb-3 text-center">
            <button type="button" class="btn btn-join" [mat-dialog-close]="data">Submit</button>
        </div>
    </div>
</div>