.recent-trades-container {
    box-shadow: none;
    border-radius: 12px;
    border: 1px solid #E3E4E7;
}
.recent-trades{
    
    width: 100%;
    th {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #394C86;
        padding: 1rem;
    }
    td {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #717785;
        border-top: 1px solid rgb(157 166 186 / 68%);
        padding: 0.5rem 1rem;
    }
}

.mat-icon-edit {
    color: #394C86;
}

.view-more {
    font-weight: 500;
    color: #2285FA;
    text-decoration: none;
    font-size: 12px;
}
