.recent-trades-container {
    box-shadow: 0px 0px 16px rgb(188 188 188 / 50%);
    border-radius: 6px;
}
.recent-trades{
    
    width: 100%;
    th {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #9DA6BA;
        padding: 1rem;
    }
    td {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #242E3A;
        border-top: 1px solid rgb(157 166 186 / 68%);
        padding: 0.5rem 1rem;
    }
}

.mat-icon-edit {
    color: #9DA6BA;
}

.view-more {
    font-weight: 500;
    color: #2285FA;
    text-decoration: none;
    font-size: 12px;
}
