<!-- step-fifth -->
<div class="trade-thesis-sec">
  <div class="container-fluid">

    <div class="trade-stategy-heading">
      <h6>
        Trade Thesis
      </h6>
    </div>

    <div class="trade-thesis-inner">
      <div class="tranding-thesis">
        <div class="left-thesis">
          <h6>Trade executed date</h6>
        </div>
        <div class="right-thesis">
          <div class="form-group">
            <input class="form-control" placeholder="05-May-2020" type="date">
          </div>
        </div>
      </div>

      <div class="tranding-thesis">
        <div class="left-thesis">
          <h6>Source of trade idea</h6>
        </div>
        <div class="right-thesis">
          <div class="form-group">
            <select class="form-control select-input" id="inputState">
              <option selected="">Analyst Upgrade</option>
              <option>Analyst Downgrade</option>
              <option>Friend</option>
              <option>Self</option>
              <option>CNBC</option>
              <option>Yates</option>
              <option>Barrons</option>
              <option>StockTwits</option>
              <option>Trading Academy</option>
            </select>
          </div>
        </div>
      </div>

      <div class="tranding-thesis">
        <div class="left-thesis">
          <h6>Profit expected</h6>
        </div>
        <div class="right-thesis">
          <div class="form-group">
            <input type="number" (keydown)="preventNegatives($event, true)" pattern="^\d*(\.\d{0,2})?$"  (change)="checkForDecimalValidation($event)" step="0.01" min="0" class="form-control cards-input" placeholder="" />

          </div>
        </div>
      </div>

      <div class="tranding-thesis">
        <div class="left-thesis">
          <h6>Target close date</h6>
        </div>
        <div class="right-thesis">
          <div class="form-group">
            <input class="form-control" placeholder="05-May-2020" type="date">
          </div>
        </div>
      </div>

      <div class="tranding-thesis">
        <div class="left-thesis">
          <h6>Trade executed to take any advantage of</h6>
        </div>
        <div class="right-thesis">
          <div class="form-group">
            <select  class="form-control select-input" id="inputState">
              <option  selected="">Pre-Earnings</option>
              <option >Post-Earnings</option>
              <option >Dividends</option>
              <option >Stock Split</option>
              <option >Reverse Stock Split</option>
              <option >Product Announcement</option>
              <option >None</option>
            </select>
          </div>
        </div>
      </div>

      <div class="trading-thesis-trade">
        <div class="top-thesis">
          <h6>
            Reasons for picking this trade
          </h6>
        </div>
        <div class="bot-thesis">
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
        </div>
      </div>

      <div class="trading-thesis-trade">
        <div class="top-thesis">
          <h6>
            Risks associated with the trade
          </h6>
        </div>
        <div class="bot-thesis">
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          </div>
        </div>
      </div>

    </div>


    <div class="trade-btn-p">
      <a class=" btn-pre" (click)="previous()">Previous</a>
      <a class="btn-pre" (click)="next()">Risk Management</a>

    </div>
  </div>
</div>