@import '../../../../assets/styles/variable.scss';
.reports-section {
    padding-top: 30px;
    min-height: 100vh;
    @media #{$extra-small} {
        padding-bottom: 30px;
    }
}
.settings_web {
    @media #{$extra-small} {
        display: none !important;
    }
}

// risk tabs
.tab .nav-tabs {
    display: flex;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid rgb(157 166 186 / 30%);
}

.tab .nav-tabs li {
    padding: 0;
    background: #e8eff6;
}

.tab .nav-tabs li:first-child>a {
    border-radius: 4px 0 0 0;
}

.tab .nav-tabs li a {
    display: block;
    padding: 12px 20px;
    margin: 0;
    background: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #212529;
    text-align: center;
    border: none;
    z-index: 2;
    position: relative;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    height: 50px;
}

.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a {
    border: none;
    background-color: #275C9F;
    color: #fff;
}

.tab .tab-content {
    padding: 0;
    margin-top: 0;
    @media #{$extra-small} {
        overflow-y: scroll;
    }
    @media #{$small} {
        overflow-y: scroll;
    }
    @media #{$medium} {
        overflow-y: scroll;
    }
}

.tab .tab-content h3 {
    font-size: 24px;
    margin-top: 0;
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
    }
    .tab .nav-tabs li.active a:before {
        content: "\f105";
        bottom: 15%;
        left: 0;
        right: auto;
    }
}

.col-form-label {
    color: #275C9F;
    font-size: 13px !important;
}
.settings-mobile {
    display: none;
}

@media #{$extra-small} {
    .settings-mobile {
        display: block;
        margin-bottom: 1rem;
    }
    .mobile-tab-pane-show {
        display: block;
    }
    .mobile-tab-pane-d-none {
        display: none;
    }
}

.profile-body {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgb(157 157 157 / 10%);
    border-radius: 0 0 4px 4px;
    padding: 1rem;
    min-height: 72vh;
}
.configure-questions {
    font-size: 14px;
    color: #2285FA;
    font-weight: 600;
}
