<div class="reports-section px-3 settings_web">
    <!-- <div class="trade-dash-main">
            <div class="trade-dash-name">
                <h3>Settings</h3>
            </div>
        </div> -->

    <!-- risk-tabs -->
    <div class="trade-risk-tabs">
        <div class="tab" role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <!-- <li class="active" role="presentation">
                    <a aria-controls="home" aria-expanded="true" data-toggle="tab" href="#UserProﬁle" role="tab">
                            User Proﬁle</a>
                </li> -->
                <li class="active" role="presentation">
                    <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#InvestmentGoals" role="tab">Investment Goals</a>
                </li>
                <!-- <li class="" role="presentation">
                    <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#DepositsWithdrawals" role="tab">Deposits & Withdrawals</a>
                </li> -->
                <li class="" role="presentation">
                    <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#DataSetup" role="tab">Data Setup</a>
                </li>
                <!-- <li class="" role="presentation">
                    <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#EntryExitRules" role="tab">Entry/Exit Rules</a>
                </li>
                <li class="" role="presentation">
                    <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#CodedRules" role="tab">Coded Rules</a>
                </li> -->
            </ul>
            
            <div class="tab-content tabs">
                <!-- <div class="tab-pane active" id="UserProﬁle" role="tabpanel">
                    <app-profile></app-profile>
                </div> -->
                <div class="tab-pane active" id="InvestmentGoals" role="tabpanel">
                    <app-investmentgoals></app-investmentgoals>
                </div>
                <!-- <div class="tab-pane" id="DepositsWithdrawals" role="tabpanel">
                    <app-depositswithdrawals></app-depositswithdrawals>
                </div> -->
                <div class="tab-pane" id="DataSetup" role="tabpanel">
                    <app-datasetup></app-datasetup>
                </div>
                <!-- <div class="tab-pane" id="EntryExitRules" role="tabpanel">
                    <app-managerules></app-managerules>
                </div>
                <div class="tab-pane" id="CodedRules" role="tabpanel">
                    <app-codedrules></app-codedrules>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- Settings-mobile -->
<div class="settings-mobile">
    <div class="trade-actions d-flex justify-content-between mb-2">
        <span class="text-primary" (click)="cancelSettings()">CANCEL</span>
        <span class="text-black">Settings</span>
        <a class="text-primary">Save</a>
    </div>

    <div class="mb-3">
        <select class="form-control" (change)="settingsTabChange($event.target.value)">
            <!-- <option value="UserProﬁle" selected data-default>User Proﬁle</option> -->
            <option value="InvestmentGoals" selected data-default>Investment Goals</option>
            <!-- <option value="DepositsWithdrawals">Deposits & Withdrawals</option> -->
            <option value="DataSetup">Data Setup</option>
        </select>
    </div>
    <div class="tab-content tabs">
        <!-- <div class="tab-pane active" id="UserProﬁle" role="tabpanel" [ngClass]="[selectedType === 'UserProﬁle' ? 'd-block' : 'd-none']">
            <app-profile></app-profile>
        </div> -->
        <div class="tab-pane" id="InvestmentGoals" role="tabpanel" [ngClass]="[selectedType === 'InvestmentGoals' ? 'd-block' : 'd-none']">
            <app-investmentgoals></app-investmentgoals>
        </div>
        <!-- <div class="tab-pane" id="DepositsWithdrawals" role="tabpanel" [ngClass]="[selectedType === 'DepositsWithdrawals' ? 'd-block' : 'd-none']">
            <app-depositswithdrawals></app-depositswithdrawals>
        </div> -->
        <div class="tab-pane settings-component" id="DataSetup" role="tabpanel" [ngClass]="[selectedType === 'DataSetup' ? 'd-block' : 'd-none']">
            <app-datasetup></app-datasetup>
        </div>
    </div>
</div>