<div class="container">
    <div class="trade-dash-main">
        <div class="trade-dash-name">
            <h3>Settings</h3>
        </div>
    </div>
    <div class="reports-section">
        <!-- risk-tabs -->
        <div class="trade-risk-tabs">
            <div class="tab" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active" role="presentation">
                        <a aria-controls="home" aria-expanded="true" data-toggle="tab" href="#UserProﬁle" role="tab">
                            User Proﬁle</a>   
                    </li>
                    <li class="" role="presentation">
                        <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#InvestmentGoals"
                            role="tab">Investment Goals</a>
                    </li>
                    <li class="" role="presentation">
                        <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#DepositsWithdrawals"
                            role="tab">Deposits & Withdrawals</a>
                    </li>
                    <li class="" role="presentation">
                        <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#DataSetup"
                            role="tab">Data Setup</a>
                    </li>
                    <li class="" role="presentation">
                        <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#EntryExitRules"
                            role="tab">Entry/Exit Rules</a>
                    </li>
                </ul>
                <div class="tab-content tabs">
                    <div class="tab-pane active" id="UserProﬁle" role="tabpanel">
                        <app-profile></app-profile>
                    </div>
                    <div class="tab-pane" id="InvestmentGoals" role="tabpanel">
                        <app-investmentgoals></app-investmentgoals>
                    </div>
                    <div class="tab-pane" id="DepositsWithdrawals" role="tabpanel">
                        <app-depositswithdrawals></app-depositswithdrawals>
                    </div>
                    <div class="tab-pane" id="DataSetup" role="tabpanel">
                    </div>
                    <div class="tab-pane" id="EntryExitRules" role="tabpanel">
                        <app-managerules></app-managerules>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
