@import '../../../../assets/styles/variable.scss';
.reports-section {
    background-color: #f5f8fa;
    padding: 0 1rem;
    min-height: 100vh;
    
}
.settings_web {
    @media #{$extra-small} {
        display: none !important;
    }
}

// risk tabs
.tab .nav-tabs {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
}

.tab .nav-tabs li {
    padding: 0;
}

.tab .nav-tabs li:first-child>a {
    border-radius: 0;
}

.tab .nav-tabs li a {
    display: block;
    background: transparent;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    border: none;
    z-index: 2;
    transition: all 0.3s ease 0s;
    text-decoration: none;

    padding: 22px 10px;
    margin: 0 10px;
    color: #393B40;
    position: relative;
    font-weight: 500;
}

.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a {
    color: #394C86;
    text-decoration: none;
}

.tab .nav-tabs li.active a::before,
.tab .nav-tabs li a:hover::before
{
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0px 0px;
    background: #4A69CB;
    position: absolute;
    bottom: -4px;
}

.tab .tab-content {
    padding: 0px;
    margin-top: 0;
    font-size: 15px;
    background: #F2F4F6;
    @media #{$extra-small} {
        overflow-y: scroll;
    }
    @media #{$small} {
        overflow-y: scroll;
    }
    @media #{$medium} {
        overflow-y: scroll;
    }
}

.tab .tab-content h3 {
    font-size: 24px;
    margin-top: 0;
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
    }
    .tab .nav-tabs li.active a:before {
        content: "\f105";
        bottom: 15%;
        left: 0;
        right: auto;
    }
}

.col-form-label {
    color: #4A69CB;
    font-size: 15px !important;
}
.settings-mobile {
    display: none;
}

@media #{$extra-small} {
    .settings-mobile {
        display: block;
        margin-bottom: 1rem;
    }
    .mobile-tab-pane-show {
        display: block;
    }
    .mobile-tab-pane-d-none {
        display: none;
    }
}

.profile-body {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgb(157 157 157 / 10%);
    border-radius: 0 0 4px 4px;
    padding: 1rem;
    min-height: 72vh;
}
.configure-questions {
    font-size: 15px;
    color: #2285FA;
    font-weight: 600;
}
