@import '../../../../../../assets/styles/variable.scss';
.trade-thesis-sec {
    .trade-thesis-heading {
        border-bottom: 1px solid #7070704f;
        padding-bottom: 15px;
    }
    .trade-thesis-inner {
        padding: 0px 20px;
    }
}

.form-control {
    border: 1px solid #707070;
}

.trade-thesis-list {
    margin: 30px 0px;
    .thesis-list-inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 20px;
        margin-bottom: 40px;
        &:not(:last-child)::after {
            content: "";
            position: absolute;
            left: 30px;
            bottom: -20px;
            width: 99%;
            height: 2px;
            background: #7070704f;
            opacity: 0.5;
        }
        .list-inner-left {
            width: 45%;
            position: relative;
            display: flex;
            align-items: center;
            span {
                margin-right: 20px;
                h6 {
                    font-weight: 400;
                }
            }
        }
        .list-inner-right {
            display: flex;
            align-items: flex-start;
            width: 54%;
            .add-new {
                color: $primary;
                font-size: 14px;
                cursor: pointer;
                font-weight: 500;
                margin-left: 14px;
            }
        }
    }
}

.Trade-type .form-control {
    height: 45px;
    width: 240px;
    font-size: 12px;
}

.trade-date .form-control {
    height: 45px;
}

.trade-input {
    margin-left: 20px;
}

.trade-input .form-control {
    height: 45px;
    width: 150%;
}

.trade-inputt .form-control {
    height: 45px;
}

.trad-border {
    border: 1px solid #acacac;
    opacity: 0.3;
}

.trade-new-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .btn-per {
        color: $primary;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    .btn-next {
        color: $primary;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
}

// Toggle Customize
.switch {
    position: relative;
    width: 30%;
}

.switch label {
    width: 60px;
    height: 30px;
    position: absolute;
    background-color: #999;
    top: -3px;
    left: 0;
    border-radius: 50px;
    margin-bottom: 0px;
}

.switch input[type="checkbox"] {
    visibility: hidden;
}

.switch label:after {
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 50px;
    position: absolute;
    top: 2px;
    left: 1px;
    background-color: white;
    transition: all 0.3s;
}

.switch input[type="checkbox"]:checked+label:after {
    left: 33px;
}

.switch input[type="checkbox"]:checked+label {
    background-color: green;
}

.switch input[type="checkbox"]:not(:checked)+label {
    background-color: red;
}

.trade-check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ddd;
    width: 40%;
    padding: 12px;
    border-radius: 6px;
    .switch-no {
        width: 42%;
        font-size: 14px;
        font-weight: 500;
        color: red;
    }
    .switch-yes {
        width: 20%;
        font-size: 14px;
        font-weight: 500;
        color: green;
    }
}

.add-new-t {
    display: flex;
    flex-direction: column;
}

.ad-mb {
    margin-bottom: 10px;
}

.btn-next {
    padding: 8px 40px;
    background: $primary;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-next:hover {
    color: $white;
}

// pop-up
.btn-back,
.btn-cancel,
.btn-add {
    cursor: pointer;
    width: 90px;
    height: 40px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.btn-back {
    background: #ddd;
    color: #000;
}

.btn-add {
    background: $primary;
    color: #fff;
}

.btn-sec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 22px 0px 0px 0px;
}

.entry-rul-pop {
    width: 500px;
    height: auto;
    min-height: 300px;
    background: #fff;
    // border: 1px solid #000;
    box-shadow: 0px 15px 45px #00000047;
    // z-index: 99;
    padding: 20px;
    border-radius: 5px;
}

.top-con-pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-pop-con h6 {
    color: red;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
}

.close {
    font-size: 12px;
    color: blue;
}

.mid-pop-con {
    width: 95%;
    margin: 20px auto 0 auto;
}

.con-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    margin-top: 10px;
}

.con-list p {
    font-size: 14px;
    color: #565656;
}

p {
    margin-bottom: 0px;
}

.rule-non-popup {
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.top-pop {
    display: flex;
    align-items: center;
}

.pop-con-first {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.pop-head {
    font-size: 14px;
    margin-left: 10px;
    color: #565656;
}

.bot-pop {
    margin: 0 auto;
    width: 80%;
    p {
        color: #565656;
    }
}