@import "../../../../../assets/styles/variable.scss";
.compare-popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    // background-color: rgba(0,0,0,0.1);
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compare-pop-inner {
    background: #fff;
    max-width: 450px;
    min-width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 0px 0px 16px rgba(157, 157, 157, 0.2);
    border-radius: 4px;
}

.main-pop-inner {
    border: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-top: 0;
}
.w-60 {
    width: 60% !important;
}
.w-80 {
    width: 80% !important;
}
.main-inner-sec {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    .left-sec {
        width: 36%;
    }
    .right-sec {
        display: flex;
        width: 66%;
    }
}

.right-sec {
    display: flex;
}

.stock-inc {
    position: relative;
    border: 1px solid #707070;
    padding: 4px 9px;
    border-radius: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    a {
        cursor: pointer;
        img {
            width: 25px;
            height: auto;
        }
    }
    span {
        margin: 0px 5px;
    }
}

.sec-m {
    margin: 0px 10px;
}

.main-inner-headings {
    width: 21%;
    text-align: center;
}

.main-inner-heading {
    width: 25%;
}

.main-inner-top {
    display: flex;
    justify-content: flex-end;
}

.top-pop-inner {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: .5rem;
}
.modal-title {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}
.left-heading {
    font-size: 14px;
    h6 {
        font-size: 14px;
    }
}

.right-close {
    line-height: 0;
    span {
        cursor: pointer;
    }
    .mat-icon {
        cursor: pointer;
        height: 20px;
        width: 20px;
        font-size: 22px;
    }
}

.btn-up {
    padding-top: 0.5rem;
    text-align: right;
}

.btn-add {
    padding: 0.375rem 1.5rem !important;
    background: #2285FA;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    cursor: pointer;
    border-radius: 0;
    &:hover {
        color: white !important;
    }
}

.col-form-label {
    color: #5B5C60;
    font-size: 12px;
    font-weight: 500;
}

.form-control {
    padding: 0.375rem 0.5rem;
    font-size: 12px;
}

select.form-control {
    padding: 0.375rem 0.25rem;
}

.separator {
    background: #9DA6BA;
    opacity: 0.2;
    margin: .5rem 0;
    height: 1px;
}

.pop-inner-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0;
    color: #4A69CB;
}

.rule-item{
    margin-left: 20px;
    padding: 1px;
    color: #EC6B56;
}

.failed-rules{
    margin-top: 10px;
    font-size: 12px !important;
}
.form-control {
    display: block;
    height: 40px;
    margin: auto;
    border: 1px solid #878484;
}
textarea.form-control {
    height: 80px;
}
.btn-join {
    background-color: #4BB964;
    color: #ffffff;
    font-size: 15px;
    padding: 0.375rem 1.5rem !important;
    border-radius: 4px;
    height: 40px;
    line-height: 26px;
    width: 105px;
}
.small-text {
    font-size: 12px;
    color: #ccc;
}