<div class="compare-popup">
    <div class="compare-pop-inner">
        <div class="top-pop-inner pb-0">
            <!-- <div class="left-heading">
                <h6>{{title}}</h6>
            </div> -->
            <div class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </div>
        </div>

        <div class="main-pop-inner">
            <div class="modal-title mb-1">{{title}}</div>
            <p class="mb-0">Looks like we are having some internal issues.</p>
            <p class="mb-2 small-text">Please help us out and tell us what happened.</p>
            <div class="pb-2">
                <label class="col-form-label pb-0">Name</label>
                <input class="form-control" matInput id="name" placeholder="Name" [(ngModel)]='data.name' />
            </div>
            <div class="pb-2">
                <label class="col-form-label pb-0">Email</label>
                <input class="form-control" placeholder="Email" matInput id="email" [(ngModel)]='data.email' />
            </div>
            <div class="pb-2">
                <label class="col-form-label pb-0">Tell us what happened</label>
                <textarea class="form-control" placeholder="Tell us what happened" matInput id="tellus" [(ngModel)]='data.email'></textarea>
            </div>
        </div>

        <div class="px-3 pb-3 text-center">
            <button type="button" class="btn btn-join" [mat-dialog-close]="data">Submit</button>
        </div>
    </div>
</div>