<div class="add-trade-plan">
    <div class="container-fluid">
        <div class="inner-trade">

            <div class="inner-trade-plan">
                <div class="trade-plan-box">
                    <div class="pre-market-box">
                        <div class="pre-heading">
                            <h6>Personal Information</h6>
                        </div>

                        <div class="trade-thesis-list">

                            <div class="trade-box-left">
                                <div class="trade-new">
                                    <div class="left-trade">
                                        <div class="thesis-list-inner">
                                            <div class="list-inner-left">

                                                <h6>
                                                    First Name
                                                </h6>
                                            </div>
                                            <div class="list-inner-right">
                                                <div class="trade-inp"><input class="form-control"
                                                        id="exampleInputEmail1" placeholder="Venkat" type="email"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-trade">
                                        <div class="thesis-list-inner">
                                            <div class="list-inner-left">

                                                <h6>
                                                    Last Name
                                                </h6>
                                            </div>
                                            <div class="list-inner-right">
                                                <div class="trade-inp"><input class="form-control"
                                                        id="exampleInputEmail1" placeholder="Kasthala" type="email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="trade-new">
                                    <div class="left-trade">
                                        <div class="thesis-list-inner">
                                            <div class="list-inner-left">

                                                <h6>
                                                    Email Address
                                                </h6>
                                            </div>
                                            <div class="list-inner-right">
                                                <div class="trade-inp"><input class="form-control"
                                                        id="exampleInputEmail1" placeholder="venkat.kasthala@gmail.com"
                                                        type="email"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-trade">
                                        <div class="thesis-list-inner">
                                            <div class="list-inner-left">

                                                <h6>
                                                    Sign-in Method
                                                </h6>
                                            </div>
                                            <div class="list-inner-right">
                                                <div class="trade-sel">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>Google</option>
                                                        <option>No</option>
                                                    </select>
                                                    <img src="../../../../../assets/images/icon/Icon ionic-ios-arrow-down.png"
                                                        alt="" class="form-icon-down">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="trade-new">
                                    <div class="left-trade">
                                        <div class="thesis-list-inner">
                                            <div class="list-inner-left">

                                                <h6>
                                                    Region
                                                </h6>
                                            </div>
                                            <div class="list-inner-right">

                                                <div class="trade-sel">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>USA</option>
                                                        <option>India</option>
                                                    </select>
                                                    <img src="../../../../../assets/images/icon/Icon ionic-ios-arrow-down.png"
                                                        alt="" class="form-icon-down">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="left-trade">
                                        <div class="thesis-list-inner">
                                            <div class="list-inner-left">

                                                <h6>
                                                    What brokerage(s) do you use?
                                                </h6>
                                            </div>
                                            <div class="list-inner-right">

                                                <div class="trade-sel">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>tdAmeritrade, Robinhood</option>
                                                        <option>India</option>
                                                    </select>
                                                    <img src="../../../../../assets/images/icon/Icon ionic-ios-arrow-down.png"
                                                        alt="" class="form-icon-down">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="post-market-box">
                        <div class="pre-heading">
                            <h6>Investment Profile</h6>
                        </div>

                        <div class="trade-thesis-list">
                            <div class="trade-box-right">
                                <div class="trade-new">
                                    <div class="left-trade">
                                        <div class="thesis-list-inner">
                                            <div class="list-inner-left">

                                                <h6>
                                                    How much amount did you allocate for investments?
                                                </h6>
                                            </div>
                                            <div class="list-inner-right">
                                                <div class="trade-inp"><input class="form-control"
                                                        id="exampleInputEmail1" placeholder="$50,000" type="email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-trade">
                                        <div class="thesis-list-inner">
                                            <div class="list-inner-left">

                                                <h6>
                                                    What is the target profit?
                                                </h6>
                                            </div>
                                            <div class="list-inner-right">
                                                <div class="trade-inp"><input class="form-control"
                                                        id="exampleInputEmail1" placeholder="$65,000" type="email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="trade-new">
                                    <div class="left-trade">
                                        <div class="thesis-list-inner">
                                            <div class="list-inner-left">

                                                <h6>
                                                    What is the target date to achieve the target profit?
                                                </h6>
                                            </div>
                                            <div class="list-inner-rights">
                                                <div class="trade-date">

                                                    <div class="form-group">
                                                        <div class='input-group date' id='datetimepicker1'>
                                                            <my-date-range-picker placeholder="Date range"
                                                                name="mydaterange" [options]="myDateRangePickerOptions">
                                                            </my-date-range-picker>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-trade">
                                        <div class="thesis-list-inner">
                                            <div class="list-inner-left">

                                                <h6>
                                                    What is the maximum amount you can afford to lose?
                                                </h6>
                                            </div>
                                            <div class="list-inner-rights">
                                                <div class="list-inner-right">
                                                    <div class="trade-inp"><input class="form-control"
                                                            id="exampleInputEmail1" placeholder="$10,000" type="email">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="trade-new">
                                    <div class="left-trade">
                                        <div class="thesis-list-inner">
                                            <div class="list-inner-left">

                                                <h6>
                                                    How much cash would you like to keep as reserves?
                                                </h6>
                                            </div>
                                            <div class="list-inner-rights">
                                                <div class="trade-inp">
                                                    <input class="form-control" id="exampleInputEmail1"
                                                        placeholder="$10,000" type="email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-trade">
                                        <div class="thesis-list-inner">
                                            <div class="list-inner-left">

                                                <h6>
                                                    In which instruments do you trade?
                                                </h6>
                                            </div>
                                            <div class="list-inner-rights">
                                                <div class="list-inner-right">
                                                    <div class="trade-sel">
                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                            <option>Stocks, Options, Crypto</option>
                                                            <option>No</option>
                                                        </select>
                                                        <img src="../../../../../assets/images/icon/Icon ionic-ios-arrow-down.png"
                                                            alt="" class="form-icon-down">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="trade-btn">

                <div class="btn btn-apply" (click)="saveprofile()">
                    SAVE
                </div>
            </div>
        </div>



    </div>
</div>
