
<div class="compare-popup">
    <div class="example-box">
        <div data-drag-boundary="true" class="order-window layer-2 place" [ngClass]="margins.transaction_type === 'SELL' ? 'sell' : 'buy' ">
            <header>
                <div class="d-flex align-items-center">
                    <div class="eight columns">
                        <div class="instrument">
                            Intraday Order : <span class="transaction-type">{{margins.transaction_type | titlecase}}</span> 
                            <span class="tradingsymbol">
                                <span class="name pl-2">{{margins.trading_symbol}}</span> 
                            </span>
                            <span class="qty px-1">{{margins.quantity}}</span>
                            <span class="su-radio-label">qty at Limit Price of</span>
                            <span class="price pl-1">₹{{margins.price}}</span>
                        </div>
                    </div>
                    <div class="four columns text-right">
                        <div class="wrap-right">
                            <button type="button" class="button button-md button-outline" (click)="orderPlacement(margins)">Skip and {{margins.transaction_type | titlecase}}</button>
                        </div>
                    </div>
                </div>
            </header>
            
            <section class="wrap">
                <div class="content">
                    <div class="body">
                        <div class="row">
                            <div class="col-6 pr-0">
                                <div class="intraday-panel">
                                    <div class="intraday-panel-header">Check Your Rules</div>
                                    <div class="intraday-panel-body">
                                        <div class="tab" role="tabpanel">
                                            <div class="reports-header">
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li class="active" role="presentation">
                                                        <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#Manual" role="tab">Manual</a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#Automatic" role="tab">Automatic</a>
                                                    </li>
                                                </ul>
                                            </div>
                                
                                            <div class="tab-content tabs reports-tab-content">
                                                <div class="tab-pane active" id="Manual" role="tabpanel">
                                                    <div *ngFor="let item of orderRules; let index=index">
                                                        <div *ngIf="item.type==='Manual'" class="d-flex py-2 align-items-center">
                                                            <div class="col-10">
                                                                {{item.msg}}
                                                             
                                                            </div>
                                                            <div class="col-2 price text-right">
                                                                <input type="checkbox" *ngIf="item.type === 'Automatic'" [disabled]="item.type === 'Automatic'" class="custom-checkbox" [ngClass]="{ 'checked': item.aligned, 'cross': !item.aligned }">
                                                                <input type="checkbox" *ngIf="item.type === 'Manual'" [(ngModel)]="item.aligned"  class="manual-checkbox">
                                                            </div>
                
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="Automatic" role="tabpanel">
                                                    <div *ngFor="let item of orderRules; let index=index">
                                                        <div *ngIf="item.type==='Automatic'" class="d-flex py-2 align-items-center">
                                                            <div class="col-10">
                                                                {{item.msg}}
                                                            </div>
                                                            <div class="col-2 price text-right">
                                                                <input type="checkbox" *ngIf="item.type === 'Automatic'" [disabled]="item.type === 'Automatic'" class="custom-checkbox" [ngClass]="{ 'checked': item.aligned, 'cross': !item.aligned }">
                                                                <input type="checkbox" *ngIf="item.type === 'Manual'" [(ngModel)]="item.aligned"  class="manual-checkbox">
                                                            </div>
                
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 border-left pl-0">
                                <div class="intraday-panel">
                                    <div class="intraday-panel-header">Review Performance</div>
                                    <div class="intraday-panel-body">
                                        <div class="d-flex py-2 align-items-center">
                                            <div class="col-8">Realized Return</div>
                                            <div class="col-4 price text-right">{{stockSummaryResult.realizedReturn}}</div>
                                        </div>
                                        <div class="d-flex py-2 align-items-center">
                                            <div class="col-8">Win Rate</div>
                                            <div class="col-4 price text-right">{{stockSummaryResult.winRate}}%</div>
                                        </div>
                                        <div class="d-flex py-2 align-items-center">
                                            <div class="col-8">Total Strategies</div>
                                            <div class="col-4 price text-right">{{stockSummaryResult.totalStrategies}}</div>
                                        </div>
                                        <div class="d-flex py-2 align-items-center">
                                            <div class="col-8">Total Trades</div>
                                            <div class="col-4 price text-right">{{stockSummaryResult.totalTransactions}}</div>
                                        </div>
                                        <div class="d-flex py-2 align-items-center">
                                            <div class="col-8">Avg Holding Period</div>
                                            <div class="col-4 price text-right">{{stockSummaryResult.avgHoldingPeriod}}</div>
                                        </div>
                                        <div class="d-flex py-2 align-items-center">
                                            <div class="col-8">Most Successful Strategy</div>
                                            <div class="col-4 price text-right">{{stockSummaryResult.successStrategy}}</div>
                                        </div>
                                        <div class="d-flex py-2 align-items-center">
                                            <div class="col-8">Highest Return</div>
                                            <div class="col-4 price text-right">{{stockSummaryResult.highestReturn}}</div>
                                        </div>
                                        <div class="d-flex py-2 align-items-center">
                                            <div class="col-8">Lowest Return</div>
                                            <div class="col-4 price text-right">{{stockSummaryResult.largestLoss}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="px-3">
                            <div class="d-flex align-items-center justify-content-between pt-2">
                                <label class="sub-heading m-0">Add Notes</label>
                                <div class="text-right">
                                    <app-trade-tags #tradeTag></app-trade-tags>
                                </div>
                            </div>
                            <textarea class="form-control" rows="4"></textarea>
                        </div>

                        <div class="px-3">
                            <div class="d-flex align-items-center justify-content-between pt-2">
                                <label class="sub-heading m-0">Attach Files</label>
                            
                        <div class="d-flex align-items-center p-3 text-right actions">
                            <!--    <input type="file"> Venkat Commented it -->
                            <button type="submit" class="button submit button-md"><span class="text-white">Upload file</span></button>
                        </div>
                    </div>
                    </div>

                    </div>

                    <footer class="footer">
                        <div class="text-right actions">
                            <button type="submit" class="button submit button-md" (click)="orderPlacement(margins)"><span>{{margins.transaction_type | titlecase}}</span></button>
                            <button type="button" class="button button-outline cancel button-md ml-1" (click)="closeModal()">Cancel</button>
                        </div>
                    </footer>

                </div>
            </section>
        </div>
    </div>
</div>
  