@import '../../../../../assets/styles/variable.scss';
.compare-popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-window {
    border-radius: 3px 3px 0 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2), 0 4px 10px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2), 0 4px 10px 0 rgba(0, 0, 0, .05);
    z-index: 99;
    left: calc(50% - 600px/2);
    width: 100%;
}

.order-window .no {
    margin: 0 0 10px 0
}

.order-window .su-input-group input {
    font-size: 1.5em
}

.order-window .su-select select {
    font-size: 1.3em
}

.order-window .su-input-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100px;
    overflow: hidden
}

.order-window .drag-handle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    cursor: move
}

.order-window header {
    border-radius: 3px 3px 0 0;
    padding: 16px 20px
}

.order-window header .transaction-type {
    display: inline-block;
    min-width: 28px
}

.order-window header .tradingsymbol {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.order-window header .tradingsymbol .exchange {
    margin-left: 2px;
    display: inline-block;
    min-width: 18px
}

.order-window header .tradingsymbol sup .weekly {
    background-color: #fff;
    line-height: 1.2em
}

.order-window header .tx-toggle .su-switch-control,
.order-window header .tx-toggle .su-switch:checked+.su-switch-control {
    background-color: rgba(255, 255, 255, .3)
}

.order-window header .info {
    margin-left: 5px;
    color: #fff;
    padding: 7px 0
}

.price {
    font-weight: 600;
}

.order-window .wrap-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.order-window .wrap {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.order-window .wrap .variety {
    background-color: #f9f9f9;
    border-bottom: 2px solid #eee;
    color: #5B5C60;
}

.order-window .wrap .variety .su-radio-wrap {
    margin: 0
}

.order-window .wrap .variety .su-radio-label {
    text-align: center;
    padding: 10px 20px;
    margin-bottom: -2px;
    border-bottom: 2px solid #eee
}

.order-window .wrap .variety .su-radio-label:before {
    display: none
}

.order-window .wrap .variety .toggle-tags {
    float: right;
    padding: 10px 15px 0 0
}

.order-window .content {
    -webkit-box-flex: 600px;
    -ms-flex: 600px;
    flex: 600px
}

.order-window .body {
    padding: 0;
}

.order-window .body .su-radio-label span {
    color: #ccc;
    margin: 0 10px 0 5px
}

.order-window .body .product {
    margin: 0;
    margin-bottom: 20px;
}

.order-window .body .product .type {
    margin-right: 0
}

.order-window .footer {
    padding: 15px 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #eee
}

.order-window .footer .margins {
    margin-top: 5px
}

.order-window .footer .margins .block {
    display: inline-block;
    margin-right: 8px
}

.order-window .footer .margins .block label {
    margin-right: 3px
}

.order-window .footer .submit {
    color: #fff;
    min-width: 75px
}

.order-window.buy header {
    color: #fff;
    background-color: #4A69CB;
}

.order-window.buy header .exchange-selector .su-radio+.su-radio-label:before {
    padding: 4px;
    background-color: #4A69CB;
    -webkit-box-shadow: inset 0 0 0 2px #fff;
    box-shadow: inset 0 0 0 2px #fff;
    border: 1px solid #4A69CB
}

.order-window.buy header .tradingsymbol sup .weekly {
    color: #4A69CB
}

.order-window.buy .button {
    color: #4A69CB;
}

.order-window.sell .button {
    color: #E0261A;
}

.order-window.buy .actions .submit {
    background-color: #4A69CB;
    border-color: #4A69CB
}


.order-window.sell header {
    color: #fff;
    background-color: #E0261A
}

.order-window.sell header .exchange-selector .su-radio+.su-radio-label:before {
    padding: 4px;
    background-color: #E0261A;
    -webkit-box-shadow: inset 0 0 0 2px #fff;
    box-shadow: inset 0 0 0 2px #fff;
    border: 1px solid #E0261A
}

.order-window.sell header .tradingsymbol sup .weekly {
    color: #E0261A
}

.order-window.sell .variety .su-radio-group .su-radio:checked+.su-radio-label {
    color: #E0261A;
    border-bottom: 2px solid #E0261A
}

.order-window.sell .actions .submit {
    background-color: #E0261A;
    border-color: #E0261A
}

.order-window .first-fields {
    margin-bottom: 20px
}

.order-window header .instrument {
    font-weight: 500;
    font-size: 16px;
}

.example-box {
    bottom: auto;
    left: calc(50% - 900px/2);
    width: 900px;
    display: flex;
    position: fixed;
    z-index: 99;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    top: 20px;
}

.statistics-column {
    padding-left: 0;
}
.rules-column {
    padding-right: 0;
}

.intraday-panel {
    border-bottom: 1px solid #e7e7e7;
}

.intraday-panel-header {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #e7e7e7;
}

.intraday-panel-body {
    padding: 4px 0;
    height: 320px;
    overflow: auto;
    font-size: 14px;
}

.rule-type {
    color: #908F8F;
    font-size: 14px;
    padding-left: 0.25rem;
}

.sub-heading {
    font-size: 15px;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 10px
}

.custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: none;
    background-color: transparent !important;
}

.custom-checkbox:checked {
    background-color: #ccc;
}

.custom-checkbox:after {
    content: "";
    /* Empty content */
    display: block;
    text-align: center;
    line-height: 20px;
}

.checked:after {
    content: "✔";
    /* Right mark character */
    color: #1aa92d;
    /* Green color for right mark */
}

.cross:after {
    content: "✖";
    /* Cross mark character */
    color: #ff0000;
    /* Red color for cross mark */
}

//   Manual checkbox

.manual-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.manual-checkbox:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 2px solid #ccc;
    /* Grey border */
    border-radius: 2px;
}

.manual-checkbox:checked:before {
    content: "✔";
    /* Check mark character */
    color: white;
    /* Green color for checked */
    font-size: 14px;
    /* Adjust font size */
    line-height: 20px;
    /* Center vertically */
    text-align: center;
    /* Center horizontally */
    background-color: transparent;
    color: #1aa92d;
}

.reports-header {
    color: #000000;
    font-size: 18px;
    box-shadow: 0 1px 5px 0 rgba(var(--color-border-5--rgb), 0.1);
    background: #fff;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 5px 10px;
}

// tabs
.tab .nav-tabs {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
}

.tab .nav-tabs li {
    padding: 0;
}

.tab .nav-tabs li:first-child>a {
    border-radius: 0;
}

.tab .nav-tabs li a {
    display: block;
    background: transparent;
    font-size: 14px;
    line-height: 9px;
    text-align: center;
    border: none;
    z-index: 2;
    transition: all 0.3s ease 0s;
    text-decoration: none;

    padding: 5px 0 10px 0;
    margin: 0 5px;
    color: #000; //Venkat changed from #5B5C60
    position: relative;
    font-weight: 500;
}

.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a {
    color: #394C86;
    text-decoration: none;
}

.tab .nav-tabs li.active a::before,
.tab .nav-tabs li a:hover::before {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0px 0px;
    background: #4A69CB;
    position: absolute;
    bottom: -4px;
}

.tab .tab-content {
    padding: 0px;
    margin-top: 0;
    font-size: 14px;
    background: #ffffff;

    @media #{$extra-small} {
        overflow-y: scroll;
    }

    @media #{$small} {
        overflow-y: scroll;
    }

    @media #{$medium} {
        overflow-y: scroll;
    }
}

.tab .tab-content h3 {
    font-size: 24px;
    margin-top: 0;
}

@media (max-width: 767px) {
    .example-box {
        top: 5% !important;
        left: 0 !important;
        right: 0 !important;
        margin: 0;
        width: 100%;
        overflow-y: auto;
        z-index: 999;
        transform: inherit !important;
    }

    .intraday-modal-header {
        flex-direction: column;
    }
    .rules-column {
        padding-right: 1rem;
    }
    
    .statistics-column {
        padding-left: 1rem;
        border: 0 !important;
    }
    .order-window .wrap {
        height: 81vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .order-window .body .product .type {
        width: 50%;
    }

    .order-window .body .price .order-type {
        margin-bottom: 20px;
    }

    .order-window .body .order-type {
        text-align: left;
        margin-left: 5px;
    }

    .order-window .footer .actions button {
        width: 49%;
    }

    .order-window .footer .margins {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .intraday-modal-header .columns {
        width: 100%;
    }
    .tab .nav-tabs {
        width: 100%;
    }
    .tab .nav-tabs li a {
        line-height: 18px;
    }
    .tab .nav-tabs li {
        width: 50%;
        text-align: center;
    }

    .tab .nav-tabs li.active a:before {
        content: "";
        bottom: 15%;
        left: 0;
        right: auto;
    }

    .compare-popup {
        width: 100%;
    }
    .order-window {
        width: 96%;
        margin: 0 auto;
    }
}