<div class="p-3">
    <div class="mb-2">
        <label class="col-form-label">Specify the maximum amount you are willing to risk to achieve your investment goals.</label>
        <div class="col-md-6 col-lg-3 p-0">
            <input type="text" class="form-control"  />
        </div>
    </div>
    <div class="mb-2">
        <label class="col-form-label">What percentage of total capital would you like to keep as cash?</label>
        <div class="col-md-6 col-lg-3 p-0">
            <input type="text" class="form-control"  />
        </div>
    </div>
    
    
    <div class="mb-2">
        <label class="col-form-label">Specify your investment goals for a given date range.</label>
        <div class="trade-cards-section">
            <span class="card-main">
                <!-- <div class="datepicker-group">
                    <input matInput [matDatepicker]="entryDate" (click)="entryDate.open()" name="entryDate" [(ngModel)]="entryDate" placeholder="Entry Date" />
                    <mat-datepicker-toggle matSuffix [for]="entryDate"></mat-datepicker-toggle>
                    <mat-datepicker #entryDate></mat-datepicker>
                  </div> -->
            </span>
            <span class="card-main card-main-lg">
                <div class='input-group date' id='datetimepicker1'>
                    <my-date-range-picker placeholder="Target Date range" name="targetDate" [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)" [(ngModel)]="targetDate"></my-date-range-picker>
                </div>
            </span>
            <span class="card-main">
                <input type="text" class="form-control" placeholder="Target Profit" id="targetProfit" [(ngModel)]="targetProfit" />
            </span>

            <mat-icon (click)="addGoal()" class="mt-2 text-success cursor">add_circle</mat-icon>
            
        </div>
        <ng-container *ngIf="investmentGoals.length">
            <div *ngFor="let goal of investmentGoals;let index = index">
                <div class="d-flex align-items-center mb-1">
                    <span class="card-main pl-3">01-Jan-2020</span>
                    <span class="card-main card-main-lg pl-3">{{goal.targetdate.formatted}}</span>
                    <span class="card-main pl-3">{{goal.profit}}</span>
                    <mat-icon class="mr-2 text-success mat-icon-sm">edit</mat-icon>
                    <mat-icon class="mat-icon-sm"  (click)="deleteinvestmentGoal(index)">delete</mat-icon>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<div class="trade-btn py-3">
    <div class="btn btn-apply" (click)="saveprofile()">
        SAVE
    </div>
</div>
      
