<mat-accordion class="example-headers-align w-100" multi="true">
    <mat-expansion-panel [expanded]="true" (opened)="setStep(1)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Specify your investment goals for a given date range
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <div class="mb-2 investment_body">
                <div class="trade-cards-section mb-2">
                    <span class="card-main">
                        <label class="col-form-label">Goal Name</label>
                        <input type="text" class="form-control" id="goalname" [(ngModel)]="goalName" />
                    </span>
                    <span class="card-main">
                        <label class="col-form-label">Entry Date</label>
                        <div class="datepicker-group">
                            <input matInput [matDatepicker]="entrydate" (click)="entrydate.open()" id="entrydate"  name="entrydate" (dateChange)="addEvent($event)" [(ngModel)]="entry_date">
                            <mat-datepicker-toggle matSuffix [for]="entrydate"></mat-datepicker-toggle>
                            <mat-datepicker #entrydate></mat-datepicker>
                        </div>
                    </span>
                    <span class="card-main card-main-lg">
                        <label class="col-form-label">Target Date range</label>
                        <div class='input-group date date-rang' id='datetimepicker1'>
                            <my-date-range-picker name="targetdate" id="targetdate" (dateRangeChanged)="onDateRangeChanged($event)" [(ngModel)]="targetDate"></my-date-range-picker>
                        </div>
                    </span>
                    <span class="card-main">
                        <label class="col-form-label">Target Profit</label>
                        <input type="text" class="form-control" id="targetProfit" [(ngModel)]="targetProfit" />
                    </span>
                    <span class="add-item d-flex align-items-end mb-2">
                        <mat-icon (click)="addGoal()">add_circle</mat-icon>
                    </span>
                </div>
                <ng-container *ngIf="GoalsList">
                    <div *ngFor="let goal of GoalsList;let index = index">
                        <div class="d-flex align-items-center py-2">
                            <span class="card-main pl-3">{{goal.goalName}}</span>
                            <span class="card-main pl-3">{{goal.entryDate}}</span>
                            <span class="card-main card-main-lg pl-3">{{goal.startDate + ' - '+goal.endDate}}</span>
                            <span class="card-main pl-3">{{goal.targetAmount}}</span>
                            <mat-icon class="mr-3 mat-icon-sm mat-icon-edit" (click)="editinvestmentGoal(goal)">edit</mat-icon>
                            <mat-icon class="mat-icon-sm" (click)="deleteinvestmentGoal(goal)">delete</mat-icon>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>
<!--<div class="investment-goals-footer mt-3">
    <div class="row">
        <div class="col-6 mb-2">
            <label class="col-form-label">Specify the maximum amount you are willing to risk to achieve your investment goals.</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-5 mb-2">
            <label class="col-form-label">What percentage of total capital would you like to keep as cash?</label>
            <input type="text" class="form-control" />
        </div>
    </div>
</div>-->

<!--<div class="trade-btn py-3">
    <div class="btn btn-apply" (click)="saveProfile()">
        SAVE
    </div>
</div>-->
