<div class="compare-popup">
    <div class="compare-pop-inner">
        <div class="top-pop-inner">
            <div class="left-heading">
                <div class="modal-title m-0">{{title}}</div>
            </div>
            <div class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </div>
        </div>

        <div class="main-pop-inner">
           <div class="sub-heading">Trade has been updated in CueTrade succesfully</div>

           <div class="mt-2">
                Trade details in CueTrade:
                <ul>
                    <li>Buy to Open 100 Stock at 1427.50</li>
                    <li>Sell to Open 100 1500Aug24Call at 7.50</li>
                    <li>Buy to Open 100 1300Aug24Put at 1.50</li>
                </ul>
           </div>
        </div>
    </div>
</div>