
<div class="position-relative p-3">
    <div class="dashboard-header mb-2">
        <div>
            <p>Automatic rules are consistently verified for each trade, with CueTrade promptly indicating whether a trade complies with the rule or not. On the other hand, manual rules act as text-based reminders, requiring manual updates as needed.</p>
        </div>
    </div>

    <table class="mat-table table">
        <thead>
            <tr class="mat-header-row">
                <th class="mat-header-cell">Trading Rule</th>
                <th class="mat-header-cell value-cell">Value</th>
                <th class="mat-header-cell action-cell">Action</th>
                <th class="mat-header-cell"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="mat-header-row" *ngFor="let coderule of portfolioLevelRules">
                <td class="mat-cell rule-cell">
                    <span class="d-flex align-items-center">
                        {{coderule.uiLabel}}
                    </span>
                </td>
                
                <td class="mat-cell value-cell">
                    <span class="d-flex align-items-center" *ngIf="coderule.uiLabel !== 'A trading plan should be created everyday'">
                        <input type="text" class="form-control col-5" [ngClass]="!coderule.editing ? 'disabled' : ''"
                            [(ngModel)]="coderule.val" />
                        <mat-icon class="ml-2 mat-icon-edit action-icon" (click)="onItemEdit(coderule)"
                            *ngIf="coderule.editing">check_circle
                        </mat-icon>
                        <mat-icon class="ml-2 text-danger action-icon" (click)="onCancel(coderule)"
                            *ngIf="coderule.editing">close</mat-icon>
                    </span>
                </td>
                <td class="mat-cell action-cell">
                    <span class="cursor text-link mr-2"
                        (click)="activateRule(coderule)" *ngIf="coderule.uiLabel !== 'Daily trading plan creation' && coderule.val === null">Activate
                    </span>
                    <span class="cursor text-link mr-3" (click)="onUpdateRule(coderule)" *ngIf="coderule.val && coderule.uiLabel !== 'A trading plan should be created everyday'">Update</span>
                    <span class="cursor position-relative">
                        <!-- <input type="checkbox" name="rule" class="checkbox checkbox-custom"
                            [checked]="coderule.id && coderule.id !== null && coderule.id > 0"
                            [(ngModel)]="coderule.checked" (change)="onRuleSelectionChange(coderule)" />
                        <span [ngClass]="coderule.checked ? 'disabled-text' : 'add-new'">{{coderule.checked ? 'Disable'
                            : 'Enable' }}</span> -->
                        <input type="checkbox" name="rule" class="checkbox checkbox-custom"
                            [checked]="coderule.id && coderule.id !== null && coderule.id > 0"
                        [(ngModel)]="coderule.checked" (change)="onCheckBoxChange(coderule)" />
                        <span class="disabled-text" *ngIf="coderule.val">Disable</span>
                    </span>
                </td>
                <td class="mat-cell status-cell">
                    <mat-icon class="mat-icon-sm  mat-icon material-icons ml-3 pl-3" [ngClass]="coderule.val ? 'text-success' : 'text-danger'">{{coderule.val ? 'check' : 'close'}}</mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="mask" *ngIf="Loader">
        <div class="loader"></div>
    </div>
</div>
