<div class="trade-thesis-sec">
    <div class="trade-thesis-heading">
        <h4 class="text-success">
            <span class="cursor d-flex align-items-center" (click)="showEntryThesis()"><i class="negative-amt material-icons">{{hideEntryThesis ? 'keyboard_arrow_right' : 'keyboard_arrow_down'}}</i> Entry Thesis</span>
        </h4>
    </div>

    <div *ngIf="!hideEntryThesis">
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                What is the source of this trade idea?
            </div>
            <div class="col-5">
                <div class="row align-items-center">
                    <div class="col-7">
                        <select class="form-control select-input" id="inputState" [(ngModel)]="tradeThesis.sourceId" [disabled]="closeTrade">
                            <option [ngValue]="opt.id" *ngFor="let opt of sourceTypes; trackBy: id">{{opt.name}}</option>
                        </select>
                    </div>
                    <div class="col-5 px-0">
                        <a class="add-new" (click)="addValue('Source')" *ngIf="!closeTrade">Add New</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                Is this a planned or an impromptu trade?
            </div>
            <div class="col-5">
                <span class="mr-3">
                    Planned <input type="radio" [disabled]="closeTrade" name="tradeType" value="planned" [(ngModel)]="tradeThesis.tradeType" checked />
                </span>
                <span class="ml-3">
                    Impromptu <input type="radio" [disabled]="closeTrade" name="tradeType" value="impromptu" [(ngModel)]="tradeThesis.tradeType"/>
                </span>
            </div>
        </div>
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                What is your mindset while executing the trade?
            </div>
            <div class="col-5">
                <div class="row align-items-center">
                    <div class="col-7">
                        <select class="form-control select-input" id="inputState" [(ngModel)]="tradeThesis.mindsetId" [disabled]="closeTrade">
                            <option [ngValue]="opt.id" *ngFor="let opt of mindsetTypes; trackBy: id">{{opt.name}}</option>
                        </select>
                    </div>
                    <div class="col-5 px-0">
                        <a class="add-new" (click)="addValue('Source')" *ngIf="!closeTrade">Add New</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                Specify the reasons for executing the trade
            </div>
            <div class="col-5 media align-items-center">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="tradeThesis.reasons" [disabled]="closeTrade"></textarea>
            </div>
        </div>
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                Are there any events around the time this trade was placed?
            </div>
            <div class="col-5">
                <div class="row align-items-center">
                    <div class="col-7">
                        <select class="form-control select-input" [disabled]="closeTrade" id="inputState" [(ngModel)]="tradeThesis.surroundingEventId">
                            <option [ngValue]="opt.id" *ngFor="let opt of surroundingTypes; trackBy: id">{{opt.name}}</option>
                        </select>
                    </div>
                    <div class="col-5 px-0">
                        <a class="add-new" (click)="addValue('Source')" *ngIf="!closeTrade">Add New</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                What is the target price for the stock?
            </div>
            <div class="col-3 media align-items-center">
                <input type="text" class="form-control mr-2" [disabled]="closeTrade" placeholder="Enter the price" [(ngModel)]="tradeThesis.targetPrice" />
            </div>
        </div>
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                Specify the technical indicator used for the trade
            </div>
            <div class="col-5">
                <div class="row align-items-center">
                    <div class="col-7">
                        <select class="form-control select-input" id="inputState"
                            [(ngModel)]="tradeThesis.technicalIndicatorId" [disabled]="closeTrade">
                            <option [ngValue]="opt.id" *ngFor="let opt of technicalIndicators; trackBy: id">{{opt.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-5 px-0">
                        <a class="add-new" (click)="addValue('Source')" *ngIf="!closeTrade">+ Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start: Closing Thesis -->
<div class="trade-thesis-sec" *ngIf="closeTrade">
    <div class="trade-thesis-heading">
        <h4 class="text-success">
            <span class="cursor d-flex align-items-center" (click)="showClosingThesis()"><i class="negative-amt material-icons">{{hideClosingThesis ? 'keyboard_arrow_right' : 'keyboard_arrow_down'}}</i> Closing Thesis</span>
        </h4>
    </div>

    <div *ngIf="!hideClosingThesis">
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                What is the trigger for closing the trade?
            </div>
            <div class="col-5">
                <div class="row align-items-center">
                    <div class="col-7">
                        <select class="form-control select-input" id="inputState" [(ngModel)]="tradeThesis.sourceId" [disabled]="!closeTrade">
                            <option [ngValue]="opt.id" *ngFor="let opt of sourceTypes; trackBy: id">{{opt.name}}</option>
                        </select>
                    </div>
                    <div class="col-5 px-0">
                        <a class="add-new" (click)="addValue('Source')" *ngIf="!closeTrade">Add New</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                Is this a planned or an impromptu trade?
            </div>
            <div class="col-5">
                <span class="mr-3">
                    Planned <input type="radio" name="closingtradeType" value="planned" checked />
                </span>
                <span class="ml-3">
                    Impromptu <input type="radio" name="closingtradeType" value="impromptu" />
                </span>
            </div>
        </div>
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                What is your mindset while closing the trade?
            </div>
            <div class="col-5">
                <div class="row align-items-center">
                    <div class="col-7">
                        <select class="form-control select-input" id="inputState" [(ngModel)]="tradeThesis.mindsetId" [disabled]="!closeTrade">
                            <option [ngValue]="opt.id" *ngFor="let opt of mindsetTypes; trackBy: id">{{opt.name}}</option>
                        </select>
                    </div>
                    <div class="col-5 px-0">
                        <a class="add-new" (click)="addValue('Source')" *ngIf="!closeTrade">Add New</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                Specify the reasons for closing the trade
            </div>
            <div class="col-5 media align-items-center">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [disabled]="!closeTrade"></textarea>
            </div>
        </div>
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                Gain or loss from the trade attributed to
            </div>
            <div class="col-5">
                <div class="row align-items-center">
                    <div class="col-7">
                        <select class="form-control select-input" [disabled]="!closeTrade" id="inputState" [(ngModel)]="tradeThesis.surroundingEventId">
                            <option [ngValue]="opt.id" *ngFor="let opt of surroundingTypes; trackBy: id">{{opt.name}}</option>
                        </select>
                    </div>
                    <div class="col-5 px-0">
                        <a class="add-new" (click)="addValue('Source')" *ngIf="!closeTrade">Add New</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                Specify the lessons learnt from the trade
            </div>
            <div class="media col-5">
                <textarea class="form-control" id="closingLessionsTrade" rows="3"></textarea>
            </div>
        </div>
        <div class="row mx-0 ml-2 mb-2">
            <div class="col-7 list-inner-left">
                Specify the technical indicator used for the trade
            </div>
            <div class="col-5">
                <div class="row align-items-center">
                    <div class="col-7">
                        <select class="form-control select-input" id="inputState"
                            [(ngModel)]="tradeThesis.technicalIndicatorId" [disabled]="!closeTrade">
                            <option [ngValue]="opt.id" *ngFor="let opt of technicalIndicators; trackBy: id">{{opt.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-5 px-0">
                        <a class="add-new" (click)="addValue('Source')" *ngIf="!closeTrade">+ Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="trad-border ng-star-inserted"></div> -->

<!-- <div class="trade-new-btn">
    <a class="btn btn-per" (click)="previous()">Previous</a>
    <a class="btn btn-next" (click)="next()">Next</a>
</div> -->