<!-- <div class="trade-thesis-sec">
    <div class="entry-thesis-header cursor" (click)="showEntryThesis()">
        <span>Entry Thesis</span>
        <span class="d-flex align-items-center">
            <a class="configure-questions" href="javascript:void(0)" (click)="openEntryQuestions()" >Configure Questions <img src="../../../../assets/images/beta-icon.png" class="beta-icon"/></a>
            <i class="negative-amt material-icons">{{hideEntryThesis ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
        </span>
    </div>

    <div class="trade-thesis-body" *ngIf="!hideEntryThesis">
        <div class="row">
            <div class="col-sm-6">
                <div class="thesis_item">
                    <div class="thesis_item_title">
                        Specify the reasons for executing this trade
                        <mat-icon
                            matTooltip="Write notes on why you are executing this trade at this point in time. This will make you think through your logic and avoid rash decisions."
                            matTooltipPosition="above" matTooltipClass="custom-tooltip"
                            [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay"
                            class="mat-icon-xs cursor info-icon">info_outline</mat-icon>
                    </div>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        [(ngModel)]="tradeThesis.reasons"></textarea>
                </div>
            </div>

            <div class="col-sm-6" *ngFor="let field of entryThesisFields">
                <div class="thesis_item" *ngIf = "field.type === 'dropdown'">
                    <div class="thesis_item_title">
                        {{field.label}}
                        <mat-icon
                            matTooltip="{{field.tooltip}}"
                            matTooltipPosition="above" matTooltipClass="custom-tooltip"
                            [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay"
                            class="mat-icon-xs cursor info-icon">info_outline</mat-icon>
                    </div>
                    <div class="media align-items-center">
                        <div class="media-body">
                            <app-dropdown [field] = "field"></app-dropdown>
                        </div>
                        <div class="px-3" *ngIf = "field.customValueSupported">
                            <a class="add-new" (click)="addFieldValue(field)" *ngIf="addTrade || editTrade">+ Add New</a>
                        </div>
                    </div>
                </div>
                <div class="thesis_item" *ngIf = "field.type === 'textbox'">
                    <div class="thesis_item_title">
                        {{field.label}}
                        <mat-icon matTooltip="{{field.tooltip}}"
                            matTooltipPosition="above" matTooltipClass="custom-tooltip"
                            [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay"
                            class="mat-icon-xs cursor info-icon">info_outline</mat-icon>
                    </div>
                    <app-textbox [field] = "field"></app-textbox>
                </div>
                <div class="thesis_item" *ngIf = "field.type === 'datefield'">
                    <div class="thesis_item_title">
                        {{field.label}} <mat-icon matTooltip="{{field.tooltip}}" matTooltipPosition="above"
                            matTooltipClass="custom-tooltip" [matTooltipShowDelay]="this.showDelay"
                            [matTooltipHideDelay]="this.hideDelay" class="mat-icon-xs cursor info-icon">info_outline
                        </mat-icon>
                    </div>
                    <app-datefield [field] = "field"></app-datefield>
                </div>
                <div class="thesis_item" *ngIf = "field.type === 'textarea'">
                    <div class="thesis_item_title">
                        {{field.label}}
                        <mat-icon
                            matTooltip="{{field.tooltip}}"
                            matTooltipPosition="above" matTooltipClass="custom-tooltip"
                            [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay"
                            class="mat-icon-xs cursor info-icon">info_outline</mat-icon>
                    </div>
                    <app-text-area [field] = "field"></app-text-area>
                </div>
            </div>
            
            <div class="col-sm-12">
                <div class="thesis_item upload_item">
                    <div class="thesis_item_title">
                        Upload files
                    </div>
                    <div *ngFor="let file of tradeChubFiles;let i = index"><span (click) = "downloadFile(i)" style="cursor: pointer">{{file.fileName}}</span><mat-icon class="mat-icon-sm" style="cursor: pointer;" (click)="deleteFileName(i)">delete</mat-icon></div>
                    <div class="media">
                        <div class="media-body">
                            <input type="file" (change)="selectFile($event)" accept=".pdf,.png,.jpg,.jpeg,.bmp,.docx,.doc,.xls,.xlsx,.pptx,.ppt" style="padding-top: 10px;" />
                        </div>
                    </div>
                    <div class="text-right pt-2">
                        <a class="add-new" (click)="generateChart()" *ngIf="addTrade || editTrade">Generate Chart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- start: Closing Thesis -->
<!-- <div class="trade-thesis-sec trade-close-thesis-sec" *ngIf="!addTrade && tradeStatus !== 4">
    <div class="entry-thesis-header cursor" (click)="showClosingThesis()">
        <span>Closing Thesis</span>
        <span class="d-flex align-items-center">
            <a class="configure-questions" href="javascript:void(0)" (click)="openExitQuestions()" >Configure Questions <img src="../../../../assets/images/beta-icon.png" class="beta-icon"/></a>
            <i class="negative-amt material-icons">{{hideClosingThesis ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
        </span>
        
    </div>

    <div class="trade-thesis-body" *ngIf="!hideClosingThesis">
        <div class="row">
            <div class="col-sm-6">
                <div class="thesis_item">
                    <div class="thesis_item_title">
                        Specify the reasons for closing the trade
                    </div>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="tradeThesis.closedReason"></textarea>
                </div>
            </div>

            <div class="col-sm-6" *ngFor="let field of exitThesisFields">
                <div class="thesis_item" *ngIf = "field.type === 'dropdown'">
                    <div class="thesis_item_title">
                        {{field.label}}
                        <mat-icon
                            matTooltip="{{field.tooltip}}"
                            matTooltipPosition="above" matTooltipClass="custom-tooltip"
                            [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay"
                            class="mat-icon-xs cursor info-icon">info_outline</mat-icon>
                    </div>
                    <div class="media align-items-center">
                        <div class="media-body">
                            <app-dropdown [field] = "field"></app-dropdown>
                        </div>
                        <div class="px-3" *ngIf = "field.customValueSupported">
                            <a class="add-new" (click)="addFieldValue(field)" *ngIf="addTrade || editTrade || closeTrade">+ Add New</a>
                        </div>
                    </div>
                </div>
                <div class="thesis_item" *ngIf = "field.type === 'textbox'">
                    <div class="thesis_item_title">
                        {{field.label}}
                        <mat-icon matTooltip="{{field.tooltip}}"
                            matTooltipPosition="above" matTooltipClass="custom-tooltip"
                            [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay"
                            class="mat-icon-xs cursor info-icon">info_outline</mat-icon>
                    </div>
                    <app-textbox [field] = "field" ></app-textbox>
                </div>
                <div class="thesis_item" *ngIf = "field.type === 'datefield'">
                    <div class="thesis_item_title">
                        {{field.label}} <mat-icon matTooltip="{{field.tooltip}}" matTooltipPosition="above"
                            matTooltipClass="custom-tooltip" [matTooltipShowDelay]="this.showDelay"
                            [matTooltipHideDelay]="this.hideDelay" class="mat-icon-xs cursor info-icon">info_outline
                        </mat-icon>
                    </div>
                    <app-datefield [field] = "field"></app-datefield>
                </div>
                <div class="thesis_item" *ngIf = "field.type === 'textarea'">
                    <div class="thesis_item_title">
                        {{field.label}}
                        <mat-icon
                            matTooltip="{{field.tooltip}}"
                            matTooltipPosition="above" matTooltipClass="custom-tooltip"
                            [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay"
                            class="mat-icon-xs cursor info-icon">info_outline</mat-icon>
                    </div>
                    <app-text-area [field] = "field"></app-text-area>
                </div>
            </div>

        </div>
    </div>
</div> -->

<div class="custom-card">
    <div class="custom-card-header">
        <div class="custom-card-title">Journal</div>
    </div>
    <div class="custom-card-body">
        <div class="d-flex mb-2 align-items-center">
            <label class="col-form-label">Tags</label>
            <div class="col-8">
                <ul class="tags-list">
                    <li *ngFor="let tag of tags; let i = index;" class="tag-item">
                        <span class="tag-list-item">
                            <span (click)="editTag(tag)">
                                {{getTagName(tag.tagId)}}
                            </span>
                            <span class="material-icons delete-tag-icon" (click)="deleteTag(tag, i)">close_outline</span>
                        </span>
                    </li>
                    <li class="align-items-center pl-2">
                        <span (click)="addTag()" class="text-link" *ngIf="tags && tags.length < 3">
                            Add Tag
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex mb-2 align-items-center">
            <label class="col-form-label">Strategy</label>
            <div class="col-8 col-md-6">
                <select class="form-control">
                    <option value="0">Call Spread</option>
                </select>
            </div>
        </div>
        <div class="d-flex mb-2 align-items-center">
            <label class="col-form-label">Direction</label>
            <div class="col-8 col-md-6">
                <select class="form-control">
                    <option value="0">Long</option>
                </select>
            </div>
        </div>
        <div class="d-flex mb-2 align-items-center">
            <label class="col-form-label">Contrarian Trade</label>
            <div class="col-8 col-md-6">
                <select class="form-control">
                    <option value="0">Yes</option>
                </select>
            </div>
        </div>
        <div class="d-flex mb-2 align-items-center">
            <label class="col-form-label">Planned Trade</label>
            <div class="col-8 col-md-6">
                <select class="form-control">
                    <option value="0">Yes</option>
                </select>
            </div>
        </div>
        <div class="d-flex mb-2 align-items-center">
            <label class="col-form-label">Trade Thesis</label>
            <div class="col-8">
                <textarea rows="4" class="form-control"></textarea>
            </div>
        </div>
        <div class="d-flex mb-2 align-items-center">
            <label class="col-form-label">Technical Analysis</label>
            <div class="col-8 col-md-7">
                <a class="add-new" (click)="generateChart()" *ngIf="addTrade || editTrade">Open Chart</a>
            </div>
        </div>
        <div class="d-flex mb-2 align-items-center">
            <label class="col-form-label">Attach Files</label>
            <div class="col-8">
                <div class="d-flex align-items-center justify-content-between">
                    <a class="add-new" (click)="openJournalModal()">Click Here</a>
                    <a class="add-new" (click)="openJournalModal()">Show More</a>
                </div>
            </div>
        </div>
    </div>
</div>