@import "../../../../../../../assets/styles/variable.scss";
@import '../../../../../../../assets/styles/breakpoints.scss';

.trade-thesis-sec {
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.1);
  border-radius: 0 0 4px 4px;
  padding: 0;
  position: relative;
  .trade-thesis-heading {
    border-bottom: 1px solid transparent;
    padding-bottom: 15px;
    padding-top: 1rem;
    margin-left: -5px;
    h4 {
      font-size: 14px;
    }
  }

  .trade-thesis-inner {
    padding: 0px 20px;
    border: 1px solid #ddd;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      left: 48%;
      top: 0%;
      height: 100%;
      width: 1px;
      background-color: #ddd;
      @media #{$small} {
        display: none;
      }
    }
    @media #{$small} {
      padding: 0px;
    }
    @media #{$medium} {
      padding: 0px !important;
    }
    @media #{$extra-small} {
      padding: 0px;
    }
  }
}
.trade-close-thesis-sec {
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.1);
  border-radius: 4px;
  padding: 0;
  position: relative;
}

.form-control {
  border: 1px solid #70707070;
  font-size: 14px;
  padding: 0.375rem 0.5rem;
}
select.form-control {
  padding: 0.375rem 0.25rem;
}

.trade-thesis-list {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  padding-left: 15px;
  @media #{$small} {
    flex-direction: column;
  }
  .thesis-list-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    // padding-bottom: 10px;
    
 
    @media #{$small} {
      flex-direction: column;
      align-items: flex-start;
    }

    @media #{$medium} {
     min-height: 120px;
    }
    

    .list-inner-right {
      display: flex;
      align-items: baseline;
      width: 100%;
      padding-left: 27px;
      @media #{$extra-small} {
        width: 50%;
      }
      @media #{$small} {
        width: 100%;
      }

      
    }
  }
}
.list-inner-left {
  position: relative;
  display: flex;
  align-items: center;
  @media #{$small} {
    width: 100%;
  }
  span {
    margin-right: 20px;

    h6 {
      font-weight: 400;
      @media #{$small} {
        font-size: 15px;
      }
    }
  }
}
.add-new {
  color: #37a01a;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  @media #{$medium} {
    font-size: 14px;
  }
}
.left-trade ,.right-trade{
  display: flex;
  flex-direction: column;
  width: 100%;
  @media #{$small} {
    width: 100%;
  }
}

.Trade-type .form-control {
  height: 45px;
  width: 240px;
  font-size: 14px;
  @media #{$extra-small} {
    width: 100%;
  }
  @media #{$small} {
    width: 100%;
  }
}

.trade-date .form-control{
  height: 45px;
}

.trade-input .has-search {
  height: 45px;
  width: 150%;
  @media #{$extra-small} {
    width: 100%;
  }
  @media #{$small} {
    width: 100%;
  }
}

.trade-inputt .form-control {
  height: 45px;
}

.trad-border {
  border: 1px solid #acacac;
  opacity: 0.3;
}

.trade-new-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .btn-per {
    color: $primary;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  .btn-next {
    color: $primary;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
}


 textarea{
   width: 420px;
  height: 70px;
  resize: none;
  @media #{$small} {
    width: 100%;
  }
  @media #{$medium} {
    min-width: 370px;
    width: 370px;
  }
}

.trade-input {
  // width: 70%;
  @media #{$small} {
    width: 70%;
  }
}

.trade-new {
  // display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;

}

.trade-box-right {
  width: 49%;
  @media #{$small} {
    width: 100%;
  }
}
.trade-box-left {
  width: 49%;
  @media #{$small} {
    width: 100%;
  }
}