@import "../../../../../../../assets/styles/variable.scss";
@import '../../../../../../../assets/styles/breakpoints.scss';
.trade-thesis-sec {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.1);
    border-radius: 0 0 4px 4px;
    padding: 0;
    position: relative;
    margin-bottom: 20px;
}

.trade-close-thesis-sec {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.1);
    border-radius: 4px;
    padding: 0;
    position: relative;
}

.trade-thesis-body {
    border-top: 1px solid #e2e5eb;
    padding: 20px;
}

.entry-thesis-header {
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    padding: 10px 25px;
    color: #3A4C85;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thesis_item {
    background: #F6F8FB;
    border: 1px solid rgb(157 166 186 / 22%);
    box-shadow: 0px 4px 12px rgba(157, 166, 186, 0.4);
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 1rem;
    min-height: 125px;
    .thesis_item_title {
        font-weight: 600;
        font-size: 14px;
        line-height: 27px;
        color: #3A4C85;
        margin-bottom: .5rem;
        align-items: center;
        display: flex;
    }
}

.form-control {
    border: 1px solid #70707070;
    padding: 0.375rem 0.5rem;
    width: 100%;

    font-weight: 500;
    font-size: 14px !important;
    line-height: 18px;
    color: #000;
    height: 32px;
}

select.form-control {
    padding: 0.2375rem 0.25rem;
}

.trade-type-radio {
    margin-right: 10px;
}

.left-trade,
.right-trade {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media #{$small} {
        width: 100%;
    }
}

.Trade-type .form-control {
    height: 45px;
    width: 240px;
    font-size: 12px;
    @media #{$extra-small} {
        width: 100%;
    }
    @media #{$small} {
        width: 100%;
    }
}

.trade-date .form-control {
    height: 45px;
}

.trade-input .has-search {
    height: 45px;
    width: 150%;
    @media #{$extra-small} {
        width: 100%;
    }
    @media #{$small} {
        width: 100%;
    }
}

.trade-inputt .form-control {
    height: 45px;
}

.trad-border {
    border: 1px solid #acacac;
    opacity: 0.3;
}

.trade-new-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .btn-per {
        color: $primary;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    .btn-next {
        color: $primary;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
}

textarea.form-control {
    height: 80px !important;
    resize: none;
    overflow: auto;
}

.trade-input {
    // width: 70%;
    @media #{$small} {
        width: 70%;
    }
}

.disabled {
    background: #dedede !important;
    pointer-events: none !important;
}
.upload_item {
    border: 1px dashed #ccc;
}
.upload_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #9DA6BA;
    text-align: center;
}
@media (max-width:1024px) {
    .thesis_item {
        padding: 10px !important;
    }
    .thesis_item_title {
        font-size: 12px !important;
        line-height: 1.5 !important;
    }
}
@media #{$extra-small} {
    .thesis_item {
        padding: 10px !important;
        min-height: 90px;
    }
}
.configure-questions {
    font-size: 13px;
    color: #2285FA;
}

.custom-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.1);
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.custom-card-body {
    padding: 0.45rem 1rem;
    font-size: 14px;
    line-height: 1.345;
    color: #9DA6BA;
}
.custom-card-header {
    border-bottom: 1px solid #E8E8E8;
    padding: 0.45rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.custom-card-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A4C85;
}
.sub-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #394C86;
    border-bottom: 1px solid #E8E8E8;
    margin: 8px -15px;
    padding: 0 15px 8px 15px;
}
.link-item {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #2285FA;
}
.col-form-label {
    font-weight: 500;
    font-size: 14px !important;
    line-height: 18px;
    color: #121D33;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 35%;
    flex: 0 0 35%;
}

.col-form-value {
    font-weight: 500;
    font-size: 14px !important;
    line-height: 18px;
    color: #000;
}

.add-new {
    color: #007bff;
    font-size: 13px;
    line-height: 1;
    font-weight: 600;
}