<!-- entry second -->
<div class="addnew-second px-3 py-2">
    <div class="widget-2">
      <div class="widget_header">
        <h5 class="widget_header-label">NFLX Stats</h5>
      </div>
      <div class="row no-gutters justify-content-between">
        <div class="widget_item">
            <span class="widget_item-title">Realized Return</span>
            <h6 class="widget_item-value text-success">2345 {{getDisplayValue(stockSummary.netReturn)}}</h6>
        </div>
        <div class="widget_item">
            <span class="widget_item-title">Net R</span>
            <h6 class="widget_item-value text-success">1.4R{{getDisplayValue(stockSummary.netReturn)}}</h6>
        </div>
        <div class="widget_item">
            <span class="widget_item-title">Win Rate</span>
            <h6 class="widget_item-value text-danger">49%{{getDisplayValue(stockSummary.winPercent)}} | {{getDisplayValue(stockSummary.lossPercent)}}
              ({{getDisplayValue(stockSummary.winLossRatio)}})</h6>
        </div>
        <div class="widget_item">
            <span class="widget_item-title">Avg. Hold Period </span>
            <h6 class="widget_item-value">2.3 days{{getDisplayValue(stockSummary.avgHoldingPeriod, ' days')}}</h6>
        </div>
        <div class="widget_item">
          <span class="widget_item-title">Highest Return</span>
          <h6 class="widget_item-value text-success">4623{{getDisplayValue(stockSummary.highGain)}}</h6>
        </div>
        <div class="widget_item">
          <span class="widget_item-title">Largest Loss</span>
          <h6 class="widget_item-value text-danger">-2353 {{getDisplayValue(stockSummary.largestLoss)}}</h6>
        </div>
        <div class="widget_item">
          <span class="widget_item-title">Successful Strategy</span>
          <h6 class="widget_item-value text-success">Iron Condor {{getDisplayValue(stockSummary.successStrategy)}}</h6>
        </div>
        <div class="widget_item">
          <span class="widget_item-title">Failed Strategy</span>
          <h6 class="widget_item-value text-danger">Naked Call {{getDisplayValue(stockSummary.largestLoss)}}</h6>
        </div>
      </div>
    </div>
    <div class="widget-2">
      <div class="widget_header">
        <h5 class="widget_header-label">Custom Strategy Stats</h5>
      </div>
      <div class="row no-gutters justify-content-between">
        <div class="widget_item">
            <span class="widget_item-title">Realized Return</span>
            <h6 class="widget_item-value text-success">4623 {{getDisplayValue(stockSummary.netReturn)}}</h6>
        </div>
        <div class="widget_item">
            <span class="widget_item-title">Win Rate</span>
            <h6 class="widget_item-value text-danger">23%{{getDisplayValue(stockSummary.winPercent)}} | {{getDisplayValue(stockSummary.lossPercent)}}
              ({{getDisplayValue(stockSummary.winLossRatio)}})</h6>
        </div>
      </div>
    </div>
    <div class="widget-2">
      <div class="widget_header">
        <h5 class="widget_header-label">Proﬁt Potential and Risk</h5> 
        <button type="button" class="btn p-0 text-link">Calculate</button>
      </div>

      <div class="row no-gutters justify-content-between">
        <div class="widget_item">
            <span class="widget_item-title">Maximum Proﬁt</span>
            <h6 class="widget_item-value text-success">$12245</h6>
        </div>
        <div class="widget_item">
            <span class="widget_item-title">Maximum Risk </span>
            <h6 class="widget_item-value text-danger">-3467</h6>
        </div>
      </div>
    </div>
  </div>