<div class="container-fluid">
    <div class="trade-strategies-sec">

        <div class="add-new-trade-btn">
            <button routerLink="/dashboard/new-trade" class="add-new btn btn-apply">
                + ADD NEW TRADE</button> 
        </div>
        <div class="trade-strategies-table">
            <div class="card mb-4">
                <div class="card-body">

                    <!-- trade-btns -->

                    <div class="trade-st-box">
                        <div class="st-slect-section">
                            <div class="trade-form">

                                <div class="form-group has-search">
                                    <input type="text" class="form-control" placeholder="Symbol or Stock Name">
                                    <img src="../../../../../assets/images/icon/Icon awesome-search.png" alt=""
                                        class="form-icon">

                                </div>
                            </div>
                        </div>
                        <div class="st-slect-section">

                            <div class="trade-sel">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Trade Strategy</option>
                                    <option>Long Stock</option>
                                    <option>Short Stock</option>
                                    <option>Long Call</option>
                                    <option>Short Call</option>
                                    <option>Long Put</option>
                                    <option>Covered Call</option>
                                    <option>Married Put</option>
                                    <option>Protective Put</option>
                                    <option>Bull Call Spread</option>
                                    <option>Bull Put Spread</option>
                                    <option>Long Strangle</option>
                                    <option>Short Strangle</option>
                                    <option>Long Straddle</option>
                                    <option>Short Straddle</option>
                                    <option>Iron Condor</option>
                                    <option>Protective Collar</option>
                                    <option>Long Call Butterfly Spread</option>
                                    <option>Long Call Calendar Spread</option>
                                    <option>Long Put Calendar Spread</option>
                                    <option>Custom</option>

                                </select>
                                <img src="../../../../../assets/images/icon/Icon ionic-ios-arrow-down.png" alt=""
                                    class="form-icon-down">


                            </div>
                        </div>
                        <div class="st-slect-section">

                            <div class="trade-sel">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Status</option>
                                    <option>Draft</option>
                                    <option>Open</option>
                                    <option>Closed</option>
                                    <option>Expired</option>
                                </select>
                                <img src="../../../../../assets/images/icon/Icon ionic-ios-arrow-down.png" alt=""
                                    class="form-icon-down">


                            </div>
                        </div>
                        <div class="st-slect-section">
                            <div class="trade-date">
                                <div class="datepicker-group">
                                    <input matInput [matDatepicker]="mydaterange" (click)="mydaterange.open()" placeholder="Entry Date range" id="mydaterange" (dateChange)="addEvent('input', $event)" />
                                    <mat-datepicker-toggle matSuffix [for]="mydaterange"></mat-datepicker-toggle>
                                    <mat-datepicker #mydaterange></mat-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="st-slect-section select-btn">
                            <button class="btn btn-apply">APPLY FILTERS</button> &nbsp; &nbsp;
                            <button type="button" class="btn btn-link ">Clear</button>

                        </div>



                    </div>

                    <!-- Grid row -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Strategy ID</th>
                                <th>Strategy</th>
                                <th>Stock</th>
                                <th>Direction</th>
                                <th>Status</th>
                                <th>Rules Compliance</th>
                                <th>Maximum Gain</th>
                                <th>MaximumLoss</th>
                                <th>Open Date</th>
                                <th>Close Date</th>
                                <th>Return</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr (click)="expandShowDetails(i)" [ngClass]="{'expanded-row': showDetailsIndex == i}" *ngFor="let item of tradeStrategiesData; let i=index" class="table-ac cursor-pointer">

                                <td class="trade-check">
                                    <div class="form-group">
                                        <input type="checkbox" [id]="item.strategyId">
                                        <label [for]="item.strategyId"></label>
                                    </div>
                                </td>
                                <td>{{item.strategyId}}</td>
                                <td>{{item.strategy}}</td>
                                <td>{{item.stock}}</td>
                                <td>
                                    {{item.direction}}

                                    <img [src]="item.directionSymbol" alt="" class="img-fluid">
                                </td>
                                <td [ngClass]="{
                                        'text-primary': item.status == 'Draft',
                                        'text-warning': item.status == 'Open',
                                        'text-danger': item.status == 'Closed',
                                        'text-secondary': item.status == 'Expired'

                                    }">{{item.status}}</td>
                                <td class="trade-check-img">
                                    <img *ngIf="item.rulesCompliance"
                                        src="../../../../../assets/images/Icon feather-check.png" alt=""
                                        class="img-fluid">
                                    <img *ngIf="!item.rulesCompliance"
                                        src="../../../../../assets/images/Icon material-close.png" alt=""
                                        class="img-fluid">
                                </td>
                                <td class="trade-rd">{{item.maxGain}}</td>
                                <td class="trade-rdd">{{item.maxGain}}</td>
                                <td>
                                    <ng-container *ngIf="item.openDate; else elseTemplate">
                                        {{item.openDate}}
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <img src="../../../../../assets/images/Icon awesome-minus.png" alt=""
                                            class="img-fluid">
                                    </ng-template>

                                </td>
                                <td>

                                    <ng-container *ngIf="item.closeDate; else elseTemplate">
                                        {{item.closeDate}}
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <div class="close-dash"></div>

                                    </ng-template>


                                </td>
                                <td class="trade-rdd">{{item.return}}</td>
                                <td class="trade-details">
                                    <img (click)="expandRowOptions(i)" src="../../../../../assets/images/Icon ionic-md-more.png" alt=""
                                        class="img-fluid cursor-pointer">

                                    <div class="trade-det-box"  *ngIf="expandIndex == i">
                                        <div class="de-box">

                                          
                                            <div class="right-con">


                                                <a class="box-icon cursor-pointer" (click)="editTrade()">
                                                    <img src="../../../../../assets/images/icon/Icon material-edit.png"> <span>Edit</span>
                                                </a>
                                                <a class="box-icon cursor-pointer" (click)="closeTrade(item.strategyId)">
                                                    <img src="../../../../../assets/images/icon/Icon material-close.png"> <span>Close</span>
                                                </a>
                                                <a class="box-icon cursor-pointer" (click)="deleteTrade()">
                                                    <img src="../../../../../assets/images/icon/Icon material-delete.png"> <span>Delete</span>
                                                </a>
                                            </div>
                                            <div class="left-icon">
                                                <a class="dt-top-icon cursor-pointer" (click)="closeActionBox()">
                                                    <span></span>
                                                    <img src="../../../../../assets/images/icon/Icon ionic-ios-close-circle.png">
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                </td>


                                <div class="box-table" [ngClass]="{'box-table-even': i%2 == 0, 'box-table-odd': i%2 != 0,'expanded-details': showDetailsIndex == i}" *ngIf="showDetailsIndex == i">
                                    <div class="inner-box">
                                        <ul class="list-inline">
                                            <li style="padding-left: 0;">
                                                <img src="../../../../../assets/images/Ellipse 55.png" alt="">
                                                <em>Bought 200 stock at $1450.62</em>
                                            </li>
                                            <li>
                                                <img src="../../../../../assets/images/Ellipse 55.png" alt="">
                                                <em>Sold 2 contracts of 1500 Call 25-Jun-20 at $12.30</em>
                                            </li>
                                            <li>
                                                <img src="../../../../../assets/images/Ellipse 55.png" alt="">
                                                <em>Bought 2 contracts of 1450 Call 25-Jun-20 at $15.45</em>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>



<!-- for-mobile -->
<div class="trade-st-mobile">
    <div class="container-fluid">

        <div class="trade-top-heading">
            <h3>
                TRADE STRATEGIES
            </h3>
        </div>
    </div>
        <div  class="trad-border"></div> 

        <div class="container-fluid">

            <div class="trade-top-sec">
                <div class="st-slect-section">
                    <div class="trade-form">
    
                        <div class="form-group has-search">
                            <input type="text" class="form-control" placeholder="Symbol or Stock Name">
                            <img src="../../../../../assets/images/icon/Icon awesome-search.png" alt="" class="form-icon">
    
                        </div>
                    </div>
                </div>

            </div>
    
            <div class="trade-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
    
                            <th>Strategy ID</th>
                            <th>Symbol</th>
                            <th>Strategy</th>
                            <th>Status</th>
                            <th>Return</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of minifiedTradeStrategiesData; let i=index">
                            <td class="mobile-de"><a class="trade-h" (click)="expandRowOptions(i)">{{item.strategyId}}</a>
                                <div class="trade-det-box" *ngIf="expandIndex == i">
                                    <div class="de-box">
    
                                        <div class="right-con">
                                            
                                            <a class="box-icon">
                                                <img src="../../../../../assets/images/icon/Icon material-edit.png" alt="">
                                                <span>Edit</span>
                                            </a>
                                            <a class="box-icon" (click)="closeTrade(item.strategyId)">
                                                <img src="../../../../../assets/images/icon/Icon material-close.png" alt="">
                                                <span>Close</span>
                                            </a>
                                            <a class="box-icon">
                                                <img src="../../../../../assets/images/icon/Icon material-delete.png" alt="">
                                                <span>Delete</span>
                                            </a>
                                        </div>
                                        
                                        <div class="dt-top-icon" (click)="closeActionBox()">
                                            <img src="../../../../../assets/images/icon/Icon ionic-ios-close-circle.png"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>{{item.symbol}}</td>
                            <td>{{item.strategy}}</td>
                            <td 
                            [ngClass]="{
                                'text-warning': item.status == 'Open',
                                'text-danger': item.status == 'Closed',
                                'text-primary': item.status == 'Draft',
                                'text-secondary': item.status == 'Expired'
                            }"
                            >{{item.status}}</td>
                            <td class="text-success">{{item.return}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
      
        </div>
</div>