<div class="container-fluid">


        
        <div class="trade-strategies-sec">

            <div class="add-new-trade-btn">
                <a class="add-new">
                    
                        <img src="../../../../../assets/images/icon/Icon ionic-ios-add-circle.png" alt="">
                   

                    ADD NEW TRADE
                </a>
                &nbsp; &nbsp;&nbsp;
                <a class="import-new">
                    
                        <img src="../../../../../assets/images/icon/Icon ionic-ios-add-circle.png" alt="">
                   

                    IMPORT TRADES
                </a>
            </div>
            <div class="trade-strategies-table">
                <div class="card mb-4">
                    <div class="card-body">

                        <!-- trade-btns -->

                        <div class="trade-st-box">
                            <div class="st-slect-section">
                                <div class="trade-form">

                                    <div class="form-group has-search">
                                        <input type="text" class="form-control" placeholder="Symbol or Stock Name">
                                        <img src="../../../../../assets/images/icon/Icon awesome-search.png" alt="" class="form-icon">
        
                                      </div>
                                </div>
                            </div>
                            <div class="st-slect-section">
                                
                             <div class="trade-sel">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Trade Strategy</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                  </select>
                                  <img src="../../../../../assets/images/icon/Icon ionic-ios-arrow-down.png" alt="" class="form-icon-down">

                          
                             </div>
                            </div>
                            <div class="st-slect-section">
                                <div class="trade-date">

                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                          <input type='date' class="form-control input-lg" />
                                        </div>
                                </div>
                                </div>
                            </div>
                            <div class="st-slect-section">
                                
                                <div class="trade-sel">
                                   <select class="form-control" id="exampleFormControlSelect1">
                                       <option>Trade Strategy</option>
                                       <option>2</option>
                                       <option>3</option>
                                       <option>4</option>
                                       <option>5</option>
                                     </select>
                                     <img src="../../../../../assets/images/icon/Icon ionic-ios-arrow-down.png" alt="" class="form-icon-down">
   
                             
                                </div>
                               </div>
                            <div class="st-slect-section">
                               <button class="btn btn-apply">APPLY FILTERS</button> &nbsp; &nbsp;
                               <button type="button" class="btn btn-link ">Clear</button>

                            </div>
                            

                            
                        </div>
                        
                        <!-- Grid row -->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Strategy ID</th>
                                    <th>Strategy</th>
                                    <th>Stock</th>
                                    <th>Direction</th>
                                    <th>Maximum Gain</th>
                                    <th>MaximumLoss</th>
                                    <th>Rules Compliance</th>
                                    <th>Status</th>
                                    <th>Open Date</th>
                                    <th>Close Date</th>
                                    <th>Return</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
    
                                    <td class="trade-check">
                                        <div class="form-group">
                                            <input type="checkbox" id="trade" checked>
                                            <label for="trade"></label>
                                          </div>
                                    </td>
                                    <td>05082020-001</td>
                                    <td>Naked Call  </td>
                                    <td>Facebook</td>
                                    <td>
                                        <img src="../../../../../assets/images/icon/Icon awesome-arrow-up.png" alt="" class="img-fluid">
                                        Long</td>
                                    <td class="trade-rd">$2000</td>
                                    <td class="trade-rdd">-$2000</td>
                                    <td class="trade-check-img">
                                        <img src="../../../../../assets/images/Icon feather-check.png" alt="" class="img-fluid">
                                    </td>
                                    <td class="text-primary">Draft</td>
                                    <td>
                                        <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">
    
                                    </td>
                                    <td>
                                        <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">
    
                                    </td>
                                    <td class="trade-rdd">-$2000</td>
                                    <td class="trade-details">
                                        <img src="../../../../../assets/images/Icon ionic-md-more.png" alt="" class="img-fluid">
                                    </td>
                                </tr>
                                <tr >
                                    <td class="trade-check">
                                        <div class="form-group">
                                            <input type="checkbox" id="trade1" >
                                            <label for="trade1"></label>
                                          </div>
                                    </td>
                                    <td>05082020-001</td>
                                    <td>Naked Call  </td>
                                    <td>Facebook</td>
                                    <td>
                                        <img src="../../../../../assets/images/icon/Icon awesome-minus.png" alt="" class="img-fluid">
    
                                        Long</td>
                                    <td class="trade-rd">$2000</td>
                                    <td class="trade-rdd">-$2000</td>
                                    <td class="trade-check-img">
                                        <img src="../../../../../assets/images/Icon material-close.png" alt="" class="img-fluid">
                                    </td>
                                    <td class="text-warning">Open</td>
                                    <td >
                                        <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">
    
                                    </td>
                                    <td>
                                        <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">
    
                                    </td>
                                    <td class="trade-rd">-$2000</td>
                                    <td class="trade-details">
                                        <img src="../../../../../assets/images/Icon ionic-md-more.png" alt="" class="img-fluid">
    
                                    </td>
                                </tr>
                                <tr >
                                    <td class="trade-check">
                                        <div class="form-group">
                                            <input type="checkbox" id="trade2">
                                            <label for="trade2"></label>
                                          </div>
                                    </td>
                                    <td>05082020-001</td>
                                    <td>Naked Call  </td>
                                    <td>Facebook</td>
                                    <td>
                                        <img src="../../../../../assets/images/Icon awesome-arrow-up.png" alt="" class="img-fluid">
    
                                        Long</td>
                                    <td class="trade-rd">$2000</td>
                                    <td class="trade-rdd">-$2000</td>
                                    <td class="trade-check-img">
                                        <img src="../../../../../assets/images/Icon feather-check.png" alt="" class="img-fluid">
                                    </td>
                                    <td class="text-danger">Close</td>
                                    <td>
                                        <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">
    
                                    </td>
                                    <td>
                                        <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">
    
                                    </td>
                                    <td class="trade-rd">-$2000</td>
                                    <td class="trade-details">
                                        <img src="../../../../../assets/images/Icon ionic-md-more.png" alt="" class="img-fluid">
    
                                    </td>
                                </tr>
                                <tr >
                                    <td class="trade-check">
                                        <div class="form-group">
                                            <input type="checkbox" id="trade3" >
                                            <label for="trade3"></label>
                                          </div>
                                    </td>
                                    <td>05082020-001</td>
                                    <td>Naked Call  </td>
                                    <td>Facebook</td>
                                    <td>
                                        <img src="../../../../../assets/images/icon/Icon awesome-arrow-up.png" alt="" class="img-fluid">
    
                                        Long</td>
                                    <td class="trade-rd">$2000</td>
                                    <td class="trade-rdd">-$2000</td>
                                    <td class="trade-check-img">
                                        <img src="../../../../../assets/images/Icon material-close.png" alt="" class="img-fluid">
                                    </td>
                                    <td class="text-secondary">
                                        Expired
                                    </td>
                                    <td>
                                        <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">
    
                                    </td>
                                    <td>
                                        <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">
    
                                    </td>
                                    <td class="trade-rdd"> -$2000</td>
                                    <td class="trade-details">
                                        <img src="../../../../../assets/images/Icon ionic-md-more.png" alt="" class="img-fluid">
    
                                    </td>
                                </tr>
                                <tr >
                                    <td class="trade-check">
                                        <div class="form-group">
                                            <input type="checkbox" id="trade3" >
                                            <label for="trade3"></label>
                                          </div>
                                    </td>
                                    <td>05082020-001</td>
                                    <td>Naked Call  </td>
                                    <td>Facebook</td>
                                    <td>
                                        <img src="../../../../../assets/images/icon/Icon awesome-arrow-up.png" alt="" class="img-fluid">
    
                                        Long</td>
                                    <td class="trade-rd">$2000</td>
                                    <td class="trade-rdd">-$2000</td>
                                    <td class="trade-check-img">
                                        <img src="../../../../../assets/images/Icon material-close.png" alt="" class="img-fluid">
                                    </td>
                                    <td class="text-secondary">
                                        Expired
                                    </td>
                                    <td>
                                        <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">
    
                                    </td>
                                    <td>
                                        <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">
    
                                    </td>
                                    <td class="trade-rdd"> -$2000</td>
                                    <td class="trade-details">
                                        <img src="../../../../../assets/images/Icon ionic-md-more.png" alt="" class="img-fluid">
    
                                    </td>
                                </tr>
                               
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
  
</div>
