@import "../../../../../assets/styles/variable.scss";

.trade-app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#fff;
  font-size: .89rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  .container {
    background: #242e3a;
    padding: 6px 15px;
  }
  .trade-logo {
    color: $white;
  }


  .trade-socail-icon {
    display: flex;
    align-items: center;
    color: $white;
    justify-content: flex-end;

    img {
      width: 22px;
      height: auto;
      margin-left: 4px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
      padding: 0 10px;
      display: inline-flex;
    }
  }
}
