<div class="trade-app-footer">
    <div class="container">
        <div class="row">
            <div class="trade-logov col-md-5">
                <span>&#169;</span> TradeAnalytix

            </div>
            <div class="trade-socail-icon col-md-7">
                <nav>
                    <ul>
                      <li><a routerLink="/terms-conditions" routerLinkActive="active">Terms & Conditions</a></li>
                      <li><a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></li>
                      <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
                    </ul>
                  </nav>
                    
                <p>Follow us on</p>  &nbsp;
                <img src="../../../assets/images/facebook-footer.svg" alt="">
                <img src="../../../assets/images/linkdin.svg" alt="">

            </div>
        </div>
    </div>
</div>