@import "../../../../../assets/styles/variable.scss";

.trade-app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#c7c7c7;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  .container {
    background: #242e3a;
    padding: 6px 15px;
  }
  .trade-logo {
    color: $white;
  }


  .trade-socail-icon {
    display: flex;
    align-items: center;
    color: #c7c7c7;
    img {
      margin-left: 10px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
      padding: 0 10px;
      display: inline-flex;
    }
  }
}
