<div class="trade-app-footer">
    <div class="p-3 w-100">
        <div class="row">
            <div class="trade-logov col-md-8">
                Copyright <span>&#169;</span> TradeAnalytix | <a routerLink="/terms-conditions" routerLinkActive="active">Terms & Conditions</a>
            </div>
            <div class="trade-socail-icon col-md-4">
                <p>Follow us on</p>  &nbsp;
                <img src="../../../assets/images/twitter.png" alt="twitter" />
                <img src="../../../assets/images/facebook.png" alt="facebook"> /
            </div>
        </div>
    </div>
</div>