@import "../../../../../assets/styles/variable.scss";

.trade-app-footer {
  background: #545454;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  color:#fff;
  font-size: .89rem;
  .trade-logo {
    color: $white;
  }

  .trade-socail-icon {
    display: flex;
    align-items: center;
    color: $white;
    justify-content: flex-end;

    img {
      width: 22px;
      height: auto;
      margin-left: 4px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
      padding: 0 10px;
      display: inline-flex;
    }
  }
}
