

<div class="trade-dash-cards">
    <div class="container-fluid">
    <div class="row">
      
            <div class="col-lg-2 col-md-3 col-sm-6 card-bm">
                <div class="flex-item card-first">
                    <div class="flex-inner">
                        <a>
                            <span>Total Return</span>
                            <h3>
                                +$12,546
                            </h3>
    
                            <div class="card-icon">
                                <img src="../../../assets/images/icon/Icon awesome-arrow-up.svg" alt="">
                            </div>
                        </a>
    
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 card-bm">
                <div class="flex-item card-second">
                    <div class="flex-inner">
                        <a>
                            <span>Win/Loss Ratio</span>
                            <h3>
                                57%
                            </h3>
    
                            <div class="card-icon">
                                <img src="../../../assets/images/icon/Icon awesome-arrow-down.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-2 col-md-3 col-sm-6 card-bm">
                <div class="flex-item card-first">
                    <div class="flex-inner">
                        <a>
                            <span>Largest Gain</span>
                            <h3>
                                $10,000
                            </h3>
    
                            <div class="card-icon">
                                <img src="../../../assets/images/icon/Icon awesome-arrow-up.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 card-bm">
                <div class="flex-item card-fourth">
                    <div class="flex-inner">
                        <a>
                            <span>Trades Executed
                                vs Logged</span>
                            <h3>
                                334 | 558
                            </h3>
    
                            <div class="card-icon">
                                <img src="../../../assets/images/icon/Group 36.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>           
            
            <div class="col-lg-2 col-md-3 col-sm-6 card-bm" >
                <div class="flex-item card-five">
                    <div class="flex-inner">
                        <a>
                            <span>Strategy with
                                higher return</span>
                            <h3>
                                Naked Call
                            </h3>
    
                            <div class="card-icon">
                                <img src="../../../assets/images/icon/Icon awesome-thumbs.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-2 col-md-3 col-sm-6 card-bm">
                <div class="flex-item card-first">
                    <div class="flex-inner">
                        <a>
                            <span>Most Successful
                                Strategy</span>
                            <h3>
                                Iron Condor
                            </h3>
                            <div class="card-icon">
                                <img src="../../../assets/images/icon/Icon awesome-thumbs.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
           
       
    </div>
</div>
</div>

<div class="trade-dash-con">
    <div class="row">
        <div class="col-sm-6">
            <div class="dsh-img">


                <img src="../../../assets/images//Group 369.svg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dsh-img">

                <img src="../../../assets/images/Group 368.svg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dsh-img">
                <img src="../../../assets/images/Group 366.svg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dsh-img">
                <img src="../../../assets/images/Group 367.svg" alt="" class="img-fluid">

            </div>
        </div>
    </div>
</div>

<!-- Trade Strategies  -->

<div class="trade-strategies-section">
    <div class="trade-strategies-sec">
        <div class="trade-strategies-table">
            <div class="card mb-4">
                <div class="card-body">
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-12">
                            <h2 class="py-3 text-left font-bold font-up success-text">Trade Strategies </h2>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Strategy ID</th>
                                <th>Strategy</th>
                                <th>Stock</th>
                                <th>Direction</th>
                                <th>Maximum Gain</th>
                                <th>MaximumLoss</th>
                                <th>Rules Compliance</th>
                                <th>Status</th>
                                <th>Open Date</th>
                                <th>Close Date</th>
                                <th>Return</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >

                                <td class="trade-check">
                                    <div class="form-group">
                                        <input type="checkbox" id="trade" checked>
                                        <label for="trade"></label>
                                      </div>
                                </td>
                                <td>05082020-001</td>
                                <td>Naked Call  </td>
                                <td>Facebook</td>
                                <td>
                                    <img src="../../../../../assets/images/icon/Icon awesome-arrow-up.png" alt="" class="img-fluid">
                                    Long</td>
                                <td class="trade-rd">$2000</td>
                                <td class="trade-rdd">-$2000</td>
                                <td class="trade-check-img">
                                    <img src="../../../../../assets/images/Icon feather-check.png" alt="" class="img-fluid">
                                </td>
                                <td class="text-primary">Draft</td>
                                <td>
                                    <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">

                                </td>
                                <td>
                                    <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">

                                </td>
                                <td class="trade-rdd">-$2000</td>
                                <td class="trade-details">
                                    <img src="../../../../../assets/images/Icon ionic-md-more.png" alt="" class="img-fluid">
                                </td>
                            </tr>
                            <tr >
                                <td class="trade-check">
                                    <div class="form-group">
                                        <input type="checkbox" id="trade1" >
                                        <label for="trade1"></label>
                                      </div>
                                </td>
                                <td>05082020-001</td>
                                <td>Naked Call  </td>
                                <td>Facebook</td>
                                <td>
                                    <img src="../../../../../assets/images/icon/Icon awesome-minus.png" alt="" class="img-fluid">

                                    Long</td>
                                <td class="trade-rd">$2000</td>
                                <td class="trade-rdd">-$2000</td>
                                <td class="trade-check-img">
                                    <img src="../../../../../assets/images/Icon material-close.png" alt="" class="img-fluid">
                                </td>
                                <td class="text-warning">Open</td>
                                <td >
                                    <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">

                                </td>
                                <td>
                                    <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">

                                </td>
                                <td class="trade-rd">-$2000</td>
                                <td class="trade-details">
                                    <img src="../../../../../assets/images/Icon ionic-md-more.png" alt="" class="img-fluid">

                                </td>
                            </tr>
                            <tr >
                                <td class="trade-check">
                                    <div class="form-group">
                                        <input type="checkbox" id="trade2">
                                        <label for="trade2"></label>
                                      </div>
                                </td>
                                <td>05082020-001</td>
                                <td>Naked Call  </td>
                                <td>Facebook</td>
                                <td>
                                    <img src="../../../../../assets/images/Icon awesome-arrow-up.png" alt="" class="img-fluid">

                                    Long</td>
                                <td class="trade-rd">$2000</td>
                                <td class="trade-rdd">-$2000</td>
                                <td class="trade-check-img">
                                    <img src="../../../../../assets/images/Icon feather-check.png" alt="" class="img-fluid">
                                </td>
                                <td class="text-danger">Close</td>
                                <td>
                                    <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">

                                </td>
                                <td>
                                    <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">

                                </td>
                                <td class="trade-rd">-$2000</td>
                                <td class="trade-details">
                                    <img src="../../../../../assets/images/Icon ionic-md-more.png" alt="" class="img-fluid">

                                </td>
                            </tr>
                            <tr >
                                <td class="trade-check">
                                    <div class="form-group">
                                        <input type="checkbox" id="trade3" >
                                        <label for="trade3"></label>
                                      </div>
                                </td>
                                <td>05082020-001</td>
                                <td>Naked Call  </td>
                                <td>Facebook</td>
                                <td>
                                    <img src="../../../../../assets/images/icon/Icon awesome-arrow-up.png" alt="" class="img-fluid">

                                    Long</td>
                                <td class="trade-rd">$2000</td>
                                <td class="trade-rdd">-$2000</td>
                                <td class="trade-check-img">
                                    <img src="../../../../../assets/images/Icon material-close.png" alt="" class="img-fluid">
                                </td>
                                <td class="text-secondary">
                                    Expired
                                </td>
                                <td>
                                    <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">

                                </td>
                                <td>
                                    <img src="../../../../../assets/images/Icon awesome-minus.png" alt="" class="img-fluid">

                                </td>
                                <td class="trade-rdd"> -$2000</td>
                                <td class="trade-details">
                                    <img src="../../../../../assets/images/Icon ionic-md-more.png" alt="" class="img-fluid">

                                </td>
                            </tr>
                           
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
