<!-- entry second -->
<div class="trade-details-header">
    <div class="trade-rate-box-title">
        {{getDisplayValue(selectedStock.name)}} ({{getDisplayValue(selectedStock.code)}})
        <span *ngIf="!addTrade"> - {{StrategyId.uid}}</span>
    </div>
    <div class="addnew-second">
        <div class="trade-rate-box">
            <div class="trade-rate-box-header">
                <div class="text-left trade-name-rate">
                    <div class="d-flex align-items-center">
                        <span class="trade-r">{{stockSummary.close}}</span>
                        <span [ngClass]="{'d-flex trade-rr': stockSummary.changePercent <= 0, 'd-flex trade-g' : stockSummary.changePercent > 0}">
                            <i *ngIf="stockSummary.changePercent > 0" class="positive-amt material-icons mat-icon-xs">arrow_upward</i>
                            <i *ngIf="stockSummary.changePercent <= 0" class="negative-amt material-icons mat-icon-xs">arrow_downward</i>
                        {{getDisplayValue(stockSummary.changePercent, '%')}}
                        </span>
                    </div>
                    <span>{{getDisplayValue(selectedStock.code)}}</span>
                </div>

                <div class="bxo-name">
                    <h6>{{getDisplayValue(stockSummary.open)}}</h6>
                    <span>Prev Close</span>
                </div>
                <div class="bxo-name bxo-name-lg">
                    <h6>{{getDisplayValue(stockSummary.low)}} - {{getDisplayValue(stockSummary.high)}}</h6>
                    <span>Days Range</span>
                </div>
                <div class="bxo-name">
                    <h6>{{getDisplayValue(stockSummary.volume)}}</h6>
                    <span>Volume</span>
                </div>
                <div class="bxo-name bxo-name-lg">
                    <h6>{{getDisplayValue(stockSummary.week52Low)}} - {{getDisplayValue(stockSummary.week52High)}}</h6>
                    <span>52-Wk Range</span>
                </div>
                <div class="bxo-name">
                    <h6>{{getDisplayValue(stockSummary.marketCapitalBln)}}</h6>
                    <span>Mkt Cap</span>
                </div>
                <div class="bxo-name">
                    <h6>{{getDisplayValue(stockSummary.revenueBln, 'B')}}</h6>
                    <span>Revenue</span>
                </div>
                <div class="bxo-name">
                    <h6>{{getDisplayValue(stockSummary.operatingMargin, '%')}}</h6>
                    <span>Oper. Margin</span>
                </div>
                <div class="bxo-name bxo-name-sm">
                    <h6>NA</h6>
                    <span>P/E</span>
                </div>
                <div class="bxo-name bxo-name-sm">
                    <h6>NA</h6>
                    <span>P/S</span>
                </div>
            </div>

            <!-- <div class="text-right read-more">
        <span class="d-flex btn-link cursor" (click)="showMoreStats()">
            <i *ngIf="allStats" class="negative-amt material-icons">arrow_upward</i>
            <i *ngIf="!allStats" class="negative-amt material-icons">arrow_downward</i> 
        </span>
        </div> -->
        </div>
    </div>
</div>
<!-- trade-details-header-mobile -->
<div class="trade-details-header-mobile">
    <div class="row mb-1">
        <div class="col-12 pl-2">
            <div class="trade-header-row">
                <div class="w-100 d-flex">
                    <span class="cursor" (click)="CollapsTradeHeader()">
                        <i class="material-icons mat-icon-sm">{{hideTradeHeader ? 'keyboard_arrow_down' : 'keyboard_arrow_right'}}</i>
                    </span>
                    <span class="trade-r">{{getDisplayValue(selectedStock.code)}}</span>
                    <span class="ml-2">{{stockSummary.close}}</span>
                </div>
                <div class="d-flex align-items-center pl-3" [ngClass]="{'trade-rr': stockSummary.changePercent <= 0, 'd-flex trade-g' : stockSummary.changePercent > 0}">
                    <i *ngIf="stockSummary.changePercent > 0" class="positive-amt material-icons mat-icon-xs">arrow_upward</i>
                    <i *ngIf="stockSummary.changePercent <= 0" class="negative-amt material-icons mat-icon-xs">arrow_downward</i>
                {{getDisplayValue(stockSummary.changePercent, '%')}}
                </div>
            </div>
            
        </div>
    </div>
    <div *ngIf="hideTradeHeader">
        <div class="row trade-header-row">
            <span class="col-6 trade-header-col-1">Prev Close</span>
            <span class="col-6">{{getDisplayValue(stockSummary.open)}}</span>
        </div>
        <div class="row trade-header-row">
            <span class="col-6 trade-header-col-1">Days Range</span>
            <span class="col-6">{{getDisplayValue(stockSummary.low)}} - {{getDisplayValue(stockSummary.high)}}</span>
        </div>
        <div class="row trade-header-row">
            <span class="col-6 trade-header-col-1">Volume</span>
            <span class="col-6">{{getDisplayValue(stockSummary.volume)}}</span>
        </div>
        <div class="row trade-header-row">
            <span class="col-6 trade-header-col-1">52-Wk Range</span>
            <span class="col-6">{{getDisplayValue(stockSummary.week52Low)}} - {{getDisplayValue(stockSummary.week52High)}}</span>
        </div>
        <div class="row trade-header-row">
            <span class="col-6 trade-header-col-1">Mkt Cap</span>
            <span class="col-6">{{getDisplayValue(stockSummary.marketCapitalBln)}}</span>
        </div>
        <div class="row trade-header-row">
            <span class="col-6 trade-header-col-1">Revenue</span>
            <span class="col-6">{{getDisplayValue(stockSummary.revenueBln, 'B')}}</span>
        </div>
        <div class="row trade-header-row">
            <span class="col-6 trade-header-col-1">Oper. Margin</span>
            <span class="col-6">{{getDisplayValue(stockSummary.operatingMargin, '%')}}</span>
        </div>
        <div class="row trade-header-row">
            <span class="col-6 trade-header-col-1">P/E</span>
            <span class="col-6">NA</span>
        </div>
        <div class="row trade-header-row">
            <span class="col-6 trade-header-col-1">P/S</span>
            <span class="col-6">NA</span>
        </div>
    </div>
</div>