@import "../../../../../assets/styles/variable.scss";
@import "../../../../../assets/styles/breakpoints.scss";

.addnew-trade {
  padding: 0px 20px;
}
.addnew-second {
  background-color: #f6f7fa;
}

.btn-enter {
  background-color: #0183c0;
  color: $white;
  padding: 6px 40px;
}

.trade-right-search .form-control {
  border: 1px solid #a2a2a2;
  // height: 40px;
}

.trade-right-search {
  position: relative;
  width: 200px;

  @include media(">tablet", "<laptop") {
    width: 150px;
  }
}

img.form-icon {
  position: absolute;
  right: 11px;
  top: 9px;
  width: 19px;
}

.trade-rate {
  display: flex;
  align-items: center;
}

.trade-name {
  margin-bottom: 5px;
  h5 {
    font-weight: bold;
  }
}

span.trade-r {
  color: black;
  font-weight: bold;
  font-size: 20px;
}
span.trade-rr {
  color: #ff0000;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

span.trade-g {
  color: #027512;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.trade-rate-sec {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  @media #{$small} {
    flex-wrap: wrap;
  }
}
.rate-box-right {
  width: 50%;
  border-right: 1px solid #bdbdbdb3;
  @media #{$small} {
    border-right: unset;
  }
}

.rate-box-left {
  width: 50%;
  @media #{$small} {
    width: 53%;
  }
}

.trade-rate-heading {
  h6 {
    color: $primary;
  }
}

.rate-box-s {
  width: 15%;
  @media #{$small} {
    width: 50%;
    border: 1px solid #ddd;
    padding: 10px;
  }
}

.rate-box {
  width: 26%;
  display: flex;
  justify-content: flex-start;
  @media #{$small} {
    width: 50%;
    border: 1px solid #ddd;
    padding: 10px;
  }
}
.trade-rate-box-header {
  display: flex;
  // justify-content: space-between;
}
.trade-rate-box-row {
  // justify-content: space-between;
  display: flex;
}

.bxo-name {
  margin-bottom: 12px;
  width: 12%;
  text-align: center;

  span {
    font-size: 14px;
  }
  h6 {
    color: #000;
    font-size: 1rem;
    font-weight: 700;
  }
}
.bxo-name-sm {
  width: 8%;
}

.trad-border {
  border: 1px solid #acacac;
  opacity: 0.2;
}

.mat-stepper-horizontal.mat-horizontal-content-container {
  padding: 0px !important;
}

.search_btn .btn-add {
  width: 110px;
  height: 40px;
  line-height: 28px;
  background: $appbtn-color;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  // margin-top: 24px;
}
.btn-next {
  padding: 8px 40px;
  background: $appbtn-color;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
}
.btn:hover {
  color: $white;
}

.order-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media #{$extra-small} {
    justify-content: space-between;
  }
}
a.btn.btn-skip {
  color: $appbtn-color;
  right: 0px;
  position: absolute;
  font-size: 15px;
}

.gap-btn {
  margin-left: 15px;
}

.trade-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-top: 10px;
  flex-wrap: wrap;
  @include media(">tablet", "<laptop") {
    width: 100%;
  }

  @media #{$small} {
    width: 100%;
  }
  @media #{$extra-small} {
    width: 100%;
  }
}

.gap-btn {
  margin-left: 15px;
}

.Trade-type .form-control {
  height: 40px;
  width: 140px;
  font-size: 14px;
}

.trade-sec h6 {
  font-size: 16px;
  color: $primary;
  margin-bottom: 10px !important;
}

.btn-secondary {
  color: $white;
  text-transform: uppercase;
  width: 110px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}

.trade-risk-section {
  margin-top: 20px;
}
.trade-cards-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 40px 0px 20px 0px;
  // flex-wrap: wrap;
  @media #{$extra-small} {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
  }
  @media #{$small} {
    flex-wrap: wrap;
    justify-content: flex-start;
    // margin-bottom: 10px;
  }
  @media #{$medium} {
    flex-wrap: wrap;
    // margin-bottom: 10px;
  }
  .trade-card-box {
    width: 20%;
    // min-width: 260px;
    background: #f2f2f2;
    height: auto;
    min-height: 390px;
    display: flex;
    flex-direction: column;
    padding: 14px;
    justify-content: flex-start;
    align-items: flex-start;
    // margin-left: 20px;
    @media #{$extra-small} {
      min-height: 350px;
      margin-bottom: 10px;
      min-width: 196px !important;
      border: 1px solid #ddd;
    }
    @media #{$small} {
      margin-bottom: 10px;
      width: 48%;
      min-height: 420px;
      margin-left: 8px;
    }
    @media #{$medium} {
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: 0px;
      width: 22%;
      min-height: 420px;
    }
    .top-heading {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      align-items: baseline;
      margin-bottom: 10px;
      img {
        width: 14px;
        cursor: pointer;
      }
    }
    .card-main {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 10px;
      .card-left {
        width: 45%;
        padding-left: 5px;
        span {
          font-size: 13px;
        }
      }
      .card-right {
        width: 52%;
        h6 {
          font-size: 12px;

          @media #{$medium} {
            font-size: 12px;
          }
        }
        .cards-input {
          font-size: 13px !important;
          height: 40px;
          padding: 0px;
          padding-left: 10px !important;
        }

        .select-input {
          padding: 0px 8px;
          height: 40px;
          font-size: 13px;
        }
      }
    }
  }
}

.trade-card-box {
  @media #{$extra-small} {
    margin: 0px 0px 0px 0px;
  }
}

.btn-yes,
.btn-no {
  padding: 10px 25px;
  border-radius: 5px;
}
.btn-yes {
  background-color: #219563;
  color: $white;
}
.btn-no {
  background-color: #e2e2e2;
  color: #000;
  margin-left: 10px;
}

.btn-no:hover {
  color: #000;
}

.trade-risk h6 {
  font-size: 16px;
  font-weight: 500;
  color: #016db0;

  @media #{$extra-small} {
    margin-bottom: 10px !important;
  }
}

.trade-risk {
  margin: 10px 0px;
}

.risk-stock-seciton {
  display: flex;
  width: 97%;
  align-items: center;
  @media #{$medium} {
    width: 100%;
  }
}

.stock-inc {
  border: 1px solid #7070703d;
  padding: 4px 8px;
  border-radius: 50px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  // margin: 0 auto;
  a {
    cursor: pointer;
    img {
      width: 20px;
      height: auto;
    }
  }

  span {
    margin: 0px 5px;
  }
}

.stock-name {
  width: 50%;
  span {
    font-size: 13px;
  }
}

.risk-box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  @media #{$small} {
    margin-bottom: 20px;
    width: 48%;
    border: 1px solid #ddd;
    padding: 12px;
    margin-right: 10px;
  }
  @media #{$medium} {
    margin-bottom: 20px;
    width: 23%;
    border: 1px solid #ddd;
    padding: 8px;
    margin-right: 10px;
  }
}
.risk-af {
  position: relative;

  @media #{$extra-small} {
    margin-bottom: 20px;
  }
}

.risk-af::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 2px;
  height: 60%;
  background-color: #7070703b;
  z-index: 9;
  opacity: 0.5;

  @media #{$extra-small} {
    display: none;
  }
  @media #{$small} {
    display: none;
  }
  @media #{$medium} {
    display: none;
  }
}
.card-m{
  margin-left: 10px;
  @media #{$small} {
    margin-left: 0px;
  }
  @media #{$medium} {
    margin-left: 0px;
  }
}


.risk-bt {
  margin-bottom: 20px;
}

.trade-risk-heading {
  margin-bottom: 40px;
  h6 {
    // font-size: 14px;
    font-weight: 500;
    color: #016db0;
  }

  p {
    display: block;
    margin-top: 15px;
    font-size: 13px;
  }
}

.trade-risk-stock {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  @media #{$small} {
    flex-wrap: wrap;
  }
  @media #{$medium} {
    flex-wrap: wrap;
  }
}

// risk tabs
.tab .nav-tabs {
  border-bottom: 2px solid #e8e8e8;
}
.tab .nav-tabs li a {
  display: block;
  padding: 10px 20px;
  margin: 0 5px 1px 0;
  background: #fff;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  text-align: center;
  border: none;
  border-radius: 0;
  z-index: 2;
  position: relative;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a {
  color: $primary !important;
  border: none;
}

.tab .nav-tabs li.active a:after {
  content: "";
  width: 100%;
  height: 2px;
  background: $primary;
  position: absolute;
  bottom: -3px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}
.tab .tab-content {
  padding: 30px 0px;
  margin-top: 0;
  background: #fff;
  font-size: 15px;
  color: #7a9181;
  line-height: 30px;
  border-radius: 0 0 5px 5px;
  @media #{$extra-small} {
    overflow-y: scroll;
  }
  @media #{$small} {
    overflow-y: scroll;
  }
  @media #{$medium} {
    overflow-y: scroll;
  }
}
.tab .tab-content h3 {
  font-size: 24px;
  margin-top: 0;
}
@media only screen and (max-width: 479px) {
  .tab .nav-tabs li {
    width: 100%;
    text-align: center;
  }
  .tab .nav-tabs li.active a:before {
    content: "\f105";
    bottom: 15%;
    left: 0;
    right: auto;
  }
}

.charts {
  img {
    width: 50%;
  }
}

// risk table

.risk-tabs-table {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
    width: 100%;
  margin: 0px 0;
  @media #{$small} {
    width: auto;
  }
}

.risk-table {
  width: 30%;
  height: auto;
  min-height: 340px;
  border-right: 1px solid;
  padding: 0px 10px;
  @media #{$small} {
    width: 50%;
  }

  h6 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px !important;
    color: #000;
  }
  table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    thead {
      th {
        background: #707070;
        color: white;
        font-size: 13px;
        font-weight: normal;
        @media #{$small} {
          font-size: 12px;
        }
      }

      &:nth-child(2) {
        display: block;
        margin: 0 12px;
        @media #{$small} {
          display: inline;
        }
      }
    }

    td {
      font-size: 13px;
      font-weight: 400;
      //   color: #4f5051;
      border-bottom: 1px solid #bfbfbf;
      @media #{$small} {
        padding: 0px 10px;
      }
    }
  }
}
.risk-tables {
  width: 8%;
  height: auto;
  min-height: 340px;

  padding: 0px 18px;
  @media #{$small} {
    width: 9%;
  }
  h6 {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px !important;
    color: #000;
  }
  table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    thead {
      th {
        background: #707070;
        color: white;
        font-size: 14px;
        font-weight: normal;
        @media #{$small} {
          font-size: 12px;
        }
      }

      &:nth-child(2) {
        display: block;
        margin: 0 12px;
      }
    }

    td {
      font-size: 13px;
      font-weight: 400;
      //   color: #4f5051;
      border-bottom: 1px solid #bfbfbf;
      @media #{$small} {
        padding: 0px 10px;
      }
    }
  }
}

// thead th:nth-child(2) {
//   display: block;
//   margin: 0 12px;
// }

.trade-rdd {
  color: #e11c1c;
}

.trade-rd {
  color: #1cb86a;
}

.trade-form {
  .row {
    justify-content: center;
    align-items: center;
  }
  .trade-he {
    display: flex;
    justify-content: flex-end;
  }

  @include media(">tablet", "<laptop") {
    .btn-enter {
      text-align: center;
    }

    .trade-he {
      display: flex;
      justify-content: center;
      // margin-bottom: 10px;
    }
  }
}

.stock-p {

  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  p{
    // margin-left: -12px;
    position: absolute;
    right: 5px;
  }

  .hide-bars {
    width: 80%;
    text-align: center;
}
}


.current-stock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 8%;
  margin-top: 5px;
  P{
    font-size: 14px;
  }

}
.read-more {
  margin-top: -32px;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}