<!-- entry second -->
<div class="addnew-second px-3 py-2">
  <div class="trade-rate-box">
    <div class="trade-rate-box-header">
      <div class="text-left">
        <span>{{getDisplayValue(selectedStock.name)}}</span>
        <div class="trade-name-rate d-flex align-items-center">
          <span class="trade-r">{{stockSummary.close}}</span>
          <span [ngClass]="{'d-flex trade-rr': stockSummary.changePercent <= 0, 'd-flex trade-g' : stockSummary.changePercent > 0}">
            <i *ngIf="stockSummary.changePercent > 0" class="positive-amt material-icons">arrow_upward</i>
            <i *ngIf="stockSummary.changePercent <= 0" class="negative-amt material-icons">arrow_downward</i>
           {{getDisplayValue(stockSummary.changePercent, '%')}}
          </span>
        </div>
      </div>

      <div class="bxo-name">
        <span>Prev Close</span>
        <h6>{{getDisplayValue(stockSummary.open)}}</h6>
      </div>
      <div class="bxo-name">
        <span>Days Range</span>
        <h6>{{getDisplayValue(stockSummary.low)}} - {{getDisplayValue(stockSummary.high)}}</h6>
      </div>
      <div class="bxo-name">
        <span>Volume</span>
        <h6>{{getDisplayValue(stockSummary.volume)}}</h6>
      </div>
      <div class="bxo-name">
        <span>52-Wk Range</span>
        <h6>{{getDisplayValue(stockSummary.week52Low)}} - {{getDisplayValue(stockSummary.week52High)}}</h6>
      </div>
      <div class="bxo-name">
        <span>Mkt Cap</span>
        <h6>{{getDisplayValue(stockSummary.marketCapitalBln)}}</h6>
      </div>
      <div class="bxo-name">
        <span>Revenue</span>
        <h6>{{getDisplayValue(stockSummary.revenueBln, 'B')}}</h6>
      </div>
      <div class="bxo-name">
        <span>Oper. Margin</span>
        <h6>{{getDisplayValue(stockSummary.operatingMargin, '%')}}</h6>
      </div>
      <div class="bxo-name">
        <span>P/E</span>
        <h6>NA</h6>
      </div>
      <div class="bxo-name">
        <span>P/S</span>
        <h6>NA</h6>
      </div>
    </div>

    <!-- <div class="text-right read-more">
      <span class="d-flex btn-link cursor" (click)="showMoreStats()">
        <i *ngIf="allStats" class="negative-amt material-icons">arrow_upward</i>
        <i *ngIf="!allStats" class="negative-amt material-icons">arrow_downward</i> 
      </span>
    </div> -->
  </div>
</div>