<!-- <div class="addnew-second" *ngIf="selectedStock && stockSummaryResult"> -->
<div class="net_debit">
    <div class="row no-gutters justify-content-between align-items-center">
        <div class="widget_item" *ngIf="maxRiskDetails">
            <h6 class="widget_item-value maximum_proﬁt">{{maxRiskDetails.maxProfit}}</h6>
            <span class="widget_item-title d-flex align-items-center">
                Maximum Proﬁt 
                <mat-icon matTooltip="Estimated maximum profit on the trade strategy by calculating stock’s upside based on 30-day volatility" matTooltipPosition="right" class="ml-2 mat-icon-sm cursor" matTooltipClass="custom-tooltip" [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay">info</mat-icon>
            </span>
        </div>
        <div class="widget_item" *ngIf="maxRiskDetails">
            <h6 class="widget_item-value maximum_risk">{{maxRiskDetails.maxRisk}}</h6>
            <span class="widget_item-title d-flex align-items-center">
                Maximum Risk 
                <mat-icon matTooltip="Estimated maximum loss on the trade strategy by calculating stock’s downside based on 30-day volatility" matTooltipPosition="right" class="ml-2 mat-icon-sm cursor" matTooltipClass="custom-tooltip" [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay">info</mat-icon>
            </span>
        </div>
        <div class="widget_item">
            <button type="button" *ngIf="!viewTrade" class="btn p-0 text-link"
                (click)="calculateMaxProfitAndRisk()">Calculate Max Risk</button>
        </div>

        <div class="closed_date_sec" *ngIf="closeTrade"
            [ngClass]="closeTrade || viewTrade ? 'justify-content-between' : 'realized_label'">
            <div>
                <label class="col-form-label mr-2">Closed Date <span class="text-danger">*</span></label>
                <div class="datepicker-group datepicker-sm">
                    <input matInput [matDatepicker]="closed_date" (click)="closed_date.open()" id="closed_date"
                        (dateChange)="addEvent('input', $event)" name="stockOptions[index].closed_date"
                        [(ngModel)]="closeDate" [ngClass]="viewTrade ? 'disabled' : ''" [max]="maxDate" />
                    <mat-datepicker-toggle matSuffix [for]="closed_date" [ngClass]="viewTrade ? 'disabled' : ''">
                    </mat-datepicker-toggle>
                    <mat-datepicker #closed_date></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="widget_item">
            <h6 class="widget_item-value" [ngClass]="(closeTrade || viewTrade) ? 'total_return' : ''">
                {{getTotalAmount()}}</h6>
            <span class="widget_item-title">{{ (closeTrade || viewTrade) ? 'Return' : 'Cost of Trade'}}</span>
        </div>
        <!-- <div class="net_debit">
            <span class="total_label">Total {{closeTrade ? 'Return' : 'Amount'}} </span>
            <span class="total_amount mx-1" [ngClass]="closeTrade ? 'total_return' : ''">{{getTotalAmount()}}</span>
        </div> -->
    </div>
</div>