<!-- <div class="addnew-second" *ngIf="selectedStock && stockSummaryResult"> -->
<div class="net_debit">
    <!-- <div class="widget_item" *ngIf="maxRiskDetails">
        <h6 class="widget_item-value maximum_proﬁt">{{maxRiskDetails.maxProfit}}</h6>
        <span class="widget_item-title d-flex align-items-center">
            Maximum Proﬁt 
            <mat-icon matTooltip="Maximum profit is estimated at the current implied volatility and days left to expiration" matTooltipPosition="right" class="ml-2 mat-icon-xs info-icon cursor" matTooltipClass="custom-tooltip w-50" [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay">info_outline</mat-icon>
        </span>
    </div>
    <div class="widget_item" *ngIf="maxRiskDetails">
        <h6 class="widget_item-value maximum_risk">{{maxRiskDetails.maxRisk}}</h6>
        <span class="widget_item-title d-flex align-items-center">
            Maximum Risk 
            <mat-icon matTooltip="Maximum risk is estimated at the current implied volatility and days left to expiration" matTooltipPosition="right" class="ml-2 mat-icon-xs info-icon cursor" matTooltipClass="custom-tooltip w-50" [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay">info_outline</mat-icon>
        </span>
    </div> -->
    <!-- <div class="widget_item">
        <span *ngIf="(addTrade && stockOrOptionAdded) || editTrade" class="text-link d-flex"
            (click)="calculateMaxProfitAndRisk()">Estimate Profit and Risk
            <mat-icon matTooltip="Maximum risk and maximum profit is estimated at the current implied volatility and days left to expiration. The values might change as the IV and days left gets updated" matTooltipPosition="right" class="ml-2 mat-icon-xs info-icon cursor" matTooltipClass="custom-tooltip w-50" [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay">info_outline</mat-icon>
        </span>
    </div> -->

    <!-- <div class="closed_date_sec" *ngIf="closeTrade"
        [ngClass]="closeTrade || viewTrade ? 'justify-content-between' : 'realized_label'">
        <div>
            <label class="col-form-label mr-2">Closed Date <span class="text-danger">*</span></label>
            <div class="datepicker-group datepicker-sm">
                <input matInput [matDatepicker]="closed_date" (click)="closed_date.open()" id="closed_date" name="stockOptions[index].closed_date"
                    [(ngModel)]="closeDate" [ngClass]="viewTrade ? 'disabled' : ''" [max]="maxDate" (dateChange)="updateCloseDate($event)" />
                <mat-datepicker-toggle matSuffix [for]="closed_date" [ngClass]="viewTrade ? 'disabled' : ''">
                </mat-datepicker-toggle>
                <mat-datepicker #closed_date></mat-datepicker>
            </div>
        </div>
    </div> -->
    <div class="d-flex align-items-center justify-content-end">
        <span class="widget_item-title mr-3">{{ (closeTrade || viewTrade) ? 'Return' : 'Cost of Trade'}}</span>
        <h6 class="widget_item-value" [ngClass]="(closeTrade || viewTrade) ? 'total_return' : ''">
            {{getTotalAmount()}}</h6>
        
    </div>
    <!-- <div class="net_debit">
        <span class="total_label">Total {{closeTrade ? 'Return' : 'Amount'}} </span>
        <span class="total_amount mx-1" [ngClass]="closeTrade ? 'total_return' : ''">{{getTotalAmount()}}</span>
    </div> -->
</div>