<div class="sub-nav">
    <a [routerLink]="['/positions/']" routerLinkActive="router-link-active">
        <span>Positions</span>
        
    </a>
    <a [routerLink]="['/holdings/']" routerLinkActive="router-link-active" class="active-item">
        <span>Holdings</span>
        <span class="circle ml-1" *ngIf="isMobileDevice && holdingsResponse.data.data.length > 0">{{holdingsResponse.data.data.length}}</span>
    </a>
</div>
<div class="container-main">
    <div class="content-main">
        <!-- <h3><button class="button-transparent" (click)='adminCreateHolding()'>Holdings ({{holdingsCount}})</button></h3> -->
        <div class="data-table instruments-table fold-header mt-2" *ngIf="!isMobileDevice">
            <table>
                <thead>
                    <tr>
                        <th class="instrument-cell">Instrument</th>
                        <th class="qty-cell">Quantity</th>
                        <th class="avgcost-cell">Avg.Cost</th>
                        <th class="ltp-cell">LTP</th>
                        <th class="currval-cell">Current Value</th>
                        <th class="netprofit-cell">Net Profit</th>
                        <th class="netchange-cell">Net Change</th>
                        <th class="daychange-cell">Day Change</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rowData of holdingsResponse.data.data, let i=index">
                        <td>{{rowData.instrument.symbol}}</td>
                        <td class="text-right">{{rowData.quantity}}</td>
                        <td class="text-right">{{rowData.average | number:'1.2-2'}}</td>
                        <td class="text-right">{{rowData.ltp | number:'1.2-2'}}</td>
                        <td class="text-right">{{rowData.current_value | number:'1.2-2'}}</td>
                        <td class="text-right"><span class="text-success" [ngClass]="rowData.p_and_l > -1 ? 'text-success' : 'text-danger'">{{rowData.p_and_l | number:'1.2-2'}}</span></td>
                        <td class="text-right"><span [ngClass]="rowData.net_change > 0 ? 'text-success' : 'text-danger'">{{rowData.net_change | number:'1.2-2'}}%</span></td>
                        <td class="text-right"><span [ngClass]="rowData.net_change > 0 ? 'text-success' : 'text-danger'">{{rowData.day_change | number:'1.2-2'}}%</span></td>
                        <td>
                        </td>
                    </tr>
                    <tr *ngIf="holdingsResponse.data.data.length === 0">
                        <td colspan="8" class="text-center">No Holdings</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="gtt-list cards" *ngIf="isMobileDevice">
            <div class="gtt-list-header">
                <div class="gtt-list-header-content">
                    <div class="d-flex justify-content-between pb-2">
                        <div>
                            <span class="dim">Invested</span>
                            <div class="text-black">54,470.17</div>
                        </div>
                        <div class="text-right">
                            <span class="dim">Current</span>
                            <div class="text-black">54,470.17</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-top pt-2">
                        <span class="dim">P&L</span>
                        <div class="text-right">
                            <span [ngClass]="holdingsResponse.data.total_p_and_l > -1 ? 'text-success' : 'text-danger'">{{holdingsResponse.data.total_p_and_l | number:'1.2-2'}}</span>
                        </div>
                    </div>
                    
                </div>
            </div>

            <!-- card:: start -->
            <div class="card" *ngFor = "let rowData of holdingsResponse.data.data">
                <div class="top flex">
                    <div class="flex6">
                        {{rowData.instrument.symbol}}
                    </div>
                    <div class="flex6 text-right">
                        <span class="text-xsmall dim">Quantity</span> 
                        <span class="ml-1">{{rowData.quantity}}</span>
                    </div>
                </div>
                <div class="middle flex">
                    <div class="flex6">
                        <span class="text-xsmall dim">Avg.Cost</span> 
                        <span class="ml-1">{{rowData.average}}</span>
                    </div>
                    <div class="flex6 text-right">
                        <span class="text-xsmall dim">Cur.Value</span> 
                        <span class="ml-1">{{rowData.current_value}}</span>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex6">
                        <span class="text-xsmall dim">Net Profit</span> 
                        <span class="ml-1" [ngClass]="rowData.p_and_l > 0 ? 'text-success' : 'text-red'">{{rowData.p_and_l}}</span>

                        <span class="ml-3 pl-3">
                            <span class="text-xsmall dim">Net Change</span> 
                            <span class="ml-1" [ngClass]="rowData.net_change > 0 ? 'text-success' : 'text-red'">{{rowData.net_change}}</span>
                        </span>
                    </div>
                    <div class="flex6 text-right">
                        <span class="text-xsmall dim">Day Change</span>
                        <span class="ml-1" [ngClass]="rowData.day_change > 0 ? 'text-success' : 'text-red'">{{rowData.day_change}}</span>
                    </div>
                </div>
                <div class="flex">
                    <!-- <span data-tooltip="Buy" data-tooltip-pos="up">
                        <button type="button" class="btn btn-xs buy"
                            (click)="add(rowData)">BUY</button>
                    </span>
                    <span data-tooltip="Sell" data-tooltip-pos="up">
                        <button type="button" class="btn btn-xs sell ml-2"
                            (click)="add(rowData)">SELL</button>
                    </span> -->
                </div>  
            </div>        
        </div>
    </div>
</div>