<div>
    <div class="modal-title p-2">Bulk Update Journal</div>
    <p class="modal-description p-2">Update journal details of one or more trades in an an intuitive excel-style grid.</p>
    <ag-grid-angular class="ag-theme-alpine bulk-update-grid" [rowData]="strategies" [columnDefs]="columnDefs"
        [frameworkComponents]="frameworkComponents" (cellEditingStarted)="onCallValueDataChangeStart($event)"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>

    <div class="footer">
        <button type="button" class="btn btn-add" (click)="onSave()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
    </div>

    <div class="mask" *ngIf="Loader">
        <div class="loader"></div>
    </div>

</div>