@import "../../../assets/styles/variable.scss";

.trade-app-footer {
  background-color: $appfooter;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;

  .trade-logo {
    color: $white;
  }

  .trade-socail-icon {
    display: flex;
    align-items: center;
    color: $white;

    img {
      width: 30px;
      height: auto;
      margin-left: 12px;
    }
  }
}
