@import '../../../../assets/styles/variable.scss';


.main-body {
    background: #FFFFFF;
}

// risk tabs
.tab .nav-tabs {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
}

.tab .nav-tabs li {
    padding: 0;
}

.tab .nav-tabs li:first-child>a {
    border-radius: 0;
}

.tab .nav-tabs li a {
    display: block;
    background: transparent;
    font-size: 18px;
    line-height: 0px;
    text-align: center;
    border: none;
    z-index: 2;
    transition: all 0.3s ease 0s;
    text-decoration: none;

    padding: 20px 0;
    margin: 0 20px;
    color: #5B5C60;
    position: relative;
    font-weight: 500;
}

.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a {
    color: #394C86;
    text-decoration: none;
}

.tab .nav-tabs li.active a::before,
.tab .nav-tabs li a:hover::before
{
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0px 0px;
    background: #4A69CB;
    position: absolute;
    bottom: -4px;
}

.tab .tab-content {
    padding: 0px;
    margin-top: 0;
    font-size: 15px;
    @media #{$extra-small} {
        overflow-y: scroll;
    }
    @media #{$small} {
        overflow-y: scroll;
    }
    @media #{$medium} {
        overflow-y: scroll;
    }
}

.tab .tab-content h3 {
    font-size: 24px;
    margin-top: 0;
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
    }
    .tab .nav-tabs li.active a:before {
        content: "\f105";
        bottom: 15%;
        left: 0;
        right: auto;
    }
}

//   tabs-riskmanagment
.trade-dash-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-flow: row wrap;
    .flex-container {
        display: flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0;
        // padding: 0px 14px;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        position: relative;
        height: 100%;
        max-width: calc((100% - 13%));
    }
    .flex-item {
        min-height: 120px;
        // margin: 10px 0;
        margin-bottom: 10px;
        padding: 0px;
        width: 13%;
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: calc((100% - 87%));
        border-radius: 4px;
        @media #{$extra-small} {
            min-width: calc((100% - 54%));
        }
        @media #{$small} {
            min-width: calc((100% - 69%));
        }
        @media #{$medium} {
            min-width: calc((100% - 70%));
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
        .flex-inner {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0px 5px;
            a {
                cursor: pointer;
                span {
                    display: block;
                    // padding-bottom: 10px;
                    font-size: 18px;
                    line-height: 22px;
                    height: 60px;
                    color: #4a4a4a;
                }
            }
            .card-icon {
                position: absolute;
                right: 5px;
                bottom: 4px;
                img {
                    width: 20px;
                }
            }
        }
    }
}

.trade-green {
    color: #30C470;
}

.trade-red {
    color: #FF0000;
}

.risk-manage-sec {
    padding: 10px 20px;
}

.top-sec {
    display: flex;
    justify-content: space-between;
    @media #{$small} {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
}

.right-filters-name {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.left-filters {
    display: flex;
    justify-content: flex-end;
}

.right-datepick {
    width: 36%;
}

.right-filters {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 50%;
    padding-right: 1rem;
    @media #{$small} {
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-top: 20px;
        // flex-direction: column;
    }
}

.box-1 {
    background-color: $primary;
    padding: 3px 12px;
    margin-right: 10px;
    color: #fff;
}

.trade-dash-con {
    margin: 30px 0px 0px 0px;
    @media #{$extra-small} {
        margin-bottom: 0px;
    }
    .dsh-img {
        margin-bottom: 20px;
    }
}

.trade-headiang {
    margin-bottom: 10px;
    h5 {
        color: $primary;
    }
}

.left-heading {
    h5 {
        color: $primary;
    }
}

.left-filters-heading {
    width: 20%;
    margin-right: 10px;
    p {
        color: #5B5C60;
    }
}

.web-parent-reports {
    @media #{$extra-small} {
        display: none !important;
    }
}
.mobile-parent-reports {
    display: none;
    @media #{$extra-small} {
        display: block;
    }
}

.video-modal .modal-dialog {
    max-width: 699px;
}

.modal {
    top: 5% !important;
}

.metrics-header {
    color: #5B5C60;
    font-weight: 500;
    font-size: 14px;
}
  
.metrics-title {
    color: #5B5C60;
    font-weight: 600;
    font-size: 15px;
}
.page-nav {
    padding: 0 1rem;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    color: #4A69CB;
}
.page-nav-item {
    color: #4A69CB;
    margin: 0 0.25rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.25rem 0.45rem;
}
.page-nav-item:hover {
    color: #fff;
    background: #4A69CB;
    text-decoration: none;
}
.page-nav-item.selected {
    color: #fff;
    background: #4A69CB;
    
}
.report-trade-symbol {
    height: 42px;
}
.form-icon-down {
    position: relative;
    right: 5px;
    top: -25px;
    float: right;
    font-size: 16px !important;
    font-weight: bold;
    cursor: pointer;
    color: black !important;
}
.reports-header {
    color: #5B5C60;
    font-size: 18px;
    box-shadow: 0 1px 5px 0 rgba(var(--color-border-5--rgb), 0.1);
    background: #fff;
    align-items: center;
    justify-content:space-between;
    display: flex;
    padding: 3px 20px;
}
