@import '../../../../../assets/styles/variable.scss';

.tab .nav-tabs li{
  padding: 0px;
  border: 1px solid #37a01a;
  flex-basis: 100%;
  background: #fff;
  margin-bottom: 2px;
}
.tab .nav-tabs li a {
  display: block;
  padding: 10px;
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
  color: #424242;
  text-align: center;
  border: none;
  z-index: 2;
  position: relative;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
  .tab .nav-tabs li a:hover,
  .tab .nav-tabs li.active a {
    border: none;
    background: #37a01a;
    color: #fff;
  }
  
  .tab .nav-tabs li.active {
    background: #37a01a;
    color: #fff;
    transition: all 0.3s ease 0s;
  }
  .tab .tab-content {
    padding: 0px;
    margin-top: 0;
    background: #fff;
    font-size: 15px;
    color: #7a9181;
    line-height: 30px;
    @media #{$extra-small} {
      overflow-y: scroll;
    }
    @media #{$small} {
      overflow-y: scroll;
    }
    @media #{$medium} {
      overflow-y: scroll;
    }
  }
  .tab .tab-content h3 {
    font-size: 24px;
    margin-top: 0;
  }
  @media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
      width: 100%;
      text-align: center;
    }
    .tab .nav-tabs li.active a:before {
      content: "\f105";
      bottom: 15%;
      left: 0;
      right: auto;
    }
  }



  .risk-manage-sec{
    padding: 10px;
  }

  .top-sec{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 10px;
      @media #{$small} {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
      }
  }


.trade-dash-con{
    margin: 10px 0px;
    @media #{$extra-small} {
      margin-bottom: 0px;
    }
    .trade-analytics {
      margin-bottom: 20px;
    }
}

.trade-headiang{
  margin-bottom: 10px;
  h5{
    color: #717171;
    font-weight: 600;
    font-size: 1.345rem;
  }
}

.trade-date .mydrp, .mydrp .headerclearbtn, .mydrp .headerokbtn {
    border: 1px solid #37a01a !important;
    border-radius: 0 !important;
}
.vertical-tabs {
  background: #f5f5f5;
  display: flex;
  align-items: flex-start;
  .v-tabs {
    flex: 0 0 22%;
    max-width: 22%;
    padding: 2px 5px;
  }
}
.tab-content.tabs {
  display: flex;
  flex: 0 0 78%;
  max-width: 78%;
}
.tab-content > .tab-pane {
  width: 100%;
}