<div class="compare-popup">
    <div class="compare-pop-inner">
        <div class="top-pop-inner">
            <div class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </div>
        </div>

        <div class="main-pop-inner">
            <div class="tradingview-widget-container">
                <div id="tradingview_2f7bd"></div>
                <div #thesisTradingview>
                    <div class="tradingview-widget-container">
                        <div class="tradingview-chart" id="tradingview_bce0c"></div>
                        <div class="tradingview-widget-copyright"><a
                                href="{{ 'https://in.tradingview.com/symbols/' + ((exchange && symbol) ?  (exchange + symbol + '/') : '')}}"
                                rel="noopener" target="_blank"></a></div>
                    </div>
                </div>

                <!-- <div class="separator"></div>
                <div class="btn-up mb-0">
                    <button type="button" class="btn btn-add" [mat-dialog-close]="data">Close</button>
                </div> -->
            </div>

        </div>
    </div>
</div>