<div class="trade-app">

    <div class="modal-backdrop fade show"></div>
<div class="modal contact-modal show"  tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header top-pop-inner">
          <h5 class="modal-title m-o">HDFC Bank</h5>
          <div>
            <span class="mr-2">
                <input type="radio" /> BSE: 1,425:00
            </span>
            <span class="ml-2">
                <input type="radio" checked /> NSE: 1,425:00
            </span>
          </div>
        </div>
        <div class="modal-body">
            <div class="row align-items-center mb-2">
                <span class="col-4">
                    <input type="radio" checked /> Intraday MIS
                </span>
                <span class="col-4">
                    <input type="radio"  /> Longterm CNC
                </span>
            </div>
            <div class="row mb-2">
                <span class="col-4">
                    <label class="required-field mb-1">Quantity</label>
                    <input type="text" class="form-control" id="Qty" value="2" />
                </span>
                <span class="col-4">
                    <label class="required-field mb-1">Price</label>
                    <input type="text" class="form-control" id="price" value="145.00" />
                </span>
                <span class="col-4">
                    <label class="required-field mb-1">Target Price</label>
                    <input type="text" class="form-control" id="targetprice" value="145.00" />
                </span>
            </div>
            <div class="row mb-3">
                <span class="col-4">
                    
                </span>
                <div class="col-4">
                    <span class="mr-2">
                        <input type="radio" /> Market
                    </span>
                    <span class="ml-2">
                        <input type="radio" checked /> Limit
                    </span>
                </div>
                <div class="col-4">
                    <span class="mr-2">
                        <input type="radio" /> SL
                    </span>
                    <span class="ml-2">
                        <input type="radio" /> SL-Market
                    </span>
                </div>
            </div>
            <div class="text-right">
                <span class="more-text cursor" (click)="showOptions()">{{zerodhaOptions ? 'Hide' : 'More'}} options</span>
            </div>
            <div *ngIf="zerodhaOptions">
                <div class="row mb-2">
                    <span class="col-4">
                        <label class="required-field mb-1">Validity</label>
                        <div class="mb-1">
                            <input type="radio" checked /> Day
                        </div>
                        <div class="mb-1">
                            <input type="radio" /> Immediate
                        </div>
                        <div class="mb-1">
                            <input type="radio" /> Minutes
                        </div>
                    </span>
                    <span class="col-4">
                        <label class="required-field mb-1"></label>
                        <select class="form-control mt-2">
                            <option value="1">1 Minute</option>
                        </select>
                    </span>
                    <span class="col-4">
                        <label class="required-field mb-1">Disclosed qty</label>
                        <input type="text" class="form-control" id="targetprice" value="0" />
                    </span>
                </div>
                <div class="insights">
                    <div class="insights-title">
                        Get Insights from CueTrade
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span class="more-text cursor" (click)="CopyCueTrade()">Copy to CueTrade</span>
                        </div>
                        <div class="col-4">
                            <span class="more-text cursor" (click)="AddNotes()">Add Notes</span>
                        </div>
                        <div class="col-4">
                            <span class="more-text cursor" (click)="VieInsights()">View Insights</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="modal-footer py-2">
            <span>
                Margin required 284.41 Rs
            </span>
            <span>
                <button type="button" class="btn btn-add">Buy</button>
                <button type="button" class="btn btn-secondary ml-3" (click)="closeContactUsModal()">Cancel</button>
            </span>
        </div>
      </div>
    </div>
</div>
    
    
</div>
