@import '../../../../assets/styles/variable.scss';

.element{
    margin-top: 15px;
}

.radio{
    margin-left: 10px;
    margin-right: 5px;
}

.sp-label{
    padding-right: 0px;
    padding-top: 4px;
}


.trade-form {
  width: 100%;
  .trade-form-icon {
      color: #3A4C85;
      width: 60px;
      height: 60px;
      font-size: 4rem;
      margin-left: -20px;
      font-size: 4rem !important;
  }
}

.btn-enter {
  background: radial-gradient(159.03% 392.94% at 26.8% -25.69%, rgba(24, 255, 61, 0.2) 0%, rgba(155, 216, 186, 0.182) 97.92%), linear-gradient(180deg, #33CB39 0%, #1BD022 100%);
  border-radius: 16px;
  color: $white;
  padding: 0.375rem 1.5rem !important;
  font-weight: 400;
  font-size: 14px;
}

.col-form-label {
  color: #3A4C85;
  font-size: 12px;
  font-weight: 600;
  padding-top: 0;
}



.symbol-description {
  color: #242E3A !important;
  font-weight: 400;
  font-size: 16px !important;
}