
<div class="trade-form">
    <div class="pb-3">
        <div class="col-form-label symbol-description">Step 1: Select your brokerage</div>
        <div class="d-flex align-items-center">
            <select class="form-control col-sm-6 col-md-2" [(ngModel)]="selectedbroker" (change)="onBrokerageChange($event.target.value, index)">
                <option *ngFor="let item of brokerages;let i = index" value={{item.id}} [selected]="i == 1">{{item.name}}
                </option>
            </select>
            <a class="ml-3 blue-link" [routerLink]="" (click)="downloadStandardFile()">Download Template</a>
        </div>
    </div>
    <div class="py-3">
        <div class="col-form-label symbol-description">
            Step 2: Choose trade history file. See <span class="cursor blue-link" (click)="showInstructionsPopup(selectedBrokerage.id)">Instructions</span>
        </div>
        <input class="w-100" type="file" (change)="selectFile($event)" />
    </div>

    <div class="py-3" *ngIf="selectedBrokerage && selectedBrokerage.multipleExportFiles === true">
        <div class="col-form-label symbol-description">
            Choose Options File
        </div>
        <input type="file" (change)="selectOptionsFile($event)" />
    </div>

    <div class="py-3">
        <div class="col-form-label symbol-description">
    <!-- Step 3: Upload trade history files. Visit <a class="blue-link" [routerLink]="['/trade-strategies/']">Positions</a> to view the trade strategies created or updated as a result of your import -->
         Step 3: Upload file to add your trades to CueTrade
        </div>
        <button class="btn btn-enter btn-sm" *ngIf="!processing && !isDemoMode" [disabled]="!selectedFiles && !selectedOptionFiles"
                (click)="importTrades()">UPLOAD TRADES</button>
            <mat-spinner [diameter]="30" *ngIf="processing"></mat-spinner>
    </div>
<!-- Venkat commented this to reduce the number of steps
    <div class="py-3">
        <div class="col-form-label symbol-description">
            Step 4: Check the status of your import and visit <a class="blue-link" [routerLink]="['/trade-strategies/']">Trade Book</a> to view the trade strategies created or updated as a result of your import
        </div>
    </div>
 -->   
</div>
        