@import '../../../../assets/styles/variable.scss';

.element{
    margin-top: 15px;
}

.radio{
    margin-left: 10px;
    margin-right: 5px;
}

.sp-label{
    padding-right: 0px;
    padding-top: 4px;
}


.trade-form {
  width: 100%;
  .trade-form-icon {
      color: #2469FF;
      width: 60px;
      height: 60px;
      font-size: 4rem;
      margin-left: -20px;
      font-size: 4rem !important;
  }
}

.btn-enter {
  background: #2469FF;
  // border-radius: 10px;
  color: $white;
  padding: 0.375rem 1.5rem !important;
  font-weight: 500;
  font-size: 15px;
  height:46px;
  width:160px;
}

.col-form-label {
  color: #2469FF;
  font-size: 15px;
  font-weight: 600;
  padding-top: 0;
}



.symbol-description {
  color: #000000 !important;
  font-weight: 400;
  font-size: 15px !important;
  padding: 0rem 0rem 1rem 0rem;
}