<div class="plannedtrade-popup">
    <div class="plannedtrade-pop-inner">
        <div class="top-pop-inner">
            <div class="left-heading">
                <h6>Rate Your Experience</h6>
            </div>
            <div class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </div>
        </div>

        <div class="main-pop-inner">
            <div class="d-flex mb-3 align-items-center justify-content-between">
                <label class="col-form-label">Did you align with your trading plan?</label>
                <div class="col-sm-2">
                    <span class="d-flex align-items-center">
                        <label class="toggle m-0">
                            <input type="checkbox" id="tradingToggle" class="cursor" [checked]="tradePlan.tradeplanAligned" [(ngModel)]="tradePlan.tradeplanAligned" (ngModelChange)="updateTradePlan()">
                            <span class="slider"></span>
                            <span class="labels" data-on="Yes" data-off="No"></span>
                        </label>
                    </span>
                </div>
            </div>

            <div class="d-flex mb-3 align-items-center justify-content-between">
                <label class="col-form-label">What your today's P&L looks like</label>
                <div class="text-right">
                    <span class="choose-btn" [ngClass]="selectedPL === 'Red' ? 'red' : ''"><input type="radio" name="pl" value="Red" class="disable-radio" (change)="changePL($event)" /> Red</span>
                    <span class="choose-btn ml-2" [ngClass]="selectedPL === 'Green' ? 'green' : ''"><input type="radio" name="pl" value="Green" class="disable-radio" (change)="changePL($event)" /> Green</span>
                    <span class="choose-btn ml-2" [ngClass]="selectedPL === 'noTade' ? 'black' : ''"><input type="radio" name="pl" value="noTade" class="disable-radio" (change)="changePL($event)" /> No trade</span>
                    
                    <!-- <select class="form-control" [(ngModel)]="tradePlan.selfReview" (ngModelChange)="updateTradePlan()">
                        <option value="good">Good</option>
                        <option value="average">Average</option>
                        <option value="bad">Bad</option>
                    </select> -->
                </div>
            </div>
            
            <div class="d-flex mb-3 align-items-center justify-content-between">
                <label class="col-form-label">Rate Your trading experience</label>
                <div class="text-right">
                    <span class="choose-btn" [ngClass]="selectedRating === 'Good' ? 'green' : ''"><input type="radio" name="rating" value="Good" class="disable-radio" (change)="updateTradePlan($event)" /> Good <img src="../../../../../assets/images/good.svg" class="ml-1" /></span>
                    <span class="choose-btn ml-2" [ngClass]="selectedRating === 'Bad' ? 'red' : ''"><input type="radio" name="rating" value="Bad" class="disable-radio" (change)="updateTradePlan($event)" /> Bad <img src="../../../../../assets/images/bad.svg" class="ml-1" /></span>
                    <span class="choose-btn ml-2" [ngClass]="selectedRating === 'Neutral' ? 'active' : ''"><input type="radio" name="rating" value="Neutral" class="disable-radio" (change)="updateTradePlan($event)" /> Neutral <img src="../../../../../assets/images/neutral.svg" class="ml-1" /></span>
                </div>
            </div>

            <div class="border-top pt-3 text-right">
                <button type="button" class="btn btn-add" (click)="addEntryExitRule('Add', 'SAVE')">Submit</button>
            </div>
        </div>
    </div>
</div>