<!-- manage-rules-popup -->
<div class="manage-rules-popup">
    <div class="manage-rule-popup-inner">
        <div class="top-heading">
            <h5>
                {{title}} Rule
            </h5>
            <mat-icon class="cursor" (click)="closeModal()">close</mat-icon>
        </div>
        <div class="pop-up-box">
            <div class="rules-pop-con">
                <div class="left-pop-heading">
                    <span>Rule Type</span>
                </div>

                <div class="right-pop-con">
                    <div class="trade-sel">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Entry</option>
                            <option>Exit</option>
                        </select>
                        <img src="../../../../../../assets/images/icon/Icon ionic-ios-arrow-down.png" alt=""
                            class="form-icon-down">
                    </div>
                </div>
            </div>

            <div class="rules-pop-con">
                <div class="left-pop-heading">
                    <span>Description</span>
                </div>
                <div class="right-pop-con">
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </div>

            <div class="rules-pop-con">
                <div class="left-pop-heading">
                    <span>Source</span>
                </div>
                <div class="right-pop-con">
                    <div class="trade-sel">
                        <div class="form-group has-search">
                            <input class="form-control" placeholder="" type="text">
                        </div>

                        <!-- <div class="add-new">
                        <span>+ {{title}}</span>
                    </div> -->
                    </div>
                </div>
            </div>
            <div class="btn btn-save" (click)="closeModal()">{{btnText}}</div>
        </div>
    </div>