<div class="px-3 compare-strategies mt-3">
    <div class="main-body">
        <div class="trade-dash-main px-0">
            <div class="trade-dash-name">
                <h3></h3>
            </div>
        </div>
        <ng-container [ngSwitch]="currentState">
            <ng-container *ngSwitchCase="1">
                <div class="addnew-first p-3">
                    <div class="trade-form">
                        <mat-icon class="trade-form-icon ml-0">compare_arrows</mat-icon>
                        <h2 class="pb-2 symbol-heading">Compare Strategies</h2>
                        <div class="pb-3 symbol-description">Enter the first few letters of the symbol or company name and choose a stock from the list. Compare up to five trades on that symbol to pick the right trade strategy that’s in line with your risk appetite.</div>
                        <div class="d-flex mt-2">
                            <div class="media-body">
                                <app-trade-search (symbolSelectEvent)="symbolSelectEventHandler($event)">
                                </app-trade-search>
                            </div>
                            <button class="btn btn-enter ml-3" (click)="enterSymbol()">Submit </button>
                        </div>

                    </div>
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="2">
                <!-- {{strategiesList.length}} -->
                <app-trade-details-header [addTrade]="add" [selectedStock]="selectedStock" [stockSummary]="stockSummary" (loadMoreStats)="loadMoreStatsHandler($event)"></app-trade-details-header>
                <div class="addnew-second" *ngIf="strategiesList.length == 0">
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="col-form-label p-0">No strategies exist for the symbol" and provide</span>
                        <a class="btn btn-outline-primary ml-3" (click)="navigateToAddTrade()">Create Strategy</a>
                    </div>
                </div>
                <div *ngIf="strategiesList.length > 0">
                    <mat-accordion class="example-headers-align" multi="true">
                        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Select symbol and up to ﬁve trade strategies to compare their proftability
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <ng-template matExpansionPanelContent>
                                <div class="trade-stoack-main" #tradeCards>
                                    <div class="d-flex align-items-end">
                                        <ng-container *ngFor="let item of strategiesList;let index = index">
                                            <div class="d-flex justify-content-between align-items-end">
                                                <div class="card-main">
                                                    <div class="d-flex align-items-center">
                                                        <label class="col-form-label">Strategy-{{index+1}} </label>
                                                        <mat-icon class="mat-icon-sm mat-icon-edit ml-2" (click)="StrategyDetailsModal(index)">info</mat-icon>
                                                    </div>
                                                    <div class="trade-sel position-relative">
                                                        <select class="form-control select-input" (change)="onStrategyChange($event.target.value, index)">
                                                            <option *ngFor="let key of userStrategies;let i = index"
                                                                [value]="i">{{key.uid}}</option>
                                                        </select>
                                                        <mat-icon class="form-icon-down">keyboard_arrow_down</mat-icon>
                                                    </div>
                                                </div>
                                                <div class="px-3">
                                                    <div class="cursor" *ngIf="index > 1" (click)="deleteStrategyItem(index)">
                                                        <mat-icon class="mat-icon-sm">delete</mat-icon>
                                                    </div>
                                                    <div class="cursor" (click)="editStrategyItem(index)">
                                                        <mat-icon class="mat-icon-sm mat-icon-edit">edit</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>

                                        <div class="search_btn add_strategy" [ngClass]="strategiesList.length > 1 ? 'mt-0' : '' ">
                                            <div class="mb-1">
                                                <a class="btn btn-primary mr-3" (click)="submitStrategies()">SUBMIT</a>
                                            </div>
                                            <a class="btn" [ngClass]="strategiesList.length > 1 ? 'btn-outline-primary' : 'btn-primary' " (click)="addStrategy()" *ngIf="strategiesList.length < 5 && selectedStock.id">Add Strategy</a>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-expansion-panel>

                        <mat-expansion-panel [expanded]="step === 0" *ngIf="compareResult">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Analyze the risk and proﬁtability associated with the strategies for the given stock price range
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-template matExpansionPanelContent>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-3">
                                                <label class="col-form-label">Stock Price</label>
                                                <div class="d-flex">
                                                    <input type="text" name="stock_price" class="form-control" [(ngModel)]='stockPrice' />
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <label class="col-form-label">Price Range</label>
                                                <div class="d-flex">
                                                    <input type="text" name="price_range_min" value="-10%" class="form-control" [(ngModel)]='lowerBound' />
                                                    <input type="text" name="price_range_max" value="-10%" class="form-control ml-2" [(ngModel)]='upperBound' />
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <label class="col-form-label">Risk Free Rate</label>
                                                <div class="d-flex">
                                                    <input type="text" name="price_range_min" class="form-control" [(ngModel)]='riskFreeRate' />
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-end">
                                                <a class="btn btn-next" (click)="analyzeRisk = true; submitStrategies();">Analyze</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-6">
                                    <div class="d-flex justify-content-end align-items-center mt-3">
                                        <div class="k-font-bold d-flex justify-content-end" *ngIf="maxRiskDetails">
                                            <div class="risk_details risk_profit mr-3">
                                                <div class="pr-3">Maximum Proﬁt is when the stock is up <span>{{maxRiskDetails.maxProfitChange}}</span>% Maximum
                                                </div>
                                                <span class="risk_details_count">{{maxRiskDetails.maxProfit}}</span>
                                            </div>
                                            <div class="risk_details risk_lose">
                                                <div class="pr-3">Risk is when the stock is down <span>{{maxRiskDetails.maxRiskChange}}</span>%
                                                </div>
                                                <span class="risk_details_count">{{maxRiskDetails.maxRisk}}</span>
                                            </div>
                                        </div>
                                        <button class="col-3 btn btn-enter ml-3" (click)="calculateMaxRisk()">Max Profit/Risk</button>
                                    </div>
                                </div>-->
                                </div>



                                <ng-container>
                                    <!-- risk-tabs -->
                                    <div class="trade-risk-tabs mt-3">
                                        <div class="tab" role="tabpanel">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="active" role="presentation">
                                                    <a aria-controls="home" aria-expanded="true" data-toggle="tab" href="#Section1" role="tab">Data Table</a>
                                                </li>
                                                <li class="" role="presentation">
                                                    <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#Section2" role="tab" (click)="initChart(false)">Charts</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content tabs">
                                                <div class="tab-pane active" id="Section1" role="tabpanel">
                                                    <div class="risk-tabs-table">
                                                        <div class="risk-table">

                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Change</th>
                                                                        <th>Price</th>
                                                                        <th *ngFor="let key of strategiesList; let i = index">
                                                                            {{'Strategy-' + (i + 1) + ' P&L' }}</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    <tr *ngFor="let item of compareResult.rows;let index=index">
                                                                        <td>{{item.stockChange.change}}%</td>
                                                                        <td>{{item.stockChange.price}}</td>
                                                                        <td *ngFor="let key of strategiesList; let ind = index">
                                                                            {{item.results[ind].netPL}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="Section2" role="tabpanel">
                                                    <app-compare-strategies-chart #compareStrategiesChart>
                                                    </app-compare-strategies-chart>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="trad-border"></div>


                                    </div>
                                </ng-container>
                            </ng-template>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </ng-container>

        </ng-container>
    </div>
</div>

<!-- compare-strategies-mobile -->
<div class="compare-strategies-mobile">
    <ng-container [ngSwitch]="currentState">
        <ng-container *ngSwitchCase="1">
            <div class="addnew-first">
                <div class="trade-form">
                    <mat-icon class="trade-form-icon ml-0">compare_arrows</mat-icon>
                    <h2 class="pb-2 symbol-heading">Compare Strategies</h2>
                    <div class="pb-3 symbol-description">Enter the stock symbol or name for which trade strategy is being added</div>
                    <div class="my-2">
                        <app-trade-search (symbolSelectEvent)="symbolSelectEventHandler($event)"></app-trade-search>
                    </div>
                    <button class="btn btn-enter mt-2" (click)="enterSymbol()">Submit </button>
                </div>
            </div>
        </ng-container>
        <!--end :: entry first-->

        <ng-container *ngSwitchCase="2">
            <div class="trade-actions d-flex justify-content-between mb-2">
                <span class="text-danger" (click)="cancelCompareStrategy()">CANCEL</span>
                <span class="text-primary">Strategy</span>

                <a class="text-primary" *ngIf="showCompareResult" (click)="analyzeRisk = true; submitStrategies();">Analyze</a>
            </div>

            <!-- {{strategiesList.length}} -->
            <div class="addnew-second" *ngIf="strategiesList.length == 0">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="col-form-label p-0">No strategies exist for the symbol" and provide</span>
                    <a class="btn btn-outline-primary ml-3" (click)="navigateToAddTrade()">Create Strategy</a>
                </div>
            </div>
            <div *ngIf="strategiesList.length > 0">
                <mat-accordion class="example-headers-align" multi="true">
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Compare Strategies
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="trade-stoack-main" #tradeCards>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="col-form-label pt-0">Symbol</label>
                                    </div>
                                    <div class="col-8 text-right col-form-value">
                                        {{ selectedStock.code}}
                                    </div>
                                </div>
                                <ng-container *ngFor="let item of strategiesList;let index = index">
                                    <div class="row py-2">
                                        <div class="col-5 d-flex align-items-start">
                                            <label class="col-form-label">Strategy-{{index+1}} </label>
                                            <mat-icon class="mat-icon-sm mat-icon-edit ml-2" (click)="StrategyDetailsModal(index)">info</mat-icon>
                                        </div>
                                        <div class="col-5 col-form-value">
                                            {{ item.uid }} 
                                        </div>
                                        <div class="col-2 pl-0">
                                            <span class="cursor" (click)="editStrategyItem(index)">
                                                <mat-icon class="mat-icon-sm mat-icon-edit">edit</mat-icon>
                                            </span>
                                            <span class="cursor" *ngIf="index > 1" (click)="deleteStrategyItem(index)">
                                                <mat-icon class="mat-icon-sm">delete</mat-icon>
                                            </span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                            <div class="strategy-form-sec" *ngIf="showStrategyForm">
                                <div class="mb-3" *ngIf="strategiesList.length < 5 && selectedStock.id">
                                    <label class="col-form-label">Add Strategy-{{strategiesList.length + 1}} </label>
                                    <div class="trade-sel position-relative">
                                        <select class="form-control select-input" (change)="onStrategyChange($event.target.value, index)">
                                            <option *ngFor="let key of userStrategies;let i = index"
                                                [value]="i">{{key.uid}}</option>
                                        </select>
                                        <mat-icon class="form-icon-down">keyboard_arrow_down</mat-icon>
                                    </div>
                                </div>
                                <div class="w-100 d-flex justify-content-between py-2">
                                    <button type="button" class="btn btn-primary w-100 mr-2" (click)="submitStrategies()">SUBMIT</button>
                                    <button type="button" class="btn btn-outline-secondary w-100 ml-2" (click)="addStrategy(strategiesList.length + 1)" *ngIf="strategiesList.length < 5 && selectedStock.id">Add Strategy</button>
                                </div>
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 0" *ngIf="showCompareResult">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Analyze the risk and proﬁtability associated with the strategies for the given stock price range
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="trade-stoack-main px-0">
                                <div class="row m-0">
                                    <div class="col-6 mb-2">
                                        <label class="col-form-label">Stock Price</label>
                                        <div class="d-flex">
                                            <input type="text" name="stock_price" class="form-control" [(ngModel)]='stockPrice' />
                                        </div>
                                    </div>

                                    <div class="col-6 mb-2">
                                        <label class="col-form-label">Price Range</label>
                                        <div class="d-flex">
                                            <input type="text" name="price_range_min" value="-10%" class="form-control" [(ngModel)]='lowerBound' />
                                            <input type="text" name="price_range_max" value="-10%" class="form-control ml-2" [(ngModel)]='upperBound' />
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <label class="col-form-label">Risk Free Rate</label>
                                        <div class="d-flex">
                                            <input type="text" name="price_range_min" class="form-control" [(ngModel)]='riskFreeRate' />
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end">
                                        <a class="btn btn-next" (click)="analyzeRisk = true; submitStrategies();">Analyze</a>
                                    </div>
                                </div>
                            
                                <ng-container>
                                    <!-- risk-tabs -->
                                    <div class="trade-risk-tabs mt-3">
                                        <div class="tab" role="tabpanel">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="active w-100" role="presentation">
                                                    <a aria-controls="home" aria-expanded="true" data-toggle="tab" href="#Section1" role="tab">Data Table</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content tabs">
                                                <div class="tab-pane active" id="Section3" role="tabpanel">
                                                    <div class="trade-stoack-main">
                                                        <div class="mb-3">
                                                            <select class="form-control" (change)="riskAnalysisGridChange($event.target.value)">
                                                                <option value="stockTb" selected data-default>{{riskAnalysisResults[0].stockPriceResult.heading}}</option>
                                                                
                                                                <!-- <option *ngFor="let item of riskAnalysisResults[0].optionResults;let index=index" [value]="index">{{item.heading}}</option> -->
                                                                <option *ngFor="let key of strategiesList;let i = index" [value]="i">{{'Strategy-' + (i + 1)}}</option>
                                                                <option value="totalTB">Total</option>
                                                            </select>
                                                        </div>
                                                        <div class="row">
                                                            <div class="risk-table">
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Change</th>
                                                                            <th>Price</th>
                                                                        </tr>
                                                                    </thead>
    
                                                                    <tbody>
                                                                        <tr *ngFor="let item of compareResult.rows;let index=index">
                                                                            <td>{{item.stockChange.change}}%</td>
                                                                            <td>{{item.stockChange.price}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="risk-table">
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th *ngFor="let key of strategiesList; let i = index">
                                                                                {{'Strategy-' + (i + 1) + ' P&L' }}</th>
                                                                        </tr>
                                                                    </thead>
    
                                                                    <tbody>
                                                                        <tr *ngFor="let item of compareResult.rows;let index=index">
                                                                            
                                                                            <td *ngFor="let key of strategiesList; let ind = index">
                                                                                {{item.results[ind].netPL}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <div class="risk-table ChangeTable" *ngIf="riskAnalysisResults && riskAnalysisResults.length">
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Change</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        <tr *ngFor="let item of riskAnalysisResults;let index=index">
                                                                            <td [ngClass]="{ 'trade-rd' :item.stockPriceResult.gainLoss >= 0, 'trade-rdd':item.stockPriceResult.gainLoss < 0}">
                                                                                {{item.stockPriceResult.change + '%'}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                            <div class="risk-table" *ngIf="stockTable">
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Price</th>
                                                                            <th *ngIf="stockAdded">P&L</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        <tr *ngFor="let item of riskAnalysisResults;let index=index">
                                                                            <td>{{item.stockPriceResult.stockPrice}}</td>
                                                                            <td *ngIf="stockAdded" [ngClass]="{ 'trade-rd' :item.stockPriceResult.gainLoss >= 0, 'trade-rdd':item.stockPriceResult.gainLoss < 0}">{{item.stockPriceResult.gainLoss}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        
                                                            <ng-container *ngIf="optionTable">
                                                                <div class="risk-table position-relative">
                                                                    <div class="option-table" *ngFor="let item of riskAnalysisResults[0].optionResults;let index=index" [ngClass]="selectedOptionResult == index ? 'd-block' : 'd-none'">
                                                                        <table>
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Value</th>
                                                                                    <th>P&L</th>
                                                                                </tr>
                                                                            </thead>

                                                                            <tbody>
                                                                                <tr *ngFor="let ritem of riskAnalysisResults;let rowIndex=index">
                                                                                    <td>{{ritem.optionResults[index].value | number:'1.0-0' }}</td>
                                                                                    <td [ngClass]="{ 'trade-rd' :ritem.optionResults[index].gainLoss >= 0, 'trade-rdd':ritem.optionResults[index].gainLoss < 0}">
                                                                                        {{ritem.optionResults[index].gainLoss | number:'1.0-0'}}
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </ng-container>

                                                            <div class="risk-tables" *ngIf="totalTable">
                                                                <table>
                                                                    <thead>
                                                                        <tr>

                                                                            <th>Net P&L</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        <tr *ngFor="let item of riskAnalysisResults;let index=index">
                                                                            <td [ngClass]="{ 'trade-rd' :item.totalSummary.gainLoss >= 0, 'trade-rdd':item.totalSummary.gainLoss < 0}">
                                                                                {{item.totalSummary.gainLoss | number:'1.0-0'}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </ng-container>
    </ng-container>
</div>

