@import '../../../../assets/styles/variable.scss';
@import '../../../../assets/styles/breakpoints.scss';
.compare-strategies {
    @media #{$extra-small} {
        display: none;
    }
}
.trade-dash-name h3 {
    font-size: 14px !important;
}
.mat-expansion-panel {
    overflow: visible;
}

.mat-expansion-panel-body {
    padding: 0 16px !important;
}

.main-body {
    min-height: 81vh;
}

.addnew-first {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trade-form {
    width: 500px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.1);
    border-radius: 4px;
    padding: 30px;
    .trade-form-icon {
        color: #4A69CB;
        width: 60px;
        height: 60px;
        font-size: 4rem;
        margin-left: -20px;
        font-size: 4rem !important;
    }
}

.btn-enter {
    background: #4A69CB;
    border-radius: 4px;
    color: $white;
    padding: 5px 20px !important;
    height: 44px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.addnew-trade {
    padding: 0px;
}

.trade-right-search .form-control {
    border: 1px solid #a2a2a2;
    // height: 40px;
}

select.form-control {
    padding: 0.375rem 0.25rem !important;
    font-size: 12px;
}

.trade-right-search {
    position: relative;
    width: 200px;
    @include media(">tablet", "<laptop") {
        width: 150px;
    }
}

img.form-icon {
    position: absolute;
    right: 11px;
    top: 9px;
    width: 19px;
}

.trade-rate {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.trade-name {
    margin-bottom: 5px;
    h5 {
        font-weight: bold;
    }
}

span.trade-r {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

span.trade-rr {
    color: #ff0000;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.trade-rate-box {
    background-color: #f2f2f2;
    // border: 1px solid #cbcbcb;
    padding: 12px;
    margin: 10px 0px 20px 0px;
}

.trade-rate-sec {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media #{$small} {
        flex-wrap: wrap;
    }
}

.rate-box-right {
    width: 50%;
    border-right: 1px solid #bdbdbdb3;
    @media #{$small} {
        border-right: unset;
    }
}

.rate-box-left {
    width: 50%;
    @media #{$small} {
        width: 53%;
    }
}

.trade-rate-heading {
    h6 {
        color: $primary;
    }
}

.rate-box-s {
    width: 15%;
    @media #{$small} {
        width: 50%;
        border: 1px solid #ddd;
        padding: 10px;
    }
}

.rate-box {
    width: 26%;
    display: flex;
    justify-content: flex-start;
    @media #{$small} {
        width: 50%;
        border: 1px solid #ddd;
        padding: 10px;
    }
}

.bxo-name {
    margin-bottom: 12px;
    span {
        font-size: 15px;
    }
}

.trad-border {
    border: 1px solid #acacac;
    opacity: 0.2;
}

.mat-stepper-horizontal.mat-horizontal-content-container {
    padding: 0px !important;
}

.search_btn .btn-add {
    width: 110px;
    height: 40px;
    line-height: 28px;
    background: #37a01a;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    // margin-top: 24px;
}

.btn-option {
    background: #3e3e3e;
}

.btn-next {
    padding: 0.375rem 1.5rem !important;
    height: 40px;
    line-height: 28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    background: #4A69CB;
    border-radius: 0;
    cursor: pointer;
}

.btn:hover {
    color: $white;
}

.order-btn {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media #{$extra-small} {
        justify-content: space-between;
    }
}

a.btn.btn-skip {
    color: $appbtn-color;
    right: 0px;
    position: absolute;
    font-size: 15px;
}

.trade-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    @include media(">tablet", "<laptop") {
        width: 100%;
    }
    @media #{$small} {
        width: 100%;
    }
    @media #{$extra-small} {
        width: 100%;
    }
}

.form-control {
    height: 40px;
    font-size: 12px;
}

.trade-sec h6 {
    font-size: 16px;
    color: $primary;
    margin-bottom: 10px !important;
}

.trade-stoack-main {
    padding: 15px 0;
    border-top: 2px solid rgb(157 166 186 / 30%);
}

.btn-secondary {
    color: $white;
    text-transform: uppercase;
    width: 110px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
}

.trade-risk-section {
    margin-top: 20px;
}

.trade-cards-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0px;
    // flex-wrap: wrap;
    @media #{$extra-small} {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }
    @media #{$small} {
        flex-wrap: wrap;
        justify-content: flex-start;
        // margin-bottom: 10px;
    }
    @media #{$medium} {
        flex-wrap: wrap;
        // margin-bottom: 10px;
    }
    .trade-card-box {
        width: 20%;
        // min-width: 260px;
        background: #fff;
        height: auto;
        min-height: 390px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: flex-start;
        align-items: flex-start;
        box-shadow: 0 0 4px #ccc;
        border: 1px solid #cbcbcb;
        // margin-left: 20px;
        @media #{$extra-small} {
            min-height: 350px;
            margin-bottom: 10px;
            min-width: 196px !important;
            border: 1px solid #ddd;
        }
        @media #{$small} {
            margin-bottom: 10px;
            width: 48%;
            min-height: 420px;
            margin-left: 8px;
        }
        @media #{$medium} {
            margin-bottom: 10px;
            margin-right: 10px;
            margin-left: 0px;
            width: 22%;
            min-height: 420px;
        }
        .top-heading {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            align-items: baseline;
            margin-bottom: 10px;
            img {
                width: 14px;
                cursor: pointer;
            }
        }
        .card-main {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 10px;
            .card-left {
                width: 40%;
                padding-left: 5px;
                span {
                    font-size: 14px;
                }
            }
            .card-right {
                width: 60%;
                h6 {
                    font-size: 14px;
                    @media #{$medium} {
                        font-size: 14px;
                    }
                }
                .cards-input {
                    font-size: 13px !important;
                    height: 40px;
                    padding: 0px;
                    padding-left: 10px !important;
                }
                .select-input {
                    padding: 0px 8px;
                    height: 40px;
                    font-size: 13px;
                }
            }
        }
    }
}

.trade-card-box {
    @media #{$extra-small} {
        margin: 0px 0px 0px 0px;
    }
}

.btn-yes,
.btn-no {
    padding: 10px 25px;
    border-radius: 5px;
}

.btn-yes {
    background-color: #219563;
    color: $white;
}

.btn-no {
    background-color: #e2e2e2;
    color: #5B5C60;
    margin-left: 10px;
}

.btn-no:hover {
    color: #5B5C60;
}

.trade-risk h6 {
    font-size: 16px;
    font-weight: 500;
    color: #016db0;
    @media #{$extra-small} {
        margin-bottom: 10px !important;
    }
}

.trade-risk {
    margin: 10px 0px;
}

.risk-stock-seciton {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    @media #{$medium} {
        width: 100%;
    }
}

.stock-inc {
    border: 1px solid #a2a2a2;
    padding: 4px 8px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    a {
        cursor: pointer;
        line-height: 0;
        img {
            width: 20px;
            height: auto;
        }
    }
    span {
        margin: 0px 5px;
    }
}

.stock-name {
    justify-content: center;
    display: inline-flex span {
        font-size: 13px;
    }
}

.risk-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
    box-shadow: 0 0 4px #ccc;
    border: 1px solid #cbcbcb;
    padding: 10px;
    @media #{$small} {
        margin-bottom: 20px;
        width: 48%;
        border: 1px solid #ddd;
        padding: 12px;
        margin-right: 10px;
    }
    @media #{$medium} {
        margin-bottom: 20px;
        width: 23%;
        border: 1px solid #ddd;
        padding: 8px;
        margin-right: 10px;
    }
}

.risk-af {
    position: relative;
    @media #{$extra-small} {
        margin-bottom: 20px;
    }
}

.card-m {
    margin-left: 10px;
    @media #{$small} {
        margin-left: 0px;
    }
    @media #{$medium} {
        margin-left: 0px;
    }
}

.risk-bt {
    margin-bottom: 20px;
}

.trade-risk-heading {
    margin-bottom: 40px;
    h6 {
        // font-size: 14px;
        font-weight: 500;
        color: #016db0;
    }
    p {
        display: block;
        margin-top: 15px;
        font-size: 13px;
    }
    .refresh-icon {
        font-size: 35px;
        color: #016db0;
        float: right;
        cursor: pointer;
    }
}

.trade-risk-stock {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    @media #{$small} {
        flex-wrap: wrap;
    }
    @media #{$medium} {
        flex-wrap: wrap;
    }
}

// risk tabs
.tab .nav-tabs {
    display: flex;
    align-items: center;
    padding: 0;
    border-bottom: 0;
}

.tab .nav-tabs li {
    padding: 0;
    background: #F6F8FB;
}

.tab .nav-tabs li:first-child>a {
    border-radius: 4px 0 0 0;
}

.tab .nav-tabs li a {
    display: block;
    padding: 12px 20px;
    margin: 0;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #9DA6BA;
    text-align: center;
    border: none;
    z-index: 2;
    position: relative;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    height: 50px;
}

.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a {
    border: none;
    background-color: #4A69CB;
    color: #fff;
}

.tab .tab-content {
    padding: 0px;
    margin-top: 0;
    font-size: 15px;
    @media #{$extra-small} {
        overflow-y: scroll;
    }
    @media #{$small} {
        overflow-y: scroll;
    }
    @media #{$medium} {
        overflow-y: scroll;
    }
}

.tab .tab-content h3 {
    font-size: 24px;
    margin-top: 0;
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
    }
}

.charts {
    img {
        width: 50%;
    }
}

// risk table
.risk-tabs-table {
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 0px 0;
    @media #{$small} {
        width: auto;
    }
}

.risk-table {
    width: 17%;
    height: auto;
    min-height: 340px;
    padding: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgb(157 157 157 / 35%);
    border-radius: 4px;
    margin-right: 10px;
    max-width: 17.5%;
    @media #{$small} {
        width: 50%;
    }
    h6 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding: 6px .25rem;
        margin: 0;
        color: #4A69CB;
    }
    table {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        thead {
            th {
                background: rgb(157 166 186 / 20%);
                color: #4A69CB;
                font-size: 13px;
                font-weight: normal;
                text-align: center;
                padding: .5rem 0.25rem;
                @media #{$small} {
                    font-size: 12px;
                }
            }
            &:nth-child(2) {
                display: block;
                margin: 0 12px;
                @media #{$small} {
                    display: inline;
                }
            }
        }
        td {
            font-size: 13px;
            font-weight: 400;
            //   color: #4f5051;
            border-bottom: 1px solid #bfbfbf;
            text-align: center;
            padding: .5rem 0.25rem;
            @media #{$small} {
                padding: 0px 10px;
            }
        }
    }
}

.risk-tables {
    width: 8%;
    height: auto;
    min-height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgb(157 157 157 / 35%);
    border-radius: 4px;
    padding: 0px;
    @media #{$small} {
        width: 9%;
    }
    @media #{$extra-small} {
        width: 100%;
    }
    h6 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding: 6px .25rem;
        margin: 0;
        color: #4A69CB;
    }
    table {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        thead {
            th {
                background: rgb(157 166 186 / 20%);
                color: #4A69CB;
                font-size: 13px;
                font-weight: normal;
                text-align: center;
                padding: .5rem 0.25rem;
                padding-left: 0;
                @media #{$small} {
                    font-size: 12px;
                }
            }
            &:nth-child(2) {
                display: block;
                margin: 0 12px;
            }
        }
        td {
            font-size: 13px;
            font-weight: 400;
            border-bottom: 1px solid #bfbfbf;
            padding: .5rem 0;
            @media #{$small} {
                padding: 0px 10px;
            }
        }
    }
}

.trade-rdd {
    color: #ff031b !important;
}

.trade-rd {
    color: #37a01a !important;
}

.stock-p {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    p {
        // margin-left: -12px;
        position: absolute;
        right: 5px;
    }
    .hide-bars {
        width: 80%;
        text-align: center;
    }
}

.trade-form {
    .row {
        justify-content: center;
        align-items: center;
    }
    .trade-he {
        display: flex;
        justify-content: flex-end;
    }
    @include media(">tablet", "<laptop") {
        .btn-enter {
            text-align: center;
        }
        .trade-he {
            display: flex;
            justify-content: center;
            // margin-bottom: 10px;
        }
    }
}

.stock-p {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    p {
        // margin-left: -12px;
        position: absolute;
        right: 5px;
    }
    .hide-bars {
        width: 80%;
        text-align: center;
    }
}

.risk-analysis-sec {
    padding: 0px;
}

.risk-inner {
    background-color: #fff;
    padding: 5px 15px;
}

.current-stock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    P {
        font-size: 14px;
    }
}

.range-sm {
    min-width: 45px;
    text-align: left !important;
}

.card-main {
    padding-right: 0.5678rem;
    min-width: 150px;
    max-width: 150px;
    font-size: 14px;
}

.add_strategy {
    display: flex !important;
    align-items: self-start;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.65rem;
    @media #{$extra-small} {
        border-top: 1px solid rgba(157, 166, 186, 0.3);
        padding-top: 0.5rem;
        margin-top: 0.5rem;
    }
}

.form-icon-down {
    position: absolute;
    right: 5px;
    top: 8px;
    color: #37A000 !important;
}

.trade-sel {
    select {
        cursor: pointer;
        -webkit-appearance: none !important;
        height: 40px;
    }
}

.mat-expansion-panel {
    box-shadow: none;
    margin-bottom: 20px !important;
    border-radius: 4px !important;
}

.mat-expansion-panel-header {
    font-family: Open Sans,sans-serif !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4A69CB;
    background: transparent !important;
    border-radius: 4px 4px 0 !important;
    padding: 20px 25px !important;
    height: inherit !important;
    border: 0;
    .mat-expansion-panel-header-title {
        color: #4A69CB;
    }
}

.mat-expansion-panel-body {
    padding: 0 25px !important;
}

.col-form-label {
    color: #4A69CB;
    font-size: 13px;
}

.btn {
    border-radius: 4px;
    font-size: 12px;
    height: 40px;
    line-height: 24px;
    padding: 0.375rem 1.5rem !important;
}

.btn-primary {
    border-radius: 4px;
    background-color: #2285FA;
}

.mat-icon {
    color: #4A69CB;
    cursor: pointer;
}

.mat-icon-edit {
    color: #9DA6BA;
}

.mat-icon-sm {
    font-size: 18px !important;
    height: 18px;
    width: 18px;
}

.risk_details {
    background: #FFFFFF;
    border: 2px solid #61BC6D;
    box-sizing: border-box;
    border-radius: 4px;
    height: 64px;
    font-size: 14px;
    line-height: 21px;
    color: #242E3A;
    display: flex;
    min-width: 300px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.risk_details_count {
    font-weight: 600;
    font-size: 29px;
}

.risk_profit {
    border: 2px solid #61BC6D;
    .risk_details_count {
        color: #61BC6D;
    }
}

.risk_lose {
    border: 2px solid #EC6B56;
    .risk_details_count {
        color: #EC6B56;
    }
}

.text-primary {
    color: #2285FA !important;
}

.addnew-second {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.4);
    border-radius: 4px;
    padding: 15px !important;
}
.compare-strategies-mobile {
    display: none;
}
@media #{$extra-small} {
    .compare-strategies-mobile {
        padding: 15px;
        display: block;
    }
    .trade-actions {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        justify-content: space-between;
    }
    .symbol-heading {
        color: #242E3A;
        font-weight: 600;
        font-size: 20px;
    }
    .symbol-description {
        font-size: 14px;
    }
    .trade-form {
        width: 100%;
        padding: 25px;
    }
    .btn-enter {
        width: 100%;
        margin-left: 0 !important;
    }
    .btn-add {
        width: 100%;
        height: 44px;
        background: #9DA6BA;
        border-radius: 4px;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
    }
    .col-symbol-label {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #4A69CB;
    }
    .col-form-label {
        color: #4A69CB;
        font-size: 12px;
        font-weight: 600;
        padding-top: 0;
    }
    .col-form-value {
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        text-align: right;
        color: #4A69CB;
    }

    .mat-expansion-panel {
        background: #f2f4f6;
    }
    .mat-expansion-panel-header {
        background: #fff!important;
        border-radius: 4px 4px 0 0 !important;
        border-bottom: 1px solid rgb(157 166 186 / 30%);
        padding: 15px !important;
    }
    .mat-expansion-panel-body {
        padding: 0 !important;
        border-top: 0;
    }
    .trade-stoack-main {
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.1);
        border-radius: 0 0 4px 4px;
        padding: 15px;
        margin: 0;
    }
    .col-form-label {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #4A69CB;
    }
    .strategy-form-sec {
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgb(157 157 157 / 10%);
        border-radius: 4px;
        padding: 15px;
        margin-top: 20px;
    }
    .risk-tabs-table {
        display: block;
    }
    .tab .nav-tabs li {
        width: 50%;
    }
    .risk-table, .risk-tables {
        width: 50%;
        border-radius: 0;
        margin-right: 0;
        box-shadow: none;
        display: inline-flex;
        max-width: 50%;
    }
    .ChangeTable {
        width: 30%;
        max-width: 30%;
    }
    .risk_details {
        height: auto;
        line-height: 1.235;
        padding: 10px;
    }
    .option-table {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    table {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        thead {
            th {
                text-align: left !important;
                padding-left: 1rem !important;
            }
        }
        td {
            text-align: left !important;
            padding-left: 1rem !important;
            
        }
    }

}
.change_cell {
    width: 10%;
    max-width: 10%;
    min-width: 100px;
}
.strategies_cell {
    width: 16%;
    max-width: 16%;
    min-width: 200px;
}
.tags-list {
    list-style: none;
    display: block;
    margin: 0;
    margin-top: 0.5rem;
}

.tags-list > li {
    display: block;
    margin: 0;
    padding-bottom: 0.5rem;
}

.tag-list-item {
    background: #ced2d7;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
}
.video-modal .modal-dialog {
    max-width: 699px;
}

.modal {
    top: 10% !important;
}

.action-icons {
    align-items: flex-end;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
