<div class="mb-2 ad-trade-plan-web">
    <div class="col-12 px-0 d-flex justify-content-between mb-1">
        <label class="col-form-label pt-0 px-3 mb-1">Open Trades</label></div>
    <div class="d-flex">
        <mat-table [dataSource]="strategiesDataSource" class="d-lg-table">
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef class="symbol-cell">Symbol</th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <ng-container matColumnDef="strategyType">
                <th mat-header-cell *matHeaderCellDef class="cell-w-12">Strategy Type</th>
                <td mat-cell *matCellDef="let element"> {{element.strategyType}} </td>
            </ng-container>

            <ng-container matColumnDef="returnAmount">
                <th mat-header-cell *matHeaderCellDef class="cell-w-12">Return</th>
                <td mat-cell *matCellDef="let element"> {{element.returnAmount}} </td>
            </ng-container>

            <ng-container matColumnDef="maxRisk">
                <th mat-header-cell *matHeaderCellDef class="cell-w-12">Max Risk</th>
                <td mat-cell *matCellDef="let element"> {{element.maxRisk | number:'1.0-0' }} </td>
            </ng-container>

            <ng-container matColumnDef="maxProfit">
                <th mat-header-cell *matHeaderCellDef class="cell-w-12">Max Profit</th>
                <td mat-cell *matCellDef="let element"> {{element.maxProfit | number:'1.0-0' }} </td>
            </ng-container>

            <ng-container matColumnDef="actionText">
                <th mat-header-cell *matHeaderCellDef class="action-cell">Comments</th>
                <td mat-cell *matCellDef="let element"> <span>{{element.actionText}}</span>
                    <!-- <mat-icon class="mat-icon-edit mat-icon-sm" (click)="onActionTextEdit(element)">edit
                </mat-icon> -->
                </td>
            </ng-container>
            <ng-container matColumnDef="editColumn">
                <th mat-header-cell *matHeaderCellDef><span *ngIf="!viewTradePlan">Action</span></th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="mat-icon-edit mat-icon-sm" *ngIf="!viewTradePlan" (click)="onActionTextEdit(element)">edit
                    </mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="aligned" *ngIf="tradePlanId > 0">
                <th mat-header-cell *matHeaderCellDef>Aligned</th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [(ngModel)]="element.aligned" [ngClass]="[viewTradePlan ? 'disabled' : '']"></mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="strategiesGridColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: strategiesGridColumns;"></tr>
        </mat-table>
    </div>
    <div *ngIf="strategiesGridColumns.length==0" class="text-center pt-3">There are no trades executed today.</div>
</div>
<!-- Mobile Code -->
<div class="mb-2 ad-trade-plan-mobile">
    <div class="col-12 px-0 justify-content-between mb-1">
        <label class="col-form-label pt-0 px-3">Open Trades</label>
        <div class="trade-plan-table">
            <!-- Grid row -->
            <div class="trade-plan-mobile-grid">
                <div class="row mb-1">
                    <div class="col-6 pl-4 cell-header">Symbol</div>
                    <div class="col-6 cell-header text-right">Strategy</div>
                </div>
                <div class="pb-2 pt-3 mobile-grid-row" *ngFor="let element of openStategiesGridData; let i=index">
                    <div class="row">
                        <div class="col-6 pl-1 mobile-grid-cell">
                            <span class="cursor" (click)="Collaps(i)">
                                <i class="material-icons">{{hideRuleContent[i] ? 'keyboard_arrow_up' :
                                    'keyboard_arrow_right'}}</i>
                            </span> {{element.symbol}}
                        </div>
                        <div class="col-6  text-right">{{element.strategyType}}</div>
                    </div>
                    <div class="" *ngIf="hideRuleContent[i]">
                        <div class="row py-1">
                            <div class="col-6 pl-4">
                                Return
                            </div>
                            <div class="col-6 text-right">
                                {{element.returnAmount}}
                            </div>
                        </div>
                        <div class="row py-1">
                            <div class="col-6 pl-4">
                                Max.Risk
                            </div>
                            <div class="col-6 text-right">
                                {{element.maxRisk | number:'1.0-0' }}
                            </div>
                        </div>
                        <div class="row py-1">
                            <div class="col-6 pl-4">
                                Max.Profit
                            </div>
                            <div class="col-6 text-right">
                                {{element.maxProfit | number:'1.0-0' }}
                            </div>
                        </div>
                        <div class="row py-1">
                            <div class="col-6 pl-4">
                                Comments
                            </div>
                            <div class="col-6 text-right">
                                <span>{{element.actionText}}</span>
                            </div>
                        </div>
                        <div class="row py-1">
                            <div class="col-6 pl-4">
                                Action
                            </div>
                            <div class="col-6 text-right">
                                <mat-icon class="mat-icon-edit mat-icon-sm" *ngIf="!viewTradePlan" (click)="onActionTextEdit(element)">edit
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>