.right-icon {
    cursor: pointer;
}

.mat-table {
    max-height: 300px;
    overflow: auto;
    width: 100%;
}

tr.mat-header-row,
tr.mat-footer-row,
tr.mat-row {
    height: 50px;
    min-height: 50px;
    line-height: 40px;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding: .5rem 1.5rem !important;
    border: 0;
    border-radius: 0;
}

.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.mat-header-cell {
    background: rgb(157 166 186 / 20%);
    color: #3A4C85;
    font-size: 14px;
    font-weight: 600;
    width: 10%;
}

// .mat-column-symbol {
//     flex: 0 0 25% !important;
//     min-width: 200px !important;
// }
// .mat-column-strategyType {
//     flex: 0 0 25% !important;
//     min-width: 150px !important;
// }
// .mat-column-returnAmount {
//     flex: 0 0 25% !important;
//     min-width: 104px !important;
// }
// .mat-column-maxRisk {
//     flex: 0 0 25% !important;
//     min-width: 104px !important;
// }
// .mat-column-maxProfit {
//     flex: 0 0 25% !important;
//     min-width: 104px !important;
// }
.col-form-label {
    font-weight: 600;
    font-size: 15px !important;
    line-height: 27px;
    color: #3A4C85;
}

.mat-icon-edit {
    color: #9DA6BA;
    font-size: 18px !important;
    font-weight: 600;
}

.mat-cell,
.mat-footer-cell {
    font-size: 13px;
    color: #3B5065;
    line-height: 23px;
}

.mat-row:nth-child(odd) {
    background-color: #fff;
    border: 0;
}