
<div class="compare-popup">
  <div class="compare-pop-inner">
      <div class="top-pop-inner" *ngIf="!isMobileDevice">
        <div class="left-heading">
          <h5>{{title}}</h5>
        </div>
      </div>

      <div class="mobile-header-nav" *ngIf="isMobileDevice">
        <div class="d-flex align-items-center">
            <mat-icon class="material-icons mat-icon cursor" (click)="closeModal()">keyboard_backspace</mat-icon>
            <h5 class="mb-0 ml-3">{{title}}</h5>
        </div>
      </div>

      <div class="main-pop-inner">
          <!-- <p  *ngIf="jsonData.ruleType === 1">{{jsonData.uiLabel }} the amount stated below</p> -->

          <div class="d-flex justify-content-center align-items-center" *ngIf="jsonData.dataType === 'int' || jsonData.dataType === 'double' || jsonData.dataType === 'time'">
            <label class="col-form-label px-3">Enter the {{jsonData.dataType === 'double' || jsonData.dataType === 'int' ? 'value' : 'time'}} </label>
            <div class="form-group">
              <input *ngIf="jsonData.dataType === 'double' || jsonData.dataType === 'int'" class="form-control" placeholder="" type="text" [(ngModel)]='value' (ngModelChange)="validateInput($event)"/>
              <input *ngIf="jsonData.dataType === 'time'" class="form-control" placeholder="" type="time" [(ngModel)]='value' />
            </div>
          </div>
          <div *ngIf="(jsonData.dataType === 'double' || jsonData.dataType === 'int') && error" class="text-danger">
            {{error}}
          </div>
          <p class="mt-3 mb-0" *ngIf="jsonData.ruleType === 1">Upon activating this rule, your orders will be checked against 
            this rule during order placement and indicated as aligned or broken. </p>

          <p class="mt-3 mb-0" *ngIf="jsonData.ruleType === 2">Upon activating this rule, your account will be checked against this rule going forward.</p>
        </div>

        <div class="popup-footer">
          <button type="button" class="btn btn-save" [ngClass]="isMobileDevice ? 'button-md' : ''" [disabled]="error" (click)="Activate()">{{btnText}}</button>
          <button type="button" class="btn btn-cancel" [ngClass]="!isMobileDevice ? 'ml-2' : 'button-md'" (click)="closeModal()">Cancel</button>
        </div>
    </div>
</div>
