
mat-table {
    width: 100%;
}

th.mat-header-cell {
  background: #979797;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #dee2e6;
}

.mat-row:nth-child(even){
  background-color: transparent;
  border: 0;
}

.mat-row:nth-child(odd){
  
  background-color: transparent;
  border: 0;
}
.date-cell {
  width: 10%;
  flex: 0 0 10% !important;
}
.strategy-id-cell{
  width: 15%;
  flex: 0 0 15% !important;
}

.strategy-name-cell{
  width: 12%;
  flex: 0 0 12% !important;
}

.stock-name-cell{
  width: 28%;
  flex: 0 0 28% !important;
}

.direction-cell{
  width: 10%;
}

.status-cell{
  width: 10%;
}

.open-date-cell{
  width: 10%;
}

.close-date-cell{
  width: 10%;
}

.action-cell {
  width: 5%;
}
.direction_arrow .material-icons {
  font-size: 1rem;
  align-items: center;
  display: flex;
}

.action_colum{
  font-size: 12px;
}
.trade-details .trade-det-box{
  display: block;
}
.trade-det-box{
  z-index: 99999;
  position: absolute;
  left: 10px;
  top: 30px;
  width: 120px;
  height: auto;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;  
}
.de-box {
  display: flex;
  padding: 10px;
  position: relative;
}

.de-box a.box-icon {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 6px 0px;
}
.de-box a.box-icon img{
  width: 10px;
  margin-top: 4px;
  height: auto;
  object-fit: contain;
}
.de-box a.box-icon span{
  font-size: 13px;
  margin-left: 8px;
  font-weight: 500;
  color: #888;
}

.trad-border{
  border: 1px solid #acacac;
  opacity: 0.3;
}
.close-dash{
  width: 20%;
  height: 3px;
  background-color: #848484;
  margin: 0 auto;
}
.right-con{
  width: 100%;
}
.close_action_box {
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 99999;
  position: absolute;
  right: 5px;
  top: 5px;
}
.trade-edit {
  color: #9DA6BA;
}
.trade-close {
  color: #EC6B56;
}
.trade-delete {
  color: #3A4C85;
}
.trade-view {
  color: #3A4C85;
}

.text-success {
  color: #37A000 !important;
}
.text-primary {
  color: #0190CA !important;
}
.btn-apply {
  background-color: #2285FA;
  color: #ffffff;
  color: #ffffff;
  font-size: 12px;
  padding: 0.375rem 1.5rem !important;
  border-radius: 4px;
  height: 40px;
  line-height: 26px;
}
.records-cell {
  width: 12%;
  flex: 0 0 12% !important;
  text-align: center;
}
.action-cell {
  width: 38%;
  flex: 0 0 38% !important;
  padding: 0;
  justify-content: start !important;
}
.import_trade_actions {
  font-size: 12px !important;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  
}
.import_trade_actions .mat-icon-sm {
  font-size: 15px !important;
  height: 15px !important;
  width: 18px !important;
}
.custom-browse {
  width: 25px;
  opacity: 0;
  cursor: pointer;
  z-index: 20;
  position: absolute;
}
.trade-dash-name h3 {
  font-size: 14px !important;
}
.mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type {
  text-align: left !important;
  justify-content: start;
}
.mat-cell, .mat-footer-cell, .mat-header-cell {
  text-align: center;
  justify-content: center;
}