@import "../../../../assets/styles/variable.scss";
.dashboard {
    // padding-bottom: 40px;
}

.trade-dash-cards-web {
    // margin-top: 20px;
    @media #{$extra-small} {
        display: none;
    }
    .flex-container {
        display: flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0;
        // padding: 0px 14px;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        position: relative;
        height: 100%;
        max-width: calc((100% - 13%));
    }
    .flex-item {
        min-height: 100px;
        margin-bottom: 10px;
        padding: .5rem;
        width: 13.345%;
        position: relative;
        // height: 100%;
        display: flex;
        align-items: flex-start;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.1);
        border-radius: 5px;
        @media #{$small} {
            min-width: calc((100% - 69%));
        }
        @media #{$medium} {
            min-width: calc((100% - 70%));
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
        .flex-inner {
            height: 100%;
            display: flex;
            align-items: center;
            a {
                cursor: pointer;
                span {
                    display: block;
                    // padding-bottom: 10px;
                    font-size: 14px;
                    line-height: 1.3;
                    color: #9DA6BA;
                }
            }
            .card-icon {
                position: absolute;
                right: 5px;
                bottom: 4px;
                img {
                    width: 20px;
                }
            }
        }
    }
}

.trade-green {
    color: #30c470;
}

.trade-red {
    color: #ff0000;
}

// card-mobile
.trade-dash-cards-mobile {
    margin-top: 20px;
    padding: 0px 20px;
    display: none;
    @media #{$extra-small} {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .trade-mobile-cards {
        width: 100%;
        padding: 12px;
        display: flex;
        justify-content: space-between;
    }
    .flex-container {
        display: flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        position: relative;
        height: 100%;
    }
    .flex-item {
        min-height: 100px;
        margin-bottom: 10px;
        padding: 0px;
        width: 45%;
        // min-width: 45%;
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        border-radius: 4px;
        .flex-inner {
            // height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            text-align: center;
            width: 100%;
            a {
                cursor: pointer;
                span {
                    display: block;
                    font-size: 20px;
                    line-height: 25px;
                    height: 55px;
                    color: #4a4a4a;
                }
                h4 {
                    font-size: 20px;
                }
            }
            .card-icon {
                position: absolute;
                right: 5px;
                bottom: 5px;
                img {
                    width: 18px;
                }
            }
        }
    }
}

.trade-dash-con {
    margin: 10px 0px 0px 0px;
    padding: 0px 0.5rem;
    @media #{$extra-small} {
        margin-bottom: 0px;
        display: none;
    }
    .dsh-img {
        margin-bottom: 20px;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.1);
        border-radius: 5px;
        .das-i {
            width: 100%;
        }
    }
}

.trade-strategies-section {
    padding: 0px 20px;
}

.trade-strategies-section {
    // background-color: white;
    // height: 400px;
    @media #{$extra-small} {
        display: none;
    }
}

// strategies table
.trade-strategies-table {
    .table {
        margin-bottom: 0px;
        box-shadow: 0px 0px 6px 0px #5a5a5a;
        thead {
            background-color: $apptabel;
            color: $white;
            tr {
                th {
                    padding: 10px 14px;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                    vertical-align: middle;
                    border-bottom: 1px solid #dee2e6;
                    @media #{$medium} {
                        padding: 8px 0px;
                        font-size: 12px;
                    }
                    @media #{$small} {
                        padding: 8px 0px;
                        font-size: 10px;
                    }
                    @media #{$extra-small} {
                        padding: 8px 0px;
                        font-size: 11px;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 6px 14px;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 13px;
                    color: #2a2a2a;
                    @media #{$medium} {
                        padding: 8px 0px;
                        font-size: 12px;
                    }
                    @media #{$small} {
                        padding: 8px 0px;
                        font-size: 10px;
                    }
                    @media #{$extra-small} {
                        padding: 8px 0px;
                        font-size: 12px;
                    }
                    p {
                        text-align: justify;
                    }
                }
                .trade-check {
                    .form-group {
                        display: block;
                        margin-bottom: 0px;
                    }
                    .form-group input {
                        padding: 0;
                        height: initial;
                        width: initial;
                        margin-bottom: 0;
                        display: none;
                        cursor: pointer;
                    }
                    .form-group label {
                        position: relative;
                        cursor: pointer;
                        margin-bottom: 0px;
                    }
                    .form-group label:before {
                        content: "";
                        -webkit-appearance: none;
                        background-color: transparent;
                        border: 2px solid $heading-1;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                        padding: 8px;
                        display: inline-block;
                        position: relative;
                        vertical-align: middle;
                        cursor: pointer;
                        margin-right: 5px;
                    }
                    .form-group input:checked+label:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 5px;
                        left: 7px;
                        width: 6px;
                        height: 12px;
                        border: solid $heading-1;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                        @media #{$small} {
                            top: 3px;
                        }
                    }
                }
                .trade-check-img {
                    img {
                        width: 18px;
                        @media #{$small} {
                            width: 14px;
                        }
                    }
                }
                .trade-rd {
                    color: #1cb86a;
                    font-weight: 500;
                }
                .trade-rdd {
                    color: #e11c1c;
                    font-weight: 500;
                }
            }
        }
    }
}

.table tbody tr td:first-child {
    padding-right: 0px !important;
}

.table tbody tr th:first-child {
    padding-right: 0px !important;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent !important;
}

.trade-details {
    cursor: pointer;
    img {
        @media #{$small} {
            width: 4px;
        }
    }
}

.card-bm {
    margin-bottom: 10px;
}

.dash-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    h6 {
        color: #016db0;
        font-size: 16px;
        font-weight: 500;
        width: 90%;
    }
    .Trade-type {
        width: 140px;
    }
}

.trade-dash-wel {
    display: none;
    margin-top: 15px;
    @media #{$extra-small} {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 20px 0px;
    }
}

.trade-stategies-heading {
    color: $primary;
    font-size: 22px;
}

.close-dash {
    width: 20%;
    height: 3px;
    background-color: #848484;
    margin: 0 auto;
}

.trade-dash-cards {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-flow: row wrap;
    /* width: calc(100% - 0px); */
}

.trade-plan {
    display: flex;
    justify-content: flex-end;
    .add-btn {
        // margin-right: 10px;
        cursor: pointer;
    }
    .view-btn {
        p {
            color: $primary;
            cursor: pointer;
        }
    }
}

.market {
    width: 35%;
}

.currnt {
    width: 12%;
}

.date {
    width: 5%;
}

.plan {
    width: 20%;
}

.per {
    width: 8%;
    img {
        width: 18px;
    }
}

.lesson {
    width: 15%;
}

.trad-border {
    border: 1px solid #acacac;
    opacity: 0.3;
}

.per-heading {
    margin-bottom: 15px;
    h5 {
        color: $primary;
        font-size: 20px;
    }
}

.trade-performance {
    margin: 14px 0px;
}

.trade-headiang {
    margin-bottom: 10px;
    h5 {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 0px;
        color: #242E3A;
    }
}

.trade-cards-heading {
    margin-bottom: 10px;
    h5 {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }
}

.btn-enter {
    background-color: #0183c0;
    color: #ffffff;
    padding: 6px 40px;
}

.key-insight-grid {
    background: #fff;
    // padding: 12px;
    border: 1px solid #ddd;
    height: 100%;
    min-height: 63vh;
    @media #{$medium} {
        min-height: auto;
    }
    @media #{$small} {
        min-height: auto;
    }
}

.kye-box {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    &:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }
    img {
        width: auto;
        height: 15px;
    }
    p {
        padding-left: 15px;
    }
}

.key-grid {
    height: 100%;
    ;
    display: flex;
    flex-direction: column;
}

.kye-box:nth-child(odd) {
    background-color: #f9f9f9;
}

.key-view {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    span {
        color: $primary;
        font-size: 14px;
        cursor: pointer;
    }
}

.trade_count {
    font-weight: bold;
    font-size: 27px;
    color: #242E3A;
    line-height: 45px;
}

.trade-green {
    color: #61BC6D;
}

.trade-red {
    color: #E7706C;
}

.img-fluid {
    border-radius: 5px;
}

.custom-grid {
    font-size: 14px;
    line-height: 21px;
    color: #242E3A;
    margin-bottom: 1rem;
}

.custom-grid-head {
    font-size: 13px;
    line-height: 21px;
    color: #9DA6BA;
}