<div class="trade-dash-cards-web">
    <div class="container">
        <div class="trade-cards-heading">
            <h5>
                KEY METRICS
            </h5>
        </div>
        


  <!-- <input matInput [matDatepicker]="picker1" (click)="picker1.open()" (dateChange)="addEvent('change', $event)" />
<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
<mat-datepicker #picker1></mat-datepicker> -->

        
          
        <div class="trade-dash-cards">
            <div class="flex-item card-first">
                <div class="flex-inner">
                    <a>
                        <span class="trade_title">Total Return</span>
                        <h3 class="trade_count trade-green">
                            +$12,546
                        </h3>
                    </a>

                </div>
            </div>
            <div class="flex-item card-second">
                <div class="flex-inner">
                    <a>
                        <span class="trade_title">Risk-Adjusted
                            Return</span>
                        <h3 class="trade_count trade-green">
                            +$1,546
                        </h3>
                    </a>
                </div>
            </div>
            <div class="flex-item card-second">
                <div class="flex-inner">
                    <a>
                        <span class="trade_title">Win/Loss Ratio</span>
                        <h3 class="trade_count trade-red">
                            57%
                        </h3>
                    </a>

                </div>
            </div>
            <div class="flex-item card-first">
                <div class="flex-inner">
                    <a>
                        <span class="trade_title">Max. Amount
                            at Risk</span>
                        <h3 class="trade_count trade-red">
                            $2,325
                        </h3>
                    </a>

                </div>
            </div>
            <div class="flex-item card-three">
                <div class="flex-inner">
                    <a>
                        <span class="trade_title">Average Holding
                            Period</span>
                        <h3 class="trade_count">
                            1.2 days
                        </h3>

                        <!-- <div class="card-icon">
                            <img src="../../../assets/images/icon/Icon awesome-arrow-up.svg" alt="">
                        </div> -->
                    </a>

                </div>
            </div>
            <div class="flex-item card-three">
                <div class="flex-inner">
                    <a>
                        <span class="trade_title">Most Successful
                            Strategy</span>
                        <h3 class="trade_count">
                            Iron Condor
                        </h3>

                        <!-- <div class="card-icon">
                            <img src="../../../assets/images/icon/Icon awesome-arrow-up.svg" alt="">
                        </div> -->
                    </a>

                </div>
            </div>
            <div class="flex-item card-second">
                <div class="flex-inner">
                    <a>
                        <span class="trade_title">Alignment with
                            Trading Plan</span>
                        <h3 class="trade_count trade-red">
                            25%
                        </h3>
                    </a>

                </div>
            </div>
        </div>


    </div>
</div>





<!-- trade-card-mobile -->
<div class="trade-dash-cards-mobile">
    <div class="container">

        <div class="trade-cards-heading">
            <h5>
                KEY METRICS
            </h5>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="trade-mobile-cards">
                <div class="flex-item card-first card-bm">
                    <div class="flex-inner">
                        <a>
                            <span>Total Return</span>
                            <h4 class="trade_count trade-green">
                                +$12,560
                            </h4>
                        </a>

                    </div>
                </div>
                <div class="flex-item card-second card-bm">
                    <div class="flex-inner">
                        <a>
                            <span>Risk Adjusted Return</span>
                            <h4 class="trade_count trade-green">
                                -$1,546
                            </h4>


                        </a>
                    </div>
                </div>
            </div>

            <div class="trade-mobile-cards">
                <div class="flex-item card-second card-bm">
                    <div class="flex-inner">
                        <a>
                            <span>Win/Loss Ratio</span>
                            <h4 class="trade_count trade-red">
                                49%
                            </h4>
                        </a>
                    </div>
                </div>
                <div class="flex-item card-first card-bm">
                    <div class="flex-inner">
                        <a>
                            <span>Max. Amount at Risk</span>
                            <h4 class="trade_count trade-red">
                                -$1,546
                            </h4>
                        </a>
                    </div>
                </div>
            </div>

            <div class="trade-mobile-cards">
                <div class="flex-item card-three card-bm">
                    <div class="flex-inner">
                        <a>
                            <span>Average Holding Period</span>
                            <h4 class="trade_count">
                                1.2 days
                            </h4>


                        </a>
                    </div>
                </div>
                <div class="flex-item card-second card-bm">
                    <div class="flex-inner">
                        <a>
                            <span>Alignment with
                                Trading Plan</span>
                            <h4 class="trade_count trade-red">
                                21%
                            </h4>

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="trad-border"></div>
    <!-- performance -->
    <div class="trade-performance">
        <div class="container">

            <div class="per-heading">
                <h5>
                    GOAL STATUS
                </h5>
            </div>

            <div class="per-box">
                <img src="../../../../assets/images/Dashboard/goal_status-removebg-preview.png" alt="" width="100%">
            </div>
        </div>
    </div>
    <div class="trad-border"></div>

    <!-- key-->
    <div class="trade-performance">
        <div class="container">

            <div class="per-heading">
                <h5>
                    KEY INSIGHTS
                </h5>
            </div>

            <div class="per-box">
                <div class="key-insight-grid">
                    <div class="key-grid">

                        <div class="kye-box">
                            <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png" alt="">
                            <p>Trading plan not recorded for the last 3 days</p>
                        </div>

                        <div class="kye-box">
                            <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png" alt="">
                            <p>Total risk associated with the open trades is greater than the allowed risk</p>
                        </div>

                        <div class="kye-box">
                            <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png" alt="">
                            <p>Open trade strategies are not aligned with the entry rules</p>
                        </div>

                        <div class="kye-box">
                            <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png" alt="">
                            <p>Cash reserves account for less than 10% of the total capital</p>
                        </div>

                        <div class="kye-box">
                            <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png" alt="">
                            <p>Number of trades per day increased by 90%</p>
                        </div>

                        <div class="kye-box">
                            <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png" alt="">
                            <p>32% of the capital is invested on a single stock</p>
                        </div>

                        <div class="kye-box">
                            <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png" alt="">
                            <p>80% of the capital allocated to trades in one sector</p>
                        </div>

                        <div class="kye-box">
                            <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png" alt="">
                            <p>Trade strategy 05082020-001 is not hedged</p>
                        </div>
                    </div>

                    <div class="key-view">
                        <span>View All</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="trad-border"></div>
</div>
<div class="trade-dash-con">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="trade-analytics">
                    <div class="trade-headiang">
                        <h5>BALANCE HISTORY</h5>
                    </div>
                    <div class="dsh-img">
                        <img src="../../../../assets/images/Dashboard/Group 305.png" alt="" class="img-fluid das-i" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="trade-analytics">
                    <div class="trade-headiang">
                        <h5>GOAL STATUS</h5>
                    </div>
                    <div class="dsh-img">
                        <img src="../../../../assets/images/Dashboard/goal status.png" alt="" class="img-fluid das-i">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="trade-analytics">
                    <div class="trade-headiang">
                        <h5>CALENDAR REPORT</h5>
                    </div>
                    <div class="dsh-img">
                        <img src="../../../../assets/images/Dashboard/Group 364.png" alt="" class="img-fluid das-i">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="trade-analytics">
                    <div class="trade-headiang">
                        <h5>KEY INSIGHTS</h5>
                    </div>
                    <div class="dsh-img">
                        <!-- <img src="../../../../assets/images/Dashboard/Group 304.png" alt="" class="img-fluid"> -->

                        <div class="key-insight-grid">
                            <div class="key-grid">

                                <div class="kye-box">
                                    <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png"
                                        alt="">
                                    <p>Trading plan not recorded for the last 3 days</p>
                                </div>

                                <div class="kye-box">
                                    <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png"
                                        alt="">
                                    <p>Total risk associated with the open trades is greater than the allowed risk</p>
                                </div>

                                <div class="kye-box">
                                    <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png"
                                        alt="">
                                    <p>Open trade strategies are not aligned with the entry rules</p>
                                </div>

                                <div class="kye-box">
                                    <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png"
                                        alt="">
                                    <p>Cash reserves account for less than 10% of the total capital</p>
                                </div>

                                <div class="kye-box">
                                    <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png"
                                        alt="">
                                    <p>Number of trades per day increased by 90%</p>
                                </div>

                                <div class="kye-box">
                                    <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png"
                                        alt="">
                                    <p>32% of the capital is invested on a single stock</p>
                                </div>

                                <div class="kye-box">
                                    <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png"
                                        alt="">
                                    <p>80% of the capital allocated to trades in one sector</p>
                                </div>

                                <div class="kye-box">
                                    <img src="../../../../assets/images/Dashboard/Icon ionic-ios-arrow-forward.png"
                                        alt="">
                                    <p>Trade strategy 05082020-001 is not hedged</p>
                                </div>
                            </div>

                            <div class="key-view">
                                <span>View All</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Trade Strategies  -->

<div class="trade-strategies-section">
    <div class="container">

        <div class="trade-strategies-sec">
            <div class="trade-strategies-table">
                <div class="mb-4">
                    <div>
                        <!-- Grid row -->
                        <div class="row align-items-center">
                            <!-- Grid column -->
                            <div class="col-md-6">
                                <h2 class="py-3 text-left font-bold font-up success-text trade-stategies-heading"> TRADE
                                    PLAN </h2>
                            </div>
                            <div class="col-md-6">
                                <div class="trade-plan">

                                    <div class="add-btn" (click)="addNewTradePlan()">
                                        <!-- <img src="../../../../assets/images/icon/Icon ionic-ios-add-circle.png" alt=""> -->
                                        <button class="btn btn-enter">ADD PLAN</button>
                                    </div>

                                </div>
                            </div>
                            <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th class="date">Date</th>
                                    <th class="currnt">Positions Aligned with Rules</th>
                                    <th class="market">Perspective on the market</th>
                                    <th class="plan">Planned Trades</th>
                                    <th class="per">Traded as per the plan</th>
                                    <th class="lesson">Lessons Learnt</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="date">30-June</td>
                                    <td class="currnt">No</td>
                                    <td class="market">
                                        <p>Negative on the market fundamentally but neutral from money-inflow and Fed
                                            action
                                            perspectove. Negative mainly on large tech such as AAPL and cloud stocks. I
                                            am
                                            neutral on airlines and ridesharing stocks now. I believe markets will fall
                                            significantly due to hit on earnings which will be known in July/August,
                                            Biden
                                            win (roll-out of tax cuts), etc. </p>
                                    </td>

                                    <td class="plan">
                                        <p>Wait on AMZN. May be buy 3000 call and Put Spreads on AMZN for next
                                            week. Buy calls on tech stocks.</p>
                                    </td>
                                    <td class="per">
                                        <img alt="" class="img-fluid"
                                            src="../../../../assets/images/Dashboard/Icon_feather-check-removebg-preview.png">
                                    </td>

                                    <td class="lesson">
                                        <p>Do not trade same day calls and puts unnecessarily. Money will be lost
                                            consistently.</p>
                                    </td>

                                </tr>

                                <tr>
                                    <td class="date">30-June</td>
                                    <td class="currnt">No</td>
                                    <td class="market">
                                        <p>Negative on the market fundamentally but neutral from money-inflow and Fed
                                            action
                                            perspectove. Negative mainly on large tech such as AAPL and cloud stocks. I
                                            am
                                            neutral on airlines and ridesharing stocks now. I believe markets will fall
                                            significantly due to hit on earnings which will be known in July/August,
                                            Biden
                                            win (roll-out of tax cuts), etc. </p>
                                    </td>

                                    <td class="plan">
                                        <p> Wait on AMZN. May be buy 3000 call and Put Spreads on AMZN for next
                                            week. Buy calls on tech stocks.</p>
                                    </td>
                                    <td class="per">
                                        <img alt="" class="img-fluid"
                                            src="../../../../assets/images/Dashboard/Icon material-close.png"> </td>

                                    <td class="lesson">
                                        <p>Do not trade same day calls and puts unnecessarily. Money will be lost
                                            consistently.</p>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="date">30-June</td>
                                    <td class="currnt">No</td>
                                    <td class="market">
                                        <p>Negative on the market fundamentally but neutral from money-inflow and Fed
                                            action
                                            perspectove. Negative mainly on large tech such as AAPL and cloud stocks. I
                                            am
                                            neutral on airlines and ridesharing stocks now. I believe markets will fall
                                            significantly due to hit on earnings which will be known in July/August,
                                            Biden
                                            win (roll-out of tax cuts), etc. </p>
                                    </td>

                                    <td class="plan">
                                        <p> Wait on AMZN. May be buy 3000 call and Put Spreads on AMZN for next
                                            week. Buy calls on tech stocks.</p>
                                    </td>
                                    <td class="per">
                                        <img alt="" class="img-fluid"
                                            src="../../../../assets/images/Dashboard/Icon_feather-check-removebg-preview.png">
                                    </td>

                                    <td class="lesson">
                                        <p>Do not trade same day calls and puts unnecessarily. Money will be lost
                                            consistently.</p>
                                    </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>