<div class="container-f">
<div class="trade-exit-rules">

        <div class="trade-thesis-sec">
            <div class="trade-thesis-heading">
                <h4>
                    Exit Rules
                </h4>
            </div>
        
            <div class="trade-thesis-inner">
                <div class="trade-thesis-list">
                    <div class="thesis-list-inner">
                        <div class="list-inner-left">
                            <span>
                                <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                            </span>
                            <h6>
                                Do not close trade before target price is reached
                            </h6>
                        </div>
                        <div class="list-inner-right">
                            <div class="trade-check">
                                <span class="switch-no"> NOT ALIGNED</span>
                                <div class="switch">
                                    <input type="checkbox" id="checkbox-1" checked/>
                                    <label for="checkbox-1"></label>
                                  </div>
        
                                  <span class="switch-yes checked"> ALIGNED</span>
        
                            </div>
                          
        
                        </div>
                    </div>
        
                    <div class="thesis-list-inner">
                        <div class="list-inner-left">
                            <span>
                                <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                            </span>
                            <h6>
                                Do not close the trade if the profit is less than $100
                            </h6>
                        </div>
                        <div class="list-inner-right">
        
                            <div class="trade-check-s">
                                <span class="switch-no"> NOT ALIGNED</span>
                                <div class="switch">
                                    <input type="checkbox" id="checkbox-2" [(ngModel)]="checkbox2"/>
                                    <label for="checkbox-2"></label>
                                  </div>
        
                                  <span class="switch-yes"> ALIGNED</span>
        
                            </div>
                            <div class="trade-input">
        
                                <div  class="form-group has-search" *ngIf="!checkbox2">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
        
                        </div>
                    </div>
        
                    <div class="thesis-list-inner">
                        <div class="list-inner-left">
                            <span>
                                <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                            </span>
                            <h6>
                                Do not close the trade if the entry hypothesis is intact
                            </h6>
                        </div>
                        <div class="list-inner-right">
                            <div class="trade-check">
                                <span class="switch-no"> NOT ALIGNED</span>
                                <div class="switch">
                                    <input type="checkbox" id="checkbox-3"/>
                                    <label for="checkbox-3"></label>
                                  </div>
        
                                  <span class="switch-yes"> ALIGNED</span>
        
                            </div>
                    </div>
                    </div>
        
                    <div class="thesis-list-inner">
                        <div class="list-inner-left">
                            <span>
                                <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                            </span>
                            <h6>
                                Do not close the trade to buy another hot stock                    
                            </h6>
                        </div>
                        <div class="list-inner-right">
        
                            <div class="trade-check-s">
                                <span class="switch-no"> NOT ALIGNED</span>
                                <div class="switch">
                                    <input type="checkbox" id="checkbox-4" [(ngModel)]="checkbox4"/>
                                    <label for="checkbox-4"></label>
                                  </div>
        
                                  <span class="switch-yes"> ALIGNED</span>
        
                            </div>
                            <div class="trade-input">
        
                                <div  class="form-group has-search" *ngIf="!checkbox4">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                    </div>
                    </div>
        
        
                    <div class="thesis-list-inner">
                        <div class="list-inner-left">
                            <span>
                                <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                            </span>
                            <h6>
                                Do not close the trade purely based on fear                   
                            </h6>
                        </div>
                        <div class="list-inner-right">
        
                            <div class="trade-check">
                                <span class="switch-no"> NOT ALIGNED</span>
                                <div class="switch">
                                    <input type="checkbox" id="checkbox-5"/>
                                    <label for="checkbox-5"></label>
                                  </div>
        
                                  <span class="switch-yes"> ALIGNED</span>
        
                            </div>
                         
                    </div>
                    </div>
        
        
                    <div class="thesis-list-inner">
                        <div class="list-inner-left">
                            <span>
                                <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                            </span>
                            <h6>
                                Do not close the position without meeting the exit criteria.
                            </h6>
                        </div>
                        <div class="list-inner-right">
                            <div class="trade-check-s">
                                <span class="switch-no"> NOT ALIGNED</span>
                                <div class="switch">
                                    <input type="checkbox" id="checkbox-6" [(ngModel)]="checkbox6"/>
                                    <label for="checkbox-6"></label>
                                  </div>
        
                                  <span class="switch-yes"> ALIGNED</span>
        
                            </div>
        
                            <div class="trade-input">
        
                                <div  class="form-group has-search" *ngIf="!checkbox6">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    
            </div>
            </div>
        
        
        <div  class="trad-border " ></div>
        
        <br>
        <div class="order-btn text-center" >
            <a  class="btn btn-next" (click)="closeTrade()">Close TRADE</a>
        </div>
        <div class="trade-new-btn">
            <a class="btn btn-per" (click)="previous()">Previous</a>
        </div>
    </div>
    </div>
</div>
