<ng-container [ngSwitch]="currentState">
    <ng-container *ngSwitchCase="1">

      <!-- entry second -->
      <div class="addnew-second">
        <div class="trade-rate">
          <div class="trade-left-name">
            <div class="trade-name">
              <h5>
                Netflix Inc.
              </h5>
            </div>
            <div class="trade-name-rate">
              <span class="trade-r">$429.32</span>
              <span class="trade-rr">
                <img src="../../../../../assets/images/Icon awesome-arrow-up.png" alt="" />
                -6.93 (-1.59%)
              </span>
            </div>
          </div>
  
          <div class="trade-right-search">
            <div class="form-group has-search">
              <input class="form-control" placeholder="Symbol" type="text" />
              <img alt="" class="form-icon" src="../../../../../assets/images/icon/Icon awesome-search.png" />
            </div>
          </div>
        </div>
  
        <div class="trade-rate-box">
          <div class="trade-rate-heading">
            <h6>
              Key Statistics
            </h6>
          </div>
  
          <div class="trade-rate-sec">
            <div class="rate-box">
              <div class="rate-box-left">
                <div class="bxo-name">
                  <span>
                    Prev Close
                  </span>
  
                  <h6>
                    436.25
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Today's Open
                  </span>
  
                  <h6>
                    440.14
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Day's Range
                  </span>
  
                  <h6>
                    427.18 - 439.09
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    52-Wk Range
                  </span>
  
                  <h6>
                    252.28 - 458.97
                  </h6>
                </div>
              </div>
              <div class="rate-box-right">
                <div class="bxo-name">
                  <span>
                    Market Cap
                  </span>
  
                  <h6>
                    188.81B
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Volume
                  </span>
  
                  <h6>
                    5.19M
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Avg. Volume
                  </span>
  
                  <h6>
                    9.07M
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Beta
                  </span>
  
                  <h6>
                    0.97
                  </h6>
                </div>
              </div>
            </div>
  
            <div class="rate-box">
              <div class="rate-box-left">
                <div class="bxo-name">
                  <span>
                    Enterprise Value
                  </span>
  
                  <h6>
                    206.40B
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Revenue
                  </span>
  
                  <h6>
                    21.4B
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Gross Margin
                  </span>
  
                  <h6>
                    35.2%
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Oper. Margin
                  </span>
  
                  <h6>
                    14.6%
                  </h6>
                </div>
              </div>
              <div class="rate-box-right">
                <div class="bxo-name">
                  <span>
                    Total Debt
                  </span>
  
                  <h6>
                    16.27B
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Free Cash Flow
                  </span>
  
                  <h6>
                    13.31B
                  </h6>
                </div>
  
              </div>
            </div>
  
            <div class="rate-box">
              <div class="rate-box-left">
                <div class="bxo-name">
                  <span>
                    Price/Earnings
                  </span>
  
                  <h6>
                    90.62
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Price/Sales
                  </span>
  
                  <h6>
                    9.45
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Price/Book
                  </span>
  
                  <h6>
                    23.41
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Dividend Yield
                  </span>
  
                  <h6>
                    N/A
                  </h6>
                </div>
              </div>
              <div class="rate-box-right">
                <div class="bxo-name">
                  <span>
                    Short Ratio
                  </span>
  
                  <h6>
                    1.27%
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Institutional Holding
                  </span>
  
                  <h6>
                    83%
                  </h6>
                </div>
  
              </div>
            </div>
  
            <div class="rate-box-s">
              <div class="rate-box-s-left">
                <div class="bxo-name">
                  <span>
                    30-day Moving Average
                  </span>
  
                  <h6>
                    385.62
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    Stock Trend
                  </span>
  
                  <h6>
                    Bullish
                  </h6>
                </div>
                <div class="bxo-name">
                  <span>
                    7-day RSI
                  </span>
  
                  <h6>
                    27.82
                  </h6>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="trad-border"></div>
  
      <!-- entry-third -->
      <div class="trade-stoack-main">
        <div class="trade-sec">
          <h6>Enter the exit price for all the positions and close the trade strategy</h6>
          Trade Strategy: Custom
        </div>
      </div>
  
      <div class="trade-cards-section">
        <div class="trade-card-box">
          <div class="card-main">
            <div class="card-left">
              <span>Select Action</span>
            </div>
            <div class="card-right">
              <div class="form-group">
                <select id="inputState" class="form-control select-input" [(ngModel)]="stockEntry.actionType">
                  <option value="BUY_TO_OPEN" [hidden]="!addTrade" selected data-default>Buy to Open</option>
                  <option value="SELL_TO_OPEN" [hidden]="!addTrade">Sell to Open</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card-main">
            <div class="card-left">
              <span>Enter Quantity</span>
            </div>
            <div class="card-right">
              <div class="form-group">
                <input type="number" (keydown)="preventNegatives($event, false)" min="0" class="form-control cards-input"
                  [(ngModel)]="stockEntry.quantity" />
              </div>
            </div>
          </div>
          <div class="card-main">
            <div class="card-left">
              <span>Stock Price </span>
            </div>
            <div class="card-right">
              <div class="form-group">
                <input type="number" pattern="^\d*(\.\d{0,2})?$" (change)="checkForDecimalValidation($event)" step="0.01"
                  (keydown)="preventNegatives($event, true)" min="0" class="form-control cards-input" placeholder=""
                  [(ngModel)]="stockEntry.price" />
              </div>
            </div>
          </div>
          <div class="card-main">
            <div class="card-left">
              <span>Net Debit</span>
            </div>
            <div class="card-right">
              <h6>{{stockEntry.quantity && stockEntry.price ? (stockEntry.quantity * stockEntry.price).toFixed(2) : 0}}
              </h6>
            </div>
          </div>
        </div>
        <ng-container *ngFor="let item of stockOptions;let index = index">
          <div class="edit-trade-card-box-container">
            <div class="trade-card-box">
              <div class="card-main">
                <div class="card-left">
                  <span>Select Action</span>
                </div>
                <div class="card-right">
                  <div class="form-group">
                    <select id="inputState" class="form-control select-input" [(ngModel)]="stockOptions[index].actionType">
                      <option value="BUY_TO_OPEN" [hidden]="!addTrade" selected data-default>Buy to Open</option>
                      <option value="SELL_TO_OPEN" [hidden]="!addTrade">Sell to Open</option>
                      <option value="BUY_TO_CLOSE" [hidden]="addTrade">Buy to Close</option>
                      <option value="SELL_TO_CLOSE" [hidden]="addTrade">Sell to Close</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="card-main">
                <div class="card-left">
                  <span>Enter Contracts</span>
                </div>
                <div class="card-right">
                  <div class="form-group">
                    <input type="number" (keydown)="preventNegatives($event, false)" min="0"
                      class="form-control cards-input" placeholder="" [(ngModel)]="stockOptions[index].contracts" />
                  </div>
                </div>
              </div>
              <div class="card-main">
                <div class="card-left">
                  <span>Strike Price</span>
                </div>
                <div class="card-right">
                  <div class="form-group">
                    <input type="number" (keydown)="preventNegatives($event, true)" pattern="^\d*(\.\d{0,2})?$"
                      (change)="checkForDecimalValidation($event)" step="0.01" min="0" class="form-control cards-input"
                      placeholder="" [(ngModel)]="stockOptions[index].strikePrice" />
                  </div>
                </div>
              </div>
    
              <div class="card-main">
                <div class="card-left">
                  <span>Option Type</span>
                </div>
                <div class="card-right">
                  <div class="form-group">
                    <select id="inputState" class="form-control select-input" [(ngModel)]="stockOptions[index].optionType">
                      <option value="call" selected data-default>Call</option>
                      <option value="put">Put</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="card-main">
                <div class="card-left">
                  <span>Expiry Date</span>
                </div>
                <div class="card-right">
                  <div class="datepicker-group">
                    <input matInput [matDatepicker]="expireDate" (click)="expireDate.open()" id="expireDate" (dateChange)="addEvent('input', $event)" name="stockOptions[index].expireDate" />
                    <mat-datepicker-toggle matSuffix [for]="expireDate"></mat-datepicker-toggle>
                    <mat-datepicker #expireDate></mat-datepicker>
                  </div>
                </div>
              </div>
              <div class="card-main">
                <div class="card-left">
                  <span>Price</span>
                </div>
                <div class="card-right">
                  <div class="form-group">
                    <input type="number" (keydown)="preventNegatives($event, true)" pattern="^\d*(\.\d{0,2})?$"
                      (change)="checkForDecimalValidation($event)" step="0.01" min="0" class="form-control cards-input"
                      placeholder="" [(ngModel)]="stockOptions[index].price" />
                  </div>
                </div>
              </div>
              <div class="card-main">
                <div class="card-left">
                  <span>Net Credit</span>
                </div>
                <div class="card-right">
                  <h6>
                    {{stockOptions[index].contracts && stockOptions[index].price ? (stockOptions[index].contracts * stockOptions[index].price * 100).toFixed(2) : 0}}
                  </h6>
                </div>
              </div>
            </div>
            <div class="trade-card-box-bottom">Hedge Trade <input type="checkbox" class="ml-2" /></div>
        </div>
        </ng-container>
      </div>
  
      <div class="trad-border"></div>
  
      <!-- next-button -->
      <div class="order-btn text-center">
        <a class="btn btn-next" (click)="next()">Next</a>
      </div>
  
      
    </ng-container>
  
    
  
  </ng-container>