@import '../../../../../../../../assets/styles/variable.scss';

.btn-add {
    padding: 0.375rem 1.5rem !important;
    background: #2285FA;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    cursor: pointer;
    border-radius: 0;
    &:hover {
        color: white !important;
    }
}

.col-form-label {
    color: #3A4C85;
    font-size: 12px;
    font-weight: 600;
}

.form-control {
    padding: 0.375rem 0.5rem;
    font-size: 12px;
}

select.form-control {
    padding: 0.375rem 0.25rem;
}

.separator {
    background: #9DA6BA;
    opacity: 0.2;
    margin: .5rem 0;
    height: 1px;
}

.pop-inner-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0;
    color: #3A4C85;
}
.tradingview-chart {
    width: 100% !important;
}


.btn-add {
    padding: 0.375rem 1.5rem !important;
    background: #2285FA;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    cursor: pointer;
    border-radius: 0;
    &:hover {
        color: white !important;
    }
}

.col-form-label {
    color: #3A4C85;
    font-size: 14px !important;
    font-weight: 600;
}


select.form-control {
    padding: 0.375rem 0.25rem;
    width: 180px;
}

.separator {
    background: #9DA6BA;
    opacity: 0.2;
    margin: .5rem 0;
    height: 1px;
}

.form-control {
    display: block;
    height: 32px;
    border: 1px solid #878484;
    padding: 0.375rem 0.5rem;
    width: 180px;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 18px;
    color: #000;
}
.btn-join {
    background-color: #2285FA;
    color: #ffffff;
    color: #ffffff;
    font-size: 12px;
    padding: 0.375rem 1rem !important;
    border-radius: 4px;
    height: 32px;
}


.small-text {
    font-size: 12px;
    color: #ccc;
}
textarea.form-control {
    height: 80px;
    width: 100%;
    overflow: auto;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    padding: 0.25rem 0.5!important;
    font-size: 12px;
    min-width: 75px;
}

.followers-col {
    flex: 0 0 15%;
    min-width: 15%;
    align-items: center;
    display: flex;
}
.modal-footer {
    align-items: center;
    justify-content: center;
}

.col-form-label {
    font-weight: 500;
    font-size: 14px !important;
    line-height: 18px;
    color: #929292;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 25%;
    flex: 0 0 25%;
}
.col-form-value {
    font-weight: 500;
    font-size: 14px !important;
    line-height: 18px;
    color: #000;
}
.add-new {
    color: #007bff;
    font-size: 13px;
    line-height: 1;
    font-weight: 600;
}