@import "../../../../assets/styles/variable.scss";
@import "../../../../assets/styles/breakpoints.scss";
// Dashboard topbar
.trade-dashboard-topbar {
    height: 55px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(105, 105, 105, 0.1);
    display: flex;
    @media #{$extra-small} {
        display: none;
    }
    .trade-dash-sections {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0 .25rem 0;
        position: relative;
        width: 100%;
        @media #{$extra-small} {
            padding: 0px;
        }
        .dashboard-left-logo {
            @media #{$extra-small} {
                display: none;
            }
            img {
                // width: 160px;
                // height: auto;
            }
        }
        .user-details {
            display: flex;
            align-items: center;
            font-size: .89rem;
            @media #{$extra-small} {
                display: none;
            }
            .login-img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid $white;
                overflow: hidden;
                margin-right: 10px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .login-member-name {
                color: #000;
                font-weight: 500;
                font-size: .78rem;
                h5 {
                    font-weight: 500;
                    font-size: .78rem;
                    padding: .25rem 0;
                }
            }
        }
    }
}

// Dashboard Navabr
.trade-dashboard-navbar {
    background-color: #242E3A;
    .trade-navbar {
        width: 100%;
        display: flex;
        padding: 0px;
        @include media(">tablet", "<laptop") {
            padding: 0px;
            height: auto;
        }
        @media #{$extra-small} {
            display: none;
        }
        ul {
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            // flex-flow: wrap;
            padding: 0;
            @include media(">tablet", "<laptop") {
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            @media #{$extra-small} {
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            li {
                cursor: pointer;
                position: relative;
                padding: 0 .5rem;
                &:hover>ul {
                    visibility: visible;
                    opacity: 1;
                    display: block;
                }
                a.trade-nav-link {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    padding: 5px;
                    color: #fff;
                    position: relative;
                    @include media(">tablet", "<laptop") {
                        margin-left: 14px;
                        margin-bottom: 9px;
                    }
                    span {
                        margin-right: 5px;
                        svg {
                            width: 16px;
                            @include media(">tablet", "<laptop") {
                                width: 14px;
                            }
                        }
                    }
                    h4 {
                        color: #fff;
                        font-size: 14px;
                        font-family: "Helvetica", sans-serif !important;
                        font-weight: 500;
                        @include media(">tablet", "<laptop") {
                            font-size: 14px;
                        }
                        @media #{$medium} {
                            font-size: 14px;
                        }
                    }
                }
                ul {
                    background: #fff;
                    border: 1px solid #b6b6b6;
                    visibility: hidden;
                    opacity: 0;
                    min-width: 170px;
                    max-width: 170px;
                    position: absolute;
                    transition: all 0.5s ease;
                    margin: 0;
                    left: 0;
                    display: none;
                    padding: 0;
                    list-style: none;
                    top: 26px;
                    z-index: 10;
                    li {
                        padding: 0;
                        a.trade-nav-link {
                            color: #000;
                            font-size: 14px;
                            font-weight: 500;
                            padding: 5px 10px;
                        }
                    }
                }
                .last-menu {
                    left: auto;
                    right: -15px;
                    top: 45px;
                }
            }
        }
    }
}

// Dashboard sedction
.trade-app-dashboard {
    background-color: #f2f4f6;
    height: auto;
    min-height: 100vh;
    padding: 0;
}

.sidebar {
    @media #{$extra-small} {
        display: none;
    }
}

.trade-dash-section {
    width: 100%;
    .trade-dash-main {
        padding: 0;
        @media #{$extra-small} {
            display: none;
        }
        .trade-bread {
            nav {
                ol {
                    padding-left: 0px;
                    list-style: none;
                    li {
                        display: inline-flex;
                    }
                }
            }
        }
        .trade-dash-name {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            margin-bottom: 0px;
            h3 {
                color: #242E3A;
                font-weight: 500;
            }
        }
    }
}

// mobile-navbar
.mobile-bottom-nav {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    will-change: transform;
    transform: translateZ(0);
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px -4px 16px rgba(157, 157, 157, 0.2);
    padding: 0 20px;
    width: 100%;
    @media #{$extra-small} {
        display: block;
        position: fixed;
    }
    @media #{$small} {
        display: none;
    }
    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        li {
            display: inline-block;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                color: #394C86;
                text-decoration: none;
                .mat-icon {
                    height: 29px;
                    width: 29px;
                    padding: 3px;
                }
                .nav1 {
                    padding-top: 2px;
                }
                &:hover {
                    background-color: #2285FA;
                    box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.2);
                    border-radius: 6px;
                    color: #fff;
                }
            }
            .nav-active {
                background-color: #2285FA;
                box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.2);
                border-radius: 6px;
                color: #fff;
            }
        }
    }
}

.mobile-logo {
    display: none;
    background-image: url('../../../../assets/images/trade-logo.svg');
    width: 110px;
    height: 60px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @media #{$extra-small} {
        display: flex;
    }
}

.nav-active {
    // color: $primary !important;
}

.edit-icon {
    margin-left: 10px;
    img {
        cursor: pointer;
    }
}

.dropdown {
    position: absolute;
    top: 80%;
    right: 0;
    z-index: 95;
    min-width: 10rem;
    overflow: auto;
    border-radius: 0;
    background: #fff;
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    margin: 0;
}

.dropdown>li>a {
    padding: 5px 10px;
    display: block;
    color: #424242;
}

.dropdown>li>a:hover {
    text-decoration: none;
}

.top-nav {
    display: flex;
    align-items: center;
}

.mat-lg {
    font-size: 32px;
}

.full-logo {
    width: 80%;
    margin: 0 auto;
}

.trade-header-mobile {
    background-color: #394c86;
    display: none;
    @media #{$extra-small} {
        display: block;
    }
    .mat-icon,
    .top-nav-link {
        color: #fff;
        fill: #fff;
        @media #{$extra-small} {
            display: inline-block;
        }
    }
    .top-nav-item {
        @media #{$extra-small} {
            margin-top: 0;
            padding: 0;
        }
    }
    .mat-icon {
        @media #{$extra-small} {
            height: 20px;
            width: 20px;
            font-size: 20px!important;
            margin-top: 3px;
        }
    }
    .db-mb-header-section-logo {
        text-align: center;
    }
}