<div class="app page-dashboard zoom" [ngClass]="isMobileDevice ? 'mobile' : ''" (window:resize)="onResize($event)">
    <div class="header">
        <div class="wrapper">
            <div class="header-left">
                <div class="pinned-instruments">
                    <div class="instrument-widget">
                        <span *ngIf="isMobileDevice" class="sidebar-brand cursor-pointer" [routerLink]="['/dashboard/']">
                            <img src="../../../../assets/images/cuetrade-logo.svg" alt="Trade-app-logo" class="img-fluid logo_sm">
                        </span>
                        <span *ngIf="!isMobileDevice" class="sidebar-brand cursor-pointer" [routerLink]="['/dashboard/']">
                            <img src="../../../../assets/images/cuetrade-logo.svg" alt="Trade-app-logo" class="img-fluid full-logo">
                        </span>
                    </div>
                </div>
            </div>
            <div class="header-right">
                <div class="app-nav" *ngIf="!isMobileDevice">
                    <a [class.router-link-active]="currentRoute === 'dashboard'" [routerLink]="['/dashboard/']" routerLinkActive="router-link-active" ><span>Home</span></a>
                    <a [class.router-link-active]="currentRoute === 'orders'" [routerLink]="['/orders/']" routerLinkActive="router-link-active"><span>Orders</span></a>
                    
                    <a [class.router-link-active]="currentRoute === 'positions'" [routerLink]="['/positions/']" routerLinkActive="router-link-active"><span>Positions</span></a>

                    <a [class.router-link-active]="currentRoute === 'trade-plans'" [routerLink]="['/trade-plans/']" routerLinkActive="router-link-active"><span>Plan</span></a>

                    <a [class.router-link-active]="currentRoute === 'import-trades-history'" [routerLink]="['/import-trades-history/']" routerLinkActive="router-link-active"><span>Journal</span></a>

                    <a [class.router-link-active]="currentRoute === 'rules'" [routerLink]="['/rules/']" routerLinkActive="router-link-active"><span>Rules</span></a>

                    <a [class.router-link-active]="currentRoute === 'reports'" [routerLink]="['/reports/']" routerLinkActive="router-link-active"><span>Analytics</span></a>

                    <a (click)="openBrokerageModal()"><span class="btn-broker-login">Connect Broker</span></a>
                </div> 
                <div class="right-nav">
                    <!-- <span class="btn btn-start mr-3" (click)="startTour()">
                        Start Tour <mat-icon>arrow_forward</mat-icon>
                    </span> -->
                    <div class="user-nav perspective px-0" (clickOutside)="closeUserDropDownUI(true)">
                        <div class="dropdown-label cursor" (click)="showUserDropDown()">
                            <div id="avatar-44">
                                <div class="avatar">
                                    <span></span>
                                </div>
                            </div>
                            <span class="user-id"></span>
                        </div>
                        <div *ngIf="userDropDown" class="dropdown-nav layer-2">
                            <!-- <div class="dropdown-nav-header"> -->
                                <li class="list-flat-item">
                                <a [routerLink]="['/profile/']" class="p-0">
                                    {{userData.name}}
                                    <!-- <div class="email">{{userDetails | json}}</div> -->
                                </a>
                                </li>
                            <!-- </div> -->
                            <hr>
                            <ul class="m-0">
                                <li class="list-flat-item">
                                    <a class="p-0" [routerLink]="['/settings/']">
                                    Goals
                                    </a>
                                </li>
                                <hr>
                                <li class="list-flat-item">
                                    <a class="p-0" [routerLink]="['/settings/']">
                                    Data Setup
                                    </a>
                                </li>

                                <hr>
                                <li class="list-flat-item">
                                    <span class="d-flex align-items-center" (click)="logout()">
                                        <!-- <mat-icon class="material-icons mr-1">logout</mat-icon> Logout -->
                                    Logout     
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>


    <div class="trading-container wrapper">
        <div class="container-left" *ngIf="!isMobileDevice">
            <div class="watch-list-container">
                <app-watch-list></app-watch-list>
            </div>
        </div>
        <div class="container-right">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div>

    <div class="app-nav mobile mobile-nav" *ngIf="isMobileDevice">
        <a class="nav-link" [class.router-link-active]="currentRoute === 'market-watch'" [routerLink]="['/market-watch/']" routerLinkActive="router-link-active" >
            <span class="icon">
                <img *ngIf="currentRoute !== 'market-watch'" src="../../../../assets/img/icon-watchlist.png" >
                <img *ngIf="currentRoute === 'market-watch'" src="../../../../assets/img/icon-watchlist_r.png" alt="Trade-app-logo">
            </span>
            <span class="nav-text">Watchlist</span>
        </a>

        <a class="nav-link" (click)="openBrokerageModal()">
            <span class="icon">
                <img src="../../../../assets/img/icon-watchlist.png" >
            </span>
            <span class="nav-text">Connect</span>
        </a>
        
        <a class="nav-link" [class.router-link-active]="['/orders/']" [routerLink]="['/orders/']" routerLinkActive="router-link-active">
            <span class="icon">
                <img *ngIf="currentRoute !== 'orders'" src="../../../../assets/img/icon-order.png" />
                <img *ngIf="currentRoute === 'orders'" src="../../../../assets/img/icon-order_r.png" />
            </span>
            <span class="nav-text">Orders</span>
        </a>
        <a class="nav-link" [class.router-link-active]="['/holdings/']" [routerLink]="['/holdings/']" routerLinkActive="router-link-active">
            <span class="icon">
                <img *ngIf="currentRoute !== 'holdings'" src="../../../../assets/img/icon-holdings.png" />
                <img *ngIf="currentRoute === 'holdings'" src="../../../../assets/img/icon-holdings_r.png" />
            </span>
            <span class="nav-text">Holdings</span>
        </a>
        <a class="nav-link" [class.router-link-active]="['/positions/']" [routerLink]="['/positions/']" routerLinkActive="router-link-active">
            <span class="icon">
                <img *ngIf="currentRoute !== 'positions'" src="../../../../assets/img/icon-positions.png" />
                <img *ngIf="currentRoute === 'positions'" src="../../../../assets/img/icon-positions_r.png" />
            </span>
            <span class="nav-text">Positions</span>
        </a>
        <a class="nav-link" [class.router-link-active]="['/rules/']" [routerLink]="['/rules/']" routerLinkActive="router-link-active">
            <img *ngIf="currentRoute !== 'rules'" src="../../../../assets/img/icon-positions.png" />
            <img *ngIf="currentRoute === 'rules'" src="../../../../assets/img/icon-positions_r.png" />
            <span class="nav-text">Rules</span>
        </a>
    </div>
    
</div>

<div *ngIf="brokerageModal" class="modal-backdrop fade show"></div>
<div class="modal contact-modal" [ngClass]="brokerageModal ? 'show' : ''"  tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <span class="">Connect to Your Brokerage</span>
        </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeBrokerageModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-0">
            <form>
                <div class="col-10 p-0">
                  <label class="col-form-label">Log in to your brokerage account to execute trades directly from CueTrade</label>
                  <select (change)="onBrokerageChange($event.target.value)" class="form-control mb-3">
                    <option value="0">Select your brokerage</option>
                    <option value="FYERS">FYERS</option>
                    <option value="Zerodha">Zerodha</option>
                    <option value="Robinhood">Robinhood</option>
                  </select>
                </div>
              </form>
        </div>
      </div>
    </div>
</div>

<app-chatbot></app-chatbot>
