<div class="app page-dashboard zoom" [ngClass]="isMobileDevice ? 'mobile' : ''" (window:resize)="onResize($event)">
    <div class="header">
        <div class="wrapper">
            <div class="header-left" *ngIf="!isMobileDevice">
                <div class="pinned-instruments">
                    <div class="instrument-widget">
                        <span *ngIf="isExpand" class="sidebar-brand cursor-pointer" [routerLink]="['/dashboard/']">
                            <img src="../../../../assets/images/logo-sm.svg" alt="Trade-app-logo" class="img-fluid logo_sm">
                        </span>
                        <span *ngIf="!isExpand" class="sidebar-brand cursor-pointer" [routerLink]="['/dashboard/']">
                            <img src="../../../../assets/images/cuetrade-logo.svg" alt="Trade-app-logo" class="img-fluid full-logo">
                        </span>
                    </div>
                </div>
            </div>
            <div class="header-right">
                <div class="app-nav" *ngIf="!isMobileDevice">
                    <a [class.router-link-active]="currentRoute === 'dashboard'" [routerLink]="['/dashboard/']" routerLinkActive="router-link-active" ><span>Dashboard</span></a>
                    <a [routerLink]="['/orders/']" routerLinkActive="router-link-active"><span>Orders</span></a>
                    
                    <a [routerLink]="['/positions/']" routerLinkActive="router-link-active"><span>Positions</span></a>

                    <a [routerLink]="['/holdings/']" routerLinkActive="router-link-active"><span>Holdings</span></a>

                    <a [class.router-link-active]="currentRoute === 'trade-plans'" [routerLink]="['/trade-plans/']" routerLinkActive="router-link-active"><span>Plan</span></a>

                    <a [class.router-link-active]="currentRoute === 'import-trades-history'" [routerLink]="['/import-trades-history/']" routerLinkActive="router-link-active"><span>Journal</span></a>

                    <a [class.router-link-active]="currentRoute === 'reports'" [routerLink]="['/reports/']" routerLinkActive="router-link-active"><span>Analytics</span></a>
                </div>

                <div class="right-nav">
                    <!-- <span class="btn btn-start mr-3" (click)="startTour()">
                        Start Tour <mat-icon>arrow_forward</mat-icon>
                    </span> -->
                    <div class="user-nav perspective px-0" (clickOutside)="closeUserDropDownUI(true)">
                        <div class="dropdown-label cursor" (click)="showUserDropDown()">
                            <div id="avatar-44">
                                <div class="avatar">
                                    <span>{{avatarName}}</span>
                                </div>
                            </div>
                            <span class="user-id">{{userId}}</span>
                        </div>
                        <div *ngIf="userDropDown" class="dropdown-nav layer-2">
                            <div class="dropdown-nav-header"><a href="/profile" class="">
                                    <h4 class="username">Narasimha{{userDetails.name}}</h4>
                                    <div class="email">test@gamil.com{{userDetails.email}}</div>
                                </a></div>
                            <hr>
                            <ul class="m-0">
                                <li class="p-2">
                                    <span class="demo-toggle">
                                        Demo&nbsp;Mode <div class="switch ml-2">
                                            <input type="checkbox" [(ngModel)]="demoToggle" (change)="demoMsg()" id="demoToggle" class="cursor" [checked]="demoToggle" />
                                            <label for="demoToggle"></label>
                                          </div>
                                    </span>
                                </li>
                                <hr>
                                <li class="list-flat-item">
                                    <a class="p-0" [routerLink]="['/settings/']">
                                        Settings
                                    </a>
                                </li>

                                <hr>
                                <li class="list-flat-item">
                                    <span class="d-flex align-items-center" (click)="logout()">
                                        <mat-icon class="material-icons mr-1">logout</mat-icon> Logout
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>


    <!-- <div class="sidebar" [ngClass]="!isExpand ? '' : 'toggled'">
        <span *ngIf="isExpand" class="sidebar-brand cursor-pointer" [routerLink]="['/dashboard/']">
            <img src="../../../../assets/images/logo-sm.svg" alt="Trade-app-logo" class="img-fluid logo_sm">
        </span>
        <span *ngIf="!isExpand" class="sidebar-brand cursor-pointer" [routerLink]="['/dashboard/']">
            <img src="../../../../assets/images/logo.svg" alt="Trade-app-logo" class="img-fluid full-logo">
        </span>
        <nav class="trade-navbar">
            <div class="parent-item">
                <img src="../../../../assets/images/plan_r.svg" class="nav-icon nav-icon-md">
                <img src="../../../../assets/images/plan.svg" class="nav-icon nav-icon_r"> 
                Plan
            </div>
            <ul class="list-unstyled ">
                <li class="sidebar-item" [class.nav-active]="currentRoute === 'trade-plans'">
                    <a class="sidebar-link" [routerLink]="['/trade-plans/']" routerLinkActive="active">
                        <mat-icon>note_add</mat-icon>
                        <span>Daily Plan</span>
                    </a>
                </li>
                <li class="sidebar-item" [class.nav-active]="currentRoute === 'trade-builder'">
                    <a class="sidebar-link" [routerLink]="['/trade-builder/']" routerLinkActive="active">
                        <mat-icon>compare_arrows</mat-icon>
                        <span>Trade Builder</span>
                    </a>
                </li>
            </ul>

            <div class="parent-item">
                <img src="../../../../assets/images/journal_r.svg" class="nav-icon nav-icon-md">
                <img src="../../../../assets/images/journal.svg" class="nav-icon nav-icon_r">
                Journal
            </div>
            <ul class="list-unstyled ">
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'import-trades-history'">
                    <a class="sidebar-link" [routerLink]="['/import-trades-history/']" routerLinkActive="active">
                        <mat-icon class="mat-lg">import_export</mat-icon>
                        <span>Import Trades</span>
                    </a>
                </li>
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'positions'">
                    <a class="sidebar-link" [routerLink]="['/positions/']" routerLinkActive="active">
                        <mat-icon>attach_money</mat-icon>
                        <span>Positions</span>
                    </a>
                </li>
                
            </ul>

            <div class="parent-item">
                <img src="../../../../assets/images/review_r.svg" class="nav-icon review-icon"> 
                <img src="../../../../assets/images/review.svg" class="nav-icon nav-icon_r"> 
                Review
            </div>
            <ul class="list-unstyled ">
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'reports'">
                    <a class="sidebar-link" [routerLink]="['/reports/']">
                        <mat-icon>pie_chart</mat-icon>
                        <span>Reports</span>
                    </a>
                </li>
               
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'rules'">
                    <a class="sidebar-link" [routerLink]="['/rules/']">
                        <mat-icon>rule</mat-icon>
                        <span>Trading Rules</span>
                    </a>
                </li>
            </ul>

            <div class="parent-item">
                <img src="../../../../assets/images/review_r.svg" class="nav-icon review-icon"> 
                <img src="../../../../assets/images/review.svg" class="nav-icon nav-icon_r"> 
                Trading
            </div>
            <ul class="list-unstyled ">
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'trading'">
                    <a class="sidebar-link" [routerLink]="['/trading/']">
                        <mat-icon>pie_chart</mat-icon>
                        <span>Trade View</span>
                    </a>
                </li>
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'orders'">
                    <a class="sidebar-link" [routerLink]="['/trading/orders/']">
                        <mat-icon>insights</mat-icon>
                        <span>Orders</span>
                    </a>
                </li>
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'holdings'">
                    <a class="sidebar-link" [routerLink]="['/trading/holdings/']">
                        <mat-icon>insights</mat-icon>
                        <span>Holdings</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div> -->

    <div class="trading-container wrapper">
        <div class="container-left">
            <div class="watch-list-container">
                <app-watch-list></app-watch-list>
            </div>
        </div>
        <div class="container-right">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div>
    
</div>

<div *ngIf="contactUsModal" class="modal-backdrop fade show"></div>
<div class="modal contact-modal" [ngClass]="contactUsModal ? 'show' : ''"  tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Contact Us</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeContactUsModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-0">
            <form>
                <div class="mb-2">
                  <label class="col-form-label">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Name" />
                </div>
                <div class="mb-2">
                  <label class="col-form-label">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Email" />
                </div>
                <div class="form-group">
                  <label class="col-form-label">Message </label>
                  <textarea rows="4" class="form-control" id="message" placeholder="Message"></textarea>
                </div>
              </form>
        </div>
        <div class="modal-footer py-1">
            <button type="button" class="btn btn-add">Submit</button>
            <button type="button" class="btn btn-secondary ml-1" (click)="closeContactUsModal()">Close</button>
        </div>
      </div>
    </div>
</div>


