<div class="wrapper trade-app-dashboard">
    <div class="sidebar" [ngClass]="!isExpand ? 'toggled' : ''">
        <div *ngIf="!isExpand" class="sidebar-brand cursor-pointer" [routerLink]="['/dashboard/']">
            <img src="../../../../assets/images/cuetrade-blue-logo-sm.svg" alt="Trade-app-logo" class="img-fluid logo_sm">
        </div>
        <div *ngIf="isExpand" class="sidebar-brand cursor-pointer" [routerLink]="['/dashboard/']">
            <img src="../../../../assets/images/cuetrade-blue-logo.svg" alt="Trade-app-logo" class="img-fluid full-logo">
        </div>

        <nav class="trade-navbar">
            <div class="parent-item">
                Plan
            </div>
            <ul class="list-unstyled ">
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'trade-plans'">
                    <a class="sidebar-link" [routerLink]="['/trade-plans/']">
                        <mat-icon>note_add</mat-icon>
                        <span>Trade Plan</span>
                    </a>
                </li>
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'new-trade'">
                    <a class="sidebar-link" [routerLink]="['/new-trade/']">
                        <mat-icon>attach_money</mat-icon>
                        <span>Analyze Trade</span>
                    </a>
                </li>
            </ul>

            <div class="parent-item">
                Journal
            </div>
            <ul class="list-unstyled ">
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'import-trades-history'">
                    <a class="sidebar-link" [routerLink]="['/import-trades-history/']">
                        <mat-icon class="mat-lg">import_export</mat-icon>
                        <span>Import Trades</span>
                    </a>
                </li>
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'trade-strategies'">
                    <a class="sidebar-link" [routerLink]="['/trade-strategies/']">
                        <mat-icon>attach_money</mat-icon>
                        <span>Trade Book</span>
                    </a>
                </li>
                
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'bulk-update'">
                    <a class="sidebar-link" [routerLink]="['/bulk-update/']">
                        <span>Bulk Update</span>
                    </a>
                </li>
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'rules'">
                    <a class="sidebar-link" [routerLink]="['/rules/']">
                        <mat-icon>rule</mat-icon>
                        <span>Trading Rules</span>
                    </a>
                </li>
                
            </ul>

            <div class="parent-item">
                Review
            </div>
            <ul class="list-unstyled ">
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'reports'">
                    <a class="sidebar-link" [routerLink]="['/reports/']">
                        <mat-icon>pie_chart</mat-icon>
                        <span>Reports</span>
                    </a>
                </li>
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'insights'">
                    <a class="sidebar-link" [routerLink]="['/insights/']">
                        <span>Insights</span>
                    </a>
                </li>
            </ul>


            <div class="parent-item">
                Tools
            </div>
            <ul class="list-unstyled ">
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'risk-analysis'">
                    <a class="sidebar-link" [routerLink]="['/risk-analysis/']">
                        <span>Options Analyzer</span>
                    </a>
                </li>
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'strategy-comparison'">
                    <a class="sidebar-link" [routerLink]="['/strategy-comparison/']">
                        <mat-icon>compare_arrows</mat-icon>
                        <span>Strategy&nbsp;Picker</span>
                    </a>
                </li>
            </ul>

            <div class="parent-item">
                Settings
            </div>
            <ul class="list-unstyled ">
                <li class="sidebar-item" [class.nav-active]="currentRoute == 'setttings'">
                    <a class="sidebar-link" [routerLink]="['/setttings/']">
                        <span>Data Setup</span>
                    </a>
                </li>
            </ul>
            <!-- <span class="menu-toggle cursor-pointer" (click)="sidebarToggle()">
                <mat-icon *ngIf="!isExpand">arrow_forward</mat-icon>
                <mat-icon *ngIf="isExpand">arrow_back</mat-icon>
            </span> -->
        </nav>
    </div>
    <div class="main">
        <div class="trade-dashboard-topbar">
            <div class="trade-dash-sections">
                <div class="d-flex align-items-center px-3">
                    <span class="page-heading">{{title}}</span>
                    <!-- <span matTooltip="{{description}}" matTooltipPosition="right" class="text-secondary ml-2" matTooltipClass="custom-tooltip" [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay"><img src="../../../../assets/images/outline_info_icon.png" /></span> -->
                </div>
                <div *ngIf="demoService.demoMode" class="flash-bar">You are viewing CueTrade in demo mode</div>
                <div class="user-details">
                    <!-- <div class="global-search">
                        <div class="media-body">
                            <app-trade-search (symbolSelectEvent)="symbolSelectEventHandler($event)">
                            </app-trade-search>
                        </div>
                        <mat-icon class="material-icons-outlined cursor" (click)="enterSymbol()">
                            search
                        </mat-icon>
                    </div> -->
                    <div class="top-nav">
                        <span class="demo-toggle">
                            Demo <div class="switch ml-2">
                                <input type="checkbox" [(ngModel)]="demoToggle" (change)="demoMsg()" id="demoToggle" class="cursor" [checked]="demoToggle" />
                                <label for="demoToggle"></label>
                              </div>
                        </span>
                        <!-- <span class="top-nav-item pr-0" [class.nav-active]="currentRoute == 'setttings'">
                            <a class="top-nav-link" [routerLink]="['/setttings/']">
                                <mat-icon>settings</mat-icon>
                            </a>
                        </span> -->
                        <span class="top-nav-item pl-0" [class.nav-active]="currentRoute == 'insights'">
                            <a class="top-nav-link" [routerLink]="['/insights/']">
                                <mat-icon>notifications_none</mat-icon>
                                <span class="notification_count">{{notificationService.notificationCount}}</span>
                        </a>
                        </span>
                        <span class="top-nav-item pr-0" [class.nav-active]="currentRoute == 'help'">
                            <a class="top-nav-link" [routerLink]="['/help']">
                                <mat-icon>help_outline</mat-icon>
                            </a>
                        </span>
                    </div>
                    <div class="login-img ml-2" (click)="logout()">
                        <span class="material-icons logout">logout</span>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="trade-header-mobile">
            <div class="trade-header-mobile-row">
                <span class="ml-2 mt-1" (click)="menuToggle()">
                    <span class="material-icons logout">menu</span>
                </span>
                <nav class="trade-navbar hamburger-menu" [ngClass]="hamburgerMenu ? 'open' : ''">
                    <ul class="list-unstyled ">
                        <li class="sidebar-item" [class.nav-active]="currentRoute == 'dashboard'">
                            <a class="sidebar-link" [routerLink]="['/dashboard/']">
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item" [class.nav-active]="currentRoute == 'trade-strategies'">
                            <a class="sidebar-link" [routerLink]="['/trade-strategies/']">
                                <span>Portfolio</span>
                            </a>
                        </li>
        
                        <li class="sidebar-item" [class.nav-active]="currentRoute == 'risk-analysis'">
                            <a class="sidebar-link" [routerLink]="['/risk-analysis/']">
                                <span>Strategy Builder</span>
                            </a>
                        </li>
                        <li class="sidebar-item" [class.nav-active]="currentRoute == 'strategy-comparison'">
                            <a class="sidebar-link" [routerLink]="['/strategy-comparison/']">
                                <span>Strategy&nbsp;Comparison</span>
                            </a>
                        </li>
                        <li class="sidebar-item" [class.nav-active]="currentRoute == 'trade-plans'">
                            <a class="sidebar-link" [routerLink]="['/trade-plans/']">
                                <span>Trade Plan</span>
                            </a>
                        </li>
        
        
                        <li class="sidebar-item" [class.nav-active]="currentRoute == 'reports'">
                            <a class="sidebar-link" [routerLink]="['/reports/']">
                                <span>Reports</span>
                            </a>
                        </li>
                        <li class="sidebar-item" [class.nav-active]="currentRoute == 'rules'">
                            <a class="sidebar-link" [routerLink]="['/rules/']">
                                <span>Rules</span>
                            </a>
                        </li>
                        <li class="sidebar-item" [class.nav-active]="currentRoute == 'setttings'">
                            <a class="sidebar-link" [routerLink]="['/setttings/']">
                                <span>Settings</span>
                            </a>
                        </li>
                        <li class="sidebar-item" [class.nav-active]="currentRoute == 'notifications'">
                            <a class="sidebar-link" [routerLink]="['/notifications/']">
                                <span>Notifications</span>
                            </a>
                        </li>
                        <li class="sidebar-item" [class.nav-active]="currentRoute == 'help'">
                            <a class="sidebar-link" [routerLink]="['/help/']">
                                <span>Help</span>
                            </a>
                        </li>
                        <li class="sidebar-item" (click)="logout()">
                            <a class="sidebar-link">
                                <span>Logout</span>
                            </a>
                        </li>
        
                    </ul>
                    
                </nav>

                <!-- <div class="db-mb-header-section-logo"><img alt="Trade-app-logo" class="img-fluid full-logo" src="../../../../assets/images/TA-full-logo.jpg" /></div> -->
                <span class="page-heading text-white">{{title}}</span>

                <div class="user-details">
                    <div class="top-nav">
                        <span class="demo-toggle">
                            <div class="switch ml-1">
                                <input type="checkbox" [(ngModel)]="demoToggle" (change)="demoMsg()" id="demoToggle" class="cursor" [checked]="demoToggle" />
                                <label for="demoToggle"></label>
                            </div>
                        </span>
                        <!-- <span class="login-img ml-2" (click)="logout()">
                            <span class="material-icons logout">logout</span>
                        </span> -->
                    </div>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>

<!-- Trade-Navbar-Mobile -->
<nav class="mobile-bottom-nav">
    <ul>
        <li>
            <a [routerLink]="['/dashboard/']" [class.nav-active]="currentRoute == 'dashboard'">
                <mat-icon _ngcontent-moq-c1="" class="mat-icon notranslate material-icons mat-icon-no-color nav1" role="img" aria-hidden="true">dashboard</mat-icon>
            </a>
        </li>
        <li>
            <a [class.nav-active]="currentRoute == 'trade-strategies'" [routerLink]="['/trade-strategies']">
                <mat-icon _ngcontent-moq-c1="" class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">attach_money</mat-icon>
            </a>
        </li>
        <li>
            <a [class.nav-active]="currentRoute == 'strategy-comparison'" [routerLink]="['/strategy-comparison/']">
                <mat-icon _ngcontent-moq-c1="" class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">compare_arrows</mat-icon>
            </a>
        </li>
        <li>
            <a [class.nav-active]="currentRoute == 'risk-analysis'" [routerLink]="['/risk-analysis/']">
                <mat-icon _ngcontent-moq-c1="" class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">insights</mat-icon>
            </a>
        </li>
        <li>
            <a [class.nav-active]="currentRoute == 'trade-plan'" [routerLink]="['/trade-plans']">
                <mat-icon _ngcontent-moq-c1="" class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">note_add</mat-icon>
            </a>
        </li>
        <li>
            <a [class.nav-active]="currentRoute == 'reports'" [routerLink]="['/reports']">
                <mat-icon _ngcontent-moq-c1="" class="mat-icon notranslate material-icons mat-icon-no-color" role="img" aria-hidden="true">pie_chart</mat-icon>
            </a>
        </li>

        <!-- <li>
            <i class="material-icons" (click)="expandRowOptions(i)">more_vert</i>
        </li> -->
    </ul>
</nav>