<div class="p-3 nodata-text" *ngIf="!insights || !insights.length">
    <a routerLink="/rules">Setup Rules</a>
</div>
<ul class="insights-list" *ngIf="insights">
    <li *ngFor="let insght of insights; let i = index;" class="insight-item">
        <!-- <span>&#9654;&nbsp;&nbsp;{{insght.day}}:&nbsp;{{insght.msg}}</span> -->
        <div class="insights_date">{{insght.day}}</div>
        <span>{{insght.msg}}</span>
    </li>
</ul>
<div class="px-3 text-right" *ngIf="insights">
    <a (click) = "navigateToInsights()" class="view-more cursor">View More</a>
</div>