.insights-list{
    list-style-type:none;
    margin: 0;
    height: 275px;
    overflow-y: auto;
}

.insight-item{
    padding: 10px;
}
.insights_date {
    font-size: 13px;
    line-height: 21px;
    color: #9DA6BA;
}
.view-more {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
    font-size: 12px;
}
.nodata-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 500;
    font-size: 22px;
    text-decoration: underline;
}