.insights-list{
    list-style-type:none;
    margin: 0;
    overflow-y: auto;
}

.insight-item{
    padding: 11px 14px;        //spacing between each insight item
    border-bottom: 1px solid rgb(157 166 186 / 68%);
}
.insights_date {
    font-size: 16px;      //Updated font size of Key Insights
    line-height: 18px;
    color: #9DA6BA;
    margin-right: 1rem;
}
.view-more {
    font-weight: 600;
    color: #4A69CB;   //Updated color of View More hyperlink
    text-decoration: none;
    font-size: 14px;
}

.nodata-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 500;
    font-size: 18px;
    color: #4A69CB;
    text-decoration: none;
    position: absolute;
    width: 100%;
    left: 0;
    flex-direction: column;
    top: 0;
    a {
        text-decoration: none;
    }
}