.insights-list{
    list-style-type:none;
    margin: 0;
    height: 268px;
    overflow-y: auto;
}

.insight-item{
    padding: 10px;
}
.insights_date {
    font-size: 13px;
    line-height: 21px;
    color: #9DA6BA;
}
.view-more-btn {
    padding: 0.375rem .5rem !important;
    background: #2285FA;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    border-radius: 0;
}