@import "../../../../../assets/styles/variable.scss";

.addnew-trade {
  padding: 0px 20px;
  @media #{$extra-small} {
    display: none;
  }
}

.stepper-content {
  margin-top: 2%;
}

// Addnew-trade-Mobile

.add-newtrade-mobile {
  display: none;
  @media #{$extra-small} {
    display: block;
    margin-top: 20px;
  }

  .trade-top-heading {
    h3 {
      color: #016DB0;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px !important;
    }
  }

  .trad-border {
    border: 1px solid #acacac;
    opacity: 0.3;
  }

  .addnew-steps {
    margin-top: 10px;

    .new-step-one {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .stepone-left{
        width: 30%;
      }
      .stepone-right {
        margin-left: 10px;
        width: 50%;
      }
    }

    .new-step-second {
      .trade-rate {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .trade-name {
          margin-bottom: 5px;
          h5 {
            font-size: 20px;
            font-weight: bold;
          }
        }

        span.trade-r {
          color: black;
          font-weight: bold;
          font-size: 17px;
        }
        span.trade-rr {
          color: #ff0000;
          font-weight: bold;
          font-size: 17px;
          margin-left: 8px;
        }
      }

      .trade-right-search .form-control {
        border: 1px solid #a2a2a2;
        // height: 40px;
      }

      .trade-right-search {
        position: relative;
        width: 100px;
        img.form-icon {
          position: absolute;
          right: 8px;
          top: 12px;
          width: 15px;
        }
      }

      .trade-stategy-options {
        margin-top: 20px;

 
.trade-stategy-heading {
          h6 {
            color: #016DB0;
          }
        }

        .trade-stategy-option-section {
          display: flex;
          flex-direction: column;
          width: 100%;
          // margin: 20px 0px;

          .stategy-options {
            position: relative;

            .add-option-btn {
              display: flex;
              flex-direction: column;
              width: 100%;

              .btn-add {
                padding: 8px 40px;
                background: #016DB0;
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                text-transform: uppercase;
                margin-bottom: 15px;
              }

              .btn-secondary {
                color: #ffffff;
                text-transform: uppercase;
                padding: 8px 40px;
                font-size: 14px;
                font-weight: 500;
                // line-height: 28px;
                margin-bottom: 10px;
              }
            }
          }

          .trade-add-stock-cards {
            margin: 20px 0px;
            .cards-inner-top {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;
              .left-card-inner {
                h6 {
                  color: #016DB0;
                  font-size: 15px;
                }
              }

              .right-card-inner {
                img {
                  width: 14px;
                }
              }
            }

            .cards-inner {
              width: 100%;
              position: relative;
              display: flex;
              flex-direction: column;
              padding: 12px;
              background-color: #fff;
              border: 1px solid #ddd;
              border-radius: 5px;
              box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.1);

              .card-main {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 10px;

                .card-left {
                  width: 50%;
                  span {
                    font-size: 14px;
                  }
                }

                .card-right {
                  width: 50%;
                }
              }
            }
          }

          .stock-inc {
            border: 1px solid #707070;
            padding: 4px 9px;
            border-radius: 50px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            a {
              cursor: pointer;
              img {
                width: 25px;
                height: auto;
              }
            }

            span {
              margin: 0px 5px;
            }
          }

          .trade-add-options {
            margin: 20px 0px;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            overflow-y: scroll;
            align-items: center;
            position: relative;
            height: 100%;
            box-sizing: border-box;
            .cards-inner-top {
              width: 100%;
              min-width: 290px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;
              .left-card-inner {
                h6 {
                  color: #016DB0;
                  font-size: 15px;
                }
              }

              .right-card-inner {
                img {
                  width: 14px;
                }
              }
            }

            .cards-inner {
              width: 100%;
              // min-width: 380px;
              position: relative;
              display: flex;
              flex-direction: column;
              padding: 12px;
              background-color: #fff;
              border: 1px solid #ddd;
              border-radius: 5px;
              box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);

              .card-main {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 10px;

                .card-left {
                  width: 50%;
                  span {
                    font-size: 14px;
                  }
                }

                .card-right {
                  width: 50%;
                }
              }
            }
          }
        }
      }
    }

    .new-step-third {
      .trade-stategy-heading {
        h6 {
          color: #016db0;
        }
      }

      .stock-price-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        .left-stock-con {
          width: 30%;
          p {
            font-size: 14px;
          }
        }

        .right-stock-price {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 70%;
          .box-m {
            margin-left: 10px;
          }
        }
      }

      .stock-options-choose {
        display: flex;

        flex-direction: column;
        width: 100%;

        .right-stock-option {
          display: flex;
          justify-content: space-between;
          width: 70%;
          .firstqt {
            width: 18%;
          }
          .first-qt {
            width: 39%;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
.card-margin {
  margin-left: 10px;
}

.btn-pre {
  color: $primary;
  font-weight: bold;
  font-size: 17px;
}

.stock-price-box {
  background: #fff;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;

  a img {
    width: 16px;
  }
  span {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.option-heading {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* margin: 0 auto; */

  .top-q {
    width: 15%;
    span {
      font-size: 14px;
    }
  }

  .top-qt {
    width: 26%;
    span {
      font-size: 14px;
    }
  }
}

.option-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.left-stock-option {
  width: 30%;
  p {
    font-size: 14px;
  }
}

.firstqt .form-control{
  height: 34px;
}

.btn-add {
  padding: 8px 40px;
  background: #016DB0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 15px;
  width: 100%;
}

.trade-btn-p{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.trade-table{
  margin-bottom: 10px;
  margin-top: 15px;
  .table{
    background-color: #fff;
    border: 1px solid #ddd;
  }
  thead {
    background-color: #979797;
    color: #FFFFFF;

tr th {
  padding: 8px 0px;
    font-size: 11px;
    font-weight: 500;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #dee2e6;
}
  }
  tbody{

    tr td {
      padding: 7px 0px;
      text-align: center;
      vertical-align: middle;
      font-size: 12px;
      color: #2A2A2A;
    }
  }
}

.trade-stategy-heading {
  h6 {
    color: #016DB0;
    font-weight: 600;
    font-size: 20px;
  }
}
.trade-thesis-inner{
  margin-top: 15px;
}
.tranding-thesis {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  .left-thesis {
    width: 69%;
    h6{
      color: #565656 !important;
      font-size: 18px;
      font-weight: 400;
    }
}
.right-thesis {
  width: 30%;
}
}
.trading-thesis-trade{
  margin-bottom: 10px;
  .top-thesis{
    margin-bottom: 10px;
    h6{
      color: #565656 !important;
      font-size: 18px;
      font-weight: 400;
    }
  }
}


// Toggle Customize 
.switch{
  position: relative;
  width: 50%;
}
.switch label
{
  width: 60px;
  height: 30px;
  position: absolute;
  background-color: #999;
  top: -3px;
  left: 0;
  border-radius:50px;
  margin-bottom: 0px;
}
.switch input[type="checkbox"]
{
visibility: hidden;
}
.switch label:after{
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50px;
  position: absolute;
  top: 2px;
  left: 1px;
  background-color: white;
  transition: all .3s;
  }
.switch input[type="checkbox"]:checked + label:after{
  left: 33px;
  }
.switch input[type="checkbox"]:checked + label{
 background-color:green;
  }
.switch input[type="checkbox"]:not(:checked) + label{
 background-color:red;
  }
.switch-no{
  color:red;
}
.switch-yes{
  color:green;
}

.trade-entry-rule{
  margin-top: 20px;
  .entry-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    .left-con{
      width: 65%;

      h6{
        color: #565656 !important;
        font-size: 16px;
        font-weight: 400;
      }
    }
    .right-toggle{
      width: 35%;
      display: flex;
      justify-content: center;
    }
  }
}

.activeStepHeading {
  color: #0183C0 !important;
}
.edit-trade-item {
    color: #016db0;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 20px;
}