<div class="order-container" *ngIf="!isMobileDevice">
    <app-open-orders [openOrders]="openOrders.data"></app-open-orders>
    
    <app-executed-orders [executedOrders]="executedOrders.data"></app-executed-orders>
    
</div>


<div class="reports-section" *ngIf="isMobileDevice">
    <div class="trade-risk-tabs web-parent-reports">
        <div class="tab" role="tabpanel">
            <div class="reports-header">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active" role="presentation">
                        <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#openOrders" role="tab">Open Orders <span class="circle" *ngIf="openOrders">{{openOrders.data.length}}</span></a>
                    </li>
                    <li role="presentation">
                        <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#executedOrders" role="tab">Executed Orders <span class="circle" *ngIf="openOrders">{{executedOrders.data.length}}</span></a>
                    </li>
                </ul>
            </div>

            <div class="tab-content tabs reports-tab-content">
                <div class="tab-pane active" id="openOrders" role="tabpanel">
                    <app-open-orders [openOrders]="openOrders.data"></app-open-orders>
                </div>
                <div class="tab-pane" id="executedOrders" role="tabpanel">
                    <app-executed-orders [executedOrders]="executedOrders.data"></app-executed-orders>
                </div>
            </div>
        </div>
    </div>
</div>