@import "../../../../../assets/styles/variable.scss";

.add-trade-plan {
  padding: 0px 20px;
}
.inner-trade{
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px 15px;
  height: 100%;
  position: relative;
  text-align: center;
}
.inner-trade-plan {

  display: flex;
  flex-direction: column;
  // /* min-height: 100vh; */
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 8%;
    height: 1px;
    width: 100%;
    background-color: #ddd;
    @media #{$small} {
      display: none;
    }
  }
  &::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 18%;
    height: 1px;
    width: 100%;
    background-color: #ddd;
    @media #{$small} {
      display: none;
    }
    @media #{$medium} {
      bottom: 16%;
    }
  }
}

.trade-thesis-list {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  position: relative;
  // padding: 19px 20px;

  @media #{$small} {
    flex-direction: column;
  }
  @media #{$medium} {
    margin-top: 50px;
  }
  .thesis-list-inner {
    width: 100%;
    position: relative;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;

    @media #{$small} {
      flex-direction: column;
      align-items: flex-start;
    }

    @media #{$medium} {
      min-height: 120px;
    }
    .list-inner-left {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      @media #{$small} {
        width: 100%;
      }

      span {
        margin-right: 20px;

        h6 {
          font-weight: 400;
          @media #{$small} {
            font-size: 15px;
          }
        }
      }
    }

    .list-inner-right {
      display: flex;
      align-items: center;
      width: 100%;
      // padding-left: 27px;
      @media #{$extra-small} {
        width: 50%;
      }

      .add-new {
        color: $primary;
        font-size: 14px;
        cursor: pointer;
        font-weight: 500;
        margin-left: 20px;
      }
    }

    .list-inner-rights {
      display: flex;
      align-items: flex-start;
      width: 100%;

      @media #{$extra-small} {
        width: 50%;
      }

      .add-new {
        color: $primary;
        font-size: 14px;
        cursor: pointer;
        font-weight: 500;
        margin-left: 20px;
      }
    }
  }
}

.trade-plan-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  position: relative;

  @media #{$small} {
    flex-direction: column;
  }
  @media #{$medium} {
    padding-left: 0px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 49%;
    top: 7%;
    bottom: 0%;
    height: 91%;
    width: 1px;
    background-color: #ddd;
    @media #{$small} {
      display: none;
    }
  
  }
}

.pre-market-box {
  width: 50%;
  @media #{$small} {
    width: 100%;

    border-bottom: 1px solid #ddd;
  }
}

.post-market-box {
  width: 50%;
  @media #{$small} {
    width: 100%;
    margin-top: 10px;
  }
}

.trade-sel {
  width: 120px;
  position: relative;
  margin-right: 30px;

  select {
    cursor: pointer;
    -webkit-appearance: none !important;
  }
}

.form-icon-down {
  position: absolute;
  right: 11px;
  top: 15px;
  width: 15px;
}

textarea {
  width: 400px;
  height: 70px;
  resize: none;

  @media #{$small} {
    width: 450px;
  }
  @media #{$medium} {
    width: 290px;
  }
}

.pre-heading {
  color: $primary;
  font-size: 16px;
}

.btn-apply {
  background-color: #0183c0;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  margin: 0 auto;
}
@media #{$extra-small} {
  .add-trade-plan{
    display: none;
  }
}

.trade-plan-mobile {
  display: none;
  margin-top: 20px;
  @media #{$extra-small} {
    display: flex;
    flex-direction: column;
  }
  .trade-top-heading h3 {
    color: #016db0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px !important;
  }
  .trad-border {
    border: 1px solid #acacac;
    opacity: 0.3;
  }

  .trade-stategy-heading {
    h6 {
      color: #016db0;
      font-weight: 500;
      font-size: 18px;
    }
  }
  .trade-thesis-inner {
    margin-top: 15px;
  }

  .tranding-thesis {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 18px;
    .left-thesis {
      width: 100%;
      margin-bottom: 10px;
      h6 {
        color: #565656 !important;
        font-size: 17px;
        font-weight: 400;
      }
    }
    .right-thesis {
      width: 100%;
    }
  }
  .trade-new-plan-mobile{
    margin-top: 15px;
  }
  textarea{
    width: 100%;
  }

  .btn-add{
    padding: 14px 40px;
    background: #016db0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 15px;
    width: 100%;
}
.btn-pre{
  color: #016db0;
  font-weight: 500;
  font-size: 17px;
}
.trade-btn-p{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
  margin-bottom: 10px;
}
}


.add-trade-plan .trade-btn-p{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 10px;
}
.btn-pre{
  color: #016db0;
  font-weight: 500;
  font-size: 17px;
}

.trade-border{
  border: 1px solid #ddd;
  
  margin: 13px 0px;

}

.list-inner-rights{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}