<div class="d-flex justify-content-end px-3 pb-2">
    <!-- <span class="col-form-label mr-2">Filter By</span> -->
    <div class="trade-plan-date mr-2">
        <div class="datepicker-group">
            <input matInput [matDatepicker]="tradePlanDate" 
            [(ngModel)]="planDate"
            placeholder="Date"
            (dateInput)="addEvent('input', $event)"
            id="tradePlanDate" (dateChange)="addEvent('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="tradePlanDate"></mat-datepicker-toggle>
            <mat-datepicker #tradePlanDate>
            </mat-datepicker>
        </div>
    </div>
    <button class="btn new-plan d-flex align-items-center" (click)="addTradePlanDate()">New Plan</button>
</div>

<div class="card-body pt-0 px-3">
    <div class="row">
        <div class="col-sm-2 trade-plan-lt">
            <div class="date-filter-list" *ngIf="planDates.length > 0">
                <div class="date-filter-header">
                    <h3 class="title">Date</h3>
                    <span class="cursor" (click)="mydaterangeOpen()"><img src="../../../../assets/images/filter-black.png" /></span>
                </div>
                <div *ngIf="showMmydaterange" class="trade-date date-range-sm px-1">
                    <my-date-range-picker placeholder="Date range" id="mydaterange" name="mydaterange" [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
                </div>
                <ul *ngFor="let date of planDates; let index = index">
                    <li [ngClass]="(selectedPlan && selectedPlan.id === date.id) ? 'active' : '' " (click) = "onPlanSelect(date)">{{date.day}}</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10 pl-0 trade-plan-rt" *ngIf = "selectedPlan">
            <div class="trade-plan-container pb-1">
                <mat-accordion class="trade-plan-accordion w-100" multi="true">
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Pre-Market
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="row mb-3 pb-2">
                                <div class="col-sm-6">
                                    <div class="trade-plan-header justify-content-between">
                                        <span>Notes</span>
                                        <a class="add-new" (click)="openEconomicModal()">Economic Calendar</a>
                                    </div>
                                    <div>
                                        <textarea placeholder="Write about your trading performance and lessons learnt during the day" class="textarea-lg"  [(ngModel)]="tradePlan.premarketActivities"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="trade-plan-header">
                                        Holdings
                                    </div>
                                    <!-- <div class="table-container">
                                        <table class="d-lg-table mat-table">
                                            <thead>
                                                <tr class="mat-header-row">
                                                    <th class="mat-header-cell">Symbol</th>
                                                    <th class="mat-header-cell">Identifier</th>
                                                    <th class="mat-header-cell">Cost</th>
                                                    <th class="mat-header-cell">Max. Risk</th>
                                                    <th class="mat-header-cell">Return</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="mat-header-row" *ngFor="let strategy of openStrategies; let index = index">
                                                    <td class="mat-cell">{{strategy.symbol}}</td>
                                                    <td class="mat-cell">{{strategy.strategyUid}}</td>
                                                    <td class="mat-cell">{{strategy.totalAmount}}</td>
                                                    <td class="mat-cell">{{strategy.maxRisk}}</td>
                                                    <td class="mat-cell">{{strategy.returnAmount}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> -->
                                    <app-open-strategies-grid [selectedPlan]="selectedPlan" #openStrategiesGrid></app-open-strategies-grid>
                                </div>
                            </div>
                            <app-planned-trades-grid [selectedPlan]="selectedPlan" #plannedTradesGrid></app-planned-trades-grid>
                        </ng-template>
                    </mat-expansion-panel>
                </mat-accordion>
                

                <mat-accordion class="trade-plan-accordion w-100" multi="true">
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Post-Market
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="trade-plan-header justify-content-between">
                                        <span>Notes</span>
                                    </div>
                                    <div>
                                        <textarea placeholder="Write about your trading performance and lessons learnt during the day" class="textarea-lg" [(ngModel)]="tradePlan.lessons"></textarea>
                                    </div>
                                    <div class="text-right">
                                        <a class="add-new cursor" (click)="addEntryExitRule('Add', 'SAVE')">Add Rule</a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="trade-plan-header">
                                        Executed Trades
                                    </div>

                                    <app-today-executed-legs [selectedPlan]="selectedPlan" #todayExcutedTradesGrid></app-today-executed-legs>

                                    <!-- <div class="table-container">
                                        <table class="d-lg-table mat-table">
                                            <thead>
                                                <tr class="mat-header-row">
                                                    <th class="mat-header-cell">Symbol</th>
                                                    <th class="mat-header-cell">Identifier</th>
                                                    <th class="mat-header-cell">Cost</th>
                                                    <th class="mat-header-cell">Max. Risk</th>
                                                    <th class="mat-header-cell">Return</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="mat-header-row" *ngFor="let strategy of executedStrategies; let index = index">
                                                    <td class="mat-cell">{{strategy.symbol}}</td>
                                                    <td class="mat-cell">{{strategy.strategyUid}}</td>
                                                    <td class="mat-cell">{{strategy.amount}}</td>
                                                    <td class="mat-cell">{{strategy.maxRisk}}</td>
                                                    <td class="mat-cell">{{strategy.returnAmount}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> -->
                                </div>
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                </mat-accordion>

                <div class="row mb-3">
                    <div class="col-sm-4">
                        <label class="col-form-label">Rate your trading performance</label>
                        <div class="col-md-6 px-0">
                            <select class="form-control" [(ngModel)]="tradePlan.selfReview">
                                <option value="good">Good</option>
                                <option value="average">Average</option>
                                <option value="bad">Bad</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <span class="d-flex align-items-center">
                            <label class="col-form-label">Did you align with your trading plan?</label>
                            <div class="switch ml-2">
                                <input type="checkbox" id="tradingToggle" class="cursor" [checked]="tradePlan.tradeplanAligned" [(ngModel)]="tradePlan.tradeplanAligned"/>
                                <label for="tradingToggle"></label>
                              </div>
                        </span>
                        <!-- <div class="col-md-6 px-0">
                            <select class="form-control">
                                <option value="0">Good</option>
                            </select>
                        </div> -->
                    </div>
                </div>
                <div class="py-3">
                    <app-dailystatistics [selectedPlan]="selectedPlan" #dailyPlanStats></app-dailystatistics>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div class="px-3 mt-2">
    <div class="inner-trade">
        <div class="inner-trade-plan">
            <div class="row">
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="col-form-label">Select the date for which trade plan is being created</label>
                                <div class="col-sm-11 px-0">
                                    <div class="datepicker-group">
                                        <input matInput [matDatepicker]="tradedate" (click)="tradedate.open()" id="tradedate" name="tradedate" [(ngModel)]="tradePlan.day" [ngClass]="[view ? 'disabled' : '']">
                                        <mat-datepicker-toggle matSuffix [for]="tradedate"></mat-datepicker-toggle>
                                        <mat-datepicker #tradedate></mat-datepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Where do you think market is headed today?</label>
                                <div class="col-sm-11 px-0">
                                    <select class="form-control" id="tradePlanMarketStatus" [(ngModel)]="tradePlan.marketHeadingId" [ngClass]="[view ? 'disabled' : '']">
                                        <option [ngValue]="opt.id" *ngFor="let opt of marketStatuses; trackBy: id">{{opt.name}}
                                        </option>
                                    </select>
                                    
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="col-form-label">Did you complete the pre-market activities?</label>
                                <div class="position-relative">
                                    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="tradePlan.premarketActivityStatus" [ngClass]="[view ? 'disabled' : '']">
                                        <option value=true>Yes</option>
                                        <option value=false>No</option>
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">What is your mindset today?</label>
                                <div class="position-relative px-0">
                                    <select class="form-control" id="tradePlanMindsetType" [(ngModel)]="tradePlan.mindSetTypeId" [ngClass]="[view ? 'disabled' : '']">
                                        <option [ngValue]="opt.id" *ngFor="let opt of mindsetTypes; trackBy: id">{{opt.name}}
                                        </option>
                                    </select>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">What’s your perspective on the market and open positions?</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" [(ngModel)]="tradePlan.perspective" [ngClass]="[view ? 'disabled' : '']"></textarea>
                    </div>
                </div>
                <div class="col-sm-5">
                    <h5 class="col-form-label pb-1">Economic Calendar</h5>
                    <app-economic-calendar></app-economic-calendar>
                </div>
            </div>
        </div>


        <app-open-strategies-grid [tradePlanId]="tradePlanId" [viewTradePlan]="view" #tradeStrategiesGrid></app-open-strategies-grid>
        
        

        <div *ngIf="edit || view">
            <app-today-executed-legs [day]="day" #todayExecutedLegsGrid></app-today-executed-legs>
        </div>

        <ng-container class="inner-trade-plan px-0" *ngIf="edit">
            <div class="inner-trade-plan">
                <div class="mb-2">
                    <label class="col-form-label pt-0">Did you align with the trading plan?</label>
                    <div class="trade-sel-cl col-10 px-0 media">
                        <div class="trade-sel mr-md-3 mb-md-0  mb-2">
                            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="tradePlan.tradeplanAligned" [ngClass]="[view ? 'disabled' : '']">
                                    <option value=true>Yes</option>
                                    <option value=false>No</option>
                                </select>
                            <mat-icon class="form-icon-down text-success">keyboard_arrow_down</mat-icon>
                        </div>
                        <div class="media-body">
                            <input type="text" placeholder=" If no, specify reason" class="form-control" [(ngModel)]="tradePlan.notAlignedReason" [ngClass]="[view ? 'disabled' : '']" />
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="col-form-label pt-0">How do you rate your trading performance today? </label>
                    <div class="col-md-3 px-0 trade-sel">
                        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="tradePlan.selfReview" [ngClass]="[view ? 'disabled' : '']">
                                <option value="Good">Good</option>
                                <option value="Average">Average</option>
                                <option value="Bad">Bad</option>
                            </select>
                        <mat-icon class="form-icon-down text-success">keyboard_arrow_down</mat-icon>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="col-form-label pt-0">What lessons did you learn today?</label>
                    <div class="col-10 px-0 trade-sel-cl">
                        <textarea class="form-control" [(ngModel)]="tradePlan.lessons" [ngClass]="[view ? 'disabled' : '']"></textarea>
                        <div class="text-md-right text-center mt-1" *ngIf="!view"><span class="add-new font-weight-bold" (click)="addRule('Add', 'Save')">+ Add as Rule</span></div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="trade-plan-bottom" *ngIf="!isDemoMode">
            <button type="button" class="btn btn-primary btn-add-plan" *ngIf="add" (click)="addTradePlan()">
                <span class="add-icon mr-2">+</span> Add Plan
            </button>
            <button type="button" class="btn btn-primary btn-submit" *ngIf="edit && !view" (click)="submitTradePlan()">SUBMIT</button>
        </div>
    </div>
</div>-->