
<div class="exit-thesis-pop">
    <div class="exit-thesis-pop-inner">
      <div class="pop-top-heading">
        <div class="left-heading">
          <h5>Add {{title}}</h5>
        </div>
        <div class="right-heading" (click)="closeModal()">
          <span>Close</span>
        </div>
      </div>

      <div class="exit-con">
        <div class="let-con">
          <p>{{title}}</p>
        </div>
        <div class="right-input">
          <div class="form-group">
            <input class="form-control" placeholder="" type="text">
          </div>
        </div>
      </div>

      <div class="btn btn-save" (click)="closeModal()">Save</div>
    </div>
</div>
