@import url('https://fonts.googleapis.com/css2?family=Poppins');
.custom-calendar {
    padding: 0;
    height: 400px;
    box-shadow: 0px 0px 16px rgb(188 188 188 / 50%);
    border-radius: 6px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        border-left: 1px solid #dee2e6;
        display: flex;
        flex-wrap: wrap;
        li {
            border: 1px solid #dee2e6;
            display: inline-flex;
            width: 14.2857%;
            max-width: 14.2857%;
            flex: 0 0 14.2857%;
            border-left: 0;
            border-top: 0;
            font-size: 14px;
            height: 63px;
            position: relative;
            justify-content: center;
            align-items: center;
            padding: 5px;
            flex-direction: column;
            line-height: 1.5;
        }
        li.days {
            border-top: 1px solid #dee2e6;
            height: 40px;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 15px;
        }
        .working_day {
            position: absolute;
            left: 0;
            top: 0;
            background: #61bc6d;
            color: #fff;
            border-radius: 0 0 15px 0;
            width: 30px;
            text-align: center;
            display: flex;
            justify-content: center;
            height: 25px;
            line-height: 25px;
        }
        .negitive_return {
            position: absolute;
            left: 0;
            top: 0;
            background: #ec6b56;
            color: #fff;
            border-radius: 0 0 15px 0;
            width: 30px;
            text-align: center;
            display: flex;
            justify-content: center;
            height: 25px;
            line-height: 25px;
        }
        
        
        
    }
}