<div class="px-3 mt-3">
    <div class="main-body">
        <ng-container [ngSwitch]="currentState">
            <ng-container *ngSwitchCase="1">
                <div class="addnew-first p-3">
                    <div class="trade-form">
                        <mat-icon class="trade-form-icon">attach_money</mat-icon>
                        <h2 class="py-3 symbol-heading">Compare Strategies</h2>
                        <div class="pb-3 symbol-description">Enter the stock symbol or name for which trade strategy is being added</div>
                        <div class="d-flex mt-2">
                            <div class="media-body">
                                <app-trade-search (symbolSelectEvent)="symbolSelectEventHandler($event)"></app-trade-search>
                            </div>
                            <button class="btn btn-enter ml-3" (click)="enterSymbol()">Submit </button>
                        </div>

                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
                <app-trade-details-header [selectedStock]="selectedStock" [stockSummary]="stockSummary" (loadMoreStats)="loadMoreStatsHandler($event)"></app-trade-details-header>

                <mat-accordion class="example-headers-align" multi="true">
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Select symbol and up to ﬁve trade strategies to compare their proftability
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            <div class="trade-stoack-main" #tradeCards>
                                <div class="d-flex align-items-end">
                                    <ng-container *ngFor="let item of strategiesList;let index = index">
                                        <div class="d-flex justify-content-between align-items-end">
                                            <div class="card-main">
                                                <div class="d-flex align-items-center">
                                                    <label class="col-form-label">Strategy-{{index+1}} </label>
                                                    <mat-icon class="mat-icon-sm mat-icon-edit ml-2" (click)="StrategyDetailsModal(index+3)">info</mat-icon>
                                                </div>
                                                <div class="trade-sel position-relative">
                                                    <select class="form-control select-input">
                                                        <option *ngFor="let key of userStrategies" [value]="key">{{key.uid}}</option>
                                                    </select>
                                                    <mat-icon class="form-icon-down">keyboard_arrow_down</mat-icon>
                                                </div>
                                            </div>
                                            <div class="px-3">
                                                <div class="cursor" (click)="deleteStrategyItem(index)">
                                                    <mat-icon class="mat-icon-sm">delete</mat-icon>
                                                </div>
                                                <div class="cursor" (click)="editStrategyItem(index)">
                                                    <mat-icon class="mat-icon-sm mat-icon-edit">edit</mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <div class="search_btn add_strategy" [ngClass]="strategiesList.length > 1 ? 'mt-0' : '' ">
                                        <div class="mb-1">
                                            <a class="btn btn-primary mr-3" (click)="submitStrategies()">SUBMIT</a>
                                        </div>
                                        <a class="btn" [ngClass]="strategiesList.length > 1 ? 'btn-outline-primary' : 'btn-primary' " (click)="addStrategy()" *ngIf="strategiesList.length < 6 && selectedStock.id">Add Strategy</a>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 0" *ngIf="compareResult">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Analyze the risk and proﬁtability associated with the strategies for the given stock price range
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="col-form-label">Price Range</label>
                                            <div class="d-flex">
                                                <input type="text" name="price_range_min" value="-10%" class="form-control" [(ngModel)]='lowerBound'/>
                                                <input type="text" name="price_range_max" value="-10%" class="form-control ml-2" [(ngModel)]='upperBound'/>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <label class="col-form-label">Risk Free Rate</label>
                                            <div class="d-flex">
                                                <input type="text" name="price_range_min" class="form-control" [(ngModel)]='riskFreeRate'/>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-end">
                                            <a class="btn btn-next" (click)="analyzeRisk = true; calculateMaxRisk();">Analyze</a>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-6">
                                    <div class="d-flex justify-content-end align-items-center mt-3">
                                        <div class="k-font-bold d-flex justify-content-end" *ngIf="maxRiskDetails">
                                            <div class="risk_details risk_profit mr-3">
                                                <div class="pr-3">Maximum Proﬁt is when the stock is up <span>{{maxRiskDetails.maxProfitChange}}</span>% Maximum
                                                </div>
                                                <span class="risk_details_count">{{maxRiskDetails.maxProfit}}</span>
                                            </div>
                                            <div class="risk_details risk_lose">
                                                <div class="pr-3">Risk is when the stock is down <span>{{maxRiskDetails.maxRiskChange}}</span>%
                                                </div>
                                                <span class="risk_details_count">{{maxRiskDetails.maxRisk}}</span>
                                            </div>
                                        </div>
                                        <button class="col-3 btn btn-enter ml-3" (click)="calculateMaxRisk()">Max Profit/Risk</button>
                                    </div>
                                </div>-->
                            </div>



                            <ng-container>
                                <!-- risk-tabs -->
                                <div class="trade-risk-tabs mt-3">
                                    <div class="tab" role="tabpanel">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active" role="presentation">
                                                <a aria-controls="home" aria-expanded="true" data-toggle="tab" href="#Section1" role="tab">Data Table</a>
                                            </li>
                                            <li class="" role="presentation">
                                                <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#Section2" role="tab" (click)="initChart()">Charts</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content tabs">
                                            <div class="tab-pane active" id="Section1" role="tabpanel">
                                                <div class="risk-tabs-table">
                                                    <div class="risk-table">

                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th>Change</th>
                                                                    <th>Price</th>
                                                                    <th *ngFor="let key of strategiesList; let i = index">{{'Strategy-' + (i + 1) + ' P&L' }}</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                <tr *ngFor="let item of compareResult.rows;let index=index">
                                                                    <td>{{item.stockChange.change}}%</td>
                                                                    <td>{{item.stockChange.price}}</td>
                                                                    <td *ngFor="let key of strategiesList; let ind = index">{{item.results[ind].netPL}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="Section2" role="tabpanel">
                                                <!-- <div class="charts">
                                                    <img src="../../../../assets/images/icon/Image 24.png" alt=""
                                                        class="img-responsive" />
                                                </div> -->
                                                <app-risk-analysis-chart #riskAnalysisChart></app-risk-analysis-chart>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="trad-border"></div>


                                </div>
                            </ng-container>
                        </ng-template>
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-container>
        </ng-container>
    </div>
</div>