<div class="px-2 risk-analysis">
    <div class="card main-body">
        <div class="trade-dash-main">
            <div class="trade-dash-name">
                <h3 class="d-flex">
                    Strategy Comparison
                </h3>
            </div>
        </div>
        
              
        <div class="risk-analysis-sec">
            <div class="risk-inner">
                <mat-accordion class="example-headers-align" multi="true">
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                1. Select symbol and up to ﬁve trade strategies to compare their proftability
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    
                        <ng-template matExpansionPanelContent>
                            <div class="trade-stoack-main" #tradeCards>
                                <div class="d-flex">
                                    <div class="card-main">
                                        <label class="col-form-label pt-0">Symbol</label>
                                        <app-trade-search (symbolSelectEvent)="symbolSelectEventHandler($event)"></app-trade-search>
                                        <!-- <input type="text" class="form-control" name="" value="FB" /> -->
                                    </div>
                                    <ng-container *ngFor="let item of strategiesList;let index = index">
                                        <div class="card-main">
                                            <div class="d-flex justify-content-between">
                                                <label class="col-form-label py-0">Strategy-{{index+1}} </label>
                                                <span class="cursor" (click)="deleteStrategyItem(index)">
                                                    <mat-icon class="mat-icon-sm">remove_circle</mat-icon>
                                                </span>
                                            </div>
                                            <div class="trade-sel position-relative">
                                                <select class="form-control select-input">
                                                    <option value=1>0221-304278 </option>
                                                    <option value=2>0228-293842</option>
                                                    <option value=3>0301-238453</option>
                                                    <option value=4>0321-485721</option>
                                                    <option value=5>0321-485777</option>
                                                </select>
                                                <mat-icon class="form-icon-down">keyboard_arrow_down</mat-icon>
                                            </div>
                                            <div class="d-flex pt-1 justify-content-end">
                                                <span class="cursor" (click)="editStrategyItem(index)">
                                                    <mat-icon class="mat-icon-sm text-success">edit</mat-icon>
                                                </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <div class="search_btn add_strategy" [ngClass]="strategiesList.length > 4 ? 'mt-0' : '' ">
                                        <div class="mb-1" *ngIf="strategiesList.length > 1">
                                            <a class="btn btn-add" (click)="submitStrategies()">SUBMIT</a>
                                        </div>
                                        <a class="text-link" (click)="addStrategy()" *ngIf="strategiesList.length < 5 && selectedStock.id">Add Strategy</a>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                    
                    <mat-expansion-panel [expanded]="step === 0" *ngIf="strategiesAdded">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. Analyze the risk and proﬁtability associated with the strategies for the given stock price range
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="d-flex">
                                <div class="col-2">
                                    <label class="col-form-label">Price Range</label>
                                    <div class="d-flex">
                                        <input type="text" name="price_range_min" value="-10%" class="form-control" />
                                        <input type="text" name="price_range_max" value="-10%" class="form-control ml-2" />
                                    </div>
                                </div>

                                <div class="col-2">
                                    <label class="col-form-label">Risk Free Rate</label>
                                    <div class="d-flex">
                                        <input type="text" name="price_range_min" value="6.5%" class="form-control" />
                                    </div>
                                </div>
                                <div class="d-flex align-items-end">
                                    <a class="btn btn-next" (click)="analyzeRisk = true; calculateMaxRisk();">Analyze</a>
                                </div>
                            </div>
                            
                        <div style="display: inline-block;width:100%;">
                            <div class="py-2 k-font-bold" *ngIf="maxRiskDetails">
                                <p>Strategy <span class="text-success">{{maxRiskDetails.maxProfit}}</span> has the highest proﬁtability when the stock is up <span>{{maxRiskDetails.maxProfitChange}}</span>%</p>
                                <p>Strategy <span class="text-danger">{{maxRiskDetails.maxRisk}}</span> has the highest risk when the stock is down <span>{{maxRiskDetails.maxRiskChange}}</span>%</p>
                            </div>
                        </div> 


                            <ng-container *ngIf="displayRiskAnalysis && analyzeRisk && (stockAdded || stockOptions.length > 0)">
                                <!-- risk-tabs -->
                                <div class="trade-risk-tabs">
                                    <div class="tab" role="tabpanel">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active" role="presentation">
                                                <a aria-controls="home" aria-expanded="true" data-toggle="tab" href="#Section1"
                                                    role="tab">Data Table</a>
                                            </li>
                                            <li class="" role="presentation">
                                                <a aria-controls="profile" aria-expanded="false" data-toggle="tab"
                                                    href="#Section2" role="tab" (click)="initChart()">Charts</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content tabs">
                                            <div class="tab-pane active" id="Section1" role="tabpanel">
                                                <div class="risk-tabs-table">
    
                                                    <div class="risk-table"
                                                        *ngIf="riskAnalysisResults && riskAnalysisResults.length">
    
                                                        <div class="trad-risk-head">
                                                            <h6>
                                                                {{riskAnalysisResults[0].stockPriceResult.heading}}
                                                            </h6>
                                                        </div>
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                <th>Change</th>
                                                                <th>Price</th>
                                                                <th *ngIf="stockAdded">P&L</th>
                                                                </tr>
                                                            </thead>
    
                                                            <tbody>
                                                                <tr *ngFor="let item of riskAnalysisResults;let index=index">
                                                                    <td
                                                                        [ngClass]="{ 'trade-rd' :item.stockPriceResult.gainLoss >= 0, 'trade-rdd':item.stockPriceResult.gainLoss < 0}">
                                                                        {{item.stockPriceResult.change + '%'}}</td>
                                                                    <td>{{item.stockPriceResult.stockPrice}}</td>
                                                                    <td *ngIf="stockAdded"
                                                                        [ngClass]="{ 'trade-rd' :item.stockPriceResult.gainLoss >= 0, 'trade-rdd':item.stockPriceResult.gainLoss < 0}">
                                                                        {{item.stockPriceResult.gainLoss}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <ng-container
                                                        *ngFor="let item of riskAnalysisResults[0].optionResults;let index=index">
                                                        <div class="risk-table"
                                                            *ngIf="riskAnalysisResults && riskAnalysisResults.length && stockOptions && stockOptions.length">
    
                                                            <div class="trad-risk-head">
                                                                <h6>
                                                                    {{item.heading}}
                                                                </h6>
                                                            </div>
                                                            <table>
                                                                <thead>
                                                                    <tr>
                                                                        <th>{{riskAnalysisResults[0].optionResults[index].optionType == 1 ? 'Price' : 'Price'}}
                                                                        </th>
                                                                        <th>{{riskAnalysisResults[0].optionResults[index].optionType == 1 ? 'Value' : 'Value'}}
                                                                        </th>
                                                                        <th>P&L</th>
                                                                    </tr>
                                                                </thead>
    
                                                                <tbody>
                                                                    <tr
                                                                        *ngFor="let ritem of riskAnalysisResults;let rowIndex=index">
                                                                        <td
                                                                            [ngClass]="{ 'trade-rd' :ritem.optionResults[index].gainLoss >= 0, 'trade-rdd':ritem.optionResults[index].gainLoss < 0}">
                                                                            {{ritem.optionResults[index].price}}</td>
                                                                        <td>{{ritem.optionResults[index].value}}</td>
                                                                        <td
                                                                            [ngClass]="{ 'trade-rd' :ritem.optionResults[index].gainLoss >= 0, 'trade-rdd':ritem.optionResults[index].gainLoss < 0}">
                                                                            {{ritem.optionResults[index].gainLoss}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </ng-container>
    
    
                                                    <div class="risk-tables"
                                                        *ngIf="stockAdded || (stockOptions && stockOptions.length)">
    
                                                        <div class="trad-risk-head">
                                                            <h6>
                                                                Total
                                                            </h6>
                                                        </div>
                                                        <table>
                                                            <thead>
                                                                <tr>
    
                                                                    <th>Net P&L</th>
                                                                </tr>
                                                            </thead>
    
                                                            <tbody>
                                                                <tr *ngFor="let item of riskAnalysisResults;let index=index">
                                                                    <td
                                                                        [ngClass]="{ 'trade-rd' :item.totalSummary.gainLoss >= 0, 'trade-rdd':item.totalSummary.gainLoss < 0}">
                                                                        {{item.totalSummary.gainLoss}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="Section2" role="tabpanel">
                                                <!-- <div class="charts">
                                                    <img src="../../../../assets/images/icon/Image 24.png" alt=""
                                                        class="img-responsive" />
                                                </div> -->
                                                <app-risk-analysis-chart #riskAnalysisChart></app-risk-analysis-chart>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="trad-border"></div>
    
    
                                </div>
                            </ng-container>
                        </ng-template>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>

    </div>
</div>