<!-- step-third -->
<div class="container-fluid">
  <div class="new-step-third">
    <div class="trade-stategy-heading">
      <h6>
        Provide inputs to the simulate the profitability of the trade strategy.
      </h6>
    </div>

    <div class="stock-price-sec">
      <div class="left-stock-con">
        <p>
          Stock Price Range
        </p>
      </div>
      <div class="right-stock-price">
        <div class="stock-price-box">
          <a>
            <img alt="" src="../../../../../assets/images/icon/Group 359.png" />
          </a>
          <span> 10% </span>
          <a>
            <img alt="" src="../../../../../assets/images/icon/Group 360.png" />
          </a>
        </div>

        <div class="stock-price-box box-m">
          <a>
            <img alt="" src="../../../../../assets/images/icon/Group 359.png" />
          </a>
          <span> 10% </span>
          <a>
            <img alt="" src="../../../../../assets/images/icon/Group 360.png" />
          </a>
        </div>
      </div>
    </div>

    <div class="trad-border"></div>

    <div class="stock-price-sec">
      <div class="left-stock-con">
        <p>
          Target Date
        </p>
      </div>
      <div class="right-stock-price">
        <div class="form-group">
          <input class="form-control" placeholder="05-May-2020" type="date" />
        </div>
      </div>
    </div>

    <div class="trad-border"></div>

    <div class="stock-options-choose">
      <div class="option-heading">
        <div class="top-q">
          <span>
            Qty
          </span>
        </div>

        <div class="top-qt">
          <span>
            Days Left
          </span>
        </div>

        <div class="top-qt">
          <span>
            Imp.Vol(%)
          </span>
        </div>
      </div>

      <div class="option-select">
        <div class="left-stock-option">
          <p>
            Option-1 (Sell 460 Call)
          </p>
        </div>

        <div class="right-stock-option">
          <div class="firstqt">
            <div class="form-group">
              <input class="form-control" placeholder="2" type="text" />
            </div>
          </div>
          <div class="first-qt">
            <div class="stock-price-box">
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 359.png"
                />
              </a>
              <span> 10% </span>
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 360.png"
                />
              </a>
            </div>
          </div>
          <div class="first-qt">
            <div class="stock-price-box">
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 359.png"
                />
              </a>
              <span> 10% </span>
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 360.png"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="trad-border"></div>

      <div class="option-select">
        <div class="left-stock-option">
          <p>
            Option-2 (Buy 500 Call)
          </p>
        </div>

        <div class="right-stock-option">
          <div class="firstqt">
            <div class="form-group">
              <input class="form-control" placeholder="2" type="text" />
            </div>
          </div>
          <div class="first-qt">
            <div class="stock-price-box">
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 359.png"
                />
              </a>
              <span> 10% </span>
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 360.png"
                />
              </a>
            </div>
          </div>
          <div class="first-qt">
            <div class="stock-price-box">
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 359.png"
                />
              </a>
              <span> 10% </span>
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 360.png"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="trad-border"></div>

      <div class="option-select">
        <div class="left-stock-option">
          <p>
            Option-3 (Buy 380 Put)
          </p>
        </div>

        <div class="right-stock-option">
          <div class="firstqt">
            <div class="form-group">
              <input class="form-control" placeholder="2" type="text" />
            </div>
          </div>
          <div class="first-qt">
            <div class="stock-price-box">
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 359.png"
                />
              </a>
              <span> 10% </span>
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 360.png"
                />
              </a>
            </div>
          </div>
          <div class="first-qt">
            <div class="stock-price-box">
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 359.png"
                />
              </a>
              <span> 10% </span>
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 360.png"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="trad-border"></div>

      <div class="option-select">
        <div class="left-stock-option">
          <p>
            Option-4 (Sell 420 Put)
          </p>
        </div>

        <div class="right-stock-option">
          <div class="firstqt">
            <div class="form-group">
              <input class="form-control" placeholder="2" type="text" />
            </div>
          </div>
          <div class="first-qt">
            <div class="stock-price-box">
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 359.png"
                />
              </a>
              <span> 10% </span>
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 360.png"
                />
              </a>
            </div>
          </div>
          <div class="first-qt">
            <div class="stock-price-box">
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 359.png"
                />
              </a>
              <span> 10% </span>
              <a>
                <img
                  alt=""
                  src="../../../../../assets/images/icon/Group 360.png"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <a class="btn btn-add" (click)="next()"> ANALYZE</a>

      <div class="trade-btn-p">
        <a class="btn-pre" (click)="previous()">Previous</a>
        <a class="btn-pre" (click)="next()">Skip Risk Analysis</a>
      </div>
    </div>
  </div>
</div>
