<div class="trade-thesis-sec">
    <div class="trade-thesis-heading">
        <h4>
            Entry Rules
        </h4>
    </div>

    <div class="trade-thesis-inner">
        <div class="trade-thesis-list">
            <div class="thesis-list-inner">
                <div class="list-inner-left">
                    <span>
                        <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                    </span>
                    <h6>
                        Do not buy naked call options for more than $300
                    </h6>
                </div>
                <div class="list-inner-right">
                    <div class="trade-check">
                        <span class="switch-no"> NOT ALIGNED</span>
                        <div class="switch">
                            <input type="checkbox" id="checkbox-1"/>
                            <label for="checkbox-1"></label>
                          </div>

                          <span class="switch-yes"> ALIGNED</span>

                    </div>
                  

                </div>
            </div>

            <div class="thesis-list-inner">
                <div class="list-inner-left">
                    <span>
                        <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                    </span>
                    <h6>
                        Do not buy current week expiration options
                    </h6>
                </div>
                <div class="list-inner-right">

                    <div class="trade-check-s">
                        <span class="switch-no"> NOT ALIGNED</span>
                        <div class="switch">
                            <input type="checkbox" id="checkbox-2" [(ngModel)]="checkbox2"/>
                            <label for="checkbox-2"></label>
                          </div>

                          <span class="switch-yes"> ALIGNED</span>

                    </div>
                    <div class="trade-input">
                        <div  class="form-group has-search" *ngIf="!checkbox2">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                    </div>

                </div>
            </div>

            <div class="thesis-list-inner">
                <div class="list-inner-left">
                    <span>
                        <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                    </span>
                    <h6>
                        Do not execute the trade between 8:30am and 9:00am
                    </h6>
                </div>
                <div class="list-inner-right">
                    <div class="trade-check">
                        <span class="switch-no"> NOT ALIGNED</span>
                        <div class="switch">
                            <input type="checkbox" id="checkbox-3"/>
                            <label for="checkbox-3"></label>
                          </div>

                          <span class="switch-yes"> ALIGNED</span>

                    </div>
            </div>
            </div>

            <div class="thesis-list-inner">
                <div class="list-inner-left">
                    <span>
                        <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                    </span>
                    <h6>
                        Do not average the position before 7% downside                    </h6>
                </div>
                <div class="list-inner-right">

                    <div class="trade-check-s">
                        <span class="switch-no"> NOT ALIGNED</span>
                        <div class="switch">
                            <input type="checkbox" id="checkbox-4" [(ngModel)]="checkbox4"/>
                            <label for="checkbox-4"></label>
                          </div>

                          <span class="switch-yes"> ALIGNED</span>

                    </div>
                    <div class="trade-input">

                        <div  class="form-group has-search" *ngIf="!checkbox4">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
            </div>
            </div>


            <div class="thesis-list-inner">
                <div class="list-inner-left">
                    <span>
                        <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                    </span>
                    <h6>
                        Always protect your trade                    
                    </h6>
                </div>
                <div class="list-inner-right">

                    <div class="trade-check">
                        <span class="switch-no"> NOT ALIGNED</span>
                        <div class="switch">
                            <input type="checkbox" id="checkbox-5"/>
                            <label for="checkbox-5"></label>
                          </div>

                          <span class="switch-yes"> ALIGNED</span>

                    </div>
                 
            </div>
            </div>


            <div class="thesis-list-inner">
                <div class="list-inner-left">
                    <span>
                        <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                    </span>
                    <h6>
                        Do not sell calls on growth high-beta stocks
                    </h6>
                </div>
                <div class="list-inner-right">
                    <div class="trade-check-s">
                        <span class="switch-no"> NOT ALIGNED</span>
                        <div class="switch">
                            <input type="checkbox" id="checkbox-6" [(ngModel)]="checkbox6"/>
                            <label for="checkbox-6"></label>
                          </div>

                          <span class="switch-yes"> ALIGNED</span>

                    </div>

                    <div class="trade-input">

                        <div  class="form-group has-search" *ngIf="!checkbox6">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="thesis-list-inner">
                <div class="list-inner-left">
                    <span>
                        <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                    </span>
                    <h6>
                        Do not buy option that are expiring less than four weeks.
                                      </h6>
                </div>
                <div class="list-inner-right">
                    <div class="trade-check">
                        <span class="switch-no"> NOT ALIGNED</span>
                        <div class="switch">
                            <input type="checkbox" id="checkbox-7"/>
                            <label for="checkbox-7"></label>
                          </div>

                          <span class="switch-yes"> ALIGNED</span>

                    </div>
                    


                </div>
            </div>
            <div class="thesis-list-inner">
                <div class="list-inner-left">
                    <span>
                        <img src="../../../../../../../assets/images/icon/Icon ionic-ios-arrow-forward.png" alt="">
                    </span>
                    <h6>
                        Maximum amount at risk should be less than $2000..
                                      </h6>
                </div>
                <div class="list-inner-right">
                    <div class="trade-check-s">
                        <span class="switch-no"> NOT ALIGNED</span>
                        <div class="switch">
                            <input type="checkbox" id="checkbox-8" [(ngModel)]="checkbox8"/>
                            <label for="checkbox-8"></label>
                          </div>

                          <span class="switch-yes"> ALIGNED</span>

                    </div>
                    <div class="trade-input">

                        <div  class="form-group has-search" *ngIf="!checkbox8">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                    


                </div>
            </div>
    </div>
    </div>
</div>

<div  class="trad-border " ></div>

<br>
<div class="order-btn text-center" >
    <a  class="btn btn-next" (click)="confirmAddTrade()">ADD TRADE</a>
</div>
<div class="trade-new-btn">
    <a class="btn btn-per" (click)="previous()">Previous</a>
</div>