<div class="px-2 dashboard">
    <div class="trade-dash-cards-web px-2">
        <div class="mt-3">
            <span class="trade-cards-heading m-0">Welcome {{userName}}</span>
        </div>
        <div class="row mt-3">
            <div class="col-sm-10">
                <div class="row mb-1">
                    <div class="col-sm-4">
                        <div class="card card-white">
                            <div class="card-body p-2">
                                <h5 class="card-title mb-1">
                                    <a routerLink="/trade-strategies">
                                        <mat-icon>attach_money</mat-icon> Trade Journal
                                    </a>
                                </h5>
                                <div class="position-relative pt-2">
                                    <div class="card-thumb">
                                        <img src="../../../../assets/images/home/trade_journal_thumb.png" alt="">
                                    </div>
                                
                                    <div class="card-description">Record your trades in detail and check alignment with self-set rules</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-white">
                            <div class="card-body p-2">
                                <h5 class="card-title mb-1">
                                    <a routerLink="/import-trades-history">
                                        <mat-icon class="mat-lg mr-1">import_export</mat-icon> Import Trades
                                    </a>
                                </h5>
                                <div class="position-relative pt-2">
                                    <div class="card-thumb">
                                        <img src="../../../../assets/images/home/import_trades_thumb.png" alt="">
                                    </div>
                                
                                    <div class="card-description">Add trades in bulk by importing trade history files from the brokerages
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-white">
                            <div class="card-body p-2">
                                <h5 class="card-title mb-1">
                                    <a routerLink="/trade-plans">
                                        <mat-icon class="mr-1">note_add</mat-icon> Trade Plan
                                    </a>
                                </h5>
                                <div class="position-relative pt-2">
                                    <div class="card-thumb">
                                        <img src="../../../../assets/images/home/trade_plan_thumb.png" alt="">
                                    </div>
                                
                                    <div class="card-description">Prepare for the day ahead by recording your viewpoints and intended actions
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end:: row -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card card-white">
                            <div class="card-body p-2">
                                <h5 class="card-title mb-1">
                                    <a routerLink="/risk-analysis">
                                        <mat-icon class="mr-1">insights</mat-icon> Risk Analysis
                                    </a>
                                </h5>
                                <div class="position-relative pt-2">
                                    <div class="card-thumb">
                                        <img src="../../../../assets/images/home/risk_analysis_thumb.png" alt="">
                                    </div>
                                
                                    <div class="card-description">Analyze risk of complex trades by simulating possible future scenarios
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-white">
                            <div class="card-body p-2">
                                <h5 class="card-title mb-1">
                                    <a routerLink="/compare-strategies">
                                        <mat-icon class="mr-1">compare_arrows</mat-icon> Strategy Comparison
                                    </a>
                                </h5>
                                <div class="position-relative pt-2">
                                    <div class="card-thumb">
                                        <img src="../../../../assets/images/home/strategy_comparison_thumb.png" alt="">
                                    </div>
                                
                                    <div class="card-description">Compare potential returns on different strategies to pick the right strategy
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="card card-white">
                            <div class="card-body p-2">
                                <h5 class="card-title mb-1">
                                    <a routerLink="/reports">
                                        <mat-icon class="mr-1">pie_chart</mat-icon> Reports
                                    </a>
                                </h5>
                                <div class="position-relative pt-2">
                                    <div class="card-thumb">
                                        <img src="../../../../assets/images/home/reports_thumb.png" alt="" />
                                    </div>
                                
                                    <div class="card-description">Improve trading decisions through in-depth reports on trade history</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end:: row -->
                
            </div>
            
       
            <div class="col-sm-2 pl-0">
                <div class="card card-white">
                    <div class="card-body py-2">
                        <div class="d-flex align-items-center">
                            <span class="pr-2">
                                <input type="checkbox" name="rule" class="checkbox mt-1" />
                            </span>
                            <span class="code-label">
                                Set Up Data
                            </span>
                        </div>
                        <div class="d-flex pt-2 align-items-center">
                            <span class="pr-2">
                                <input type="checkbox" name="rule" class="checkbox mt-1" />
                            </span>
                            <span class="code-label">
                                Configure Rules
                            </span>
                        </div>
                        <div class="d-flex pt-2 align-items-center">
                            <span class="pr-2">
                                <input type="checkbox" name="rule" class="checkbox mt-1" />
                            </span>
                            <span class="code-label">
                                Set Goals
                            </span>
                        </div>
                        <div class="d-flex pt-2 align-items-center">
                            <span class="pr-2">
                                <input type="checkbox" name="rule" class="checkbox mt-1" />
                            </span>
                            <span class="code-label">
                                Add Trades
                            </span>
                        </div>
                    </div>
                </div>

                <h5 class="py-1 pl-3">Quick Links</h5>
                <div class="card card-white">
                    <div class="card-body p-3">
                        <h5 class="card-title mb-3">
                            <mat-icon class="mr-1">help_outline</mat-icon> How-To Guides
                        </h5>
                        <ul class="list-unstyled m-0">
                            <li class="oultline-link">
                                <a routerLink="/view-trade-plan">User Manuals</a>
                            </li>
                            <li class="oultline-link">
                                <a routerLink="/view-trade-plan">How-to Videos</a>
                            </li>
                        </ul>
                        
                    
                        <h5 class="card-title mb-2 mt-3">
                            <mat-icon class="mr-1">feedback</mat-icon> Give Feedback
                        </h5>
                        <ul class="list-unstyled m-0">
                            <li class="oultline-link">
                                <a routerLink="/view-trade-plan">Report an Issue</a>
                            </li>
                            <li class="oultline-link">
                                <a routerLink="/view-trade-plan">Ask for a Feature</a>
                            </li>
                        </ul>
                     
                        <h5 class="card-title mb-2 mt-3">
                            <mat-icon class="mr-1">contact_support</mat-icon> Support Us
                        </h5>
                        <ul class="list-unstyled m-0">
                            <li class="oultline-link">
                                <a routerLink="/view-trade-plan">Write a Review</a>
                            </li>
                            <li class="oultline-link">
                                <a routerLink="/view-trade-plan">Write a Review</a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>

    

<!-- Mobile -->
<div class="trade-dash-cards-mobile">
        
</div>