<div class="import-trade-popup">
    <div class="import-trade-pop-inner">
        <div class="popup-body">
            <div class="top-pop-inner">
                <div class="left-heading">
                    <h6>{{title}}</h6>
                </div>
                <div class="right-close" (click)="closeModal()">
                    <mat-icon>clear</mat-icon>
                </div>
            </div>
            <div class="main-pop-inner">
                <p class="py-3">
                    You haven't added any trades to CueTrade yet. <br/>Do you want to upload your trade history file from the brokerage and analyze your trading performance instantly?
                </p>                
            </div>
    
            <div class="d-flex justify-content-center pt-3">
                <button type="button" class="btn btn-secondary mr-3" [mat-dialog-close]="data">Later</button>
                <button type="button" class="btn btn-join" (click)="openImportTrade()">Yes, Import Trades</button>
            </div>
        </div>
    </div>
</div>