<div class="trade-app">
  
        <div class="row no-gutters">
            <div class=" col-lg-8  col-md-8 col-sm-8">
                <div class="trade-left-section">

                    <div class="trade-left-section-logo">
                        <img src="../../../assets/images/Group 10.svg" alt="Trade-app-logo" class="img-fluid">
                    </div>

                    <div class="trade-section text-center">
                        <h1 class="trade-section-heading">
                            Become a better trader with TradeAnalytics
                        </h1>

                        <div class="trade-section-features">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="features_box">
                                        <div class="feat-box">
                                            <img src="../../../assets/images/feature-img-1.png" alt="">
                                        </div>
                                        <div class="feat-box-con">
                                            <h5>
                                                Potential to increase
                                                winning trades
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                      <div class="features_box">
                                        <div class="feat-box">
                                            <img src="../../../assets/images/feature-img-2.png" alt="">
                                        </div>
                                        <div class="feat-box-con">
                                            <h5>
                                                Risk assessment <br>
                                                and mitigation
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                      <div class="features_box">
                                        <div class="feat-box">
                                            <img src="../../../assets/images/feature-img-3.png" alt="">
                                        </div>
                                        <div class="feat-box-con">
                                            <h5>
                                                Better selection of <br>
                                                trade strategies                                                
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                      <div class="features_box">
                                        <div class="feat-box">
                                            <img src="../../../assets/images/feature-img-4.png" alt="">
                                        </div>
                                        <div class="feat-box-con">
                                            <h5>
                                                Insight into 
                                                trading performance
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="trade-app-img">
                            <img src="../../../assets/images/trade-app.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
               <div class="trade-right-section ">
                   <div class="container">
                    <div class="trade-login">

                        <h2 class="trade-head text-center">
                         Welcome to TradeAnalytics
                        </h2>
     
                        <p class="trade-con">
                         Sign in to record your trade strategies, perform risk analysis, and learn from your trading history to improve your odds of trading success.
                        </p>


                        <div class="trade-login-sec">
                            <div class="trade-login-btn" (click)="navigateToDashboard()">
                                <div class="login-img">
                                    <img src="../../../assets/images/google.png" alt=""  class="img-responsive">
                                </div>
                                <div class="login-con">
                                    Sign in with Google
                                </div>
                            </div>
                            <div class="trade-login-btn" (click)="navigateToDashboard()">
                                <div class="login-img">
                                    <img src="../../../assets/images//facebook.svg" alt=""  class="img-responsive">
                                </div>
                                <div class="login-con">
                                    Sign in with Facebook
                                </div>
                            </div>
                            <div class="trade-login-btn" (click)="navigateToDashboard()">
                                <div class="login-img">
                                    <img src="../../../assets/images/microsoft.svg" alt=""  class="img-responsive">
                                </div>
                                <div class="login-con">
                                    Sign in with Microsoft
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
               </div>
            </div>
        </div>
   
</div>
<app-footer></app-footer>