@import "../../../assets/styles/variable.scss";
@import '../../../assets/styles/breakpoints.scss';


// Landing page
.trade-app {
  width: 100%;
  min-height: 100vh;
  height: auto;

  overflow: hidden;
  @media #{$extra-small} {
    min-height: 92vh;
    background-color: #fff;
  }

  // left-section
  .trade-left-section {
    padding-left: 30px;
    padding-top: 18px;
    padding-right: 20px;
    @include gradient-background();
    height: 100%;
    @media #{$extra-small} {
      padding: 0px;

    }
    &-logo {
       display: none;
       background-image: url('../../../assets/images/trade-logo-1.png');
       background-position: center;
       background-size: contain;
       background-repeat: no-repeat;
       width: 110px;
       margin-left: 10px;
       /* height: 100%; */
       min-height: 60px;
       @media #{$extra-small} {
        display: block;
      }
   
    }

    // features section
    .trade-section {
      padding-top: 35px;
      @media #{$extra-small} {
        display: none;
      }
      &-heading {
        color: $white;
        font-weight: normal;
        @include media('>tablet','<laptop'){
          font-size: 22px;
        }
      }

      &-features {
        padding-top: 45px;

        .features_box {
          @include media('>tablet','<laptop'){
            margin-bottom: 20px;
          }
          .feat-box {
            margin-bottom: 10px;
            img {
              width: 85px;
              height: auto;
            }
          }

          .feat-box-con {
            h5 {
              color: $white;
              font-weight: 400;
              font-size: 19px;
              white-space: break-spaces;

              @include media('<=tablet'){
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .trade-app-img {
      margin-top: 40px;
      img {
        width: 40%;
        height: auto;
      }
    }
  }

  //right-section
  .trade-right-section {
    background-color: $white;
    min-height: 100vh;
    height: 100%;
    padding-top: 65px;
    @media #{$extra-small} {
      min-height: auto !important;
    }
    .trade-login {
      width: 95%;
      margin: 0 auto;
      @media #{$extra-small} {
        text-align: center;
      }
      .trade-head {
        color: $heading-1;
        font-size: 30px;
        
        @include media('>tablet','<laptop'){
          font-size:22px;
        }
      }
      .trade-con {
        color: $heading-1;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0px;
        margin-top: 25px;
        @include media('>tablet','<laptop'){
          font-size: 18px;
        }
      }


      .trade-login-sec{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
        align-items: center;

        .trade-login-btn {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 280px;
            height: 60px;
            padding: 10px;
            background: $btn-background;
            border: .5px solid $btn-border-color;
            @include border-radius(8px);
            margin-bottom: 20px;
            cursor: pointer;
            transition: 0.1s all ease-in-out;
            @include media('>tablet','<laptop'){
              width: 100%;
            }

            &:hover{
                box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);            
            }

            .login-img{
                width: 14%;
                @include media('>tablet','<laptop'){
                  width: 20%;
                }
                img{
                    width: 25px;
                    height: auto;
                }
            }

            .login-con{
                color:$heading-1;
                font-size:20px;
                font-weight: 500;
                width: 80%;
                text-align: left;
                @include media('>tablet','<laptop'){
                  font-size: 15px;
                }
            }
        }
      }
    }
  }
}

