.page-title {
    font-size: 30px;
    line-height: 1.2;
    color: rgb(0 0 0 / 75%);
    margin-bottom: 1rem;
}
.features_section_dec {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #9DA6BA;
    text-align: left;
}

.page_dec {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #9DA6BA;
    text-align: left;
}
    
    

