.container-main {
    padding: 10px 20px;
    background: #f5f5f5;
    min-height: 100vh;
}

@media (max-width: 1023px) {
    .container-main {
        background: #fff;
        padding: 0;
        min-height: inherit;
    }
}