<div class="addnew-trade-body">
  <ng-container [ngSwitch]="currentState">


    <!-- entry-third -->
    <div class="trade-stoack-main" #tradeCards>
      <div class="trade-sec">
        <h6>Select a predefined trade strategy or build a custom strategy</h6>
        <div class="row">
          <div class="col-sm-12">
            <div class="trade-section">
              <div class="pr-3 d-flex">
                <div class="Trade-type">
                  <div class="form-group">
                    <select class="form-control select-input" id="inputState"
                      (change)="onStrategyTypeChange($event.target.value)" [(ngModel)]='selectedStrategy'>
                      <option *ngFor="let key of strategyTypes" [value]="key" [label]="strategies[key]"></option>
                    </select>
                  </div>
                </div>
                <div class="search_btn m-r gap-btn" *ngIf="!stockAdded">
                  <a class="btn btn-add" (click)="addStock()"> Add Stock</a>
                </div>
                <div class="search_btn m-r gap-btn">
                  <a class="btn btn-secondary" (click)="addOption()" *ngIf="stockOptions.length < 4">
                    Add Option</a>
                </div>
              </div>
              <div *ngIf="stockAdded || stockOptions.length">
                <a class="text-link" (click)="navigateToRiskAnalysis()">Analyze Risk</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="trade-cards-section">
      <div class="trade-card-box" *ngIf="stockAdded">
        <div class="card-main">
          <label class="col-form-label pt-0">Action</label>
          <select id="inputState" class="form-control select-input" [(ngModel)]="stockEntry.actionType">
            <option value=1 selected data-default>Buy to Open</option>
            <option value=2>Sell to Open</option>
          </select>
        </div>
        <div class="card-main card-main-sm">
          <label class="col-form-label pt-0">Quantity</label>
          <input type="number" (keydown)="preventNegatives($event, false)" min="0" class="form-control cards-input"
            [(ngModel)]="stockEntry.quantity" />
        </div>
        <div class="card-main card-main-sm">
          <label class="col-form-label pt-0">Price</label>
          <input type="number" pattern="^\d*(\.\d{0,2})?$" (change)="checkForDecimalValidation($event)" step="0.01"
            (keydown)="preventNegatives($event, true)" min="0" class="form-control cards-input" placeholder=""
            [(ngModel)]="stockEntry.price" />
        </div>
        <div class="card-main card-main-sm">
          <label class="col-form-label pt-0">Amount</label>
          <h6 class="input_text">{{(stockEntry.quantity && stockEntry.price) ? (stockEntry.quantity * stockEntry.price * (stockEntry.actionType == 2 ? -1 : 1)).toFixed(2) : 0}}
          </h6>
        </div>

        <div *ngIf="editTrade == true" class="top-heading mr-1" (click)="addToPosition()">
          <mat-icon>add_circle</mat-icon>
        </div>
        <div *ngIf="editTrade == true" class="top-heading mr-1" (click)="reduceToPosition()">
          <mat-icon>remove_circle</mat-icon>
        </div>
        <div class="top-heading" (click)="deleteStock()">
          <mat-icon>delete</mat-icon>
        </div>
      </div>
      <ng-container>
        <div class="trade-card-box mb-1" *ngIf="stockOptions.length">
          <div class="card-main">Action</div>
          <div class="card-main card-main-sm">Contracts</div>
          <div class="card-main">Expiration</div>
          <div class="card-main card-main-sm">Strike</div>
          <div class="card-main card-main-sm">Call / Put</div>
          <div class="card-main card-main-sm">Price</div>
          <div class="card-main text-left card-main-sm">Amount</div>
        </div>
      </ng-container>
      <ng-container *ngFor="let item of stockOptions;let index = index">
        <div class="trade-card-box">
          <div class="card-main">
            <select id="inputState" class="form-control select-input" [(ngModel)]="stockOptions[index].actionType">
              <option value=1 selected data-default>Buy to Open</option>
              <option value=2>Sell to Open</option>
            </select>
          </div>
          <div class="card-main card-main-sm">
            <input type="number" (keydown)="preventNegatives($event, false)" min="0" class="form-control cards-input"
              placeholder="" [(ngModel)]="stockOptions[index].contracts" />
          </div>
          <div class="card-main">
            <div class="datepicker-group">
              <input matInput [matDatepicker]="expireDate" (click)="expireDate.open()" id="expireDate"
                (dateChange)="addEvent('input', $event)" name="stockOptions[index].expireDate"
                [(ngModel)]="stockOptions[index].expireDate" />
              <mat-datepicker-toggle matSuffix [for]="expireDate"></mat-datepicker-toggle>
              <mat-datepicker #expireDate></mat-datepicker>
            </div>
          </div>
          <div class="card-main card-main-sm">
            <input type="number" (keydown)="preventNegatives($event, true)" pattern="^\d*(\.\d{0,2})?$"
              (change)="checkForDecimalValidation($event)" step="0.01" min="0" class="form-control cards-input"
              placeholder="" [(ngModel)]="stockOptions[index].strikePrice" />
          </div>

          <div class="card-main card-main-sm">
            <select id="inputState" class="form-control select-input" [(ngModel)]="stockOptions[index].optionType">
              <option value=1 selected data-default>Call</option>
              <option value=2>Put</option>
            </select>
          </div>
          
          <div class="card-main card-main-sm">
            <input type="number" (keydown)="preventNegatives($event, true)" pattern="^\d*(\.\d{0,2})?$"
              (change)="checkForDecimalValidation($event)" step="0.01" min="0" class="form-control cards-input"
              placeholder="" [(ngModel)]="stockOptions[index].price" />
          </div>
          <div class="card-main card-main-sm">
            <h6 class="input_text justify-content-start">
              {{(stockOptions[index].contracts && stockOptions[index].price) ? (stockOptions[index].contracts * (stockOptions[index].price * 100) *  (stockOptions[index].actionType == 2 ? -1 : 1)).toFixed(2) : 0}}
            </h6>
          </div>
          <div *ngIf="editTrade == true" class="top-heading p-0 mr-1" (click)="addToStockPosition(index)">
            <mat-icon>add_circle</mat-icon>
          </div>
          <div *ngIf="editTrade == true" class="top-heading p-0 mr-1" (click)="reduceToStockOption(index)">
            <mat-icon>remove_circle</mat-icon>
          </div>
          <div class="top-heading p-0" (click)="deleteStockOption(index)">
            <mat-icon>delete</mat-icon>
          </div>
        </div>
      </ng-container>
    </div>
      <div class="font-weight-bold net_debit" *ngIf="stockOptions.length">
        <span>Total Amount</span>
        <span class="px-3">{{calculateNetDebit()}}</span>
      </div>
    
    <!-- next-button -->

  </ng-container>
</div>