
<div class="exit-thesis-pop">
    <div class="exit-thesis-pop-inner">
      <div class="pop-top-heading">
        <div class="left-heading">
          <h5>{{title}}</h5>
        </div>
      </div>

      <div class="popup-body">
        <div class="row py-2">
            <div class="col-9 text-right">
            <p>Is this trade already executed in the brokerage platform?</p>
            </div>
            <div class="col-3">
                <span class="mr-3">Yes <input type="checkbox" /></span>
                <span>No <input type="checkbox" /></span>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-9 text-right">
            <p>Specify execution Call</p>
            </div>
            <div class="col-3">
                <div class="trade-date">
                    <div class="datepicker-group">
                        <input matInput [matDatepicker]="executionDate" (click)="executionDate.open()"  id="executionDate" (dateChange)="addEvent('input', $event)" />
                        <mat-datepicker-toggle matSuffix [for]="executionDate"></mat-datepicker-toggle>
                        <mat-datepicker #executionDate></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-save" (click)="closeModal()">SUBMIT</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
      </div>
    </div>
</div>
