
<div class="exit-thesis-pop">
    <div class="exit-thesis-pop-inner">
      <div class="pop-top-heading">
        <div class="left-heading">
          <h5>{{title}}</h5>
        </div>
      </div>

      <div class="popup-body">
        <div class="row py-2">
            <div class="col-9 text-right">
            <p>Is this trade already executed in the brokerage platform?</p>
            </div>
            <div class="col-3">
                <span class="mr-3">Yes <input type="radio" name="confirm_excute" value=true [(ngModel)] = 'data.executed' (change)="confirmEvent($event)" /></span>
                <span>No <input type="radio" value=false name="confirm_excute" [(ngModel)] = 'data.executed'  (change)="confirmEvent($event)" /></span>
            </div>
        </div>
        <div class="row py-2" *ngIf="data.executed">
            <div class="col-9 text-right">
            <p>Specify execution Call</p>
            </div>
            <div class="col-3">
                <div class="trade-date">
                    <div class="datepicker-group">
                        <input matInput [matDatepicker]="executionDate" (click)="executionDate.open()"  id="executionDate" (dateChange)="addEvent('input', $event)" [(ngModel)] = 'data.executionDate' />
                        <mat-datepicker-toggle matSuffix [for]="executionDate"></mat-datepicker-toggle>
                        <mat-datepicker #executionDate></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-save" [mat-dialog-close]="data">SUBMIT</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
      </div>
    </div>
</div>
