
<div class="compare-popup">
    <div class="compare-pop-inner">
        <div class="top-pop-inner">
            <div class="left-heading">
                <h6>
                    05232020-FB001
                </h6>
            </div>
            <div class="right-close" (click)="closeModal()">
                <span>close</span>
            </div>
        </div>

        <div class="main-pop-inner">
            <div class="main-inner-top">
                <div class="main-inner-headings">
                    <span>Contracts</span>
                </div>

                <div class="main-inner-headings">
                    <span>Days Left</span>
                </div>
                <div class="main-inner-heading">
                    <span>Implied Volatility (%)</span>
                </div>
            </div>

            <div class="main-inner-sec">

                <div class="left-sec">
                    <p>Sell 355 Jun-19-2020 Call</p>
                </div>

                <div class="right-sec">
                    <div class="sec-inc">
                        <div class="stock-inc">
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 359.png"></a>
                            <span>
                                10% </span>
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 360.png">
                            </a>
                        </div>
                    </div>
                    <div class="sec-inc sec-m">
                        <div class="stock-inc">
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 359.png"></a>
                            <span>
                                10% </span>
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 360.png">
                            </a>
                        </div>
                    </div>
                    <div class="sec-inc">
                        <div class="stock-inc">
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 359.png"></a>
                            <span>
                                10% </span>
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 360.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-inner-sec">
                
                <div class="left-sec">
                    <p>Sell 355 Jun-19-2020 Call</p>
                </div>

                <div class="right-sec">
                    <div class="sec-inc">
                        <div class="stock-inc">
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 359.png"></a>
                            <span>
                                10% </span>
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 360.png">
                            </a>
                        </div>
                    </div>
                    <div class="sec-inc sec-m">
                        <div class="stock-inc">
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 359.png"></a>
                            <span>
                                10% </span>
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 360.png">
                            </a>
                        </div>
                    </div>
                    <div class="sec-inc">
                        <div class="stock-inc">
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 359.png"></a>
                            <span>
                                10% </span>
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 360.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-inner-sec">
                
                <div class="left-sec">
                    <p>Sell 355 Jun-19-2020 Call</p>
                </div>

                <div class="right-sec">
                    <div class="sec-inc">
                        <div class="stock-inc">
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 359.png"></a>
                            <span>
                                10% </span>
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 360.png">
                            </a>
                        </div>
                    </div>
                    <div class="sec-inc sec-m">
                        <div class="stock-inc">
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 359.png"></a>
                            <span>
                                10% </span>
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 360.png">
                            </a>
                        </div>
                    </div>
                    <div class="sec-inc">
                        <div class="stock-inc">
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 359.png"></a>
                            <span>
                                10% </span>
                            <a>
                                <img alt="" src="../../../../../assets/images/icon/Group 360.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="btn-up">
                <a class="btn btn-add" (click)="closeModal()">UPDATE</a>
            </div>
        </div>

    </div>
</div>