<div class="p-3 mt-1 bulk-update">
    <div class="main-body">
        <div class="trade-dash-main mb-2">
            <div class="trade-dash-name col-11 pl-0">
                <h3>All your trade strategies are displayed here. You can review your trades and add notes on multiple trades with a single excel-like intuitive user interface, i.e., you don't need to open each trade to update its journal details.
                </h3>
            </div>
            <div *ngIf="!isDemoMode">
                <button type="button" class="btn btn-add" (click)="onSave()">Save</button>
            </div>
        </div>
        <div class="trade-table">
            <ag-grid-angular 
                class="ag-theme-alpine bulk-update-grid" 
                [animateRows]="true"
                [rowData]="strategies" 
                [columnDefs]="columnDefs" 
                [defaultColDef]="defaultColDef"
                [frameworkComponents]="frameworkComponents" 
                (cellEditingStarted)="onCallValueDataChangeStart($event)"
                (cellEditingStopped)="onCellEditingStopped($event)"
                (cellValueChanged)="onCellValueChanged($event)"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </div>

        <div class="mask" *ngIf="Loader">
            <div class="loader"></div>
        </div>
    </div>
</div>