<div class="trade-dash-main dashboard-header mb-2">
    <div class="trade-dash-name col-10 pt-2">
        <p class="m-0">Access all your trade strategies conveniently in one place. Utilize the intuitive user interface resembling an Excel sheet to review your trades, add notes, and update journal details for multiple trades simultaneously. No need to open each trade individually, streamlining the process and saving you time.
        </p>
    </div>
    <div class="col-2 text-right" *ngIf="!isDemoMode">
        <button type="button" class="btn btn-add" (click)="onSave()">Save</button>
    </div>
</div>

<div class="p-3 mt-1 bulk-update">
    <div class="main-body">
        <div class="trade-table">
            <ag-grid-angular 
                class="ag-theme-alpine bulk-update-grid" 
                [animateRows]="true"
                [rowData]="strategies" 
                [columnDefs]="columnDefs" 
                [defaultColDef]="defaultColDef"
                [frameworkComponents]="frameworkComponents" 
                (cellEditingStarted)="onCallValueDataChangeStart($event)"
                (cellEditingStopped)="onCellEditingStopped($event)"
                (cellValueChanged)="onCellValueChanged($event)"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </div>

        <div class="mask" *ngIf="Loader">
            <div class="loader"></div>
        </div>
    </div>
</div>