<div class="import-trade-popup">
    <div class="import-trade-pop-inner">
        <div class="popup-body">
            <div class="top-pop-inner">
                <div class="right-close" (click)="closeModal()">
                    <mat-icon>clear</mat-icon>
                </div>
            </div>
            <div class="trade-form">
                <!-- <div class="d-flex align-items-center justify-content-between">
                    <mat-icon class="trade-form-icon">import_export</mat-icon>
                </div> -->
                <h2 class="py-2 symbol-heading">Import Trades</h2>
                <div class="pb-2 symbol-description">Select your brokerage and upload trade history to add your trade
                    strategies in bulk</div>
                <div class="row">
                    <div class="py-2 col-sm-8">
                        <label class="col-form-label">Select Brokerage</label>
                        <select class="form-control" [(ngModel)]="selectedbroker" (change)="onBrokerageChange($event.target.value, index)">
                            <option *ngFor="let item of brokerages;let index = index" value={{item.id}}>{{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="py-2 col-sm-12">
                        <label class="col-form-label">{{ (selectedBrokerage && selectedBrokerage.multipleExportFiles === true) ? 'Choose Equity File' : 'Choose File' }}</label>
                        <input class="w-100" type="file" (change)="selectFile($event)" />
                    </div>
                    <div class="py-2 col-sm-12" *ngIf="selectedBrokerage && selectedBrokerage.multipleExportFiles === true">
                        <label class="col-form-label">Choose Options File</label>
                        <input class="w-100" type="file" (change)="selectOptionsFile($event)" />
                    </div>
                    <div class="pt-2 col-sm-6">
                        <button class="btn btn-enter btn-sm" *ngIf="!processing && !isDemoMode" [disabled]="!selectedFiles && !selectedOptionFiles"
                            (click)="importTrades()">Upload</button>
                        <mat-spinner [diameter]="30" *ngIf="processing"></mat-spinner>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>