<div class="trade-strategies-sec">
    <div class="main-body">
        <div class="trade-dash-main">
            <div class="trade-dash-name col-sm-8 pl-1">
                <span class="col-form-label font-size-14 mx-2 px-3" *ngFor="let summary of summaryItems">{{summary.name
                    + ': '}} <span class="text-secondary"
                        [ngClass]="{'text-success': summary.id === 'max_gain', 'text-danger' : summary.id === 'max_loss' }">{{summary.value}}</span></span>
            </div>

            <div>
                <button routerLink="/new-trade" class="add-new btn btn-apply d-inline-flex align-items-center"><span
                        class="add-icon mr-2">+</span> ADD TRADE</button>
                <span class="cursor ml-2" (click)="strategiesFilter()">
                    <span *ngIf="!showFilters" class="text-blue text-sm" data-toggle="tooltip" data-placement="top"
                        title="Show Filters">Show Filters</span>
                    <span *ngIf="showFilters" class="text-primary text-sm" data-toggle="tooltip" data-placement="top"
                        title="Close Filters">Hide Filters</span>
                </span>
            </div>
        </div>
        <div class="trade-strategies-table px-3 py-2 trade-strategies-filters">
            <div *ngIf="showFilters" class="trade-st-box pt-0">
                <div class="st-slect-section">
                    <div class="trade-form strategies_filter">
                        <div class="form-group has-search">
                            <app-trade-search (symbolSelectEvent)="symbolSelectEventHandler($event)"
                                #tradeSearchComponent>
                            </app-trade-search>
                            <mat-icon class="form-icon-down">search</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="st-slect-section">
                    <div class="trade-sel position-relative">
                        <span class="custom-label" *ngIf="strategyLabel">Strategy Type</span>
                        <select class="form-control select-input" id="strategy_inputState"
                            [(ngModel)]='strategiesGridFilter.strategy' (change)='onOptionsSelected($event)'
                            name="strategy">
                            <option *ngFor="let key of strategyTypes" [value]="key" [label]="strategies[key]">
                            </option>
                        </select>
                        <mat-icon class="form-icon-down">keyboard_arrow_down</mat-icon>
                    </div>
                </div>
                <!-- <div class="st-slect-section">
                    <div class="trade-sel position-relative">
                        <span class="custom-label" *ngIf="statusLabel">Status</span>
                        <select class="form-control" id="tradeStrategyStatusFilter" [(ngModel)]='strategiesGridFilter.status' (change)='onOptionsSelected($event)'>
                                <option *ngFor="let key of tradeStatusNames" [value]="key"
                                    [label]="tradeStatues[key]"></option>
                            </select>
                        <mat-icon class="form-icon-down">keyboard_arrow_down</mat-icon>
                    </div>
                </div> -->

                <div class="st-slect-section">
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate placeholder="Start date">
                          <input matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field> -->
                    <div class="trade-date date-range-md">
                        <my-date-range-picker placeholder="Date range" name="mydaterange"
                            [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)">
                        </my-date-range-picker>
                    </div>
                </div>

                <div class=" st-slect-section select-btn">
                    <a href="javascript:void(0)" class="btn btn-apply mr-3" (click)="applyFilters()">Apply</a>

                    <a href="javascript:void(0)" class="btn btn-outline-primary" (click)="clearFilters()">Clear</a>
                </div>
            </div>
            <!-- start : Tabs section -->
            <mat-horizontal-stepper labelPosition="left" #stepper [linear]="false">
                <mat-step [class.active]="stepone.completed" #stepone>
                    <ng-template matStepLabel> Open Positions</ng-template>
                    <div class="stepper-content">
                        <app-portfolio-grid #portfolioGrid>loading</app-portfolio-grid>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Draft Trades</ng-template>
                    <div class="stepper-content">
                        <app-draft-trades-grid #draftTradesGrid>loading</app-draft-trades-grid>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Closed Positions</ng-template>
                    <div class="stepper-content">
                        <app-history-grid #historyGrid>loading</app-history-grid>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
            <!-- Grid row -->

        </div>
    </div>
</div>


<!-- for-mobile -->
<div class="trade-st-mobile">
    <div class="px-3 d-flex align-items-center justify-content-between">
        <div class="page-heading">My Trades</div>
        <div class="d-flex">
            <mat-icon class="cursor material-icons" (click)="searchFilter()">search</mat-icon>
            <span class="cursor ml-2" (click)="strategiesFilter()" data-toggle="tooltip" data-placement="top"
                title="Show Filters"><img src="../../../../assets/images/filter.png" alt="" height="18" /></span>
        </div>
    </div>
    <div class="py-2 px-3">
        <button routerLink="/new-trade" class="btn btn-apply"><span class="add-icon mr-2">+</span> ADD TRADE</button>
    </div>
    <div class="filters-slide" [ngClass]="showFilters ? 'open' : ''">
        <div class="trade-top-heading">
            <h3>
                <mat-icon class="trade-form-icon mr-2 cursor" (click)="strategiesFilter()">arrow_back</mat-icon> Filter
            </h3>
        </div>
        <div class="filter-form">
            <div class="trade-sel position-relative">
                <span class="custom-label" *ngIf="strategyLabel">Strategy Type</span>
                <select class="form-control select-input" id="strategy_inputState"
                    [(ngModel)]='strategiesGridFilter.strategy' (change)='onOptionsSelected($event)' name="strategy">
                    <option *ngFor="let key of strategyTypes" [value]="key" [label]="strategies[key]">
                    </option>
                </select>
                <mat-icon class="form-icon-down">keyboard_arrow_down</mat-icon>
            </div>

            <div class="trade-sel position-relative">
                <span class="custom-label" *ngIf="statusLabel">Status</span>
                <select class="form-control" id="tradeStrategyStatusFilter" [(ngModel)]='strategiesGridFilter.status'
                    (change)='onOptionsSelected($event)'>
                    <option *ngFor="let key of tradeStatusNames" [value]="key" [label]="tradeStatues[key]"></option>
                </select>
                <mat-icon class="form-icon-down">keyboard_arrow_down</mat-icon>
            </div>

            <div class="trade-date date-range-md">
                <my-date-range-picker placeholder="Date range" name="mydaterange" [options]="myDateRangePickerOptions"
                    (dateRangeChanged)="onDateRangeChanged($event)"></my-date-range-picker>
            </div>

            <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-apply mr-3" (click)="applyFilters()">Apply</a>
            </div>
        </div>
    </div>
    <div class="filters-slide" [ngClass]="showSearchFilter ? 'open' : ''">
        <div class="trade-top-heading">
            <h3>
                <mat-icon class="trade-form-icon mr-2 cursor" (click)="searchFilter()">arrow_back</mat-icon> Search
            </h3>
        </div>
        <div class="filter-form">
            <div class="position-relative">
                <div class="form-group has-search">
                    <app-trade-search (symbolSelectEvent)="symbolSelectEventHandler($event)" #tradeSearchComponent>
                    </app-trade-search>
                    <mat-icon class="form-icon-down">search</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="trade-strategies-table p-2">
        <!-- Grid row -->
        <app-trade-strategies-grid #tradeStrategiesGrid>loading</app-trade-strategies-grid>
    </div>


</div>