.reports-chart {
    border-radius: 5px;
    border: 1px solid rgba(157, 166, 186, 0.2);
    margin-bottom: 1rem;
}

.trade-headiang {
    margin-bottom: .6rem;
    h5 {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #242E3A;
    }
}