      <!-- step-seven -->
    <div class="trade-entry-rules">
        <div class="container">

          <div class="trade-stategy-heading">
            <h6>
              Entry Rules
            </h6>
          </div>

          <div class="trade-entry-rule">
            <div class="entry-inner">
              <div class="left-con">
                <h6>
                  Do not buy naked call options for more than $300
                </h6>
              </div>

              <div class="right-toggle">
                <div class="switch">
                  <input type="checkbox" id="checkboxe" checked>
                  <label for="checkboxe"></label>
                </div>

              </div>
            </div>
            <div class="entry-inner">
              <div class="left-con">
                <h6>
                  Do not buy current week expiration options
                                </h6>
              </div>

              <div class="right-toggle">
                <div class="switch">
                  <input type="checkbox" id="checkboxe-1" checked>
                  <label for="checkboxe-1"></label>
                </div>

              </div>
            </div>
            <div class="entry-inner">
              <div class="left-con">
                <h6>
                  Do not execute the trade between 8:30am and 9:00am
                </h6>
              </div>

              <div class="right-toggle">
                <div class="switch">
                  <input type="checkbox" id="checkboxe-2" >
                  <label for="checkboxe-2"></label>
                </div>

              </div>
            </div>
            <div class="entry-inner">
              <div class="left-con">
                <h6>
                  Do not average the position before 7% downside
                </h6>
              </div>

              <div class="right-toggle">
                <div class="switch">
                  <input type="checkbox" id="checkboxe-3" checked>
                  <label for="checkboxe-3"></label>
                </div>

              </div>
            </div>
            <div class="entry-inner">
              <div class="left-con">
                <h6>
                  Always protect your trade
                </h6>
              </div>

              <div class="right-toggle">
                <div class="switch">
                  <input type="checkbox" id="checkboxe-4" >
                  <label for="checkboxe-4"></label>
                </div>

              </div>
            </div>
            <div class="entry-inner">
              <div class="left-con">
                <h6>
                  Do not sell calls on growth high-beta stocks
                </h6>
              </div>

              <div class="right-toggle">
                <div class="switch">
                  <input type="checkbox" id="checkboxe-5" >
                  <label for="checkboxe-5"></label>
                </div>

              </div>
            </div>
          </div>

          <a class="btn btn-add" (click)="addTrade()"> ADD TRADE</a>

          <div class="trade-btn-p">
            <a class=" btn-pre" (click)="previous()">Previous</a>
          </div>
        </div>
      </div> 