@import "../../../../../assets/styles/variable.scss";

.close-trade-section {
  padding: 0 15px;
}

.mat-expansion-panel-header-title {
  font-size: 21px !important;
  color: $primary;
}
.mat-expansion-panel-header {
  padding: 30px 24px !important;
}
.mat-expansion-panel-header .mat-content {
  border-bottom: 1px solid #ddd !important;
  padding-bottom: 10px !important;
}

.mat-expansion-panel-spacing {
  margin: 0px !important;
}
.mat-expansion-panel {
  border-radius: 0px !important;
}
.mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 15px 24px 16px !important;
}

.first-sec {
  margin-bottom: 30px;

  label {
    color: #9c9c9c;
    font-size: 16px;
  }

  .form-control {
    border-bottom: 1px solid #e0e0e0;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 0px;
    padding: 0.375rem 0;
  }
}

.trade-thesis-list {
  margin: 0px 0px;

  .thesis-list-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 40px;

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      left: 30px;
      bottom: -20px;
      width: 99%;
      height: 2px;
      background: #7070704f;
      opacity: 0.5;
    }
    .list-inner-left {
      width: 40%;
      position: relative;
      display: flex;
      align-items: center;

      span {
        margin-right: 20px;

        h6 {
          font-weight: 400;
          @media #{$small} {
            font-size: 15px;
          }
        }
      }
    }

    .list-inner-right {
      display: flex;
      align-items: center;
      width: 59%;
      @media #{$extra-small} {
        width: 50%;
      }

      .add-new {
        color: $primary;
        font-size: 14px;
        cursor: pointer;
        font-weight: 500;
        margin-left: 20px;
      }
    }

    .list-inner-rights {
      display: flex;
      align-items: flex-start;
      width: 59%;
      @media #{$extra-small} {
        width: 50%;
      }

      .add-new {
        color: $primary;
        font-size: 14px;
        cursor: pointer;
        font-weight: 500;
        margin-left: 20px;
      }
    }
  }
}

.Trade-type .form-control {
  height: 45px;
  width: 240px;
  font-size: 14px;
  @media #{$extra-small} {
    width: 100%;
  }
  @media #{$small} {
    width: 100%;
  }
}

.trade-date .form-control {
  height: 45px;
}

.trade-input .form-control {
  height: 45px;
  width: 150%;
  @media #{$extra-small} {
    width: 100%;
  }
  @media #{$small} {
    width: 100%;
  }
}

.trade-inputt .form-control {
  height: 45px;
}

.mat-action-row {
  justify-content: space-between !important;
}

.mat-button.mat-primary {
  color: $primary !important;
  font-size: 16px !important;
}

.add-new-t {
  display: flex;
  flex-direction: column;
}

.ad-mb {
  margin-bottom: 10px;
}

.trade-net {
  display: flex;
  align-items: center;
  width: 38%;
  margin-left: 30px;
  span {
    font-size: 15px;
  }
  .form-control {
    width: 50% !important;
    margin-left: 10px;
    background-color: #f2f2f2;
  }
}


.close-trade-section{
  display: block;
  @media #{$extra-small} {
    display: none;
  }
}
// for-mobile

.close-trade-mobile {
  display: none;
  @media #{$extra-small} {
    display: block;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .trade-top-heading h3 {
    color: #016db0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px !important;
    padding-left: 12px;
  }

  .trad-border {
    border: 1px solid #acacac;
    opacity: 0.3;
  }
}


.trade-thesis-inner {
  margin-top: 15px;
}
.tranding-thesis {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 18px;
  .left-thesis {
    width: 69%;
    h6 {
      color: #565656 !important;
      font-size: 18px;
      font-weight: 400;
    }
  }
  .right-thesis {
    width: 30%;
  }
}
.trading-thesis-trade {
  margin-bottom: 10px;
  .top-thesis {
    margin-bottom: 10px;
    h6 {
      color: #565656 !important;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

// Toggle Customize
.switch {
  position: relative;
  width: 50%;
}
.switch label {
  width: 60px;
  height: 30px;
  position: absolute;
  background-color: #999;
  top: -3px;
  left: 0;
  border-radius: 50px;
  margin-bottom: 0px;
}
.switch input[type="checkbox"] {
  visibility: hidden;
}
.switch label:after {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  left: 1px;
  background-color: white;
  transition: all 0.3s;
}
.switch input[type="checkbox"]:checked + label:after {
  left: 33px;
}
.switch input[type="checkbox"]:checked + label {
  background-color: #2BBC48;
}
.switch input[type="checkbox"]:not(:checked) + label {
  background-color: red;
}
.switch-no {
  color: red;
}
.switch-yes {
  color: green;
}


.trade-stategy-heading {
  h6 {
    color: #016db0;
    font-size: 20px;
    font-weight: bold;
  }
}


.trade-btn-p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.btn-pre {
  color: $primary;
  font-weight: 500;
  font-size: 17px;
}


.exit-thesis-sec,.exit-rules-sec{
  margin-top: 10px;
}

.trade-entry-rule {
  margin-top: 20px;
  .entry-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    .left-con {
      width: 65%;

      h6 {
        color: #565656 !important;
        font-size: 18px;
        font-weight: 400;
      }
    }
    .right-toggle {
      width: 35%;
      display: flex;
      justify-content: center;
    }
  }
}

.btn-add {
  padding: 8px 40px;
  background: #016db0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 15px;
  width: 100%;
}