::ng-deep.mat-pseudo-checkbox{
    display: none !important;
}

::ng-deep.mat-list-text{
    display: inline-block !important;
}

.delete-icon{
    float: right;
}

.new-value{
    float: left;
}

.action-icon{
    cursor: pointer;
    margin-left: 10px;
}