@import "../../../../assets/styles/variable.scss";
@import '../../../../assets/styles/breakpoints.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');


body {
    font-family: 'Inter', sans-serif !important;
    color: #717785 !important;
    font-size: 16px !important;
}

.intro-description {
    font-weight: normal;
    line-height: 20px;
    color: #000000;
    font-size: 14px;
}

input,
button,
select,
optgroup,
textarea {
    font-family: 'Inter', sans-serif !important;
}
nav {
    font-family: 'Inter', sans-serif !important;
    font-weight: 500;
    font-size: 16px;
    color: #000 !important;
}

.nav-item {
    padding: 0 15px !important;
}

.nav-link {
    color: #000 !important;
}

.navbar-collapse {
    flex-grow: 0.2 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif !important;
    font-weight: 700 !important;
}

h2 {
    font-size: 48px;
    letter-spacing: 0.5px;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 28px;
    }
}

.cue-logo img {
    width: 80%;
}

.brands-sec {
    font-family: 'Inter', sans-serif !important;
    background: #fff;
    padding: 40px 0px;                                // decreased the padding from 50px to 40px
}

/* Venkat changed the color, font-size, and font-weight in "brands-sec h5" to update "CueTrade facilitates seamless import of trades from numerous brokerages */

.img-container {
    display: flex;
    align-items: baseline;
   /* justify-content: center; */
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center img {
    width: 70%;
    height: auto;
}

/* footer */

.cue-footer {
    font-family: 'Inter', sans-serif !important;
    background-color: #121D33;
    padding-top: 65px;
    padding-bottom: 20px;
    font-size: 1rem;
}

.cue-footer img {
    width: 55%;
    padding: 1rem 0;
}

.cue-footer p {
    color: #D3D6D8;
    font-family: 'Inter', sans-serif !important;
}

.cue-footer h4 {
    color: #D3D6D8;
    font-family: 'Inter', sans-serif !important;
}

.cue-footer li {
    color: #D3D6D8;
    list-style: none;
    padding: 5px 0;
}

.cue-footer li a {
    color: #D3D6D8;
    text-decoration: none;
}

.cue-footer li a:hover {
    color: #4BB964;
}

.cue-footer ul {
    padding-left: 0px !important;

}

.cue-copyright {
    text-align: center;
    padding-top: 40px;
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0.8rem 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons li a {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    width: 24px;
    text-align: center;
}

.social-icons li a:hover {
    color: #4AB565;
}

.splide__slide img {
    width: 100%;
    padding: 20px;
    height: auto;
}

.splide__list {
    height: auto !important;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.55);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    transition: box-shadow 0.15s ease-in-out;
}

.navbar .container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.me-auto {
    margin-right: auto!important;
}

.show {
    display: block;
}

.features_section_title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 0.1rem;
    text-align: left;
}

.required-field:after {
    content: "*";
    color: red;
    padding-left: 0.2em;
}
.mat-expansion-panel {
    margin-bottom: 0 !important;
}

.contact-modal {
    top:15%;
}

.bullet-list {
    padding-left: 1rem;
    list-style: disc;
    margin: 0;
}
.bullet-list li {
    margin-bottom: 0.5rem;
}

h5, .h5 {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    margin-bottom: .5rem !important;
}
.description {
    margin-bottom: 1rem !important;
    line-height: 22px;
    color: #000000;
    font-size: 14px;
}

.page-sub-heading {
	color:#000000 !important;
	font-size:22px !important;
    font-weight: 600;
}
.nav-btn {
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: none;
    padding: 0.25rem 1.5rem;
    text-align: center;
    border: 0;
    letter-spacing: 1px;
    background-color: #EC6B56;
    color: #fff;
}
.powered-by {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    padding-top: 1rem;
    text-align: right;
    @media #{$extra-small} {
        text-align: left;
    }
}

.main-body {
    padding-top: 5rem;
}
    