<div class="trade-cards-section">
    <span class="card-main" *ngFor="let entry of columnConfigs">
        <select class="form-control" *ngIf="entry.type == 'select'" id="{{entry.id}}">
            <option value=""></option>
            <option *ngFor="let value of entry.values" value="{{value}}">{{value}}</option>
        </select>
        <input type="text" class="form-control editable-text" *ngIf="entry.type == 'text'" id="{{entry.id}}" />
    </span>
    <span class="text-primary">
        <span class="text-primary action-icon" *ngIf="!edit">
            <mat-icon class="mt-2 text-success" (click)="onItemAdd()">add_circle</mat-icon>
        </span>
        <span class="text-primary" *ngIf="edit">
            <mat-icon class="mt-2 text-success action-icon" (click)="onItemEdit()">check_circle</mat-icon>
        </span>
        <span class="text-primary" *ngIf="edit">
            <mat-icon class="mt-2 text-danger action-icon" (click)="onCancel()">close</mat-icon>
        </span>
    </span>
</div>
<div class="border" [ngClass]="columns.length > 4 ? 'editable-list' : ''">
    <mat-table [dataSource]="dataSource">
        <ng-container *ngFor="let entry of columns" matColumnDef="{{entry}}">
            <mat-cell class="strategy-id-cell" *matCellDef="let element">
                <span *ngIf="entry == 'action'">
                    <mat-icon class="mr-2 text-success mat-icon-sm action-icon" (click)="onRowEdit(element)">edit
                    </mat-icon>
                    <mat-icon class="mat-icon-sm action-icon" (click)="onRowDelete(element)">delete</mat-icon>
                </span>
                <span *ngIf="entry != 'action'">
                    {{element[entry]}}
                </span>
            </mat-cell>
        </ng-container>

        <mat-row class="editable-grid-row" *matRowDef="let element; columns: columns;">
        </mat-row>
    </mat-table>
</div>