.card-main {
    padding-right: 10px;
}

.editable-text {
    width: 100px;
}

.trade-cards-section {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    padding-bottom: .25rem;
}

.mat-row:nth-child(odd) {
    background-color: transparent !important;
    border: 0;
}

mat-cell:first-of-type,
mat-footer-cell:first-of-type,
mat-header-cell:first-of-type {
    padding-left: 10px !important;
}

mat-cell:last-of-type,
mat-footer-cell:last-of-type,
mat-header-cell:last-of-type {
    padding-right: 0 !important;
}

.editable-list .mat-list-item-content {
    padding: 0 10px !important;
}

.right-icon {
    float: right;
    cursor: pointer;
}

.action-icon {
    cursor: pointer;
    margin-left: 10px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    height: 32px;
    font-size: 14px;
}

.mat-row {
    min-height: 36px;
}

.mat-nav-list .mat-list-item:hover {
    background: rgba(0, 0, 0, .0567);
}

.form-control {
    background: #FFFFFF;
    border: 1px solid #9DA6BA;
    border-radius: 4px;
    font-size: 13px;
    height: 40px;
}

.mat-icon {
    color: #3A4C85;
    cursor: pointer;
}

.mat-icon-edit {
    color: #9DA6BA;
}

.actions-column {
    width: 100px;
    text-align: right;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: #495057;
}

option:first {
    color: #999;
}

.trade-cards-section .card-main:first-child,
.trade-cards-section .card-main:nth-child(2) {
    width: 35%;
}