<div class="trade-app">
    <div class="trade-header-section">
        <div class="d-flex justify-content-between align-items-center">
            <div class="trade-header-section-logo"></div>
            <nav class="landing-navbar">
                <ul class="list-unstyled ">

                    <li>
                        <a class="landing-nav-link" href="landing#trade_journal">
                            Benefits
                            <!-- Benefits <mat-icon>keyboard_arrow_down</mat-icon> -->
                        </a>
                        <!-- <ul class="sub-menu">
                            <li [class.nav-active]="currentRoute == 'trade-journal'">
                                <a [routerLink]="['/trade-journal']">
                                Trade Journal 
                                </a>
                            </li>
                            <li [class.nav-active]="currentRoute == 'bulk-import-trades'">
                                <a [routerLink]="['/bulk-import-trades']">
                                    Bulk-Import Trades 
                                </a>
                            </li>
                            <li [class.nav-active]="currentRoute == 'bulk-import-trades'">
                                <a [routerLink]="['/bulk-import-trades']">
                                    Risk Analysis
                                </a>
                            </li>
                            <li [class.nav-active]="currentRoute == 'bulk-import-trades'">
                                <a [routerLink]="['/bulk-import-trades']">
                                    Compare Strategies
                                </a>
                            </li>
                            <li [class.nav-active]="currentRoute == 'bulk-import-trades'">
                                <a [routerLink]="['/bulk-import-trades']">
                                    Trade Plan 
                                </a>
                            </li>
                            <li [class.nav-active]="currentRoute == 'set-entry'">
                                <a [routerLink]="['/set-entry']">
                                    Set Entry And Exit Rules
                                </a>
                            </li>
                            <li [class.nav-active]="currentRoute == 'reports'">
                                <a [routerLink]="['/reports']">
                                    Reports
                                </a>
                            </li>
                            <li [class.nav-active]="currentRoute == 'insights'">
                                <a [routerLink]="['/insights']">
                                    Insights
                                </a>
                            </li>
                        </ul> -->
                    </li>
                    <li [class.nav-active]="currentRoute == 'demo'">
                        <a class="landing-nav-link" [routerLink]="['/demo']">
                            Demo
                        </a>
                    </li>

                    <li [class.nav-active]="currentRoute == 'pricing'">
                        <a class="landing-nav-link" [routerLink]="['/pricing']">
                            Pricing
                        </a>
                    </li>
                    <!-- <li [class.nav-active]="currentRoute == 'partners'">
                        <a class="landing-nav-link" [routerLink]="['/partners']">
                        Partners
                        </a>
                    </li>
                    <li [class.nav-active]="currentRoute == 'resources'">
                        <a class="landing-nav-link" [routerLink]="['/resources']">
                            Resources
                        </a>
                    </li> -->
                    <li [class.nav-active]="currentRoute == 'reviews'">
                        <a class="landing-nav-link" [routerLink]="['/reviews']">
                            Reviews
                        </a>
                    </li>
                    <!-- <li [class.nav-active]="currentRoute == 'help'">
                        <a class="landing-nav-link" [routerLink]="['/help']">
                            Help
                        </a>
                    </li> -->
                    <li [class.nav-active]="currentRoute == 'contact-us'">
                        <a class="landing-nav-link" [routerLink]="['/contact-us']">
                            Contact Us
                        </a>
                    </li>
                    <li>
                        <!-- <button type="button" class="btn login-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="openLoginModal()">
                            Login
                        </button> -->
                        <div class="google-btn" (click)="login('google')">
                            <div class="google-icon-wrapper">
                              <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                            </div>
                            <p class="btn-text">Sign-in with Google</p>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Trade-Navbar-Web -->

        <div class="trade-banner-section">
            <div class="row w-100 m-0">
                <div class="col-sm-3 col-md-5 d-flex align-items-center">
                    <div class="banner-info LeaderBoardTop">
                        <h1 class="banner-info-title">
                            Boost your trading performance
                            <!-- Improve Trading Performance by -->
                        </h1>
                        <div class="pt-3 slideFeatures">
                            {{features[currentInd]}}
                            <!-- <div *ngFor="let datum of slideData; let i = index">
                                {{datum}}
                              </div> -->
                            <!-- Learning from your trade history -->
                        </div>
                        <div class="banner-info-footer">
                            <a class="btn btn-white mr-3" href="landing#trade_journal">See Benefits</a>
                            <button type="button" class="btn btn-outline" (click)="joinWaitlist()">Join Waitlist</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-7 pr-0">
                    <div class="banner-rtside">
                        <div class="banner-img"><img src="../../../../assets/images/banner-img.png" alt=""></div>
                        <div class="widgets_section">
                            <div class="widgets_box_orange">
                                <div class="widgets_box_icon pb-2">
                                    <img src="../../../../assets/images/widgets_icon1.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Learn from the past and improve trading decisions
                                </div>
                            </div>

                            <div class="widgets_box_transparent">
                                <img src="../../../../assets/images/shape1.png" alt="">
                            </div>
                            <div class="widgets_box_orange">
                                <div class="widgets_box_icon">
                                    <img src="../../../../assets/images/widgets_icon2.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Set rules and align your trades with them
                                </div>
                            </div>
                            <div class="widgets_box_thumb">
                                <img src="../../../../assets/images/banner_thumb1.png" alt="">
                            </div>
                            <div class="widgets_box_vshape"></div>
                        </div>
                        <!-- end: widgets_section -->

                        <div class="widgets_section">
                            <div class="widgets_box_blue">
                                <div class="widgets_box_icon">
                                    <img src="../../../../assets/images/widgets_icon3.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Record trades in detail with hypothesis
                                </div>
                            </div>
                            <div class="widgets_box_thumb">
                                <img src="../../../../assets/images/banner_thumb2.png" alt="">
                            </div>
                            <div class="widgets_box_blue">
                                <div class="widgets_box_icon">
                                    <img src="../../../../assets/images/widgets_icon4.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Risk Analysis and Simulation
                                </div>
                            </div>
                            <div class="widgets_box_empty"></div>
                        </div>
                        <!-- end: widgets_section -->
                        <div class="widgets_section">
                            <div class="widgets_box_transparent align-items-start">
                                <img src="../../../../assets/images/shape2.png" alt="">
                            </div>
                            <div class="widgets_box_orange">
                                <div class="widgets_box_icon">
                                    <img src="../../../../assets/images/widgets_icon5.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Right Strategy Selection through Comparison
                                </div>
                            </div>
                            <div class="widgets_box_thumb">
                                <img src="../../../../assets/images/shape3.png" alt="">
                            </div>
                            <div class="widgets_box_vshape"></div>
                        </div>
                        <!-- end: widgets_section -->
                        <div class="widgets_section">

                            <div class="widgets_box_hshape"></div>
                            <div class="widgets_box_empty-s"></div>
                        </div>
                        <!-- end: widgets_section -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end: banner-section -->
    </div>
    <!-- end: header-section -->

    <div class="main-body">
        <div class="container">
            <!-- <div class="main-body-title">
                Product Benefits
            </div> -->
            <!-- <div class="main-body-dec">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div> -->
            <div class="features_section" id="trade_journal">
                <div class="features_section_title">Record your trades with a comprehensive trade journal</div>
                <div class="features_section_dec">
                    Adopt a systematic approach to trading by recording your trades in detail with the reasoning,source of the idea, events around the trade, target price, target close date, mindset, technical indicator, supporting documents, etc.<a href="#" class="read_more">Read More</a>
                </div>
                <div class="features_section_banner">
                    <img src="../../../../assets/images/trade-thesis.png" alt="" />
                </div>
            </div>
            <!-- end: Comprehensive trade journal -->

            <div class="features_section">
                <div class="features_section_title">Prepare for the day ahead with a meticulous trade plan</div>
                <div class="features_section_dec">
                    A trade plan created before the market hours allows you to think objectively about the market without getting influenced by the price movements. Within a trade plan, one can record their perspective on the market and intended actions during the day. It can be updated after the market hours to check actual actions against the planned actions.<a href="#" class="read_more">Read More</a>
                </div>
            
                <div class="features_section_banner">
                    <img src="../../../../assets/images/trade-plan.png" alt="" />
                </div>
            </div>
            <!-- end: Trade Plan -->

            <div class="features_section">
                <div class="features_section_title">Improve trading decisions through in-depth reports on trade history</div>
                <div class="features_section_dec">
                    Identify your strengths and weaknesses by reviewing reports and metrics derived from your trading journal and history. Reports are generated across different categories such as portfolio, performance, risk, discipline, trading rules, and goals. Build on your strengths by doing more of what worked in the past and avoiding the kind of trades that didn’t work.<a href="#" class="read_more">Read More</a>
                </div>
            
                <div class="features_section_banner">
                    <img src="../../../../assets/images/reports.png" alt="" />
                </div>
            </div>
            <!-- end: features_section -->
            
            <div class="features_section">
                <div class="features_section_title">Set trading rules and abide by them to avoid repeating the mistakes</div>
                <div class="features_section_dec">
                    Market volatility, ease of trading, and influx of trading ideas makes it difficult to be disciplined and influences one to take impromptu decisions. Rules feature allows you to set trading rules (manual and automatic) and trade as per these rules so that past mistakes can be avoided. Manual rules are the notes that you would like to be reminded of, while opening or closing positions. Automatic rules are the rules that trigger alerts or notifications when they are broken.<a href="#" class="read_more">Read More</a>
                </div>
                <div class="features_section_banner">
                    <img src="../../../../assets/images/rules_thumb.PNG" alt="" />
                </div>
            </div>
            <!-- end: features_section -->
            

            <div class="features_section">
                <div class="features_section_title">Analyze risk of complex trades by simulating possible future scenarios</div>
                <div class="features_section_dec">
                    Analyze the potential returns on a trade strategy involving options at present and in the future while varying stock price, implied volatility, and days to expiration. Risk analysis feature allows you to modify the trade strategy and keep assessing its profitability until you arrive at a trade that is aligned with your risk appetite.<a href="#" class="read_more">Read More</a>
                </div>
                <div class="features_section_banner">
                    <img src="../../../../assets/images/risk-analysis.png" alt="" />
                </div>
            </div>
            <!-- end: Risk analysis section -->

            <div class="features_section">
                <div class="features_section_title">Pick the right strategy that is aligned with your risk appetite</div>
                <div class="features_section_dec">
                    Let's say you are bullish on a stock. Do you know which bullish strategy on the stock works well for you within your risk appetite? Strategy Comparison feature allows you to compare up to five different strategies on a symbol and analyze their profitability in different scenarios so that you can pick a strategy that aligned with your risk appetite. <a href="#" class="read_more">Read More</a>
                </div>
                <div class="features_section_banner">
                    <img src="../../../../assets/images/strategy-comparison.png" alt="" />
                </div>
            </div>
            <!-- end: Strategy comparison section -->

            <div class="features_section">
                <div class="features_section_title">Import Trade History</div>
                <div class="features_section_dec">
                    All the files imported at different points in time are displayed. Trades that failed to import can be downloaded into excel for review. Trades that got created or updated in the system because of importing a file can be downloaded to an excel as well. update the thesis for these trades in excel and upload the file back into the system. User can update trade thesis of multiple trades at once through excel upload.<a href="#" class="read_more">Read More</a>
                </div>
                <div class="features_section_banner">
                    <img src="../../../../assets/images/import-trades.png" alt="" />
                </div>
            </div>
            <!-- end: Import Trades section -->
        </div>
    </div>
    <!-- end: main-body -->

    <div class="demo_video_section text-center">
        <div class="container">
            <div class="demo_video_section_header">
                <div class="demo_video_section-title">Watch the demo</div>
                <!-- <div class="demo_video_section-dec">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div> -->
                <div class="py-3"><img src="../../../../assets/images/down_arrow.png" alt="" class="img-responsive"></div>
            </div>
            <div class="video_container">
                <span class="video-label">Coming Soon</span>
                <img src="../../../../assets/images/video_thumbnail.png" alt="" class="w-100">
            </div>
        </div>
    </div>
</div>
<nav class="mobile-bottom-nav">
    <ul>
        <li [class.nav-active]="currentRoute == 'about-us'">
            <a class="landing-nav-link" [routerLink]="['/about-us']">
              About Us
            </a>
        </li>
        <li [class.nav-active]="currentRoute == 'features'">
            <a class="landing-nav-link" [routerLink]="['/features']">
                Features
            </a>

        </li>
        <li [class.nav-active]="currentRoute == 'getting-started'">
            <a class="landing-nav-link" [routerLink]="['/getting-started']">
            Getting <br/> Started
            </a>
        </li>
        <li [class.nav-active]="currentRoute == 'pricing'">
            <a class="landing-nav-link" [routerLink]="['/pricing']">
                Pricing
            </a>
        </li>
        <li [class.nav-active]="currentRoute == 'blogs'">
            <a class="landing-nav-link" [routerLink]="['/blogs']">
                Blogs
            </a>
        </li>


    </ul>
</nav>
<div class="landing-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <ul class="footer_nav">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="trade-socail-icon col-sm-6">
                <p>Follow us on</p>  &nbsp;
                <img src="../../../assets/images/twitter.png" alt="twitter" />
                <img src="../../../assets/images/facebook.png" alt="facebook" />
                <img src="../../../assets/images/youtube.png" alt="youtube" />
            </div>

        </div>
        <!-- <app-footer></app-footer> -->
    </div>
</div>


<!-- Modal -->
<div class="modal fade custom_modal" [ngClass]="loginModalOpen ? 'show' : ''" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="text-right p-2">
                <span class="cursor" (click)="closeLoginModal()"><mat-icon class="mat-icon-sm">clear</mat-icon></span>
            </div>
            <div *ngIf="logonBodySec">
                <div class="modal-body login_modal">
                    <div class="trade-login text-center">
                        <h3 class="trade-head">Welcome to CueTrade</h3>
                        <h3 class="login_desc">A robust tool to improve trading discipline and thereby returns</h3>

                        <div class="trade-login-sec">
                            <div class="trade-login-btn" (click)="login('google')">
                                <div class="login-img">
                                    <img src="../../../../assets/images/google.png" alt="" class="img-responsive">
                                </div>
                                <div class="login-con">
                                    Sign in with Google
                                </div>
                            </div>
                            <div class="trade-login-btn" (click)="login('facebook')">
                                <div class="login-img">
                                    <img src="../../../../assets/images//facebook.svg" alt="" class="img-responsive">
                                </div>
                                <div class="login-con">
                                    Sign in with Facebook
                                </div>
                            </div>
                            <!-- <div class="trade-login-btn" (click)="login('microsoft')">
                            <div class="login-img">
                                <img src="../../../../assets/images/microsoft.svg" alt=""  class="img-responsive">
                            </div>
                            <div class="login-con">
                                Sign in with Microsoft
                            </div>
                        </div> -->
                            <button type="button" class="btn btn-create-account" (click)="openCreateAcModal()">Create Account</button>
                        </div>
                    </div>
                </div>
                <div class="login-modal-footer pt-0">
                    <div class="pb-3 follow_us">
                        <p class="py-2">Follow us</p>
                        <div class="follow_us_icons">
                            <a href="#"><img src="../../../../assets/images/fb_sm.png" alt="" class="img-responsive"></a>
                            <a href="#"><img src="../../../../assets/images/twitter_sm.png" alt="" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: login_content -->
            <div *ngIf="createAcSec">
                <div class="modal-body createact_modal">
                    <div class="trade-login text-center">
                        <h3 class="trade-head">Create Account</h3>

                        <div class="trade-login-sec">
                            <input type="text" class="form-control" placeholder="Full Name" />
                            <input type="text" class="form-control" placeholder="Email Address" />
                            <input type="password" class="form-control" placeholder="Password" />
                            <input type="password" class="form-control" placeholder="Confirm Password" />

                            <button type="button" class="btn btn-create-account">Create Account</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end: create account -->

            <div class="copyright pb-3">Copyright @CueTrade 2021 | Terms & Conditions</div>
        </div>
    </div>
</div>

<div *ngIf="loginModalOpen" class="modal-backdrop fade show"></div>