<div class="trade-app">
    <div class="trade-header-section">
        <div class="d-flex landing-header">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="trade-header-section-logo"></div>
                <nav class="landing-navbar">
                    <ul class="list-unstyled ">
                        <li>
                            <a class="landing-nav-link" href="landing#howit_works">
                                How it Works
                            </a>
                        </li>
                        <li>
                            <a class="landing-nav-link" href="landing#trade_journal">
                                Benefits
                            </a>
                        </li>
                        <li [class.nav-active]="currentRoute == 'demo'">
                            <a class="landing-nav-link" href="landing#demo_video_section">Demo</a>
                        </li>
                        
                        <li [class.nav-active]="currentRoute == 'Reviews'">
                            <a class="landing-nav-link" href="landing#reviews_section">
                                Testimonials
                            </a>
                        </li>
                        <li [class.nav-active]="currentRoute == 'Blog'">
                            <a class="landing-nav-link" href="landing#blogs_section">
                                Blog
                            </a>
                        </li>
                        <li [class.nav-active]="currentRoute == 'FAQs'">
                            <a class="landing-nav-link" href="landing#Faqs">
                                FAQs
                            </a>
                        </li>
                        <li class="px-0" [class.nav-active]="currentRoute == 'contact-us'">
                            <a class="landing-nav-link pr-0" (click)="openContactUsModal()">
                                Contact Us
                            </a>
                        </li>
                        <!-- <li>
                            <div class="google-btn" (click)="login('google')">
                                <div class="google-icon-wrapper">
                                <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                                </div>
                                <p class="btn-text">Sign-in with Google</p>
                            </div>
                        </li> -->
                    </ul>
                </nav>
                <span class="material-icons hamburger-menu-icon" (click)="menuToggle()">menu</span>
            </div>
        </div>
        <!-- Trade-Navbar-Web -->
        
        <!-- Trade-Navbar-Mobile -->
        <div class="trade-header-mobile">
            <nav class="trade-navbar hamburger-menu" [ngClass]="hamburgerMenu ? 'open' : ''">
                <ul class="list-unstyled ">
                    <li>
                        <a class="landing-nav-link" href="landing#howit_works_mob">
                            How it Works
                        </a>
                    </li>
                    <li>
                        <a class="landing-nav-link" href="landing#trade_journal">
                            Benefits
                        </a>
                    </li>
                    <li [class.nav-active]="currentRoute == 'demo'">
                        <a class="landing-nav-link" href="landing#demo_video_section">Demo</a>
                    </li>
                    
                    <li [class.nav-active]="currentRoute == 'Reviews'">
                        <a class="landing-nav-link" href="landing#reviews_section">
                            Testimonials
                        </a>
                    </li>
                    <li [class.nav-active]="currentRoute == 'Blog'">
                        <a class="landing-nav-link" href="landing#blogs_section">
                        Blog
                        </a>
                    </li>
                    <li [class.nav-active]="currentRoute == 'FAQs'">
                        <a class="landing-nav-link" href="landing#Faqs">
                            FAQs
                        </a>
                    </li>
                    <li [class.nav-active]="currentRoute == 'contact-us'">
                        <a class="landing-nav-link" (click)="openContactUsModal()">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </nav>
        </div>


        <div class="trade-banner-section container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="banner-info" id="howit_works_mob">
                        <h1 class="banner-info-title">
                            Transform yourself into a <br/>successful trader.
                        </h1>
                        <div class="pt-3 slideFeatures">
                            <!-- Provides users with everything they need to organize their trading habits, review performance and manage risks  -->
                            <!-- {{features[currentInd]}} -->
                           <strong>Without TA:</strong> Trade based on tips without research, emotional decisions, overtrading, <br/>
                           repetition of mistakes, and excessive risk. <strong>With TA:</strong> Trade based on a solid reasoning, <br/>align with trading rules, manage risk, improvement in trading decisions.
                        </div>
                        <div class="banner-info-footer" id="howit_works">
                            <button type="button" class="btn btn-white btn-video mr-3" (click)="openPopup()"><mat-icon class="mr-1">videocam</mat-icon> Watch Video</button>
                            <!-- <button type="button" class="btn btn-outline" (click)="joinWaitlist()">Sign-in</button> -->
                            <button type="button" class="btn google-btn pl-0 pr-3" (click)="login('google')"><span class="google-icon-wrapper"><img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/></span> <span class="google-btn-text">Sign-in</span></button>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-12 col-md-6">
                    <div class="banner-rtside">
                        <div class="widgets_section">
                            <div class="widgets_box_orange">
                                <div class="widgets_box_icon pb-2">
                                    <img src="../../../../assets/images/widgets_icon1.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Know Strengths, Improve Decisions
                                </div>
                            </div>

                            <div class="widgets_box_transparent">
                                <img src="../../../../assets/images/shape1.png" alt="">
                            </div>
                            <div class="widgets_box_orange">
                                <div class="widgets_box_icon">
                                    <img src="../../../../assets/images/widgets_icon2.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Alignment with Self-Set Rules
                                </div>
                            </div>
                            <div class="widgets_box_thumb last-thumb"></div>
                            <div class="widgets_box_vshape"></div>
                        </div>

                        <div class="widgets_section">
                            <div class="widgets_box_thumb blue-box-lt"></div>
                            <div class="widgets_box_blue">
                                <div class="widgets_box_icon">
                                    <img src="../../../../assets/images/widgets_icon3.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Comprehensive Trade Journal
                                </div>
                            </div>
                            <div class="widgets_box_thumb"></div>
                            <div class="widgets_box_blue">
                                <div class="widgets_box_icon">
                                    <img src="../../../../assets/images/widgets_icon4.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Right Strategy Selection
                                </div>
                            </div>
                            <div class="widgets_box_empty"></div>
                        </div>
                        <div class="widgets_section">
                            <div class="widgets_box_orange">
                                <div class="widgets_box_icon pb-2">
                                    <img src="../../../../assets/images/widgets_icon6.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Share Trades with Community
                                </div>
                            </div>
                            <div class="widgets_box_transparent align-items-center">
                                <img src="../../../../assets/images/shape2.png" alt="">
                            </div>
                            <div class="widgets_box_orange">
                                <div class="widgets_box_icon">
                                    <img src="../../../../assets/images/widgets_icon5.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Risk Analysis and Simulation
                                </div>
                            </div>
                            <div class="widgets_box_transparent align-items-center shape-last">
                                <img src="../../../../assets/images/shape3.png" alt="">
                            </div>
                            <div class="widgets_box_vshape"></div>
                        </div>
                        <div class="widgets_section justify-content-end" id="howit_works">
                            <div class="widgets_box_hshape"></div>
                            <div class="widgets_box_empty-s"></div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- end: banner-section -->
    </div>
    <!-- end: header-section -->

    <div class="main-body">
        <div class="container">
            <div class="features_section howit_works_section pt-2">
                <div class="features_section_title page-heading">How it Works?</div>
                <div class="intro-description mb-3 pt-2 pb-3">
                    Journaling in TradeAnalytix is unique and a multi-step process. A trader is navigated through a series of steps in an intuitive manner ensuring that the trader makes an informed decision based on strong rationale and data.
                </div>
                <div class="slideshow-component">
                    <div class="row slideshow_row" *ngIf="currentInd == 0">
                        <div class="col-sm-8">
                            <img class="slideshow_banner" src="../../../../assets/images/slider/step1.png" alt="" />
                        </div>
                        <div class="col-sm-4">
                            <h3 class="slideshow-title">Step 1: Add Trades</h3>
                            <div class="slideshow-description">
                                Add your trade details manually or import trades from your brokerage
                            </div>
                        </div>
                    </div>
                    <div class="row slideshow_row" *ngIf="currentInd == 1">
                        <div class="col-sm-8">
                            <img class="slideshow_banner" src="../../../../assets/images/slider/step2.png" alt="" />
                        </div>
                        <div class="col-sm-4">
                            <h3 class="slideshow-title">Step 2: Add Notes</h3>
                            <div class="slideshow-description">
                                Provide justification on your trades in a unique, configurable, Q&A format trade journal
                            </div>
                        </div>
                    </div>
                    <div class="row slideshow_row" *ngIf="currentInd == 2">
                        <div class="col-sm-8">
                            <img class="slideshow_banner" src="../../../../assets/images/slider/step3.png" alt="" />
                        </div>
                        <div class="col-sm-4">
                            <h3 class="slideshow-title">Step 3: Analyze Risk</h3>
                            <div class="slideshow-description">
                                Analyze the risk of the trade through simulation and explore other strategies though comparison
                            </div>
                        </div>
                    </div>
                    <div class="row slideshow_row" *ngIf="currentInd == 3">
                        <div class="col-sm-8">
                            <img class="slideshow_banner" src="../../../../assets/images/slider/step4.png" alt="" />
                        </div>
                        <div class="col-sm-4">
                            <h3 class="slideshow-title">Step 4: Align with Rules</h3>
                            <div class="slideshow-description">
                                Check the trade against self-set trading rules to make sure past mistakes are avoided.
                            </div>
                        </div>
                    </div>
                    <div class="row slideshow_row" *ngIf="currentInd == 4">
                        <div class="col-sm-8">
                            <img class="slideshow_banner" src="../../../../assets/images/slider/step5.png" alt="" />
                        </div>
                        <div class="col-sm-4">
                            <h3 class="slideshow-title">Step 5: Leverage Insights</h3>
                            <div class="slideshow-description">
                                Make an informed decision on the trade by evaluating your past performance on similar trades through reports
                            </div>
                        </div>
                    </div>
                    <div class="py-1 justify-content-center" id="demo_video_section">
                        <span class="swiper-button-prev cursor" (click)="priviousSlide()">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </span>
                        <span class="swiper-button-next cursor" (click)="nextSlide()"><mat-icon>keyboard_arrow_right</mat-icon>
                        </span>
                    </div>

                </div>
            </div>
            <!-- end: Comprehensive trade journal -->

            <div class="features_section pt-2">
                <div class="features_section_title page-heading">Product Explainer Video</div>
                <div class="intro-description mb-3 pt-2 pb-3">
                    Watch the short video to know the problems addressed by TradeAnalytix and the benefits of using it.
                </div>
                
                <div class="text-center demo_video">
                    <iframe width="80%" height="520" src="https://www.youtube.com/embed/nG_HpDMR3nE" allowfullscreen></iframe>
                    <div id="trade_journal"></div>
                </div>
            </div>

            <div class="features_section pb-2">
                <h2 class="features_section_title page-heading">Product Benefits</h2>
                <div class="intro-description mt-1 pt-2 pb-3">TradeAnalytix provides users with everything they need to organize their trading habits, review their performance and manage risks.</div>
            </div>
            <div class="features_section">
                <div class="row row_reverse">
                    <div class="col-md-4">
                        <div class="features_section_title">Systematic approach to trading through journaling of trades</div>
                        <div class="features_section_dec">
                            Add your trades to our configurable, template-based trade journal either one-by-one or in bulk by importing trade history files from the brokerages. Update the journal details of your trades in bulk in an intuitive excel-like grid.
                            <div class="banner-info-footer text-left">
                                <button type="button" class="btn btn-outline btn-video mr-3" (click)="openPopup()"><mat-icon class="mr-1">videocam</mat-icon> Watch Video</button>
                                <button type="button" class="btn google-btn pl-0 pr-3" (click)="login('google')"><span class="google-icon-wrapper"><img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/></span> <span class="google-btn-text">Sign-in</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 features_section_banner">
                        <img src="../../../../assets/images/trade-thesis.png" alt="" />
                    </div>
                </div>
            </div>
            <!-- end: Comprehensive trade journal -->

            <div class="features_section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="features_section_title">Improve trading decisions through 
                            in-depth reporting on trade history</div>
                        <div class="features_section_dec">
                            Identify your strengths and limitations by reviewing reports and metrics derived from your trading journal. Reports are generated across different categories such as portfolio, performance, risk, discipline, trading rules, and goals.
                        </div>
                        <div class="banner-info-footer text-left">
                            <button type="button" class="btn btn-outline btn-video mr-3" (click)="openPopup()"><mat-icon class="mr-1">videocam</mat-icon> Watch Video</button>
                            <button type="button" class="btn google-btn pl-0 pr-3" (click)="login('google')"><span class="google-icon-wrapper"><img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/></span> <span class="google-btn-text">Sign-in</span></button>
                        </div>
                    </div>
                    <div class="col-md-8 features_section_banner">
                        <img src="../../../../assets/images/reports.png" alt="" />
                    </div>
                </div>
            </div>
            <!-- end: Improve trading decisions -->

            <div class="features_section">
                <div class="row row_reverse">
                    <div class="col-md-4">
                        <div class="features_section_title">Risk analysis  of option trades 
                            through simulation</div>
                        <div class="features_section_dec">
                            Analyze the potential returns of option trade strategies in the future while varying stock price, implied volatility, and days to expiration. Keep updating the strategy and assessing its potential returns until you arrive at a trade that is aligned with your risk appetite.
                        </div>
                        <div class="banner-info-footer text-left">
                            <button type="button" class="btn btn-outline btn-video mr-3" (click)="openPopup()"><mat-icon class="mr-1">videocam</mat-icon> Watch Video</button>
                            <button type="button" class="btn google-btn pl-0 pr-3" (click)="login('google')"><span class="google-icon-wrapper"><img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/></span> <span class="google-btn-text">Sign-in</span></button>
                        </div>
                    </div>
                    <div class="col-md-8 features_section_banner">
                        <img src="../../../../assets/images/risk-analysis.png" alt="" />
                    </div>
                </div>
            </div>
            <!-- end: Risk analysis section -->

            <div class="features_section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="features_section_title">Pick the right strategy that is 
                            aligned with your risk appetite</div>
                        <div class="features_section_dec">
                            Let's say you are bullish on a stock. Do you know which strategy works well for you within your risk appetite? Strategy comparison feature allows you to compare trade strategies on a stock to know their profitability in different scenarios so that you can pick a strategy that aligned with your risk appetite.
                        </div>
                        <div class="banner-info-footer text-left">
                            <button type="button" class="btn btn-outline btn-video mr-3" (click)="openPopup()"><mat-icon class="mr-1">videocam</mat-icon> Watch Video</button>
                            <button type="button" class="btn google-btn pl-0 pr-3" (click)="login('google')"><span class="google-icon-wrapper"><img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/></span> <span class="google-btn-text">Sign-in</span></button>
                        </div>
                    </div>
                    <div class="col-md-8 features_section_banner">
                        <img src="../../../../assets/images/strategy-comparison.png" alt="" />
                    </div>
                </div>
            </div>
            <!-- end: Strategy comparison section -->

            <div class="features_section">
                <div class="row row_reverse">
                    <div class="col-md-4">
                        <div class="features_section_title">Avoid repeating the mistakes 
                            by abiding with self-set trading rules</div>
                        <div class="features_section_dec">
                            Market volatility, ease of trading, and influx of trading ideas makes it difficult to be disciplined and influences one to take impromptu decisions. Trading Rules feature allows you to set manual or automatic rules and trade as per them to avoid past mistakes
                        </div>
                        <div class="banner-info-footer text-left">
                            <button type="button" class="btn btn-outline btn-video mr-3" (click)="openPopup()"><mat-icon class="mr-1">videocam</mat-icon> Watch Video</button>
                            <button type="button" class="btn google-btn pl-0 pr-3" (click)="login('google')"><span class="google-icon-wrapper"><img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/></span> <span class="google-btn-text">Sign-in</span></button>
                        </div>
                    </div>
                    <div class="col-md-8 features_section_banner">
                        <img src="../../../../assets/images/rules_thumb.PNG" alt="" />
                    </div>
                </div>
            </div>
            <!-- end: features_section -->

            <div class="features_section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="features_section_title">Prepare for the day ahead with a meticulous trade plan</div>
                        <div class="features_section_dec">
                            A trade plan created before the market hours allows you to think objectively about the market without getting influenced by the price movements. You can record your perspective on the market and intended actions during the day in a trade plan. It can be updated after the market hours to check actual actions against the planned actions
                        </div>
                        <div class="banner-info-footer text-left">
                            <button type="button" class="btn btn-outline btn-video mr-3" (click)="openPopup()"><mat-icon class="mr-1">videocam</mat-icon> Watch Video</button>
                            <button type="button" class="btn google-btn pl-0 pr-3" (click)="login('google')"><span class="google-icon-wrapper"><img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/></span> <span class="google-btn-text">Sign-in</span></button>
                        </div>
                    </div>
                    <div class="col-md-8 features_section_banner">
                        <img src="../../../../assets/images/trade-plan.png" alt="" />
                    </div>
                    <div id="reviews_section"></div>
                </div>
            </div>
            <!-- end: Trade Plan -->
            
            <div class="py-2 mb-3">
                <div class="features_section_title page-heading">Testimonials</div>
                <div class="carousel slide" data-ride ="carousel" id="quote-carousel">
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">
                        <!-- Quote 1 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 offset-md-2">
                                        <p class="testimonial__text">I knew the benefits of journaling trades but couldn't adopt the habit mainly due to its tedious nature. TradeAnalytix's user experience, journal format, and bulk update feature makes trade journaling trades a breeze</p>
                                        <div class="reviewer_name">Srinivas Kukunoor</div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>

                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 offset-md-2">
                                        <p class="testimonial__text">With TradeAnalytix intuitive and in-depth reporting, I figured what kind of trades worked for me and what kind of trades didn't work for me in the past. I incorporated the insights derived from my trading history into the rules to stock with my strengths and avoid past mistakes</p>
                                        <div class="reviewer_name">Krishna Lanka</div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        
                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 offset-md-2">
                                        <p class="testimonial__text">I have been using Risk Analysis feature regularly and it's an eye opener. It helped me understand the potential return of my option trades in different scenarios in a user-friendly format. It has become a must for me to analyze my trades in TradeAnalytix before executing them</p>
                                        <div class="reviewer_name">Syam Narindi</div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>

                    <!-- Bottom Carousel Indicators -->
                    <ol class = "carousel-indicators" id="blogs_section">
                        <li data-target = "#quote-carousel" data-slide-to = "0" class = "active"> <img class = "img-responsive " src = "https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg" alt="">
                        </li>
                        <li data-target = "#quote-carousel" data-slide-to= "1"> <img class = "img-responsive" src = "https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" alt = "">
                        </li>
                        <li data-target = "#quote-carousel" data-slide-to = "2"><img class = "img-responsive" src = "https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                        </li>
                    </ol>
             
                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class ="left_carousel"><mat-icon>keyboard_arrow_left</mat-icon></a>
                    <a data-slide="next" href="#quote-carousel" class="right_carousel"><mat-icon>keyboard_arrow_right</mat-icon></a>
                </div>                    
            </div>
            <!-- end: Reviews -->

            <div class="pt-2">
                <div class="features_section_title page-heading">Blog</div>
                <div class="row py-3 my-3">
                    <div class="col-sm-3">
                        <div class="blogs_card">
                            <h3 class="blog-post_title">There is just ONE thing that distinguishes successful traders from the rest</h3>
                            <div class="blog-post_description">
                                <p>Tesla and NIO stock prices have increased by 740% and 1100% respectively in the year 2020 alone. Success stories such as these lure retail investors into the market because no one wants to miss on the next big thing. The intention of every retail investor is to make money on the side without spending a lot of time on it...</p>
                            </div>
                            <a class="blog-post_read-more" target="_blank" href="https://cuetrade.wpcomstaging.com/2022/04/02/there-is-just-one-thing-that-distinguishes-successful-traders-from-the-rest/">Read More »</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="blogs_card">
                            <h3 class="blog-post_title">Trading journal is the key to success in the financial markets</h3>
                            <div class="blog-post_description">
                                <p>Journaling trades on a regular basis is a best practice recommended by the experienced professional traders. However, the usage of trading journals in any form is mostly limited to professional traders;  most retail traders do not even know that such practice is recommended.</p>
                            </div>
                            <a class="blog-post_read-more" target="_blank" href="https://cuetrade.wpcomstaging.com/2022/04/04/trading-journal-is-the-key-to-success-in-the-financial-markets/">Read More »</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="blogs_card">
                            <h3 class="blog-post_title">Analyze your option trade strategies through simulation</h3>
                            <div class="blog-post_description">
                                <p>In the last quarter of the year 2021, Robinhood generated more than 45% of its revenue from option trading. Most of the users of Robinhood are retail investors. The conclusion that can be drawn from this is that many retail investors are trading in options either for speculation or hedging. With this being the trend,</p>
                            </div>
                            <a class="blog-post_read-more" target="_blank" href="https://cuetrade.wpcomstaging.com/2022/04/05/analyze-your-option-trade-strategies-through-simulation/">Read More »</a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="blogs_card">
                            <h3 class="blog-post_title">Set trading rules and align your trades with them to avoid repeating the mistakes</h3>
                            <div class="blog-post_description">
                                <p>Trading looks easy in hindsight – you just have to buy low and sell high and be patient in the interim. The truth is that making money trading in the financial markets is hard. Don’t listen to anyone who tells you otherwise. Markets teach us a lot of things about the world and about us as well</p>
                            </div>
                            <a class="blog-post_read-more" target="_blank" href="https://cuetrade.wpcomstaging.com/2022/04/06/set-trading-rules-and-align-your-trades-with-them-to-avoid-repeating-the-mistakes/"> Read More »</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end: blogs -->
            
            <div class="features_section howit_works_section" id="Faqs">
                <div class="features_section_title page-heading mb-3">Frequently Asked Questions</div>

                <mat-accordion class="example-headers-align w-100" multi="false">
                    <mat-expansion-panel [expanded]="false" (opened)="setStep(1)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How is TradeAnalytix different from other trade journals?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                            TradeAnalytix is built with active retail trader in mind and is different from other journals in many regards. Our trade journal is designed in Q&A format to help the trader think through their trade in different perspectives - rationale, emotional, technical, risk, etc. Reports and metrics are generated on almost every response provided by the trader in the journal not just on the trade history. We emphasize on risk management and trading rules, and these concepts are embedded in our trade journal. Read more about what makes TradeAnalytix unique here. </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(2)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                When should trades be added to TradeAnalytix journal?
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                You can add a trade to TradeAnalytix both before and after you execute that trade in your brokerage account. If you add your trades to TradeAnalytix before you execute that trade, you can evaluate your trade from different perspectives (rationale behind the trade, risk assessment, past performance, rules alignment, comparison with other strategies) and make an informed decision as to whether to go ahead with the trade or not. If you chose to add trades to TradeAnalytix only after the execution of the trade in the brokerage, you can still derive insights from your trade history and journal in the form of detailed reports and metrics.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(3)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How can I add my trades in the brokerage account to TradeAnalytix?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                Trades can be added manually one-by-one using our intuitive user interface or your trade history files from brokerage can be uploaded to TradeAnalytix so that all those trades get added in bulk.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(4)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How many reports and metrics are available in TradeAnalytix?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                There are over 40 reports available in TradeAnalytix at present and the list is growing. These reports are generated on your trading history and the journal details provided. Click here to see the complete list of reports and metrics.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(5)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How is the risk analysis feature in TradeAnalytix different from other option payoff tools?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                Many retail traders buy call or put options on a stock before earnings and get surprised as to why the option price didn’t move higher or lower inline with the stock price. Risk analysis feature in TradeAnalytix allows traders determine how much return can be expected on trade strategies involving options in the future date when stock price and implied volatility are at certain levels. With this information, traders can decide whether to go ahead with the trades in their current form or modify them so that they are inline with their risk appetite. We find the option payoff diagrams offered in the market difficult to use. Since  TradeAnalytix is built with retail traders in mind, we show the potential returns in a simple, easy to understand data table format.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(6)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How does strategy comparison feature help the traders?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                Let’s say you are bullish on a stock and want to place a trade. Now there are numerous ways to take a bullish position on this stock - buy stock, buy naked call, buy call spread, sell put spread, etc. and different strikes and expiration dates to choose from. How does one choose the strategy and option contracts that is aligned with their risk appetite? This is where strategy comparison feature can help the retail traders. It allows the traders to compare multiple strategies on a stock and estimate their potential returns in the future by varying stock price, implied volatility, and days left for expiration so that they can choose the strategy that is aligned with their risk appetite.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(7)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What is a trading rule in TradeAnalytix and how does it help a trader?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                Within TradeAnalytix, there is a provision to set rules based on your trading experience and best practices. There are two types of trading rules - manual and automatic. Manual rules are like reminders that show up while adding a trade so that you can indicate whether you are aligning with that rule or not. Automatic rules, as the name suggests, are automatically checked against every trade you add to trade journal. The objective of trading rules is to help you to trade within the boundaries you set for yourself without getting influenced by emotions.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <!-- <mat-expansion-panel [expanded]="false" (opened)="setStep(8)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Is TradeAnalytix free to use?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                Our app is in beta mode and the beta version is free to use. We will inform you and give you enough time when we make it a paid version.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="false" (opened)="setStep(9)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Is TradeAnalytix available on mobile?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                Yes, you can use TradeAnalytix on mobile. However, it is not a native mobile app but a responsive mobile site.
                            </div>
                        </ng-template>
                    </mat-expansion-panel> -->
                </mat-accordion>

                <div class="d-flex justify-content-end">
                    <a class="btn btn-outline-primary" target="_blank" href="https://cuetrade.wpcomstaging.com/2022/04/02/frequently-asked-questions-faqs">View All</a>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end: main-body -->

    
</div>

<div class="landing-footer py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <ul class="footer_nav">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a [routerLink]="['/terms-conditions/']" target="_blank">Terms & Conditions</a></li>
                    <li><a [routerLink]="['/privacy-policy/']" target="_blank">Privacy Policy</a></li>
                    <li><a class="cursor" (click)="openContactUsModal()">Contact Us</a></li>
                </ul>
            </div>
            <div class="trade-socail-icon col-sm-6">
                <p>Follow us on</p>  &nbsp;
                <img src="../../../assets/images/twitter.png" alt="twitter" />
                <img src="../../../assets/images/facebook.png" alt="facebook" />
                <img src="../../../assets/images/youtube.png" alt="youtube" />
            </div>

        </div>
        <div class="copyright pt-3"><span>&#169;</span> 2022 Uptick Systems Private Limited. All rights reserved.</div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade custom_modal" [ngClass]="loginModalOpen ? 'show' : ''" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="text-right p-2">
                <span class="cursor" (click)="closeLoginModal()"><mat-icon class="mat-icon-sm">clear</mat-icon></span>
            </div>
            <div *ngIf="logonBodySec">
                <div class="modal-body login_modal">
                    <div class="trade-login text-center">
                        <h3 class="trade-head">Welcome to TradeAnalytix</h3>
                        <h3 class="login_desc">A robust tool to improve trading discipline and thereby returns</h3>

                        <div class="trade-login-sec">
                            <div class="trade-login-btn" (click)="login('google')">
                                <div class="login-img">
                                    <img src="../../../../assets/images/google.png" alt="" class="img-responsive">
                                </div>
                                <div class="login-con">
                                    Sign in with Google
                                </div>
                            </div>
                            <div class="trade-login-btn" (click)="login('facebook')">
                                <div class="login-img">
                                    <img src="../../../../assets/images//facebook.svg" alt="" class="img-responsive">
                                </div>
                                <div class="login-con">
                                    Sign in with Facebook
                                </div>
                            </div>
                            <!-- <div class="trade-login-btn" (click)="login('microsoft')">
                            <div class="login-img">
                                <img src="../../../../assets/images/microsoft.svg" alt=""  class="img-responsive">
                            </div>
                            <div class="login-con">
                                Sign in with Microsoft
                            </div>
                        </div> -->
                            <button type="button" class="btn btn-create-account" (click)="openCreateAcModal()">Create Account</button>
                        </div>
                    </div>
                </div>
                <div class="login-modal-footer pt-0">
                    <div class="pb-3 follow_us">
                        <p class="py-2">Follow us</p>
                        <div class="follow_us_icons">
                            <a href="#"><img src="../../../../assets/images/fb_sm.png" alt="" class="img-responsive"></a>
                            <a href="#"><img src="../../../../assets/images/twitter_sm.png" alt="" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: login_content -->
            <div *ngIf="createAcSec">
                <div class="modal-body createact_modal">
                    <div class="trade-login text-center">
                        <h3 class="trade-head">Create Account</h3>

                        <div class="trade-login-sec">
                            <input type="text" class="form-control" placeholder="Full Name" />
                            <input type="text" class="form-control" placeholder="Email Address" />
                            <input type="password" class="form-control" placeholder="Password" />
                            <input type="password" class="form-control" placeholder="Confirm Password" />

                            <button type="button" class="btn btn-create-account">Create Account</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end: create account -->

            <div class="copyright pb-3"><span>&#169;</span> TradeAnalytix 2021 | Terms & Conditions</div>
        </div>
    </div>
</div>

<div *ngIf="loginModalOpen" class="modal-backdrop fade show"></div>

<div class="modal video-modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-right px-2 pt-2">
                <span class="cursor" (click)="closePopup()"><mat-icon class="mat-icon-sm">clear</mat-icon></span>
            </div>
            <div class="modal-body px-2 py-0">
                <iframe width="100%" height="480" src="https://www.youtube.com/embed/nG_HpDMR3nE" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<div *ngIf="contactUsModal" class="modal-backdrop fade show"></div>
<div class="modal contact-modal" [ngClass]="contactUsModal ? 'show' : ''"  tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Contact Us</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeContactUsModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group mb-3">
                  <label class="required-field mb-1">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Name" />
                </div>
                <div class="form-group mb-3">
                  <label class="required-field mb-1">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Email" />
                </div>
                <div class="form-group">
                  <label class="required-field mb-1">Message </label>
                  <textarea rows="4" class="form-control" id="message" placeholder="Message"></textarea>
                </div>
              </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary ml-3" (click)="closeContactUsModal()">Close</button>
        </div>
      </div>
    </div>
</div>