<div class="trade-app">
    <div class="trade-header-section">
        <div class="landing-header">
            <div class="header-row p-3 container">
                <div class="trade-header-section-logo"></div>
                <nav class="landing-navbar">
                    <ul class="list-unstyled ">
                        <li>
                            <a class="landing-nav-link" href="landing#howit_works">
                                Our Story
                            </a>
                        </li>
                        <li>
                            <a class="landing-nav-link" href="landing#trade_journal">
                                Why CueTrade?
                            </a>
                        </li>

                        <li [class.nav-active]="currentRoute == 'Reviews'">
                            <a class="landing-nav-link" href="landing#reviews_section">
                                Features
                            </a>
                        </li>

                        <li [class.nav-active]="currentRoute == 'FAQs'">
                            <a class="landing-nav-link" href="landing#Faqs">
                                Reviews
                            </a>
                        </li>
                        <li [class.nav-active]="currentRoute == 'support'">
                            <a class="landing-nav-link" href="landing#support">
                                Contact Us
                            </a>
                        </li>
                        <li [class.nav-active]="currentRoute == 'contact-us'">
                            <button type="button" class="nav-btn" (click)="login('google')">Login</button>
                        </li>
                        
                    </ul>
                </nav>
                <span class="material-icons hamburger-menu-icon" (click)="menuToggle()">menu</span>
            </div>
        </div>
        <!-- Trade-Navbar-Web -->
        
        <!-- Trade-Navbar-Mobile -->
        <div class="trade-header-mobile">
            <nav class="trade-navbar hamburger-menu" [ngClass]="hamburgerMenu ? 'open' : ''">
                <ul class="list-unstyled ">
                    <li>
                        <a class="landing-nav-link" href="landing#howit_works">
                            How It Works
                        </a>
                    </li>
                    <li>
                        <a class="landing-nav-link" href="landing#trade_journal">
                            Benefits
                        </a>
                    </li>
                    <!-- <li [class.nav-active]="currentRoute == 'demo'">
                        <a class="landing-nav-link" href="landing#demo_video_section">Partners</a>
                    </li> -->
                    <li [class.nav-active]="currentRoute == 'Reviews'">
                        <a class="landing-nav-link" href="landing#reviews_section">
                            Testimonials
                        </a>
                    </li>
                    <!-- <li [class.nav-active]="currentRoute == 'Blog'">
                        <a class="landing-nav-link" href="landing#blogs_section">
                            Pricing
                        </a>
                    </li> -->
                    <li [class.nav-active]="currentRoute == 'FAQs'">
                        <a class="landing-nav-link" href="landing#Faqs">
                            FAQs
                        </a>
                    </li>
                    <li [class.nav-active]="currentRoute == 'support'">
                        <a class="landing-nav-link" [routerLink]="['/support/']">
                            Support
                        </a>
                    </li>
                    <li>
                        <button type="button" class="nav-btn" (click)="login('google')">Sign-in</button>
                    </li>
                </ul>
            </nav>
        </div>


        <div class="trade-banner-section container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="banner-info" id="howit_works_mob">
                        <h1 class="banner-info-title">
                            Improve trading results with a <br/>data-driven systematic approach
                        </h1>
                        <div class="py-3 slideFeatures">
                            CueTrade helps you become a better trader through planning, journaling, 
                            <br/>and tracking your trading performance over time

                            <!-- <div class="row col-sm-9 ml-auto">
                                <div class="before-cueTrade" style="">
                                    <h4>Before CueTrade</h4>
                                    <ul class="banner-list">
                                        <li><img src="../../../../assets/images/cancel-icon.png" /> Impulsive trading</li>
                                        <li><img src="../../../../assets/images/cancel-icon.png" /> Emotional decisions</li>
                                        <li><img src="../../../../assets/images/cancel-icon.png" /> No insights from the past</li>
                                        <li><img src="../../../../assets/images/cancel-icon.png" /> Lack of risk controls</li>
                                    </ul>
                                </div>
                                <div class="after-cueTrade">
                                    <h4>After CueTrade</h4>
                                    <ul class="banner-list">
                                        <li><img src="../../../../assets/images/tickmark-icon.png" /> Data-driven, rationale trading</li>
                                        <li><img src="../../../../assets/images/tickmark-icon.png" /> Rules-based decisions</li>
                                        <li><img src="../../../../assets/images/tickmark-icon.png" /> Track and learn from trading history</li>
                                        <li><img src="../../../../assets/images/tickmark-icon.png" /> Risk management</li>
                                    </ul>
                                </div>
                            </div> -->
                            <!-- Provides users with everything they need to organize their trading habits, review performance and manage risks  -->
                            <!-- {{features[currentInd]}} -->
                           <!-- <strong>Without CueTrade:</strong> Trade based on tips without research, emotional decisions, overtrading, <br/>
                           repetition of mistakes, and excessive risk. <strong>With CueTrade:</strong> Trade based on strong rationale, align with trading rules, manage risk effectively, and improve trading decisions. -->
                        </div>
                        <div class="banner-info-footer" id="howit_works">
                            <button type="button" class="google-btn mr-3" (click)="login('google')">Try Beta for Free</button>
                            <a class="btn btn-outline" href="landing#howit_works">
                                How It Works
                            </a>
                        </div>
                        <!-- <div class="text-white small-text">Payment details not required</div> -->
                    </div>
                </div>
                <!-- <div class="col-sm-12 col-md-6">
                    <div class="banner-rtside">
                        <div class="widgets_section">
                            <div class="widgets_box_orange">
                                <div class="widgets_box_icon pb-2">
                                    <img src="../../../../assets/images/widgets_icon1.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Know Strengths, Improve Decisions
                                </div>
                            </div>

                            <div class="widgets_box_transparent">
                                <img src="../../../../assets/images/shape1.png" alt="">
                            </div>
                            <div class="widgets_box_orange">
                                <div class="widgets_box_icon">
                                    <img src="../../../../assets/images/widgets_icon2.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Alignment with Self-Set Rules
                                </div>
                            </div>
                            <div class="widgets_box_thumb last-thumb"></div>
                            <div class="widgets_box_vshape"></div>
                        </div>

                        <div class="widgets_section">
                            <div class="widgets_box_thumb blue-box-lt"></div>
                            <div class="widgets_box_blue">
                                <div class="widgets_box_icon">
                                    <img src="../../../../assets/images/widgets_icon3.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Comprehensive Trade Journal
                                </div>
                            </div>
                            <div class="widgets_box_thumb"></div>
                            <div class="widgets_box_blue">
                                <div class="widgets_box_icon">
                                    <img src="../../../../assets/images/widgets_icon4.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Right Strategy Selection
                                </div>
                            </div>
                            <div class="widgets_box_empty"></div>
                        </div>
                        <div class="widgets_section">
                            <div class="widgets_box_orange">
                                <div class="widgets_box_icon pb-2">
                                    <img src="../../../../assets/images/widgets_icon6.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Share Trades with Community
                                </div>
                            </div>
                            <div class="widgets_box_transparent align-items-center">
                                <img src="../../../../assets/images/shape2.png" alt="">
                            </div>
                            <div class="widgets_box_orange">
                                <div class="widgets_box_icon">
                                    <img src="../../../../assets/images/widgets_icon5.png" alt="">
                                </div>
                                <div class="widgets_box_dec">
                                    Strategy Builder and Simulation
                                </div>
                            </div>
                            <div class="widgets_box_transparent align-items-center shape-last">
                                <img src="../../../../assets/images/shape3.png" alt="">
                            </div>
                            <div class="widgets_box_vshape"></div>
                        </div>
                        <div class="widgets_section justify-content-end" id="howit_works">
                            <div class="widgets_box_hshape"></div>
                            <div class="widgets_box_empty-s"></div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- end: banner-section -->
    </div>
    <!-- end: header-section -->

    <div class="mb-3 py-3 trade-logos">
        <div class="description mb-2">Supports integration with popular brokerages</div>
        <div class="container">
                <ng-image-slider #nav
            [images]="imageObject"
            [infinite]="true"
            [imagePopup]="false"
            [autoSlide]="1"
            [imageSize]="{width: '16%', height: 32}"
            slideImage="1"></ng-image-slider>
        </div> 
    </div>
    <!-- end: Reviews -->

    <div class="main-body">
        <div class="container">
            <div class="features_section howit_works_section pt-2">
                <div class="page-heading">How it Works?</div>
                <div class="intro-description mb-3 pt-2 pb-3">
                    CueTrade is an intuitive trading journal that is designed to help you take informed trading decisions. It can be used before or after the market hours to plan trades, journal trades, and review insights from trading history to adjust your trades accordingly
                </div>
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <div class="white-box">
                            <div class="text-center">
                                <span class="white-box-count">1</span>
                            </div>
                            <div class="white-box-title">Plan Trades</div>
                            <div class="py-3"><img src="../../../../assets/images/plan-trade.png" alt="" /></div>
                            <ul class="orange-list">
                                <li>Prepare for the day ahead with a meticulous trading plan</li>
                                <li>Analyze potential trades from risk, statistical, and rules perspectives</li>
                                <li>Evaluate your trading performance after the market hours</li>
                            </ul>
                        </div>
                        <div class="arrow-rt">
                            <img src="../../../../assets/images/arrow-rt.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="white-box">
                            <div class="text-center">
                                <span class="white-box-count">2</span>
                            </div>
                            <div class="white-box-title">Journal Trades</div>
                            <div class="py-3"><img src="../../../../assets/images/journal_trades_sm.png" alt="" /></div>
                            <ul class="orange-list">
                                <li>Review trades auto-imported from your brokerages</li>
                                <li>Add notes to trades in bulk through an excel-like intuitive grid</li>
                                <li>Check alignment of your trades with self-set trading rules</li>
                            </ul>
                        </div>
                        <div class="arrow-rt">
                            <img src="../../../../assets/images/arrow-rt.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="white-box">
                            <div class="text-center">
                                <span class="white-box-count">3</span>
                            </div>
                            <div class="white-box-title">Review Insights</div>
                            <div class="py-3"><img src="../../../../assets/images/review_insights.png" alt="" /></div>
                            <ul class="orange-list">
                                <li>Review stats, reports and insights derived from your trading history</li>
                                <li>Add or update trading rules based on the lessons learnt</li>
                                <li>Plan the next trading day based on the reports and insights</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="slideshow-component">
                    <iframe width="82%" height="510" src="https://www.youtube.com/embed/4OMMcwbUiBA"  allowfullscreen></iframe>

                    <div id="trade_journal"></div>
                </div> -->
            </div>
            <!-- end: Comprehensive trade journal -->

           

            <div class="features_section pb-2">
                <h2 class="page-heading">Why CueTrade?</h2>
                <!-- <div class="intro-description mt-1 pt-2 pb-3">Take informed trading decisions based on strong rationale and data by analyzing your trades from logical, historical performance, risk, trading rules, and emotional perspectives.</div> -->
            </div>
            
            <!-- end: Comprehensive trade journal -->

            <div class="features_section">
                <div class="row row_reverse">
                    <div class="col-md-4">
                        <div class="features_section_title">Remarkable Improvement in Trading Decisions</div>
                        <div class="features_section_dec">
                            Track your performance over time with analytics derived from your trading history. Identify your strengths/limitations in a historical context and use that information to make better trading decisions in the future. <a class="read_more">Read More</a>
                        </div>
                        <div class="banner-info-footer text-left">
                            <button type="button" class="btn btn-custom" (click)="login('google')">Try Beta for Free</button>
                            <!-- <button type="button" class="btn btn-outline btn-video ml-3" (click)="openPopup('Reports')"><mat-icon class="mr-1">videocam</mat-icon> Watch a Demo</button> -->
                        </div>
                    </div>
                    <div class="col-md-8 features_section_banner">
                        <img src="../../../../assets/images/reports.png" alt="" />
                    </div>
                </div>
            </div>
            <!-- end: Improve trading decisions -->

            <!-- <div class="features_section">
                <div class="row row_reverse">
                    <div class="col-md-4">
                        <div class="features_section_title">Effective management of portfolio and trade risk</div>
                        <div class="features_section_dec">
                            Analyze the potential returns on your trade strategies involving options through simulation of future scenarios. Adjust your trades until the trade is aligned with your risk appetite. Mitigate the risk exposure of your portfolio by reviewing risk management metrics and reports.
                        </div>
                        <div class="banner-info-footer text-left">
                            <button type="button" class="btn btn-custom" (click)="login('google')">Analyze Risk</button>
                            <button type="button" class="btn btn-outline btn-video ml-3" (click)="openPopup('Effective')"><mat-icon class="mr-1">videocam</mat-icon> Watch a Demo</button>
                        </div>
                    </div>
                    <div class="col-md-8 features_section_banner">
                        <img src="../../../../assets/images/risk-analysis.gif" alt="" />
                    </div>
                </div>
            </div> -->
            <!-- end: Strategy Builder section -->

            <div class="features_section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="features_section_title">Easy to Use Journal</div>
                        <div class="features_section_dec">
                            CueTrade determines certain parameters of your trades automatically so that you don't have to provide this data manually. Also, you can provide notes on multiple trades in a single excel-like intuitive user interface, i.e., you don't have to open each trade to update its journal details rather multiple trades can be updated from a single page. <a class="read_more">Read More</a>
                        </div>
                        <div class="banner-info-footer text-left">
                            <button type="button" class="btn btn-custom" (click)="login('google')">Try Beta for Free</button>
                            <!-- <button type="button" class="btn btn-outline btn-video ml-3" (click)="openPopup('CompareStrategy')"><mat-icon class="mr-1">videocam</mat-icon> Watch a Demo</button> -->
                        </div>
                    </div>
                    <div class="col-md-8 features_section_banner">
                        <img src="../../../../assets/images/journal_trades.png" alt="" />
                    </div>
                </div>
            </div>
            <!-- end: Strategy Picker section -->

            <div class="features_section">
                <div class="row row_reverse">
                    <div class="col-md-4">
                        <div class="features_section_title">Rules-based Trading</div>
                        <div class="features_section_dec">
                            Set manual or automatic trading rules based on your experience and best practices. Align your trades with the self-set rules to avoid repeating the same or common mistakes. <a class="read_more">Read More</a>
                        </div>
                        <div class="banner-info-footer text-left">
                            <button type="button" class="btn btn-custom" (click)="login('google')">Try Beta for Free</button>
                            <!-- <button type="button" class="btn btn-outline btn-video ml-3" (click)="openPopup('Manual Rules')"><mat-icon class="mr-1">videocam</mat-icon> Watch a Demo</button> -->
                        </div>
                    </div>
                    <div class="col-md-8 features_section_banner">
                        <img src="../../../../assets/images/rules_thumb.PNG" alt="" />
                    </div>
                </div>
            </div>
            <!-- end: features_section -->

            <div class="features_section">
                <div class="row">
                    <div class="col-md-4">
                        <div class="features_section_title">Prepare for the day ahead with a meticulous trade plan </div>
                        <div class="features_section_dec">
                            Creating a trading plan before the market opens will help you think objectively about the market without getting influenced by the price movements. <a class="read_more">Read More</a>
                        </div>
                        <div class="banner-info-footer text-left">
                            <button type="button" class="btn btn-custom" (click)="login('google')">Try Beta for Free</button>
                            <!-- <button type="button" class="btn btn-outline btn-video ml-3" (click)="openPopup('tradePlan')"><mat-icon class="mr-1">videocam</mat-icon> Watch a Demo</button> -->
                        </div>
                    </div>
                    <div class="col-md-8 features_section_banner">
                        <img src="../../../../assets/images/trade-plan.png" alt="" />
                    </div>
                    <div id="reviews_section"></div>
                </div>
            </div>
            <!-- end: Trade Plan -->

            <div class="features_section">
                <div class="row row_reverse">
                    <div class="col-md-4">
                        <div class="features_section_title">Payoff Analysis</div>
                        <div class="features_section_dec">
                            Analyze the potential returns on your trade strategies involving options through simulation of future scenarios. Adjust your trades until the trade is aligned with your risk appetite and return expectations.<a class="read_more">Read More</a>
                            <div class="banner-info-footer text-left">
                                <button type="button" class="btn btn-custom" (click)="login('google')">Try Beta for Free</button>
                                <!-- <button type="button" class="btn btn-outline btn-video ml-3" (click)="openPopup('Systematic')"><mat-icon class="mr-1">videocam</mat-icon> Watch a Demo</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 features_section_banner">
                        <img src="../../../../assets/images/trade-thesis.png" alt="" />
                    </div>
                </div>
            </div>

            <!-- <div class="features_section">
                <div class="row row_reverse">
                    <div class="col-md-4">
                        <div class="features_section_title">Learn from others to become a better trader</div>
                        <div class="features_section_dec">
                            Follow other traders to view not just their trades but the rationale behind their trades to make your own judgement. Let others follow you to see your trade details and have a meaningful conversation on them.
                        </div>
                        <div class="banner-info-footer text-left">
                            <button type="button" class="btn btn-custom">Try for Free</button>
                        </div>
                    </div>
                    <div class="col-md-8 features_section_banner">
                        <img src="../../../../assets/images/rules_thumb.PNG" alt="" />
                    </div>
                </div>
            </div> -->
            <!-- end: features_section -->
            
            <!-- <div class="py-2 mb-3">
                <div class="features_section_title page-heading">Testimonials</div>
                <div class="carousel slide" data-ride ="carousel" id="quote-carousel">
                    <div class="carousel-inner text-center">
                        
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 offset-md-2">
                                        <p class="testimonial__text">I knew the benefits of journaling trades but couldn't adopt the habit mainly due to its tedious nature. CueTrade's user experience, journal format, and bulk update feature makes trade journaling trades a breeze</p>
                                        <div class="reviewer_name">Srinivas Kukunoor</div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>

                        
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 offset-md-2">
                                        <p class="testimonial__text">With CueTrade intuitive and in-depth reporting, I figured what kind of trades worked for me and what kind of trades didn't work for me in the past. I incorporated the insights derived from my trading history into the rules to stock with my strengths and avoid past mistakes</p>
                                        <div class="reviewer_name">Krishna Lanka</div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        
                        
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 offset-md-2">
                                        <p class="testimonial__text">I have been using Strategy Builder feature regularly and it's an eye opener. It helped me understand the potential return of my option trades in different scenarios in a user-friendly format. It has become a must for me to analyze my trades in CueTrade before executing them</p>
                                        <div class="reviewer_name">Syam Narindi</div>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>

                    <ol class = "carousel-indicators" id="blogs_section">
                        <li data-target = "#quote-carousel" data-slide-to = "0" class = "active"> <img class = "img-responsive " src = "https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg" alt="">
                        </li>
                        <li data-target = "#quote-carousel" data-slide-to= "1"> <img class = "img-responsive" src = "https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" alt = "">
                        </li>
                        <li data-target = "#quote-carousel" data-slide-to = "2"><img class = "img-responsive" src = "https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                        </li>
                    </ol>
             
                    <a data-slide="prev" href="#quote-carousel" class ="left_carousel"><mat-icon>keyboard_arrow_left</mat-icon></a>
                    <a data-slide="next" href="#quote-carousel" class="right_carousel"><mat-icon>keyboard_arrow_right</mat-icon></a>
                </div>                    
            </div> -->
            <!-- end: Reviews -->

            <div class="features_section howit_works_section" id="Faqs">
                <div class="features_section_title page-heading mb-3">Frequently Asked Questions</div>

                <mat-accordion class="example-headers-align w-100" multi="false">
                    <mat-expansion-panel [expanded]="false" (opened)="setStep(1)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Who should use CueTrade?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                CueTrade is meant for all those traders who struggle to maintain discipline. Indiscipline includes trading without rationale, excessive trading, taking excessive risk, lack of control over emotions, etc. It helps such traders adopt a systematic approach to trading by allowing them to create a detailed trading plan before the market opens and reviewing their trades with reports and insights after the market closes so that they can identify their mistakes and learn from them. Also, it offers the ability to set rules so that traders can align their trades with the self-set rules.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(2)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                When should one use CueTrade?
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                CueTrade can be used both before and after the market hours. It can be used before the market hours to prepare for the day ahead by creating a trading plan and analyzing the potential trades from rationale, risk and statistical perspective to make an informed decision.<br/>
                                
                                After the market hours, it can be used to write notes on the trades imported from your brokerage account and review the analytics derived from your trading history. Based on the insights, one can update their trading rules and determine the actions to be taken the following trading day
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(3)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What makes CueTrade easy-to-use and intuitive journaling software? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                Our objective is to make journaling simple and easy to use. We understand that providing data for each and every trade is a tedious task and that is why most traders do not journal their trades despite knowing its benefits. CueTrade saves you from most of the manual entry by auto-calculating certain parameters of your trades so that you don't have to provide this data.<br/>
                                
                                With CueTrade, one can provide notes on multiple trades in a single excel-like intuitive user interface, i.e., you don't have to open each trade to update its journal details rather multiple trades can be updated from a single page.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(4)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What are trading rules in CueTrade?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                CueTrade allows you to set trading rules based on your prior experience or best practices. The objective of trading rules is to help you to trade within the boundaries you set for yourself and avoid repeating the same or common mistakes.<br/>
                                
                                There are two types of trading rules within CueTrade: automatic and manual. Automatic rules are checked for every trade strategy added to CueTrade automatically and indicated as aligned or non-aligned. Manual rules are text-based reminders - you need to indicate manually whether a trade strategy is aligned with the manual rule or not.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(5)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How is CueTrade different from other trade journals?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                CueTrade is built with retail traders in mind and is different from other journals in many regards. 

                                <ol>
                                    <li>Our trade journal is designed to help the trader think through their trade from rationale, statistical, risk, and emotional perspectives</li>
                                    <li>We allow users to set up automatic and manual trading rules so that they can make sure their trades are aligned with these trading rules</li>
                                    <li>CueTrade groups all the trades on a symbol into a trade strategy. This allows users to enter notes, assess risk, review stats, and check alignment with rules at the trade strategy level instead of trade level. </li>
                                    <li>With CueTrade, one can provide notes on multiple trades in a single excel-like intuitive user interface, i.e., you don't have to open each trade to update its journal details rather multiple trades can be updated from a single page.</li>
                                    <li>Our emphasis on risk management differentiates us from others. Our Payoff Analysis tool allows you to analyze the P&L of trades involving options at a specific date in the future by varying stock price and implied volatility.</li>
                                </ol>                                
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(6)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What kind of statistics and reports are available in CueTrade?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                CueTrade provides statistics and reports across multiple categories including performance, risk management, commissions, goals, and discipline. 
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(7)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How is the payoff analysis tool in CueTrade different from other option payoff tools? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                Payoff analysis feature allows you to build trade strategies involving options and analyze the P&L of the strategy at a specific point in the future at a specific stock price and implied volatility levels.  User can update the stock price, implied volatility and days to expiration of the options to see its impact on the P&L. With this information, users can decide whether to go ahead with the trades in their current form or modify them so that they are inline with their risk appetite and return expectations. The biggest benefit of Payoff Analysis in CueTrade is its simplicity and easy to use.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(8)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How can one add trades in their brokerage account to CueTrade automatically? 
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                Trades can be imported from your brokerage accounts either automatically or manually. If your brokerage account is in this list, you can connect CueTrade to your brokerage and the trade history will get imported from your brokerage account to CueTrade every day automatically. For all the other brokerages, trade history files from brokerages should be downloaded and imported manually to CueTrade to add your trades in bulk.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(9)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Can I place trades from CueTrade?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                No, you cannot place trades from CueTrade. CueTrade is a journaling and analytics software that should ideally be used before or after market hours.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(10)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Is CueTrade free to use?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                CueTrade is in beta mode and is free to use. We will inform you and give you enough time if and when we make it a paid version.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(11)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Which markets are currently supported by CueTrade?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                At present, we support US and Indian markets.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="false" (opened)="setStep(12)" (afterCollapse)="afterPanelClosed(1)" (afterExpand)="afterPanelOpened($event)" [disabled]="panelDisabled">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What asset classes does CueTrade support?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <div class="accordion-panel-body row">
                                We support stock and options currently but are in the process of adding future contracts as well.
                            </div>
                        </ng-template>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <!-- <div class="features_section pb-2" id="support">
                <h2 class="features_section_title page-heading">Support</h2>
                <div class="row mt-3 pt-3">
                    <div class="col-md-3">
                        <div class="custom-card">
                            <div class="custom-card-title">Help Guides</div>
                            <div class="custom-card-body"> Step-by-Step guides on different features of CueTrade</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a href="https://www.youtube.com/channel/UC2VXwmZeSkAjY1bZTcnObwQ" target="_blank">
                            <div class="custom-card">
                                <div class="custom-card-title">Videos</div>
                                <div class="custom-card-body"> List of all the how-to videos</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <div class="custom-card">
                            <div class="custom-card-title">Blog</div>
                            <div class="custom-card-body"> Read our perspective on various topics pertaining to trading</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a href="javascript:void(0)" (click)="openContactUsModal()">
                            <div class="custom-card">
                                <div class="custom-card-title">Contact Us</div>
                                <div class="custom-card-body"> Reach out to us for any questions, feedback, or affiliations</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- end: main-body -->

    
</div>

<div class="landing-footer py-3">
    <div class="container">
        <div class="row footer_nav py-3">
            <div class="col-sm-4">
                <div class="mb-2">
                    <img src="../../../assets/images/cuetrade_logo_white.png" alt="Cuetrade" />
                </div>
                CueTrade is an easy to use, intuitive trading journal that helps you adopt data-driven, systematic approach to trading thus improve your trading performance.
            </div>
            <div class="col-sm-3">
                <div class="footer_nav_title">Useful Links</div>
                <ul class="footer_nav">
                    <li><a [routerLink]="['//']">Our Story</a></li>
                    <li><a [routerLink]="['/privacy-policy/']" target="_blank">Privacy Policy</a></li>
                    <li><a [routerLink]="['/terms-conditions/']" target="_blank">Terms and Conditions</a></li>
                    <li><a [routerLink]="['//']">Partner with Us</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <div class="footer_nav_title">Product</div>
                <ul class="footer_nav">
                    <li><a [routerLink]="['//']">How It Works</a></li>
                    <li><a [routerLink]="['//']">Benefits</a></li>
                    <li><a [routerLink]="['//']">Features</a></li>
                    <li><a [routerLink]="['//']">Pricing</a></li>
                    <li><a [routerLink]="['//']">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="footer_nav_title">Support</div>
                <ul class="footer_nav">
                    <li><a [routerLink]="['//']">Frequently Asked Questions</a></li>
                    <li><a [routerLink]="['//']">Help Center</a></li>
                    <li><a [routerLink]="['//']">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="copyright"><span>&#169;</span> 2022 Uptick Systems Private Limited. All rights reserved.</div>
                <div class="powered-by">Content powered by CMOTS Internet Technologies Pvt. Ltd.</div>
            </div>
            <div class="trade-socail-icon col-sm-6">
                <p>Follow us on</p>  &nbsp;
                <a href="https://twitter.com/CueTrade" target="_blank" class="mx-1"><img src="../../../assets/images/twitter.png" alt="twitter" /></a>
                <a href="https://www.youtube.com/channel/UC2VXwmZeSkAjY1bZTcnObwQ" target="_blank"><img src="../../../assets/images/youtube.png" alt="youtube" /></a>
            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade custom_modal" [ngClass]="loginModalOpen ? 'show' : ''" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="text-right p-2">
                <span class="cursor" (click)="closeLoginModal()"><mat-icon class="mat-icon-sm">clear</mat-icon></span>
            </div>
            <div *ngIf="logonBodySec">
                <div class="modal-body login_modal">
                    <div class="trade-login text-center">
                        <h3 class="trade-head">Welcome to CueTrade</h3>
                        <h3 class="login_desc">A robust tool to improve trading discipline and thereby returns</h3>

                        <div class="trade-login-sec">
                            <div class="trade-login-btn" (click)="login('google')">
                                <div class="login-img">
                                    <img src="../../../../assets/images/google.png" alt="" class="img-responsive">
                                </div>
                                <div class="login-con">
                                    Sign in with Google
                                </div>
                            </div>
                            <div class="trade-login-btn" (click)="login('facebook')">
                                <div class="login-img">
                                    <img src="../../../../assets/images//facebook.svg" alt="" class="img-responsive">
                                </div>
                                <div class="login-con">
                                    Sign in with Facebook
                                </div>
                            </div>
                            <!-- <div class="trade-login-btn" (click)="login('microsoft')">
                            <div class="login-img">
                                <img src="../../../../assets/images/microsoft.svg" alt=""  class="img-responsive">
                            </div>
                            <div class="login-con">
                                Sign in with Microsoft
                            </div>
                        </div> -->
                            <button type="button" class="btn btn-create-account" (click)="openCreateAcModal()">Create Account</button>
                        </div>
                    </div>
                </div>
                <div class="login-modal-footer pt-0">
                    <div class="pb-3 follow_us">
                        <p class="py-2">Follow us</p>
                        <div class="follow_us_icons">
                            <a href="#"><img src="../../../../assets/images/fb_sm.png" alt="" class="img-responsive"></a>
                            <a href="#"><img src="../../../../assets/images/twitter_sm.png" alt="" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: login_content -->
            <div *ngIf="createAcSec">
                <div class="modal-body createact_modal">
                    <div class="trade-login text-center">
                        <h3 class="trade-head">Create Account</h3>

                        <div class="trade-login-sec">
                            <input type="text" class="form-control" placeholder="Full Name" />
                            <input type="text" class="form-control" placeholder="Email Address" />
                            <input type="password" class="form-control" placeholder="Password" />
                            <input type="password" class="form-control" placeholder="Confirm Password" />

                            <button type="button" class="btn btn-create-account">Create Account</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end: create account -->

            <div class="copyright pb-3"><span>&#169;</span> CueTrade 2021 | Terms & Conditions</div>
        </div>
    </div>
</div>

<div *ngIf="loginModalOpen" class="modal-backdrop fade show"></div>

<div class="modal video-modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="text-right px-2 pt-2">
                <span class="cursor" (click)="closePopup()"><mat-icon class="mat-icon-sm">clear</mat-icon></span>
            </div>
            <div class="modal-body px-2 py-0">
                <iframe *ngIf="videoType === 'Systematic'" width="100%" height="480" src="https://www.youtube.com/embed/JlRinQiXHmM" allowfullscreen></iframe>
                <iframe *ngIf="videoType === 'Effective'" width="100%" height="480" src="https://www.youtube.com/embed/YuIdSJ7TU7s" allowfullscreen></iframe>
                <iframe *ngIf="videoType === 'tradePlan'" width="100%" height="480" src="https://www.youtube.com/embed/ufmRUgzvP5g" allowfullscreen></iframe>
                <iframe *ngIf="videoType === 'Manual Rules'" width="100%" height="480" src="https://www.youtube.com/embed/z_MMEzxPbGw" allowfullscreen></iframe>
                <iframe *ngIf="videoType === 'CompareStrategy'" width="100%" height="480" src="https://www.youtube.com/embed/1PzJ6IVGNMM" allowfullscreen></iframe>
                <iframe *ngIf="videoType === 'Reports'" width="100%" height="480" src="https://www.youtube.com/embed/oTOw-wUL1Jw" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<div *ngIf="contactUsModal" class="modal-backdrop fade show"></div>
<div class="modal contact-modal" [ngClass]="contactUsModal ? 'show' : ''"  tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Contact Us</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeContactUsModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group mb-3">
                  <label class="required-field mb-1">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Name" />
                </div>
                <div class="form-group mb-3">
                  <label class="required-field mb-1">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Email" />
                </div>
                <div class="form-group">
                  <label class="required-field mb-1">Message </label>
                  <textarea rows="4" class="form-control" id="message" placeholder="Message"></textarea>
                </div>
              </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary ml-3" (click)="closeContactUsModal()">Close</button>
        </div>
      </div>
    </div>
</div>