@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');


body {
    font-family: 'Inter', sans-serif !important;
}
input,
button,
select,
optgroup,
textarea {
    font-family: 'Inter', sans-serif !important;
}
nav {
    font-family: 'Inter', sans-serif !important;
    font-weight: 500;
    font-size: 16px;
    color: #000 !important;
}

.nav-item {
    padding: 0 15px !important;
}

.nav-link {
    color: #000 !important;
}

.navbar-collapse {
    flex-grow: 0.2 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif !important;
    font-weight: 700 !important;
}

h2 {
    font-size: 48px;
    letter-spacing: 0.5px;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 28px;
    }
}

.carousel-control-prev-icon {
    background-image: url("../../../../assets/img/arrow-left-circle-fill.svg");
    display: none;
}

.carousel-control-next-icon {
    background-image: url("../../../../assets/img/arrow-right-circle-fill.svg");
    display: none;
}

.banner-section {
    font-family: 'Inter', sans-serif !important;
    background-image: url("../../../../assets/img/bannerbg-hero.png");
    background-size: cover;
    background-position: center;
    padding: 40px 80px;
    margin-top: 100px;
}

.btn-banner {
    font-family: 'Inter', sans-serif !important;
    background-color: #4BB964;
    padding: 16px 29px;
    border: none;
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    font-size: 1rem;
}

.btn-how-banner {
    font-family: 'Inter', sans-serif !important;
    background-color: transparent;
    padding: 14px 56px;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 2.5rem;
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    .banner-section {
        /*  background: linear-gradient(83.62deg, #1B45B4 3.5%, #1C2792 96.85%); */
        background-image: url(../../../../assets/img/bannerbg-hero.png);
        background-size: cover;
        background-position: center;
        padding: 40px 30px;
    }

    .banner-section h1 {
        font-size: 34px !important;
    }

    .banner-section p {
        font-size: 16px !important;
    }
}

.cue-logo img {
    width: 85%;
}

.banner-section h1 {
    font-family: 'Inter', sans-serif !important;
    color: #fff;
    font-size: 46px;
}

.banner-section p {
    font-family: 'Inter', sans-serif !important;
    color: #fff;
    font-size: 18px;
    padding-right: 1px;
}

.brands-sec {
    font-family: 'Inter', sans-serif !important;
    background: #fff;
    padding: 50px 0px;
}

.brands-sec h5 {
    color: #121D3399;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.how-works {
    font-family: 'Inter', sans-serif !important;
    background: #F1F5F9;
    padding: 30px 10px;
}

.carousel-indicators, .owl-dots {
    flex-direction: column;
    margin: 0 10px;
    bottom: 480px;
}
.carousel-indicators [data-bs-target], .owl-dot {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators [data-bs-target], .owl-dot {
    height: 12px;
    width: 12px;
    background-color: #135EA4 !important;
}

@media only screen and (max-width: 600px) {
    .carousel-indicators {
        bottom: 320px !important;
    }
    .carousel-indicators [data-bs-target] {
        margin-left: -2px !important;
    }
}


.how-works h2 {
    font-family: 'Inter', sans-serif !important;
    color: #000;
    font-size: 48px;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 0.5px;
}

@media only screen and (max-width: 600px) {
    .how-works h2 {
        font-size: 28px;
    }

    .how-works h3 {
        font-size: 26px !important;
    }
}

.how-works h3 {
    font-family: 'Inter', sans-serif !important;
    color: #135EA4;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    padding-bottom: 1rem;
    letter-spacing: 0.5px;
}

.how-works p {
    font-family: 'Inter', sans-serif !important;
    text-align: center;
    font-size: 18px;
    padding: 0px 80px;
    color: #717785;
}

@media only screen and (max-width: 600px) {
    .how-works p {
        font-size: 16px;
        text-align: center;
        padding: 0px 20px;
    }

    .how-works li {
        font-size: 18px !important;
    }
}

.how-works ul {
    list-style: none;
    padding-left: 0px !important;
}

.how-works li {
    font-weight: 400;
    font-size: 20px;
    color: #717785;
    padding-bottom: 1rem;
}
.slide-content {
    top: -50px;
    position: relative;
}
.slide-content p {
    text-align: left;
    padding: 0;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.img-container {
    display: flex;
    align-items: baseline;
   /* justify-content: center; */
}

.slide-image {
    max-width: 100%;
    max-height: 100%;
}

.slide-text {
    font-size: 20px;
    padding-left: 15px;
    margin-top: 12px;
}

.cue-help {
    font-family: 'Inter', sans-serif !important;
}
.cue-help h3 {
    color: #135EA4;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.5px;
    font-family: 'Inter', sans-serif !important;
}

.cue-help p {
    color: #717785;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.3px;
    font-family: 'Inter', sans-serif !important;
}

.cue-help-icon {
    padding: 0 40px;
}

@media only screen and (max-width: 600px) {
    .cue-help-icon {
        padding: 15px 25px;
    }

    .cue-help-icon img {
        width: 10% !important;
    }

    .cue-help h3 {
        font-size: 32px;
    }

    .cue-help p {
        color: #717785;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.3px;
    }
}

.cue-help-icon img {
    width: 6%;
    padding-bottom: 1rem;
}

.cue-help-icon a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    color: #125DA1;
}

.cue-features {
    background-color: #F1F5F9;
    padding: 4rem 1.5rem;
    font-family: 'Inter', sans-serif !important;
}

.cue-features p {
    font-size: 18px;
    font-family: 'Inter', sans-serif !important;
}

@media only screen and (max-width: 600px) {
    .cue-features p {
        font-size: 16px;
    }
}

/* features box carousel styling */

.carousel-wrap {
    margin: 70px auto;
    padding: 0 5%;
    position: relative;
    font-family: 'Inter', sans-serif !important;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 52px;
}

.owl-nav .owl-prev {
    left: -30px;
}

.owl-nav .owl-next {
    right: -30px;
}
#features {
    background-color: #F1F5F9;
    padding: 40px 0;
}
.feature-box {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    font-family: 'Inter', sans-serif !important;
    margin-bottom: 1rem;
}

.feature-box img {
    width: 21% !important;
    padding-bottom: 1rem;
}

.feature-box h4 {
    color: #034D82;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
    font-family: 'Inter', sans-serif !important;
}

.feature-box p {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: #717785;
    font-family: 'Inter', sans-serif !important;
}
.feature-description {
    color: #212529;
    font-family: 'Inter', sans-serif !important;
}


/* testimonial-section */

.cue-testi {
    padding: 4rem 1.5rem;
    font-family: 'Inter', sans-serif !important;
}

.cue-testi p {
    font-size: 18px;
    font-family: 'Inter', sans-serif !important;
}

@media only screen and (max-width: 600px) {
    .cue-testi p {
        font-size: 16px;
    }
}

.testimonial-slider {

    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}


@media only screen and (max-width: 600px) {
    .testimonial-slider {

        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
    }
}


.testimonial {
    text-align: center;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px !important;
    color: #49B565 !important;
}

.slick-dots li.slick-active button:before {
    color: #125DA1 !important;
}

.slick-dots {
    text-align: left !important;
}



.slick-dots li.slick-active button:before {
    color: #125DA1;
    font-size: 12px;
}

.slick-dots li button:before {
    font-size: 12px !important;
}


.testimonial-copy img {
    width: 25%;
    text-align: left;
    padding-bottom: 1rem;
}

.testimonial-copy p {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    text-align: left;
    color: #717785;
}

.testimonial-copy h4 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #034D82;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .slick-slider {
        background: #E4E9EF;
        border-radius: 12px;
    }

    .slick-dots {
        display: none !important;
    }
}

.accordion-item h2 {
    font-size: 36px !important;
    font-weight: 700 !important;
    line-height: 52px;
    letter-spacing: 0.5px;
}

.accordion-wrapper input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

/*.accordion-wrapper {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
     width: 600px;
    margin:0 auto;
} */
.accordion {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 16px;
    border-bottom: 1px solid #121D331F;
    ;
}

.accordion:last-child {
    margin-bottom: 0;
}

.accordion-label {
    font-family: 'Inter', sans-serif;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    color: #000;
}

@media only screen and (max-width: 600px) {
    .accordion-label {
        font-size: 18px;
    }
}

.accordion-label:hover {
    font-family: 'Inter', sans-serif;
    background: #fff;
    color: #125DA1;
}

.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.accordion-content {
    max-height: 0;
    padding: 0 16px;
    color: rgba(4, 57, 94, 1);
    background: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.accordion-content p {
    margin: 0;
    color: #717785;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;

}

@media only screen and (max-width: 600px) {
    .accordion-content p {
        font-size: 16px;
        line-height: 30px;
    }
}

.accordion-content ul {
    margin: 0;
    color: #717785;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;

}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center img {
    width: 70%;
    height: auto;
}

input:checked+.accordion-label {
    font-family: 'Inter', sans-serif;
    background: #fff;
    color: #125DA1;
    font-weight: 700;
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
    input:checked+.accordion-label {
        font-size: 20px;
    }
}

input:checked+.accordion-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

input:checked~.accordion-content {
    max-height: 100vh;
    padding: 16px;
}

.cta-box {
    background: linear-gradient(270.04deg, #3794E8 0.05%, #125DA1 97.84%);
    padding: 30px 60px;
    width: 70%;
    border-radius: 19px;
}

.cta-box h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1px;
    text-align: left;
}

.cta-box button {
    background-color: #4BB964;
    padding: 16px 16px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
}

@media only screen and (max-width: 600px) {
    .cta-box {
        padding: 30px 30px;
        width: 90%;
    }

    .cta-box h3 {
        font-size: 24px;
        text-align: center;
        line-height: 40px;
    }
}


/* footer */

.cue-footer {
    font-family: 'Inter', sans-serif !important;
    background-color: #121D33;
    padding-top: 65px;
    padding-bottom: 20px;
    font-size: 1rem;
}

.cue-footer img {
    width: 55%;
    padding: 1rem 0;
}

.cue-footer p {
    color: #D3D6D8;
    font-family: 'Inter', sans-serif !important;
}

.cue-footer h4 {
    color: #D3D6D8;
    font-family: 'Inter', sans-serif !important;
}

.cue-footer li {
    color: #D3D6D8;
    list-style: none;
    padding: 5px 0;
}

.cue-footer li a {
    color: #D3D6D8;
    text-decoration: none;
}

.cue-footer li a:hover {
    color: #4BB964;
}

.cue-footer ul {
    padding-left: 0px !important;

}

.cue-copyright {
    text-align: center;
    padding-top: 40px;
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0.8rem 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons li a {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    width: 24px;
    text-align: center;
}

.social-icons li a:hover {
    color: #4AB565;
}

.splide__slide img {
    width: 100%;
    padding: 20px;
    height: auto;
}

.splide__list {
    height: auto !important;
}
.cta-box {
    background: linear-gradient(270.04deg, #3794E8 0.05%, #125DA1 97.84%);
    padding: 30px 60px;
    width: 70%;
    border-radius: 19px;
}

.cta-box h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1px;
    text-align: left;
}

.cta-box button {
    background-color: #4BB964;
    padding: 16px 16px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
}

@media only screen and (max-width: 600px) {
    .cta-box {
        padding: 30px 30px;
        width: 90%;
    }

    .cta-box h3 {
        font-size: 24px;
        text-align: center;
        line-height: 40px;
    }
}
.marquee-container {
    overflow: hidden;
}
  
.marquee {
    display: flex;
}

.marquee img {
    width: 100%;
    padding: 5px 35px;
    height: auto;
}

.btn-success {
    background-color: #4BB964; padding: 9px 40px !important; margin-right: 30px; border: none;
}


#reviews {
    padding: 40px 0;
}

.testimonial {
    text-align: left;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    background: #F1F5F9;
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
}

.testimonial-name {
    padding: 10px 0;
    margin-bottom: 15px;
    border-bottom: 1.09005px solid rgba(16, 92, 159, 0.12)
}

.testimonial-copy img {
    width: 40%;
    text-align: left;
    padding-bottom: 1rem;
}

.testimonial-copy p {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    text-align: left;
    color: #717785;
}

.testimonial-copy h4 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #125DA1;;
    text-align: left;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.55);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    transition: box-shadow 0.15s ease-in-out;
}

.navbar .container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.me-auto {
    margin-right: auto!important;
}
.carousel-control-prev, .carousel-control-next {
    width: 8%;
}