@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');


body {
    font-family: 'Inter', sans-serif !important;
    overflow-x: hidden; /* Prevent horizontal scrolling RWD */
    max-width: 100%; /* Prevents the body from extending beyond viewport RWD*/
}
input,
button,
select,
optgroup,
textarea {
    font-family: 'Inter', sans-serif !important;
}
nav {
    font-family: 'Inter', sans-serif !important;
    font-weight: 500;
    font-size: 1.125rem;
    color: #000 !important;
}

.nav-item {
    padding: 0 8px !important;
}

.nav-link {
    color: #000 !important;
}

.navbar-collapse {
    flex-grow: 0.2 !important;
}

// Hero Section for Desktop
.hero-title {
    font-family: 'Inter', sans-serif !important;
    font-size: 2.4rem;
    max-width: 78%;  
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    margin: 0 auto; 
    text-align: center;
    color: #000000;
  }
  
  .hero-title .highlight {
    font-weight: 800;
    color: #4BB964;
  }

  .hero-title .red-strike {
    color: black; /* Text color */
    text-decoration: line-through; /* Strike-through effect */
    text-decoration-color: red; /* Color of the strike-through line */
    text-decoration-thickness: 2px; /* Thickness of the strike-through line (optional) */
}
  
  .hero-title .neutral {
    font-weight: 600;
    color: #000000;
    font-size: 3.2rem;
    // text-decoration: none;
  }

  .hero-title .feature {
    font-weight: 700;
    font-size: 1.5rem;
    color: #1958BF;
  }
  
  .hero-title .subtext {
    font-size: 1.5rem;
    color: #58595B;
    font-weight: 400;
  }

/* Hero Section Responsive Adjustments*/
@media (max-width: 1024px) { /* Targeting tablets in landscape and lower */
    .banner-section {
        padding-top: 60px; /* Increased top padding for more space */
        padding-bottom: 30px; /* Optional: add more space at the bottom */
    }
    .hero-title {
        font-size: 2.6rem; /* Slightly smaller */
        max-width: 100%;
        line-height: 1.5;
    }

    .hero-title .feature, .hero-title .subtext {
        font-size: 0.9rem; /* Adjusting accordingly */
        max-width: 100%;
    }

    .subtext-line {
        line-height: 1;
    }
}

@media (max-width: 768px) { /* Targeting tablets in portrait and lower */
    .banner-section {
        padding-top: 60px; /* Increased top padding for more space */
    }
    
    .hero-title {
        font-size: 2.6rem; /* Further reducing size */
        margin-top: 30px; /* Extra margin for more vertical space */
        padding: 10px 10px; /* Maintain padding on the sides */
        max-width: 100%;
        line-height: 1.5;
    }

    .hero-title .feature, .hero-title .subtext {
        font-size: 0.9rem;
        max-width: 100%;
    }

    .subtext-line {
        line-height: 1;
    }
}

@media (max-width: 576px) { /* Targeting large phones */
    .banner-section {
        padding-top: 60px; /* Increased top padding for more space */
    }

    .hero-title {
        font-size: 2.5rem; /* Increasing font size for better readability */
        padding: 10px 5px; /* Maintain padding on the sides */
        margin-top: 50px; /* Extra margin for more vertical space */
        line-height: 1.3;
        max-width: 100%;
    }

    .hero-title .feature, .hero-title .subtext {
        font-size: 0.9rem; /* Slightly larger for better visibility */
        max-width: 100%;
        line-height: 1 !important; /* Reducing line height to tighten space between lines */
        margin: 0; /* Remove any default margins */
        padding: 0; /* Remove any default padding */
        display: inline; /* Ensure inline display to avoid unwanted breaks */
    }

    .hero-title .subtext::after {
        content: ' '; /* Adding space after subtexts */
    }

    .btn-banner, .btn-how-banner {
        width: 100%; /* Full-width buttons for easier access */
        margin: 10px 0; /* Adequate space between buttons */
    }

    .subtext-line {
        line-height: 1 !important;
    }
}

@media (max-width: 360px) { /* Targeting small phones */
    .banner-section {
        padding-top: 50px; /* Adjust padding for smaller screens */
    }

    .hero-title {
        font-size: 2.3rem; /* Adjusted font size for small screens */
        margin-top: 20px; /* Less margin due to smaller screen size */
        line-height: 1.3;
        max-width: 100%;
    }

    .hero-title .feature, .hero-title .subtext {
        font-size: 1.5rem; /* Increase font size slightly for readability */
        max-width: 100%;
    }

    .subtext-line {
        line-height: 1;
    }
}

.benefits {
    font-family: 'Inter', sans-serif !important;
    font-weight: 700 !important;
    padding-top: 0px; 
    padding-bottom: 10px;
    margin-top: 1px;
    text-align: center;
    font-size:2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif !important;
    font-weight: 700 !important;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: 0.5px;
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 1.5rem;
    }
}

.carousel-control-prev-icon {
    background-image: url("../../../../assets/img/arrow-left-circle-fill.svg");
    display: none;
}

.carousel-control-next-icon {
    background-image: url("../../../../assets/img/arrow-right-circle-fill.svg");
    display: none;
}

.banner-section {
    font-family: 'Inter', sans-serif !important;
    background-size: cover;
    background-color: #ffffff;
    background-position: center;
    justify-content: center;
    text-align: center;  
    padding: 80px 5%;  
    margin-top: 12vh;  
}

.banner-section h1 {
    font-family: "Inter", sans-serif !important;
    color: #000000;
    font-size: 2.875rem;
}

.banner-section p {
    font-family: 'Inter', sans-serif !important;
    color: #58595B;
    font-size: 1.125rem;
    margin-left: 325px;  
    margin-right: 325px;
    justify-content: center; 
   }

.btn-banner {
    font-family: 'Inter', sans-serif !important;
    background-color: #4BB964;
    padding: 16px 20px;
    border: none;
    color: #fff;
    margin-top: 2rem;
    margin-right:10px;
    width:210px;
    margin-bottom: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    margin-left:-22px;
}

.btn-how-banner {
    font-family: 'Inter', sans-serif !important;
    background-color: #2469FF;
    padding: 14px 50px;
    border: 2px solid #2469FF;
    border-radius: 4px;
    width:210px;
    color: #ffffff;
 //   margin-bottom: 2.5rem;
    font-size: 1rem;
}

.cue-logo img {
    width: 80%;
    }

.benefits-subtext {
    color: #58595B; 
    font-size: 1.125rem; 
    line-height: 1.5; 
    max-width: 800px; 
    margin: 0 auto 10px auto;
}

// Logo size for responsive
@media (max-width: 360px) {
    .cue-logo img {
        width: 50%;  
        margin-left:5px;
        }
}

@media (max-width: 576px) {
    .cue-logo img {
        width: 60%;  
        margin-left:5px;
        }
}

@media (max-width: 768px) {
    .cue-logo img {
        width: 60%;  
        margin-left:5px;
        }
}

@media (max-width: 1024px) {
    .cue-logo img {
        width: 60%;  
        margin-left:5px;
        }    
}

@media only screen and (max-width: 600px) {
 
    .banner-section {
        text-align: center;  
        padding: 20px 10px 10px 10px;  
        display: flex;
        justify-content: center;
        margin-top:60px;
    }

    .hamburger-menu-icon {
        color: black;  
        display: block;  
    }

    .section, div {
        overflow-x: hidden;  
    }

    .img {
        max-width: 100%;  
        height: auto;  
    }
    
    .section .benefits {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .btn-banner, .btn-how-banner {
        width: 100%;  
        font-size: 1.125rem;  
        padding: 15px 15px;  
        margin-left:0px;
        margin-right:40px;
        }

    .btn-banner {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .btn {
        padding: 8px 16px;  
        font-size: 1rem;  
        }

    .banner-section h1 {
        font-family: 'Inter', sans-serif !important;
        color: #000000;
        font-size: 2.25rem;
        margin-left: 0; 
        margin-right: 0;
        padding: 50px;  
        }

    .banner-section p {
        font-family: 'Inter', sans-serif !important;
        color: #58595B;
        font-size: 1.125rem;
        margin-left: 10px; /* Aligns text properly without extra space */
        margin-right: 10px;
        margin-top:-40px;
        padding: 0px; /* Reduced padding */
        }

    .how-it-works {
        padding: 10px 10px 10px 10px; /* Reduce side padding to ensure content fits within view RWD */
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
        display: flex;
        justify-content: center; 
    }
    
    .how-it-works h1 {
        font-size: 2.25rem !important; /* Slightly reduced for balance */
        font-weight: 700;
        color: #000000;
        margin-bottom: 10px; /* Added spacing below heading */
    }
    
    .how-it-works p {
        color: #58595B;
        font-size: 1.125rem;
        line-height: 1;
        text-align: center;
        justify-content: center; 
    }

    //for RWD
    .trading-steps {
        display: flex;
        flex-direction: column;  /* Stacks the steps vertically */
        align-items: center;     /* Aligns items in the center horizontally */
        justify-content: center; /* Centers content vertically if needed */
        width: 100%;             /* Ensures it takes full width */
        margin: 0 auto;          /* Centers the container */
     //   padding: 20px 0;         /* This is the space above the 4 steps */
        margin-left:10px;
        margin-right:10px;
    }

.brands-sec {
    font-family: 'Inter', sans-serif !important;
    background: #fff;
    padding: 40px 0px;                                 
}

.brands-sec h5 {
    color: #58595B;
    font-size: 1rem;
    text-align: center;
}

.how-works {
    font-family: 'Inter', sans-serif !important;
    background: #F1F5F9;
    padding: 30px 10px;
}

.carousel-indicators, .owl-dots {
    flex-direction: column;
    margin: 0 10px;
    bottom: 480px;
}
.carousel-indicators [data-bs-target], .owl-dot {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators [data-bs-target], .owl-dot {
    height: 12px;
    width: 12px;
    background-color: #135EA4 !important;
}
}


@media only screen and (max-width: 600px) {
    .carousel-indicators {
        bottom: 320px !important;
    }
    .carousel-indicators [data-bs-target] {
        margin-left: -2px !important;
    }
}


.how-works h2 {
    font-family: 'Inter', sans-serif !important;
    color: #000;
    font-size: 2.75rem;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 0.5px;
}

@media only screen and (max-width: 600px) {
    .how-works h2 {
        font-size: 1.75rem;
    }

    .how-works h3 {
        font-size: 1.625rem !important;
    }
}

.how-works h3 {
    font-family: 'Inter', sans-serif !important;
    color: #135EA4;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 52px;
    padding-bottom: 1rem;
    letter-spacing: 0.5px;
}

.how-works p {
    font-family: 'Inter', sans-serif !important;
    text-align: center;
    font-size: 1.125rem;
    padding: 0px 80px;
    color: #58595B;
}

@media only screen and (max-width: 600px) {
    .how-works p {
        font-size: 1rem;
        text-align: center;
        padding: 0px 20px;
    }

    .how-works li {
        font-size: 1.125rem !important;
    }
}

.how-works ul {
    list-style: none;
    padding-left: 0px !important;
}

.how-works li {
    font-weight: 400;
    font-size: 1.25rem;
    color: #58595B;
    padding-bottom: 1rem;
}
.slide-content {
    top: -50px;
    position: relative;
}
.slide-content p {
    text-align: left;
    padding: 0;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.img-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.slide-image {
    max-width: 100%;
    max-height: 100%;
}

.slide-text {
    font-size: 1.25rem;
    padding-left: 15px;
    margin-top: 12px;
}

.cue-help {
    font-family: 'Inter', sans-serif !important;
}
.cue-help h3 {
    color: #1958BF;
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: 0.5px;
    font-family: 'Inter', sans-serif !important;
}

.cue-help p {
    color: #58595B;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 30px;
    letter-spacing: 0.3px;
    font-family: 'Inter', sans-serif !important;
}

.cue-help-icon {
    padding: 0 40px;
}

@media only screen and (max-width: 600px) {
    .cue-help-icon {
        padding: 15px 25px;
    }

    .cue-help-icon img {
        width: 10% !important;
    }

    .cue-help h3 {
        font-size: 2rem;
    }

    .cue-help p {
        color: #58595B;
        font-weight: 400;
        font-size: 1rem;
        line-height: 30px;
        letter-spacing: 0.3px;
    }
}

.cue-help-icon img {
    width: 6%;
    padding-bottom: 1rem;
}

.cue-help-icon a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.125rem;
    color: #125DA1;
}

.cue-features {
    background-color: #F1F5F9;
    padding: 4rem 1.5rem;
    font-family: 'Inter', sans-serif !important;
}

.cue-features p {
    font-size: 1.125rem;
    font-family: 'Inter', sans-serif !important;
}

@media only screen and (max-width: 600px) {
    .cue-features p {
        font-size: 1rem;
    }
}

/* features box carousel styling */

.carousel-wrap {
    margin: 70px auto;
    padding: 0 5%;
    position: relative;
    font-family: 'Inter', sans-serif !important;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 3.25rem;
}

.owl-nav .owl-prev {
    left: -30px;
}

.owl-nav .owl-next {
    right: -30px;
}
#features {
    background-color: #F1F5F9;
    padding: 40px 0;
}
.feature-box {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    font-family: 'Inter', sans-serif !important;
    margin-bottom: 1rem;
}

.feature-box img {
    width: 21% !important;
    padding-bottom: 1rem;
}

.feature-box h4 {
    color: #135EA4;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 32px;
    letter-spacing: 0.5px;
    font-family: 'Inter', sans-serif !important;
}

.feature-box p {
    font-size: 0.813rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: #58595B;
    font-family: 'Inter', sans-serif !important;
}
.feature-description {
    color: #212529;
    font-family: 'Inter', sans-serif !important;
}


/* testimonial-section */

.cue-testi {
    padding: 4rem 1.5rem;
    font-family: 'Inter', sans-serif !important;
}

.cue-testi p {
    font-size: 1.125rem;
    font-family: 'Inter', sans-serif !important;
}

@media only screen and (max-width: 600px) {
    .cue-testi p {
        font-size: 1rem;
    }
}

.testimonial-slider {

    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}


@media only screen and (max-width: 600px) {
    .testimonial-slider {

        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
    }
}


.testimonial {
    text-align: center;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
}

.slick-prev:before,
.slick-next:before {
    font-size: 1.875rem !important;
    color: #49B565 !important;
}

.slick-dots li.slick-active button:before {
    color: #125DA1 !important;
}

.slick-dots {
    text-align: left !important;
}



.slick-dots li.slick-active button:before {
    color: #125DA1;
    font-size: 0.75rem;
}

.slick-dots li button:before {
    font-size: 0.75rem !important;
}


.testimonial-copy img {
    width: 25%;
    text-align: left;
    padding-bottom: 1rem;
}

.testimonial-copy p {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    text-align: left;
    color: #58595B;
}

.testimonial-copy h4 {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #135EA4;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .slick-slider {
        background: #E4E9EF;
        border-radius: 12px;
    }

    .slick-dots {
        display: none !important;
    }
}

.accordion-item h2 {
    font-size: 2.25rem !important;
    font-weight: 700 !important;
   // line-height: 52px;
    letter-spacing: 0.5px;
    background-color: #F1F9FF;
    font-family: 'Inter', sans-serif !important;
    color: #000;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.accordion-wrapper input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    background-color: #F1F9FF;
}

.accordion {
    width: 100%;
    color: #F1F9FF;
    background-color: #F1F9FF;
    overflow: hidden;
    margin-bottom: 4px;

}

.accordion:last-child {
    margin-bottom: 0;
}

.accordion-label {
    font-family: 'Inter', sans-serif;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    background: #F1F9FF;
    font-weight:400;
    cursor: pointer;
    font-size: 1.125rem;
    color: #000;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .accordion-label {
        font-size: 1.125rem;
    }
}

.accordion-label:hover {
    font-family: 'Inter', sans-serif;
    background: #fff;
    color: #000000;
}

.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.accordion-content {
    max-height: 0;
    padding: 0 16px;
    color: rgba(4, 57, 94, 1);
    background: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #Fff;
}

.accordion-content p {
    margin: 0;
    color: #58595B;
    font-family: 'Inter', sans-serif;
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    background: #fff;
    font-size:18px;
}

@media only screen and (max-width: 600px) {
    .accordion-content p {
        font-size: 0.938rem;
        line-height: 30px;
    }
}

.accordion-content ul {
    margin: 0;
    color: #58595B;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;

}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center img {
    width: 70%;
    height: auto;
}

input:checked+.accordion-label {
    font-family: 'Inter', sans-serif;
    background: #fff;
    color: #000000;
    font-weight: 700;
    font-size: 1.125rem;
}

@media only screen and (max-width: 600px) {
    input:checked+.accordion-label {
        font-size: 1.125rem;
    }
}

input:checked+.accordion-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

input:checked~.accordion-content {
    max-height: 100vh;
    padding: 16px;
}

.cta-box {
    background: linear-gradient(270.04deg, #3794E8 0.05%, #125DA1 97.84%);
    padding: 30px 60px;
    width: 70%;
    border-radius: 19px;
}

.cta-box h3 {
    color: #fff;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1px;
    text-align: left;
}

.cta-box button {
    background-color: #4BB964;
    padding: 16px 16px;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
}

@media only screen and (max-width: 600px) {
    .cta-box {
        padding: 30px 30px;
        width: 90%;
    }

    .cta-box h3 {
        font-size: 1.5rem;
        text-align: center;
        line-height: 40px;
    }
}


/* footer */

.cue-footer {
    font-family: 'Inter', sans-serif !important;
    background-color: #121D33;
    padding-top: 65px;
    padding-bottom: 1px;
    font-size: 1rem;
}

.cue-footer img {
    width: 55%;
    padding: 1rem 0;
}

.cue-footer p {
    color: #D3D6D8;
    font-family: 'Inter', sans-serif !important;
    font-size:1rem;
    width:500px;
}

.cue-footer h4 {
    color: #D3D6D8;
    font-family: 'Inter', sans-serif !important;
    margin-top:24px;
    font-size:15px;
    font-weight:700;
}

.cue-footer li {
    color: #D3D6D8;
    list-style: none;
    padding: 5px 0;
    font-size:15px;
}

.cue-footer li a {
    color: #D3D6D8;
    text-decoration: none;
}

.cue-footer li a:hover {
    color: #4BB964;
}

.cue-footer ul {
    padding-left: 0px !important;

}

.cue-copyright {
    text-align: center;
}

.cue-copyright p {
    text-align: center;
    width:100%;
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0.8rem 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons li a {
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
    height: 24px;
    line-height: 24px;
    width: 24px;
    text-align: center;
}

.social-icons li a:hover {
    color: #4AB565;
}

.splide__slide img {
    width: 100%;
    padding: 20px;
    height: auto;
}

.splide__list {
    height: auto !important;
}
.cta-box {
    background: linear-gradient(270.04deg, #3794E8 0.05%, #125DA1 97.84%);
    padding: 30px 60px;
    width: 70%;
    border-radius: 19px;
}

.cta-box h3 {
    color: #fff;
    font-size: 2.063rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 1px;
    text-align: left;
}

.cta-box button {
    background-color: #4BB964;
    padding: 16px 16px;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
    border: none;
}

@media only screen and (max-width: 600px) {
    .cta-box {
        padding: 30px 30px;
        width: 90%;
    }

    .cta-box h3 {
        font-size: 1.5rem;
        text-align: center;
        line-height: 40px;
    }
}
.marquee-container {
    overflow: hidden;
}
  
.marquee {
    display: flex;
}

.marquee img {
    width: 100%;
    padding: 5px 35px;
    height: auto;
}

.btn-success {
    background-color: #4BB964; padding: 9px 40px !important; margin-right: 30px; border: none;
}


#reviews {
    padding: 40px 0;
}

.testimonial {
    text-align: left;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    background: #F1F5F9;
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
}

.testimonial-name {
    padding: 10px 0;
    margin-bottom: 15px;
    border-bottom: 1.09005px solid rgba(16, 92, 159, 0.12)
}

.testimonial-copy img {
    width: 40%;
    text-align: left;
    padding-bottom: 1rem;
}

.testimonial-copy p {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    text-align: left;
    color: #58595B;
}

.testimonial-copy h4 {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #125DA1;;
    text-align: left;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.55);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    transition: box-shadow 0.15s ease-in-out;
}

.navbar .container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.me-auto {
    margin-right: auto!important;
}
.carousel-control-prev, .carousel-control-next {
    width: 8%;
}

.blog-section {
    font-family: 'Inter', sans-serif !important;
    background-color: #ffffff;
    background-position: center;
    justify-content: center;
    padding: 40px 50px; /* Adjusted padding for better spacing */
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center; 
}
.blog-section h2 {
    font-family: 'Inter', sans-serif !important;
    color: #000;
    font-size: 2.75rem;
    text-align: center;
    letter-spacing: 0.5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.blog-box {
    background-color: #FFFFFF;
    padding: 15px;
    font-size: 0.813rem;
    color: #000000;
    font-family: 'Inter', sans-serif !important;
    box-shadow: 0 0 5px rgb(201 201 201 / 80%);
    margin: 5px;
    position: relative;
    display: block;
}

.blog-box h4 {
    color: #000000;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-family: 'Inter', sans-serif !important;
    margin-bottom: .5rem;
}
    
.blog-box p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #58595B;
    font-family: 'Inter', sans-serif !important;
    margin-bottom: .5rem;
}
.blog-linkText {
    color: #135EA4;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
}
.blog-box:hover .blog-linkText {
    color: #135EA4;
}
.blog-box::after {
    clear: both;
    content: '';
    display: table;
}
.blog-box:hover::after {
    border-bottom: 3px solid #135EA4;
    bottom: -1px;
    left: -1px;
    margin-left: 0;
    position: absolute;
    width: calc(100% + 2px);
}
.blog-box:hover {
    text-decoration: none;
}
.show {
    display: block;
}

.benefits {
    display: flex;
    justify-content: center;
    margin-top:50px;
  }
  
.how-it-works {
    font-family: 'Inter', sans-serif !important;
    background-size: cover;
    background-color: #F1F9FF;
    background-position: center;
    justify-content: center;
    padding: 40px 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center; 
}

.how-it-works h1 {
    font-size: 2.5rem; 
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;  
}

.how-it-works p {
    color: #58595B;
    max-width: 70%; /* Limited width for better readability */
    align-content: center;
    margin: auto;
    margin-bottom: 50px;
    font-size: 1.125rem;
    line-height: 1.5;
}

.trading-steps {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
    padding-bottom: 3rem;
}

//Video styling for desktop

.video-container {
    justify-content: center;
    width:100%;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    margin-top: 5px;
    margin-bottom: 5px;
    // padding-top: 56.25%; /* 16:9 Aspect Ratio */
    // height: 0;
}

.video-thumbnail {
    width: 100%;
    height: auto;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 1px;
}

.video-player {
    width: 100%;
    height: 400px;
    border-radius: 8px;
}

.step-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; 
    max-width: 1200px; /* Limited max width for better alignment */
    margin: 0 auto;
}

/* Code for the connecting line */
.step-container::before {
    content: '';
    position: absolute;
    top: 30px; /* Positioning the line to pass through the center of the circles */
    left: calc(0% + 0px); /* Starts at the center of Step 1 */
    right: calc(18% + 18px); /* Ends at the center of Step 5 */
    height: 0.5px; /* Thicker line for visibility */
    background-color: #2469FF;
    z-index: 1;
}

.step {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
    width: 21%;
}

.step-number {
    background-color: #4BB964;
    color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
    transition: transform 0.3s ease-in-out; /* Hover effect */
    z-index: 2; /* Ensure the circles are above the line */
}

.step-number:hover {
    transform: scale(1.2);  
}

.step-title {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #1958BF;
    font-weight: 600;  
}

.step-description {
    margin-top: 5px;
    font-size: 1rem;
    color: #58595B;
    line-height: 1.5;
    font-family: "Inter", sans-serif !important;
}

@media (max-width: 600px) {
    .step-container {
        flex-direction: column;
        align-items: center;
        width: 100%;             /* Full width to use all available space */
        justify-content: center; /* Center the steps within the container */
        text-align: center;      /* Centers the text inside each step */
    }

    .step {
        width: 100%;
        margin-bottom: 20px;
    }

    .step-title, .step-description {
        margin-top:10px;
    }

    .step-container::before {
        content: ''; /* Ensure the line is removed in the mobile view */
        display: none; /* This ensures the line is not just hidden but removed from the layout */
    }
}

//RWD code added to include Video
@media only screen and (max-width: 600px) {
    .video-container, .video-player, .video-thumbnail {
        display: block !important;  /* Ensures visibility */
        width: 100% !important;    /* Ensures full width */
        margin-top: 0px;
        margin-left: 0px;
        height: auto !important;   /* Maintains aspect ratio */
    }
}

@media only screen and (max-width: 768px) {
    .video-container, .video-player, .video-thumbnail {
        display: block !important;  /* Ensures visibility */
        width: 100% !important;    /* Ensures full width */
        margin-top: 0px;
        margin-left:0px;
        height: auto !important;   /* Maintains aspect ratio */
    }
}

@media only screen and (max-width: 576px) {
    .video-container, .video-player, .video-thumbnail {
        display: block !important;  /* Ensures visibility */
        width: 100% !important;    /* Ensures full width */
        margin-top: 0px;
        margin-left:0px;
        height: auto !important;   /* Maintains aspect ratio */
    }
}

// Without CueTrade and With CueTrade Styling for Desktop
.comparison-section {
    display: flex;
    justify-content: center;
    padding: 56px 20px 20px;
  }
  
  .comparison {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    gap: 40px;
  }
  
  .comparison .without, .comparison .with {
    padding: 20px;
    font-family: 'Inter', sans-serif !important;
    font-size: 1.375rem;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box; /* Includes padding in width */
  }

  .comparison .without {
    background-color: #f0f0f0; /* Lighter background for contrast */
    border: 1px dashed #ccc; /* Dashed border for a less solid appearance */
  }
  .comparison .with {
    background-color: #ffffff;
    border: 1px solid #4BB964; /* Solid green border indicating positivity */
  }
  
  .comparison h2 {
    font-size: 1.375rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .comparison ul {
    list-style: none;
    padding: 0;
  }
  
  .comparison li {
    font-size: 1.125rem;
    color: #58595B;
    line-height: 1.4;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    text-align: left;
  }
  
  .comparison li i.icon {
    margin-right: 10px;
    font-size: 1rem;
    font-style: normal; /* Ensures the icon is not italic */
  }
  
  .comparison .without h2 {
    color: #000000; /* Highlight Without CueTrade with a warning color */
  }
  
  .comparison .with h2 {
    color: #000000; /* Highlight With CueTrade with a positive color */
  }

/* Responsive adjustments for Without CueTrade and With CueTrade section*/
@media (max-width: 768px) {
    .comparison {
        flex-direction: column;
        gap: 20px; /* Adjust gap for vertical stacking */
    }
}

.comparison .without {
    background-color: #f0f0f0; /* Lighter background for contrast */
    border: 1px dashed #ff0000; /* Dashed border for a less solid appearance */
}

.comparison .with {
    background-color: #ffffff;
    border: 1px solid #4BB964; /* Solid green border indicating positivity */
}

.comparison h2 {
    font-size: 1.375rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.comparison ul {
    list-style: none;
    padding: 0;
}

.comparison li {
    font-size: 1.125rem;
    color: #58595B;
    line-height: 1.4;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 1px;
}

.comparison li i.icon {
    margin-right: 10px;
    font-size: 1rem;
    font-style: normal; /* Ensures the icon is not italic */
}

  .footer-links {
    display: flex;
    gap: 10px; /* Add spacing between the links */
    justify-content: center; /* Center align if required */
    align-items: center; /* Vertically align the links */
    // flex-wrap: wrap; /* Wrap links to the next line on smaller screens */
    // width:330%;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none; /* Remove underline */
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    transition: color 0.3s ease-in-out; /* Add hover effect */
    padding-top:24px;
}

.faqs {
    padding-bottom: 20px; 
    text-align: center;
    font-size:2.5rem;
    font-family: 'Inter', sans-serif !important;
    font-weight: 700 !important;
    }

.blogs {
    padding-bottom: 20px; 
    text-align: center;
    font-size:2.5rem;
    font-family: 'Inter', sans-serif !important;
    font-weight: 700 !important;
    }

@media (max-width: 360px) {
    .blogs .faqs .benefits {
        padding-bottom: 20px; 
        text-align: center;
        font-size:2.25rem;
        font-family: 'Inter', sans-serif !important;
        font-weight: 700 !important;
    }
    .cue-help h3 {
        font-size:1.5rem;
    }
    }
    
    @media (max-width: 576px) {
        .blogs .faqs .benefits {
            padding-bottom: 10px; 
            text-align: center;
            font-size:2.25rem;
            font-family: 'Inter', sans-serif !important;
            font-weight: 700 !important;
        }

        .cue-help h3 {
            font-size:1.5rem;
        }
    }
    
    @media (max-width: 768px) {
        .blogs .faqs .benefits {
            padding-bottom: 10px; 
            text-align: center;
            font-size:2.25rem;
            font-family: 'Inter', sans-serif !important;
            font-weight: 700 !important;
        }
        
        .cue-help h3 {
            font-size:1.5rem;
        }

    }
    
    @media (max-width: 1024px) {
        .blogs .faqs .benefits {
            padding-bottom: 10px; 
            text-align: center;
            font-size:2.25rem;
            font-family: 'Inter', sans-serif !important;
            font-weight: 700 !important;
        }
        .cue-help h3 {
            font-size:1.5rem;
        }
    }