<ul class="tags-list">
    <li *ngFor="let tag of tags; let i = index;" class="tag-item">
        <span class="tag-list-item">
            <span (click)="editTag(tag)">
                {{getTagName(tag.tagId)}}
            </span>
            <span class="material-icons delete-tag-icon" (click)="deleteTag(tag, i)">close_outline</span>
        </span>
    </li>
    <li class="align-items-center">
        <span style="line-height: 0;" (click)="addTag()" class="text-link" *ngIf="tags && tags.length < 3">
            <img src="../../../../../../../assets/images/add-md.png" width="22" height="22" />
            <!-- <mat-icon>add_circle</mat-icon> -->
        </span>
    </li>
</ul>