.btn-sm,
.btn-group-sm>.btn {
    padding: 0.25rem 1rem !important;
}

element.style {}

.p-2 {
    padding: 0.5rem !important;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
    border-radius: 0;
    background: #4A69CB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: #fff;
    font-size: 15px;
}

.modal-title {
    font-size: 15px;
}