@import '../../../../../assets/styles/variable.scss';

.metrics-header {
  border-bottom: 1px solid #B9B7B7;
  padding: 15px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.metrics-title {
  color: #000;
  font-weight: 600;
  font-size: 15px;
}

.trade-date .mydrp, .mydrp .headerclearbtn, .mydrp .headerokbtn {
    border: 1px solid #37a01a !important;
    border-radius: 0 !important;
}

.metrics-body {
  padding: 15px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}