.add-icon {
    float: right;
}

.mat-icon-sm {
    cursor: pointer;
}

.mat-table {
    max-height: 300px;
    overflow: auto;
    width: 100%;
}

tr.mat-header-row,
tr.mat-footer-row,
tr.mat-row {
    height: 50px;
    min-height: 50px;
    line-height: 40px;
}

.mat-header-cell {
    background: rgb(157 166 186 / 20%);
    color: #3A4C85;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    flex: 0 0 10% !important;
    min-width: 100px !important;
    width: 10%;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding: .75rem 1.5rem !important;
    border-radius: 0;
    line-height: 20px;
}

.mat-column-symbol {
    flex: 0 0 20% !important;
    min-width: 150px !important;
}

.mat-column-strategyType {
    flex: 0 0 20% !important;
    min-width: 150px !important;
}

.mat-column-actionType {
    flex: 0 0 15% !important;
    min-width: 100px !important;
}

.mat-column-maxRisk {
    flex: 0 0 15% !important;
    min-width: 80px !important;
}

.mat-column-maxProfit {
    flex: 0 0 15% !important;
    min-width: 100px !important;
}

.mat-column-reason {
    flex: 0 0 20% !important;
    min-width: 220px !important;
}

.col-form-label {
    font-weight: 600;
    font-size: 15px !important;
    line-height: 27px;
    color: #3A4C85;
}

.mat-icon-edit {
    color: #9DA6BA;
}

.mat-row:nth-child(odd) {
    background-color: #fff;
    border: 0;
}

.mat-column-justification-cell {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.justification-cell {
    width: 30%;
    flex: 0 0 30% !important;
    min-width: 150px !important;
}

.mat-column-symbol-cell {
    flex: 0 0 10% !important;
    min-width: 100px !important;
    width: 10%;
}

.symbol-cell {
    width: 10%;
    flex: 0 0 10% !important;
    min-width: 100px !important;
}

.cell-w-12 {
    width: 13%;
    flex: 0 0 13% !important;
    min-width: 100px !important;
}

.ad-trade-plan-mobile {
    display: none;
}

.trade-plan-mobile-grid {
    color: #3A4C85;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.1);
    border-radius: 4px;
    font-weight: 400;
    padding: 1rem;
    font-size: 16px;
    .cell-header {
        font-weight: 600;
    }
    .mobile-grid-row {
        border-bottom: 1px solid rgb(157 166 186 / 30%);
    }
    .mobile-grid-cell {
        display: inline-flex;
        .material-icons {
            color: #2285FA;
        }
    }
}

@media screen and (min-width: 320px) and (max-width:599px) {
    .ad-trade-plan-web {
        display: none;
    }
    .ad-trade-plan-mobile {
        display: block;
        overflow: hidden;
    }
}