<div class="rule-non-popup">
    <div class="exit-thesis-pop-inner">
        <div class="pop-top-heading">
            <div class="left-heading">
                <h5>Update Stock Price</h5>
            </div>
        </div>

        <div class="popup-body">
            <div>
                <span>Do you want to update stock price for risk analysis?</span>
                <span class="mr-3"><input type="radio" name="confirm_update" value="true" [(ngModel)]='data.update'/>Yes</span>
                <span><input type="radio" value="false" name="confirm_update" [(ngModel)]='data.update'/>No</span>
            </div>

            <div>
                <span>Enter the stock price to be used as input to risk analysis: </span>
                <input type="number" (keydown)="preventNegatives($event, false)" min="0"
                    class="form-control cards-input" [(ngModel)]="data.stockPrice" />
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-save" [mat-dialog-close]="data">Update</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        </div>

    </div>
</div>