@import "../../../../../assets/styles/variable.scss";

.update-price-popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  // background-color: rgba(0,0,0,0.1);
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-price-pop-inner {
  background: #fff;
  min-width: 550px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  border: 1px solid rgb(126, 126, 126);
  box-shadow: 0px 15px 45px #7d7d7d;
}

.element{
    margin-top: 15px;
}

.radio{
    margin-left: 10px;
    margin-right: 5px;
}

.sp-label{
    padding-right: 0px;
    padding-top: 4px;
}