<!-- entry second -->
<!-- <div class="addnew-second" *ngIf="selectedStock && stockSummaryResult">
    <div class="trading-view-chart" *ngIf="addTrade || editTrade || closeTrade">
        <app-trading-view [selectedStock]="selectedStock"></app-trading-view>
    </div>
    <div class="widget-2 mt-2">
        <div class="widget_header">
            <h5 class="widget_header-label">
                {{getDisplayValue(selectedStock.code)}} Historical Stats 
                <mat-icon matTooltip="Statistics derived from your {{getDisplayValue(selectedStock.code)}} trades" matTooltipPosition="right" class="mat-icon-xs info-icon cursor" matTooltipClass="custom-tooltip" [matTooltipShowDelay]="this.showDelay" [matTooltipHideDelay]="this.hideDelay">info_outline</mat-icon>

                <a routerLink="/reports" class="view-reports ml-3">View Reports</a>
            </h5>
        </div>
        <div class="row no-gutters justify-content-between">
            <div class="widget_item widget_item_gray">
                <h6 class="widget_item-value">{{getDisplayValue(stockSummaryResult.totalTransactions)}}</h6>
                <span class="widget_item-title">Transactions</span>
            </div>
            <div class="widget_item widget_item_gray">
                <h6 class="widget_item-value">{{getDisplayValue(stockSummaryResult.totalStrategies)}}</h6>
                <span class="widget_item-title">Trade Strategies</span>
            </div>
            <div class="widget_item" [ngClass]="[getDisplayValue(stockSummaryResult.realizedReturn) >= 0 ? 'widget_item' : 'widget_item_danger', getDisplayValue(stockSummaryResult.realizedReturn) === 'NA'  ? 'widget_item_gray' : '']">
                <h6 class="widget_item-value">{{getDisplayValue(stockSummaryResult.realizedReturn)}}</h6>
                <span class="widget_item-title">Realized Return</span>
            </div>
            <div class="widget_item" [ngClass]="[getDisplayValue(stockSummaryResult.winRate) >= (getDisplayValue(stockSummaryResult.winRate)*50/100) ? 'widget_item' : 'widget_item_danger', getDisplayValue(stockSummaryResult.winRate) === 'NA'  ? 'widget_item_gray' : '']">
                <h6 class="widget_item-value">{{getDisplayValue(stockSummaryResult.winRate, '%')}}</h6>
                <span class="widget_item-title">Win Rate</span>
            </div>
            <div class="widget_item widget_item_gray">
                <h6 class="widget_item-value">{{getDisplayValue(stockSummaryResult.allocPercent)}}</h6>
                <span class="widget_item-title">Amount Allocated (%)</span>
            </div>
            <div class="widget_item widget_item_gray">
                <h6 class="widget_item-value">{{getDisplayValue(stockSummaryResult.avgHoldingPeriod, ' days')}}</h6>
                <span class="widget_item-title">Avg. Hold Period</span>
            </div>
            <div class="widget_item" [ngClass]="[getDisplayValue(stockSummaryResult.highestReturn) >= 0 ? 'widget_item' : 'widget_item_danger', getDisplayValue(stockSummaryResult.highestReturn) === 'NA'  ? 'widget_item_gray' : '']">
                <h6 class="widget_item-value">{{getDisplayValue(stockSummaryResult.highestReturn)}}</h6>
                <span class="widget_item-title">Highest Return</span>
            </div>
            <div class="widget_item widget_item_danger" [ngClass]="[getDisplayValue(stockSummaryResult.largestLoss) >= 0 ? 'widget_item' : 'widget_item_danger', getDisplayValue(stockSummaryResult.largestLoss) === 'NA'  ? 'widget_item_gray' : '']">
                <h6 class="widget_item-value">{{getDisplayValue(stockSummaryResult.largestLoss)}}</h6>
                <span class="widget_item-title">Lowest Return</span>
            </div>
            <div class="widget_item">
                <h6 class="widget_item-label">{{getDisplayValue(stockSummaryResult.successfulTag)}}
                </h6>
                <span class="widget_item-title">Most Successful Tag</span>
            </div>
            <div class="widget_item widget_item_danger">
                <h6 class="widget_item-label">{{getDisplayValue(stockSummaryResult.unsuccessfulTag)}}</h6>
                <span class="widget_item-title">Most Unsuccessful Tag</span>
            </div>
        </div>
    </div>
</div> -->

<div class="custom-card" *ngIf="selectedStock && stockSummaryResult">
    <div class="custom-card-header">
        <div class="custom-card-title">Trade Statistics</div>
        <a class="add-new cursor" (click)="refreshTradeDetails()">
            <mat-icon>refresh</mat-icon>
        </a>
    </div>
    <div class="custom-card-body">
        <div class="d-flex mb-1 align-items-center" *ngIf="editTrade || closeTrade && tradeStatus !== 4">
            <label class="col-form-label">Open Date</label>
            <div class="col-8 col-md-7 col-form-value">{{(tradeStrategy.executedDate ? tradeStrategy.executedDate : tradeStrategy.openDate) | date: 'dd-MMM-yyyy'}}</div>
        </div>
        <div class="d-flex mb-1 align-items-center" *ngIf="!addTrade && tradeStatus !== 4">
            <label class="col-form-label">Close Date</label>
            <div class="col-8 col-md-7 col-form-value">
                {{tradeStrategy.closeDate | date: 'dd-MMM-yyyy'}}
            </div>
        </div>
        <div class="d-flex mb-1 align-items-center">
            <label class="col-form-label">Stoploss Range</label>
            <div class="col-9 col-form-value">
                <div class="d-flex align-items-center">
                    <span class="col-6 pl-0">{{(strategySummaryResult.minStopLoss ? strategySummaryResult.minStopLoss +
                        ' - ' : '')}} {{strategySummaryResult.maxStopLoss ? strategySummaryResult.maxStopLoss :
                        ''}}</span>
                    <!-- <a class="add-new cursor" (click)="Edit()">Edit</a> -->
                </div>
            </div>
        </div>
        <div class="d-flex mb-1 align-items-center">
            <label class="col-form-label">Maximum Risk</label>
            <div class="col-8 col-form-value">
                <div class="d-flex align-items-center">
                    <span class="col-3 pl-0" *ngIf="!riskEditing">{{strategySummaryResult.maxLoss}}</span>
                    <mat-icon class="mat-icon-sm mat-icon-edit" *ngIf="!riskEditing" (click)="onMaxRiskEdit()">edit</mat-icon>
                    <span *ngIf="riskEditing">
                        <input type="text" class="form-control user-risk-input col-6" [(ngModel)]="userDefinedRisk" *ngIf="riskEditing"/>
                        <mat-icon class="ml-2 mat-icon-edit action-icon" (click)="updateMaxRisk()" *ngIf="riskEditing">check_circle</mat-icon>
                        <mat-icon class="ml-2 text-danger action-icon" (click)="onMaxRiskEditCancel()" *ngIf="riskEditing">close</mat-icon>
                    </span>
                    <span *ngIf="!closeTrade && !viewTrade">
                        <a class="text-link assess-risk-btn" (click)="navigateToRiskAnalysis()">Assess Risk</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="d-flex mb-1 align-items-center" *ngIf="!addTrade && tradeStatus !== 4">
            <label class="col-form-label">Net R</label>
            <div class="col-8 col-md-7 col-form-value">{{strategySummaryResult.netR}}</div>
        </div>
        

        <div class="mt-3" *ngIf="showMoreStatistics">
            <div class="sub-title">{{selectedStock.code}} Histiorical Stats</div>
            <div class="d-flex mb-1 align-items-center" *ngIf="!addTrade && tradeStatus !== 4">
                <label class="col-form-label">Realized Return</label>
                <div class="col-8 col-md-7 col-form-value">{{stockSummaryResult.realizedReturn}}</div>
            </div>
            <div class="d-flex mb-1 align-items-center">
                <label class="col-form-label">Win Rate</label>
                <div class="col-8 col-md-7 col-form-value">{{stockSummaryResult.winRate}}%</div>
            </div>
            
            <div class="d-flex mb-1 align-items-center">
                <label class="col-form-label">Total Strategies</label>
                <div class="col-8 col-md-7 col-form-value">{{stockSummaryResult.totalStrategies}}</div>
            </div>
            <div class="d-flex mb-1 align-items-center">
                <label class="col-form-label">Transactions</label>
                <div class="col-8 col-md-7 col-form-value">{{stockSummaryResult.totalTransactions}}</div>
            </div>
            <div class="d-flex mb-1 align-items-center">
                <label class="col-form-label">Avg Holding Period</label>
                <div class="col-8 col-md-7 col-form-value">{{stockSummaryResult.avgHoldingPeriod}}</div>
            </div>
            
            
            <div class="d-flex mb-1 align-items-center">
                <label class="col-form-label">Most Successful Strategy</label>
                <div class="col-8 col-md-7 col-form-value">{{stockSummaryResult.successStrategy}}</div>
            </div>
            <!-- <div class="d-flex mb-1 align-items-center">
                <label class="col-form-label">Failed Strategy</label>
                <div class="col-8 col-md-7 col-form-value">{{stockSummaryResult.failedStrategy}}</div>
            </div> -->
            <div class="d-flex mb-1 align-items-center">
                <label class="col-form-label">Highest Return</label>
                <div class="col-8 col-md-7 col-form-value">{{stockSummaryResult.highestReturn}}</div>
            </div>
            <div class="d-flex mb-1 align-items-center">
                <label class="col-form-label">Lowest Return</label>
                <div class="col-8 col-md-7 col-form-value">{{stockSummaryResult.largestLoss}}</div>
            </div>
        </div>

        <div class="mb-2 showMore">
            <span class="cursor link-item" (click)="toggleStatistics()">{{showMoreStatistics ? 'Less' : 'More'}}</span>
        </div>
    </div>
</div>