<div class="trade-thesis-sec">
    <div class="trade-thesis-heading">
        <h4 class="text-success d-flex align-items-center">
            <i class="negative-amt material-icons">keyboard_arrow_right</i> Exit Rules
        </h4>
    </div>
    <div class="thesis-list-inner row mx-0 ml-2">
        <div class="col-6 list-inner-left">
            Always protect your investment by hedging
        </div>
        <div class="switch">
            <input type="checkbox" checked id="exit_hedging" name="exit_hedging" [(ngModel)]="exitRules[0].aligned" [disabled]="closeTrade" />
            <label for="exit_hedging"></label>
        </div>
    </div>
    <div class="thesis-list-inner row mx-0 ml-2">
        <div class="col-6 list-inner-left">
            Do not trade options expiring in the same week
        </div>
        <div class="switch">
            <input type="checkbox" id="exit_same_week" name="exit_same_week" [(ngModel)]="exitRules[1].aligned" [disabled]="closeTrade"/>
            <label for="exit_same_week"></label>
        </div>
        <input type="text" class="trade-check" placeholder="Specify reason for not aligning with the rule" [disabled]="closeTrade" [(ngModel)]="exitRules[1].comment" />
    </div>
    <div class="thesis-list-inner row mx-0 ml-2">
        <div class="col-6 list-inner-left">
            Do not put more than 100,000 in a stock
        </div>
        <div class="switch">
            <input type="checkbox" checked id="exit_onelack_stock" name="exit_onelack_stock" [disabled]="closeTrade" [(ngModel)]="exitRules[2].aligned" />
            <label for="exit_onelack_stock"></label>
        </div>
    </div>
</div>

<!-- <div class="trad-border "></div> -->

<!-- <div class="order-btn text-center">
    <a class="btn btn-next" (click)="confirmAddTrade()">ADD TRADE</a>
</div> -->