<div class="compare-popup">
    <div class="compare-pop-inner">
        <div class="top-pop-inner modal-header">
            <div class="modal-title">{{title}}</div>
            <div class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </div>
        </div>

        <div class="main-pop-inner p-3">
            <p class="followers-count">Number of Followers : 6</p>
            <div class="mb-2">
                <label class="col-form-label pb-0">Search by email ID</label>
                <div class="row">
                    <div class="col-9"><input class="form-control" matInput id="name" placeholder="Name" [(ngModel)]='data.name' />
                    </div>
                    <button type="button" class="btn btn-secondary">Block All</button>
                </div>
            </div>

            <div class="col-9">
                <div class="row mb-2 d-flex justify-content-between align-items-center">
                    <span>Kiran.Chintala@gmail.com</span>
                    <button type="button" class="btn btn-secondary">Block</button>
                </div>
                <div class="row mb-2 d-flex justify-content-between align-items-center">
                    <span>Kiran.Chintala@gmail.com</span>
                    <button type="button" class="btn btn-secondary">Block</button>
                </div>
                <div class="row mb-2 d-flex justify-content-between align-items-center">
                    <span>Mahesh.Thakur@gmail.com</span>
                    <button type="button" class="btn btn-secondary">Block</button>
                </div>
            </div>
        </div>

        <div class="modal-footer py-2">
            <button type="button" class="btn btn-join" [mat-dialog-close]="data">Submit</button>
        </div>
    </div>
</div>