@import '../../../../../assets/styles/variable.scss';
.compare-popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    // background-color: rgba(0,0,0,0.1);
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compare-pop-inner {
    background: #fff;
    max-width: 650px;
    min-width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 0px 0px 16px rgba(157, 157, 157, 0.2);
}

.main-pop-inner {
    border: 1px solid #ddd;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.main-inner-sec {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    .left-sec {
        width: 36%;
    }
    .right-sec {
        display: flex;
        width: 66%;
    }
}

.right-sec {
    display: flex;
}

.stock-inc {
    position: relative;
    padding: 4px 9px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #9DA6BA;
    border-radius: 4px;
    a {
        cursor: pointer;
        img {
            width: 25px;
            height: auto;
        }
    }
    span {
        margin: 0px 5px;
    }
}

.sec-m {
    margin: 0px 10px;
}

.main-inner-headings {
    width: 21%;
    text-align: center;
}

.main-inner-heading {
    width: 25%;
}

.main-inner-top {
    display: flex;
    justify-content: flex-end;
}

.top-pop-inner {
    background: #3A4C85;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    @media #{$extra-small} { 
        display: none;
    }
}

.left-heading {
    font-size: 14px;
    h6 {
        color: #fff;
        font-size: 16px;
    }
}

.right-close {
    line-height: 0;
    span {
        cursor: pointer;
        color: #fff;
    }
    .mat-icon {
        cursor: pointer;
        height: 20px;
        width: 20px;
        color: #fff;
        font-size: 22px;
    }
}

.btn-up {
    padding-top: 0.5rem;
    text-align: right;
}

.btn-add {
    padding: 0.375rem 1.5rem !important;
    background: #2285FA;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    cursor: pointer;
    border-radius: 0;
    &:hover {
        color: white !important;
    }
}

.col-form-label {
    color: #3A4C85;
    font-size: 12px;
    font-weight: 600;
}

.form-control {
    padding: 0.375rem 0.5rem;
    font-size: 12px;
}

select.form-control {
    padding: 0.375rem 0.25rem;
}

.separator {
    background: #9DA6BA;
    opacity: 0.2;
    margin: .5rem 0;
    height: 1px;
}

.pop-inner-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0;
    color: #3A4C85;
}

.stock-inc {
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #9DA6BA;
    border-radius: 4px;
}

.stock-p {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.text-primary {
    color: #2285FA !important;
}
.center-content-label {
    text-align: center;
}
.center-content-field {
    margin: 0;
    width: auto;
}
.center-content-group {
    display: flex;
}

.compare-popup-mobile {
    display: none;
}
.mobile-popup-header {
    display: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background: #394C86;
    padding: 15px;
}
@media #{$extra-small} {
    .compare-popup {
        background: #E5E5E5;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .mobile-popup-header {
        display: flex;
        h6 {
            display: flex;
            align-items: center;
        }
    }

    .mobile-separator, .popup-footer {
        display: none;
    }
    
    .mobile-popup-footer {
        padding: .5rem 15px;
        border-top: 1px solid rgb(157 166 186 / 55%);
        margin-left: -15px;
        margin-right: -15px;
    }
    .compare-popup-web {
        display: none;
    }
    .compare-pop-inner {
        max-width: 100%;
        min-width: 100%;
        background: #E5E5E5;
    }
    .main-pop-inner {
        border: 0;
        margin: 1rem;
    }
    .center-content-group, .compare-popup-mobile {
        display: block;
    }
    .center-content-label {
        text-align: left;
    }
    .center-content-field {
        margin: 0 auto;
        width: 100%;
    }
}
.col-form-label {
    color: #3A4C85;
    font-size: 14px !important;
    font-weight: 600;
}