<div class="compare-popup" *ngIf="currentInd == 0">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <!-- <h3 class="slider-title">{{data[currentInd].title}}</h3> -->
            <h3 class="slider-title">Welcome {{userName}}</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <!-- <div class="slider-description" [innerHTML]="data[currentInd].description"></div> 
            <p *ngIf="data[currentInd].imgUrl"><img class="slider-img" src="{{data[currentInd].imgUrl}}" /></p> -->
           
            <div *ngIf="currentInd == 0">
                <div class="slider-description">
                    We prepared for you a guided tour to help you get started with TradeAnalytix.
                    <!-- Watch the video to get an overview of TradeAnalytix. -->
                </div>
                <!-- <div class="slider-description mb-3 py-3">
                    Most of the people investing or trading actively in the financial markets end up on the losing side mainly due to indiscipline.
                </div> -->
                <!-- <iframe width="720" height="400" src="https://www.youtube.com/embed/42FLXxQa4H4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            </div>

            <!-- <div *ngIf="currentInd == 1">
                <div class="slider-description mb-3 py-3">
                    TradeAnalytix addresses the root causes of indiscipline in trading by offering the following benefits
                </div>
                <p class="text-center"><img class="slider-img" src="../../../../../assets/images/slider/benefits-graphic.svg" /></p>
            </div>
            <div *ngIf="currentInd == 2">
                <div class="slider-description mb-3 py-3">
                    Adopt a systematic approach to investing or trading by recording your trades in detail with a comprehensive trading journal.
                </div>
                <p class="text-center"><img class="slider-img trade-details-img" src="../../../../../assets/images/slider/trade-details.jpg" /></p>
            </div>
            <div *ngIf="currentInd == 3">
                <div class="slider-description mb-3 py-3">
                    Add your trades in bulk to TradeAnalytix by importing trade history files exported from your brokerage or by filling in our standard template with your trades and uploading it.
                </div>
                <p class="text-center"><img class="slider-img" src="../../../../../assets/images/slider/import-trades.jpg" /></p>
            </div>
            <div *ngIf="currentInd == 4">
                <div class="slider-description mb-3 py-3">
                    Prepare for the day ahead with a meticulous trade plan, which makes you think objectively about the market and your positions without getting influenced by the price movements.
                </div>
                <p class="text-center"><img class="slider-img" src="../../../../../assets/images/slider/trade-plan.jpg" /></p>
            </div>
            <div *ngIf="currentInd == 5">
                <div class="slider-description mb-3 py-3">
                    Analyze potential returns on your trade strategies while varying the input parameters. Update the strategy and re-analyze until you are comfortable with the risk-reward potential of the trade.
                </div>
                <p class="text-center"><img class="slider-img" src="../../../../../assets/images/slider/risk-analysis.jpg" /></p>
            </div>
            <div *ngIf="currentInd == 6">
                <div class="slider-description mb-3 py-3">
                    Compare different trade strategies on a symbol and analyze their profitability in different scenarios so that you can pick a strategy that aligned with your risk appetite and reward expectations.
                </div>
                <p class="text-center"><img class="slider-img comparison-img" src="../../../../../assets/images/slider/strategy-comparison.jpg" /></p>
            </div>
            <div *ngIf="currentInd == 7">
                <div class="row align-items-center">
                    <div class="col-4 slider-description px-3">
                        Learn from reports and metrics derived from your trade history and improve your trading decisions. Reporting categories include portfolio, performance, risk, discipline, rules, and goals
                    </div>
                    <p class="col-8"><img class="reports-img" src="../../../../../assets/images/slider/reports.png" /></p>
                </div>
            </div>
            <div *ngIf="currentInd == 8">
                <div class="slider-description mb-3 py-3">
                    Set trading rules based on your experience and best practices and abide by them. Manual rules act like reminders while executing trades and automatic rules trigger alerts when they are broken.
                </div>
                <p class="text-center"><img class="slider-img" src="../../../../../assets/images/slider/trading-rules.jpg" /></p>
            </div>
            <div *ngIf="currentInd == 9">
                <div class="slider-description mb-3 py-3">
                    To take complete advantage of TradeAnalytix, you should complete the following setups:
                    <ul>
                        <li>Configure data for trade journal</li>
                        <li>Create trading rules</li>
                        <li>Define goals</li>
                        <li>Add or import trades</li>
                    </ul>
                </div>
            </div>
            <div *ngIf="currentInd == 10">
                <div class="slider-description mb-3 py-3">
                    To take complete advantage of TradeAnalytix, you should complete the following setups:
                    <ul class="slider-list">
                        <li>Configure data for trade journal</li>
                        <li>Create trading rules</li>
                        <li>Define goals</li>
                        <li>Add or import trades</li>
                    </ul>
                </div>
            </div> -->
            
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <!-- <span class="float-left" *ngIf="currentInd > 0">
                <button type="button" class="btn btn-back" (click)="priviousSlide()">Back</button>
            </span> -->
            <button type="button" class="btn btn-next" (click)="nextSlide()">Start tour</button>
            <button type="button" class="btn btn-white" (click)="closeModal()">Close</button>
        </div>
    </div>
</div>

<div class="compare-popup guided-tour-modal1" *ngIf="currentInd == 1">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">What is TradeAnalytix?</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                TradeAnalytix is a new age trade planner, journal and decision support tool for retail investors and traders. The app provides users with perspective to plan trades, journal their trades and analyze the data to identify where they need improvement.
            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-white" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-next" (click)="nextSlide()">Next</button>
        </div>
    </div>
</div>

<div class="compare-popup guided-tour-modal1" *ngIf="currentInd == 2">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">TradeAnalytix as a Trade Planner</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                TradeAnalytix is a Trade Planner for the users who use it before executing trades in the brokerage. Our TradeAnalytix product brings transparency to the chaotic trading world in utilizing its features. It gives an advantage in making a precise trade decision and helps you avoid errors due to emotions. From novice to expert traders, everyone can benefit from our TradeAnalytix product!
            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-white" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-next" (click)="nextSlide()">Next</button>
        </div>
    </div>
</div>
<div class="compare-popup guided-tour-modal1" *ngIf="currentInd == 3">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">TradeAnalytix as a Trade Journal</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                TradeAnalytix is a Trade Journal for the users who use it after executing trades in the brokerage. It is a digital journal to keep track of trades executed over a period of time along with hypothesis, rules, and charts to understand trends.
            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-white" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-next" (click)="nextSlide()">Next</button>
        </div>
    </div>
</div>
<div class="compare-popup top-pointer-modal demo-tour-slider" *ngIf="currentInd == 4">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">Demo Mode</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                Enable the switch to turn on the demo mode, which shows dummy data and reports generated from that data. Demo mode gives you an idea of how your data would look like once you start using TradeAnalytix. 
            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-white" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-next" (click)="nextSlide()">Next</button>
        </div>
    </div>
</div>
<div class="compare-popup left-pointer-modal add-trade-slider" *ngIf="currentInd == 5">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">Add Trade</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                Click here to add a trade to our configurable, template-based trade journal.
            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-white" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-next" (click)="nextSlide()">Next</button>
        </div>
    </div>
</div>
<div class="compare-popup left-pointer-modal import-trade-slider" *ngIf="currentInd == 6">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">Import Trades</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                Do you want the ability to all the trades you executed in your brokerage to the journal?<br/><br/>
Click here to import the trade history files exported from your brokerages so that all those trades get added to the journal.

            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-white" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-next" (click)="nextSlide()">Next</button>
        </div>
    </div>
</div>
<div class="compare-popup left-pointer-modal risk-analysis-slider" *ngIf="currentInd == 7">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">Risk Analysis</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                Do you know what would be the price of your options in the future at a specific stock price and implied volatility?<br/>
                Click here to perform risk analysis on your trades through simulation of future scenarios. Optimize your trades based on the risk-reward trade-off.
            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-white" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-next" (click)="nextSlide()">Next</button>
        </div>
    </div>
</div>
<div class="compare-popup left-pointer-modal strategy-comparison-slider" *ngIf="currentInd == 8">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">Strategy Comparison</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                You are bullish on a stock but not sure what trade strategy to adopt?<br/><br/>
                Click here to compare trade strategies on a stock to know their payoff. Pick the right strategy that works for you.
            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-white" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-next" (click)="nextSlide()">Next</button>
        </div>
    </div>
</div>
<div class="compare-popup left-pointer-modal trade-plane-slider" *ngIf="currentInd == 9">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">Trade Plan</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                Click here to add a trade plan to record your market perspective and intended actions during the day. Trade plan can be updated with your notes after market hours as well.
            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-white" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-next" (click)="nextSlide()">Next</button>
        </div>
    </div>
</div>
<div class="compare-popup left-pointer-modal reports-slider" *ngIf="currentInd == 10">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">Reports and Metrics</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                You must have executed thousands of trades over the years but do you know what kinds of trades and strategies are working for you and what are not working?<br/><br/>
                Click here to view reports and metrics derived from your trade history and journal.
            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-white" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-next" (click)="nextSlide()">Next</button>
        </div>
    </div>
</div>
<div class="compare-popup left-pointer-modal trading-rules-slider" *ngIf="currentInd == 11">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">Trading Rules</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                Do you commit the same trading mistakes again and again?<br/><br/>
                Click here to set trading rules based on your experience and abide by these rules while making trade decisions.
            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-white" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-next" (click)="nextSlide()">Next</button>
        </div>
    </div>
</div>
<div class="compare-popup top-pointer-modal notifications-slider" *ngIf="currentInd == 12">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">Notifications</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                Click here to view all the notifications issued to you based on your trading rules.
            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-white" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-next" (click)="nextSlide()">Next</button>
        </div>
    </div>
</div>
<div class="compare-popup top-pointer-modal data-setup-slider" *ngIf="currentInd == 13">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">Data Setup</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                Click here to set up your investment or trading goals and configure the data for the trading journal template.
            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-white" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-next" (click)="nextSlide()">Next</button>
        </div>
    </div>
</div>
<div class="compare-popup top-pointer-modal help-slider" *ngIf="currentInd == 14">
    <div class="compare-pop-inner">
        <div class="slider-header">
            <h3 class="slider-title">Help</h3>
            <span class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </span>
        </div>
        <div class="main-pop-inner">
            <div class="slider-description mb-1">
                Click here to view how-to manual and videos on each feature.
            </div>
        </div>

        <div class="modal-footer py-1 justify-content-center">
            <button type="button" class="btn btn-next" (click)="priviousSlide()">Previous</button>
            <button type="button" class="btn btn-white" (click)="closeModal()">Close</button>
        </div>
    </div>
</div>