@import "../../../../../assets/styles/variable.scss";
.compare-popup {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compare-pop-inner {
    background: #f2f2f2;
    max-width: 400px;
    min-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 0px 0px 16px rgba(157, 157, 157, 0.2);
    border-radius: 10px;
    position: relative;
    // height: 620px;
    // border: 4px solid rgb(40 59 114 / 81%);
}

.main-pop-inner {
    border: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}
.w-60 {
    width: 60% !important;
}
.w-80 {
    width: 80% !important;
}
.main-inner-sec {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    .left-sec {
        width: 36%;
    }
    .right-sec {
        display: flex;
        width: 66%;
    }
}

.right-sec {
    display: flex;
}



.main-inner-top {
    display: flex;
    justify-content: flex-end;
}


.right-close {
    line-height: 0;
    top: 2px;
    right: 5px;
    z-index: 20;
    span {
        cursor: pointer;
    }
    .mat-icon {
        cursor: pointer;
        cursor: pointer;
        height: 15px;
        width: 15px;
        font-size: 18px !important;
    }
}


.slider-inner {
    width: 100%;
}
.slider-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    color: #000;
    text-align: center;
}
.slider-img {
    max-width: 80%;
    line-height: 0;
}



.btn-white {
    background-color: #fff;
    color: #212529;
    font-size: 14px;
    padding: 0.375rem 1.5rem !important;
    border-radius: 4px;
    line-height: 20px;
    border: 2px solid rgb(214 219 225);
    min-width: 110px;
}
.btn-back {
    background-color: #999999;
    color: #ffffff;
    font-size: 12px;
    padding: 0.375rem 1.5rem !important;
    border-radius: 0;
    line-height: 18px;
    min-width: 120px;
}
.btn-next {
    background-color: #2285FA;
    color: #ffffff;
    font-size: 14px;
    padding: 0.375rem 1.5rem !important;
    border-radius: 3px;
    line-height: 18px;
    min-width: 120px;
}
.btn-next-sm {
    background-color: #2285FA;
    color: #ffffff;
    font-size: 14px;
    padding: 0.25rem 1rem !important;
    border-radius: 4px;
    line-height: 18px;
}

@media #{$extra-small} {
    .compare-pop-inner {
        max-width: 90%;
        min-width: 90%;
    }
}

.slider-header {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgb(34 133 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-logo-sm {
    width: 50px;
}
.trade-details-img {
    max-width: 86%;
}
.comparison-img {
    max-width: 60%;
}
.reports-img {
    max-width: 90%;
}
.slider-list {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
    font-size: 18px;
    li {
        list-style-type: disc;
        padding: .5rem 1rem;
    }
}

.guided-tour-modal1 {
    .compare-pop-inner {
        background: #f2f2f2;
        max-width: 550px;
        min-width: 550px;
    }
}
.trade-planner-slider {
    .compare-pop-inner {
        background: #f2f2f2;
        max-width: 650px;
        min-width: 650px;
    }
}

.top-pointer-modal .compare-pop-inner {
    max-width: 380px;
    min-width: 380px;
    position: absolute;
    top: 50px;
    right: 110px;
}
.demo-tour-slider .compare-pop-inner {
    right: -8%;
}
.help-slider .compare-pop-inner {
    right: -12.2%;
}
.notifications-slider .compare-pop-inner {
    right: -12.1%;
}
.data-setup-slider .compare-pop-inner {
    right: -12%;
}
.top-pointer-modal .compare-pop-inner::before {
    top: -23px;
    right: 30%;
    left: auto;
}
.top-pointer-modal .compare-pop-inner::before {
    border: 12px solid transparent;
    border-bottom-color: #f2f2f2;
}
.top-pointer-modal .compare-pop-inner::before, .top-pointer-modal .compare-pop-inner::after {
    position: absolute;
    display: inline-block;
    content: "";
}
.help-slider .compare-pop-inner::before {
    right: 12%;
}
.notifications-slider .compare-pop-inner::before {
    right: 24%;
}


.left-pointer-modal {
    justify-content: flex-start;
    align-items: baseline;
}
.left-pointer-modal .compare-pop-inner {
    max-width: 380px;
    min-width: 380px;
    position: relative;
    top: 95px;
    left: 175px;
}
.left-pointer-modal .compare-pop-inner::before {
    top: 50%;
    right: auto;
    left: -23px;
    margin-top: -12px;
}
.left-pointer-modal .compare-pop-inner::before {
    border: 12px solid transparent;
    border-right-color: #f2f2f2;
}
.left-pointer-modal .compare-pop-inner::before, .left-pointer-modal .compare-pop-inner::after {
    position: absolute;
    display: inline-block;
    content: "";
}
.demo-tour-slider .compare-pop-inner::before {
    top: -23px;
    right: 30%;
    left: auto;
}

.import-trade-slider .compare-pop-inner {
    top: 200px;
}
.trade-book .compare-pop-inner {
    top: 230px;
}
.bulkUpdate .compare-pop-inner {
    top: 262px;
}
.risk-analysis-slider .compare-pop-inner {
    top: 125px;
}
.strategy-comparison-slider .compare-pop-inner {
    top: 70px;
}
.trade-plane-slider .compare-pop-inner {
    top: 360px;
}
.reports-slider .compare-pop-inner {
    top: 330px;
}
.trading-rules-slider .compare-pop-inner {
    top: 378px;
}
.slider-banner img {
    max-width: 100%;
}


.slider-container {
    background: #fff;
    max-width: 600px;
    min-width: 600px;
    height: 450px;
    display: flex;
    flex-direction: row;
    padding: 15px 30px;
    position: relative;
    box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.5);
    border-radius: 4px;
    align-items: center;
}
.slider-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    a {
        font-weight: 600;
        color: #007bff;
        text-decoration: none;
    }
}
.slider-body {
    min-height: 370px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 100%;
    justify-content: center;
}
.buttons-section {
    display: flex;
    margin-top: 25px;
    justify-content: space-evenly;
    width: 100%;
}
.buttons-center {
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
.btn-plain {
    background: #F3F3F3;
    border: 1px solid #b1b9d0;
    border-radius: 4px;
    font-weight: 400;
    font-size: 15px;
    line-height: 42px;
    color: #000000;
    height: 70px;
    width: 160px;
    box-shadow: 0 0 6px rgb(139 144 197);
}
.btn-plain-sm {
    font-size: 12px;
    line-height: 17px;
    height: 28px;
    width: 100%;
    text-align: left;
    border-radius: 2px;
    box-shadow:none;
}
.slider-nav {
    padding: 0 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav-bar {
    padding: 0;
    margin: 0 8px;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 55px;
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
}
.nav-bar::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 55px;
    height: 5px;
    background: #95989A;
    border-radius: 10px;
}
.nav-bar-active::before {
    background: #2285FA
}
.form-control {
    font-size: 13px;
}
.checkbox {
    outline: none;
}