mat-table {
    width: 100%;
}

th.mat-header-cell {
  background: #979797;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #dee2e6;
}

.mat-row:nth-child(even){
  background-color: #F9F9F9;
}

.mat-row:nth-child(odd){
  background-color: transparent;
}

.strategy-id-cell{
  width: 12.5%;
}

.strategy-name-cell{
  width: 12.5%;
}

.stock-name-cell{
  width: 32%;
}

.direction-cell{
  width: 10%;
}

.status-cell{
  width: 10%;
}

.open-date-cell{
  width: 10%;
}

.close-date-cell{
  width: 10%;
}

.action-cell {
  width: 10%;
}
.direction_arrow .material-icons {
  font-size: 1rem;
  align-items: center;
  display: flex;
}