<div class="mb-2 ad-trade-plan-web today-executed-plan-web">
    <mat-accordion multi="false">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Executed Trades
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div class="d-flex">
                    <mat-table [dataSource]="todayExecutedLegsDatasource" class="d-lg-table">

                        <ng-container matColumnDef="strategyUid">
                            <th mat-header-cell *matHeaderCellDef class="cell-w-12">Strategy ID</th>
                            <td mat-cell *matCellDef="let element"> {{element.strategyUid}} </td>
                        </ng-container>

                        <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef class="symbol-cell">Symbol</th>
                            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                        </ng-container>

                        <ng-container matColumnDef="totalAmount">
                            <th mat-header-cell *matHeaderCellDef class="cell-w-12">Total Amount</th>
                            <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="cell-w-12">Action Type</th>
                            <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                        </ng-container>

                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef class="cell-w-12">Quantity</th>
                            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                        </ng-container>

                        <ng-container matColumnDef="strike">
                            <th mat-header-cell *matHeaderCellDef class="cell-w-12">Contract</th>
                            <td mat-cell *matCellDef="let element">{{(element.strikePrice == 0) ? ("") : (element.strikePrice)}}-{{element.optionType}}-{{element.expiryDate | date: 'ddMMMyyyy'}}</td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="strike">
                            <th mat-header-cell *matHeaderCellDef class="cell-w-10">Strike</th>
                            <td mat-cell *matCellDef="let element">{{(element.strikePrice == 0) ? ("") : (element.strikePrice)}} </td>
                        </ng-container>

                        <ng-container matColumnDef="expiryDate">
                            <th mat-header-cell *matHeaderCellDef class="cell-w-12">Expiry Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.expiryDate}} </td>
                        </ng-container> -->

                        <ng-container matColumnDef="entryPrice">
                            <th mat-header-cell *matHeaderCellDef class="cell-w-12">Entry Price</th>
                            <td mat-cell *matCellDef="let element"> {{element.entryPrice | number:'1.0-0'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="exitPrice">
                            <th mat-header-cell *matHeaderCellDef class="cell-w-12">Exit Price</th>
                            <td mat-cell *matCellDef="let element"> {{element.exitPrice | number:'1.0-0'}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="todayExecutedGridColumns"></tr>

                        <tr mat-row *matRowDef="let row; columns: todayExecutedGridColumns;"></tr>
                    </mat-table>

                </div>
                <div *ngIf="todayExecutedLegsDatasource.length==0" class="text-center pt-3">There are no trades executed today.</div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>


<!-- Mobile Code -->
<div class="mb-2 today-executed-plan-mobile">
    <div class="col-12 px-0 justify-content-between mb-1">

        <label class="col-form-label pt-0 pl-4 w-100 pr-2">Executed Trades <span class="cursor float-right" (click)="Collaps(i)">
            <i class="material-icons material-icons-outlined">{{hideRuleContent[i] ? 'add_circle_outline' :
                'remove_circle_outline'}}  </i>              
            </span></label>
        <div class="trade-plan-table" *ngIf="!hideRuleContent[i]">
            <!-- Grid row -->
            <div class="trade-plan-mobile-grid">
                <div class="row mb-1 pl-3">
                    <div class="col-7 pl-4 cell-header">Strategy ID</div>
                    <div class="col-5 cell-header cell-header pl-2">Symbol</div>
                </div>
                <div class="pb-2 pt-3 mobile-grid-row" *ngFor="let element of todayexecutedGridData; let i=index">
                    <div class="row">
                        <div class="col-7 pl-3 mobile-grid-cell">
                            <span class="cursor" (click)="Collaps(i)">
                                    <i class="material-icons">{{hideRuleContent[i] ? 'keyboard_arrow_up' :
                                        'keyboard_arrow_right'}}</i>
                                </span> {{element.strategyUid}}
                        </div>
                        <div class="col-5">{{element.symbol}}</div>
                    </div>
                    <div class="pl-3" *ngIf="hideRuleContent[i]">
                        <div class="row py-1">
                            <div class="col-7 pl-4">
                                Action Type
                            </div>
                            <div class="col-5">
                                {{element.action}}
                            </div>
                        </div>
                        <div class="row py-1">
                            <div class="col-7 pl-4">
                                Quantity
                            </div>
                            <div class="col-5">
                                {{element.quantity}}
                            </div>
                        </div>
                        <div class="row py-1">
                            <div class="col-7 pl-4">
                                Strike
                            </div>
                            <div class="col-5">
                                {{element.strikePrice}}
                            </div>
                        </div>
                        <div class="row py-1">
                            <div class="col-6 pl-4">
                                Expiry Date
                            </div>
                            <div class="col-6 text-right">
                                <span>{{element.expiryDate}}</span>
                            </div>
                        </div>

                        <div class="row py-1">
                            <div class="col-6 pl-4">
                                Option Type
                            </div>
                            <div class="col-6 text-right">
                                <span>{{element.optionType}}</span>
                            </div>
                        </div>

                        <div class="row py-1">
                            <div class="col-6 pl-4">
                                Entry Price
                            </div>
                            <div class="col-6 text-right">
                                <span>{{element.entryPrice | number:'1.0-0'}}</span>
                            </div>
                        </div>

                        <div class="row py-1">
                            <div class="col-6 pl-4">
                                Exit Price
                            </div>
                            <div class="col-6 text-right">
                                <span>{{element.exitPrice | number:'1.0-0'}} </span>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>