<ng-container [ngSwitch]="currentState">
  <ng-container *ngSwitchCase="1">
    <!--entry first-->
    <div class="addnew-first">
      <div class="trade-form">
        <div class="d-flex justify-content-center align-items-center">
          <label class="col-form-label px-2">Enter Symbol</label>
          <app-trade-search></app-trade-search>
          <button class="btn btn-enter ml-2" (click)="enterSymbol()">ENTER</button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <!-- entry second -->
    <div class="addnew-second">
      <div class="trade-rate">
        <div class="trade-left-name">
          <div class="trade-name">
            <h5>
              Netflix Inc.
            </h5>
          </div>
          <div class="trade-name-rate">
            <span class="trade-r">$429.32</span>
            <span class="trade-rr">
              <img src="../../../../../assets/images/Icon awesome-arrow-up.png" alt="" />
              -6.93 (-1.59%)
            </span>
          </div>
        </div>

        <div class="trade-right-search">
          <div class="form-group has-search">
            <input class="form-control" placeholder="Symbol" type="text" />
            <img alt="" class="form-icon" src="../../../../../assets/images/icon/Icon awesome-search.png" />
          </div>
        </div>
      </div>

      <div class="trade-rate-box">
        <div class="trade-rate-heading">
          <h6>
            Key Statistics
          </h6>
        </div>

        <div class="trade-rate-sec">
          <div class="rate-box">
            <div class="rate-box-left">
              <div class="bxo-name">
                <span>
                  Prev Close
                </span>

                <h6>
                  436.25
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Today's Open
                </span>

                <h6>
                  440.14
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Day's Range
                </span>

                <h6>
                  427.18 - 439.09
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  52-Wk Range
                </span>

                <h6>
                  252.28 - 458.97
                </h6>
              </div>
            </div>
            <div class="rate-box-right">
              <div class="bxo-name">
                <span>
                  Market Cap
                </span>

                <h6>
                  188.81B
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Volume
                </span>

                <h6>
                  5.19M
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Avg. Volume
                </span>

                <h6>
                  9.07M
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Beta
                </span>

                <h6>
                  0.97
                </h6>
              </div>
            </div>
          </div>

          <div class="rate-box">
            <div class="rate-box-left">
              <div class="bxo-name">
                <span>
                  Enterprise Value
                </span>

                <h6>
                  206.40B
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Revenue
                </span>

                <h6>
                  21.4B
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Gross Margin
                </span>

                <h6>
                  35.2%
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Oper. Margin
                </span>

                <h6>
                  14.6%
                </h6>
              </div>
            </div>
            <div class="rate-box-right">
              <div class="bxo-name">
                <span>
                  Total Debt
                </span>

                <h6>
                  16.27B
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Free Cash Flow
                </span>

                <h6>
                  13.31B
                </h6>
              </div>

            </div>
          </div>

          <div class="rate-box">
            <div class="rate-box-left">
              <div class="bxo-name">
                <span>
                  Price/Earnings
                </span>

                <h6>
                  90.62
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Price/Sales
                </span>

                <h6>
                  9.45
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Price/Book
                </span>

                <h6>
                  23.41
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Dividend Yield
                </span>

                <h6>
                  N/A
                </h6>
              </div>
            </div>
            <div class="rate-box-right">
              <div class="bxo-name">
                <span>
                  Short Ratio
                </span>

                <h6>
                  1.27%
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Institutional Holding
                </span>

                <h6>
                  83%
                </h6>
              </div>

            </div>
          </div>

          <div class="rate-box-s">
            <div class="rate-box-s-left">
              <div class="bxo-name">
                <span>
                  30-day Moving Average
                </span>

                <h6>
                  385.62
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  Stock Trend
                </span>

                <h6>
                  Bullish
                </h6>
              </div>
              <div class="bxo-name">
                <span>
                  7-day RSI
                </span>

                <h6>
                  27.82
                </h6>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="trad-border"></div>

    <!-- entry-third -->
    <div class="trade-stoack-main">
      <div class="trade-sec">
        <h6>Select a pre-defined strategy or build custom strategy with stocks
          and options</h6>
        <div class="row">
          <div class="col-sm-12 col-md-10 col-lg-10">
            <div class="trade-section">
              <div class="Trade-type">
                <div class="form-group">
                  <select class="form-control select-input" id="inputState">
                    <option>Trade Strategy</option>
                    <option>Long Stock</option>
                    <option>Short Stock</option>
                    <option>Long Call</option>
                    <option>Short Call</option>
                    <option>Long Put</option>
                    <option>Covered Call</option>
                    <option>Married Put</option>
                    <option>Protective Put</option>
                    <option>Bull Call Spread</option>
                    <option>Bull Put Spread</option>
                    <option>Long Strangle</option>
                    <option>Short Strangle</option>
                    <option>Long Straddle</option>
                    <option>Short Straddle</option>
                    <option>Iron Condor</option>
                    <option>Protective Collar</option>
                    <option>Long Call Butterfly Spread</option>
                    <option>Long Call Calendar Spread</option>
                    <option>Long Put Calendar Spread</option>
                    <option selected>Custom</option>
                  </select>
                </div>
              </div>
              <div class="search_btn m-r gap-btn" *ngIf="!stockAdded">
                <a class="btn btn-add" (click)="addStock()"> Add Stock</a>
              </div>
              <div class="search_btn m-r gap-btn">
                <a class="btn btn-secondary" (click)="addOption()" *ngIf="stockOptions.length < 4">
                  Add Option</a>
              </div>
            </div>
          </div>
          <div class="col-sm-0 col-md-2 col-lg-2"></div>
        </div>
      </div>
    </div>

    <div class="trade-cards-section">
      <div class="trade-card-box" *ngIf="stockAdded">
        <div class="top-heading" (click)="deleteStock()">
          <img src="../../../../../assets/images/icon/delete.png" alt="" class="img-fluid">
        </div>
        <div class="card-main">
          <div class="card-left">
            <span>Select Action</span>
          </div>
          <div class="card-right">
            <div class="form-group">
              <select id="inputState" class="form-control select-input" [(ngModel)]="stockEntry.actionType">
                <option value="BUY_TO_OPEN" selected data-default>Buy to Open</option>
                <option value="SELL_TO_OPEN">Sell to Open</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-main">
          <div class="card-left">
            <span>Enter Quantity</span>
          </div>
          <div class="card-right">
            <div class="form-group">
              <input type="number" (keydown)="preventNegatives($event, false)" min="0" class="form-control cards-input"
                [(ngModel)]="stockEntry.quantity" />
            </div>
          </div>
        </div>
        <div class="card-main">
          <div class="card-left">
            <span>Stock Price </span>
          </div>
          <div class="card-right">
            <div class="form-group">
              <input type="number" pattern="^\d*(\.\d{0,2})?$" (change)="checkForDecimalValidation($event)" step="0.01"
                (keydown)="preventNegatives($event, true)" min="0" class="form-control cards-input" placeholder=""
                [(ngModel)]="stockEntry.price" />
            </div>
          </div>
        </div>
        <div class="card-main">
          <div class="card-left">
            <span>Net Debit</span>
          </div>
          <div class="card-right">
            <h6>{{stockEntry.quantity && stockEntry.price ? (stockEntry.quantity * stockEntry.price).toFixed(2) : 0}}
            </h6>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let item of stockOptions;let index = index">
        <div class="trade-card-box card-m">
          <div class="top-heading cursor-pointer" (click)="deleteStockOption(index)">
            <img src="../../../../../assets/images/icon/delete.png" alt="" class="img-fluid">
          </div>
          <div class="card-main">
            <div class="card-left">
              <span>Select Action</span>
            </div>
            <div class="card-right">
              <div class="form-group">
                <select id="inputState" class="form-control select-input" [(ngModel)]="stockOptions[index].actionType">
                  <option value="BUY_TO_OPEN" selected data-default>Buy to Open</option>
                  <option value="SELL_TO_OPEN">Sell to Open</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card-main">
            <div class="card-left">
              <span>Enter Contracts</span>
            </div>
            <div class="card-right">
              <div class="form-group">
                <input type="number" (keydown)="preventNegatives($event, false)" min="0"
                  class="form-control cards-input" placeholder="" [(ngModel)]="stockOptions[index].contracts" />
              </div>
            </div>
          </div>
          <div class="card-main">
            <div class="card-left">
              <span>Strike Price</span>
            </div>
            <div class="card-right">
              <div class="form-group">
                <input type="number" (keydown)="preventNegatives($event, true)" pattern="^\d*(\.\d{0,2})?$"
                  (change)="checkForDecimalValidation($event)" step="0.01" min="0" class="form-control cards-input"
                  placeholder="" [(ngModel)]="stockOptions[index].strikePrice" />
              </div>
            </div>
          </div>

          <div class="card-main">
            <div class="card-left">
              <span>Option Type</span>
            </div>
            <div class="card-right">
              <div class="form-group">
                <select id="inputState" class="form-control select-input" [(ngModel)]="stockOptions[index].optionType">
                  <option value="call" selected data-default>Call</option>
                  <option value="put">Put</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card-main">
            <div class="card-left">
              <span>Expiry Date</span>
            </div>
            <div class="card-right">
              <div class="datepicker-group">
                <input matInput [matDatepicker]="expireDate" (click)="expireDate.open()" id="expireDate" (dateChange)="addEvent('input', $event)" name="stockOptions[index].expireDate" />
                <mat-datepicker-toggle matSuffix [for]="expireDate"></mat-datepicker-toggle>
                <mat-datepicker #expireDate></mat-datepicker>
              </div>
            </div>
          </div>
          <div class="card-main">
            <div class="card-left">
              <span>Price</span>
            </div>
            <div class="card-right">
              <div class="form-group">
                <input type="number" (keydown)="preventNegatives($event, true)" pattern="^\d*(\.\d{0,2})?$"
                  (change)="checkForDecimalValidation($event)" step="0.01" min="0" class="form-control cards-input"
                  placeholder="" [(ngModel)]="stockOptions[index].price" />
              </div>
            </div>
          </div>
          <div class="card-main">
            <div class="card-left">
              <span>Net Credit</span>
            </div>
            <div class="card-right">
              <h6>
                {{stockOptions[index].contracts && stockOptions[index].price ? (stockOptions[index].contracts * stockOptions[index].price * 100).toFixed(2) : 0}}
              </h6>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="trad-border"></div>

    <!-- next-button -->
    <div class="order-btn text-center" *ngIf="
        !promptPerformRiskAnalysis &&
        !performRiskAnalysis &&
        !displayRiskAnalysis
        && (stockAdded || stockOptions.length > 0)
      ">
      <a class="btn btn-next" (click)="displayRiskAnalysis = true">Next</a>
    </div>

    <!-- risk-analysis -->
    <!-- <div class="trade-risk" *ngIf="promptPerformRiskAnalysis && !displayRiskAnalysis">
      <div class="row d-flex  align-items-center">
        <div class="col-sm-6 col-md-6 col-g-5 ">
          <h6>
            Do you want to perform risk analysis of the trade strategy by simulation?
          </h6>
        </div>

        <div class="col-sm-6 col-md-4">
          <a class="btn btn-yes"
            (click)="performRiskAnalysis = true; displayRiskAnalysis = true; activateRiskAnalysisStep()">Yes</a>
          <a class="btn btn-no" (click)="promptPerformRiskAnalysis = false; navigateToTradeThesis()">No</a>
        </div>
      </div>
    </div> -->
  </ng-container>

  <ng-container *ngIf="displayRiskAnalysis">
    <!-- risk-increas and decreas -->
    <div class="trade-risk-section">
      <div class="trade-risk-heading">
        <h6>
          Risk Analysis By Simulation
        </h6>

        <p>
          Analyze the profitability for a chosen stock price range by changing
          the implied volatility and days to expiration of the option contracts.
        </p>
      </div>

      <div class="trade-risk-stock">
        <div class="risk-box risk-af">
          <div class="risk-stock-seciton risk-bt">
            <div class="stock-name">
              <span>Stock Lower Band</span>
            </div>

            <div class="stock-inc">
              <a (click)="decreaseStockLowerBand()" (mousedown)="mousedown('decreaseStockLowerBand')"
                (mouseup)="mouseup()" (mouseleave)="mouseup()">
                <img src="../../../../../assets/images/icon/Group 285.png" alt="" />
              </a>
              <div class="stock-p">
                <input type="number" class="hide-bars" min="-100" max="0" minlength="-100" maxlength="0"
                  [(ngModel)]="stockEntry.lowerBound" (input)="enforceMaxLength($event, -100, 0)">
                <p>&#37;</p>
              </div>
              <a (click)="increaseStockLowerBand()" (mousedown)="mousedown('increaseStockLowerBand')"
                (mouseup)="mouseup()" (mouseleave)="mouseup()">
                <img src="../../../../../assets/images/icon/Group 283.png" alt="" />
              </a>
            </div>
          </div>
          <div class="risk-stock-seciton risk-bt">
            <div class="stock-name">
              <span>Stock Upper Band</span>
            </div>

            <div class="stock-inc">
              <a (click)="decreaseStockUpperBand()" (mousedown)="mousedown('decreaseStockUpperBand')"
                (mouseup)="mouseup()" (mouseleave)="mouseup()">
                <img src="../../../../../assets/images/icon/Group 285.png" alt="" />
              </a>
              <div class="stock-p">
                <input (keydown)="preventNegatives($event, true)" type="number" class="hide-bars" min="0" max="100"
                  minlength="0" maxlength="100" [(ngModel)]="stockEntry.upperBound"
                  (input)="enforceMaxLength($event, 0, 100)">
                <p>&#37;</p>
              </div>
              <a (click)="increaseStockeUpperBand()" (mousedown)="mousedown('increaseStockeUpperBand')"
                (mouseup)="mouseup()" (mouseleave)="mouseup()">
                <img src="../../../../../assets/images/icon/Group 283.png" alt="" />
              </a>
            </div>
          </div>


          <div class="risk-stock-seciton">
            <div class="stock-name">
              <span>
                Risk Free Rate
              </span>
            </div>

            <div class="stock-inc">
              <a (click)="decreaseRiskFreeRate()" (mousedown)="mousedown('decreaseRiskFreeRate')" (mouseup)="mouseup()"
                (mouseleave)="mouseup()">
                <img src="../../../../../assets/images/icon/Group 285.png" alt="" />
              </a>
              <div class="stock-p">
                <input (keydown)="preventNegatives($event, true)" type="number" class="hide-bars" min="0" max="100"
                  minlength="0" maxlength="100" [(ngModel)]="stockEntry.riskFreeRate" (input)="enforceMaxLength($event, 0, 100)">
                <p>&#37;</p>
              </div>
              <a (click)="increaseRiskFreeRate()" (mousedown)="mousedown('increaseRiskFreeRate')" (mouseup)="mouseup()"
                (mouseleave)="mouseup()">
                <img src="../../../../../assets/images/icon/Group 283.png" alt="" />
              </a>
            </div>
          </div>
        </div>

        <div class="risk-box risk-af card-m" *ngFor="let item of stockOptions;let index=index">
          <div class="risk-stock-seciton risk-bt">
            <div class="stock-name">
              <span>
                Days Left
              </span>
            </div>

            <div class="stock-inc">
              <a (click)="decreaseDaysLeft(index)" (mousedown)="mousedown('decreaseDaysLeft', index)"
                (mouseup)="mouseup()" (mouseleave)="mouseup()">
                <img src="../../../../../assets/images/icon/Group 285.png" alt="" />
              </a>
              <span>
                <input (keydown)="preventNegatives($event, true)" type="number" class="hide-bars" step="0.1" min="0"
                  max="730" minlength="0" maxlength="730" [(ngModel)]="item.daysLeft">
              </span>
              <a (click)="increaseDaysLeft(index)" (mousedown)="mousedown('increaseDaysLeft', index)"
                (mouseup)="mouseup()" (mouseleave)="mouseup()">
                <img src="../../../../../assets/images/icon/Group 283.png" alt="" />
              </a>
            </div>

          </div>

          <div class="risk-stock-seciton">
            <div class="stock-name">
              <span>
                Implied Volatility
              </span>
            </div>

            <div class="stock-inc">
              <a (click)="decreaseImpliedValue(index)" (mousedown)="mousedown('decreaseImpliedValue', index)"
                (mouseup)="mouseup()" (mouseleave)="mouseup()">
                <img src="../../../../../assets/images/icon/Group 285.png" alt="" />
              </a>
              <div class="stock-p">
                <input type="number" class="hide-bars" min="1" max="500" minlength="1" maxlength="500"
                  [(ngModel)]="item.impliedVolatility" (input)="enforceMaxLength($event, 1, 500)">
                <p>&#37;</p>
              </div>
              <a (click)="increaseImpliedValue(index)" (mousedown)="mousedown('increaseImpliedValue', index)"
                (mouseup)="mouseup()" (mouseleave)="mouseup()">
                <img src="../../../../../assets/images/icon/Group 283.png" alt="" />
              </a>
            </div>

          </div>

          <div class="current-stock">
            <p>Current IV: <span>{{item.initialImpliedVolatility}}</span></p>
          </div>
        </div>
      </div>
    </div>


    <!-- next-button -->
    <div class="order-btn text-center">
      <a class="btn btn-next" (click)="analyzeRisk = true;initRiskAnalysis();">Analyze</a>
      <a class="btn btn-skip" *ngIf="!analyzeRisk" (click)="next()">Skip Risk Analysis</a>
    </div>
  </ng-container>

  <ng-container *ngIf="analyzeRisk">
    <!-- risk-tabs -->
    <div class="trade-risk-tabs">
      <div class="tab" role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active" role="presentation">
            <a aria-controls="home" aria-expanded="true" data-toggle="tab" href="#Section1" role="tab">Data Table</a>
          </li>
          <li class="" role="presentation">
            <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#Section2" role="tab">Charts</a>
          </li>
        </ul>
        <div class="tab-content tabs">
          <div class="tab-pane active" id="Section1" role="tabpanel">
            <div class="risk-tabs-table">

              <div class="risk-table" *ngIf="stockAdded">

                <div class="trad-risk-head">
                  <h6>
                    {{riskAnalysisResults[0].stockPriceResult.heading}}
                  </h6>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th>Change</th>
                      <th>Stock Price</th>
                      <th>Gain/Loss</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let item of riskAnalysisResults;let index=index">
                      <td
                        [ngClass]="{ 'trade-rd' :item.stockPriceResult.gainLoss >= 0, 'trade-rdd':item.stockPriceResult.gainLoss < 0}">
                        {{item.stockPriceResult.change + '%'}}</td>
                      <td>{{item.stockPriceResult.stockPrice}}</td>
                      <td
                        [ngClass]="{ 'trade-rd' :item.stockPriceResult.gainLoss >= 0, 'trade-rdd':item.stockPriceResult.gainLoss < 0}">
                        {{item.stockPriceResult.gainLoss}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-container *ngFor="let item of riskAnalysisResults[0].optionResults;let index=index">
                <div class="risk-table">

                  <div class="trad-risk-head">
                    <h6>
                      {{item.heading}}
                    </h6>
                  </div>
                  <table>
                    <thead>
                      <tr>
                        <th>
                          {{riskAnalysisResults[0].optionResults[index].optionType == 'call' ? 'Call Price' : 'Put Price'}}
                        </th>
                        <th>
                          {{riskAnalysisResults[0].optionResults[index].optionType == 'call' ? 'Call Value' : 'Put Value'}}
                        </th>
                        <th>Gain/Loss</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let ritem of riskAnalysisResults;let rowIndex=index">
                        <td
                          [ngClass]="{ 'trade-rd' :ritem.optionResults[index].gainLoss >= 0, 'trade-rdd':ritem.optionResults[index].gainLoss < 0}">
                          {{ritem.optionResults[index].price}}</td>
                        <td>{{ritem.optionResults[index].value}}</td>
                        <td
                          [ngClass]="{ 'trade-rd' :ritem.optionResults[index].gainLoss >= 0, 'trade-rdd':ritem.optionResults[index].gainLoss < 0}">
                          {{'$(' + ritem.optionResults[index].gainLoss + ')'}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>


              <div class="risk-tables">

                <div class="trad-risk-head">
                  <h6>
                    Net P&L
                  </h6>
                </div>
                <table>
                  <thead>
                    <tr>

                      <th>Gain/Loss</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let item of riskAnalysisResults;let index=index">
                      <td
                        [ngClass]="{ 'trade-rd' :item.totalSummary.gainLoss >= 0, 'trade-rdd':item.totalSummary.gainLoss < 0}">
                        {{'$(' + item.totalSummary.gainLoss + ')'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="Section2" role="tabpanel">
            <div class="charts">
              <img src="../../../../../assets/images/icon/Image 24.png" alt="" class="img-responsive" />
            </div>
          </div>
        </div>
      </div>

      <div class="trad-border"></div>

      <div class="order-btn text-center">
        <a class="btn btn-next" (click)="next()">Next</a>
      </div>
    </div>
  </ng-container>
</ng-container>