      <!-- ste-sixs -->
      <div class="trade-risk-managment">
        <div class="container-fluid">

          <div class="trade-stategy-heading">
            <h6>
              Risk Management
            </h6>
          </div>

          <div class="trade-thesis-inner">

            <div class="tranding-thesis">
              <div class="left-thesis">
                <h6>Mindset at trade execution</h6>
              </div>
              <div class="right-thesis">
                <div class="form-group">
                  <select class="form-control select-input" id="inputState">
                    <option>Call</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="tranding-thesis">
              <div class="left-thesis">
                <h6>% of total capital invested on the trade</h6>
              </div>
              <div class="right-thesis">
                <div class="form-group">
                  <input class="form-control" placeholder="05-May-2020" type="date">
                </div>
              </div>
            </div>

            <div class="tranding-thesis">
              <div class="left-thesis">
                <h6>% of the capital left as cash post this trade</h6>
              </div>
              <div class="right-thesis">
                <div class="form-group">
                  <select class="form-control select-input" id="inputState">
                    <option>Call</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="tranding-thesis">
              <div class="left-thesis">
                <h6>% amount hedged</h6>
              </div>
              <div class="right-thesis">
                <div class="form-group">
                  <input class="form-control" placeholder="263" type="text">
                </div>
              </div>
            </div>

            <div class="tranding-thesis">
              <div class="left-thesis">
                <h6>Stoploss set for the stock</h6>
              </div>
              <div class="right-thesis">
                <div class="form-group">
                  <input class="form-control" placeholder="05-May-2020" type="date">
                </div>
              </div>
            </div>

            <div class="tranding-thesis">
              <div class="left-thesis">
                <h6>Is this a contrarion trade?</h6>
              </div>
              <div class="right-thesis">
                <div class="form-group">
                  <select class="form-control select-input" id="inputState">
                    <option>Call</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="tranding-thesis">
              <div class="left-thesis">
                <h6>Specify the technical indicator used for the trade</h6>
              </div>
              <div class="right-thesis">
                <div class="form-group">
                  <select class="form-control select-input" id="inputState">
                    <option>Call</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="tranding-thesis">
              <div class="left-thesis">
                <h6>Specify the value</h6>
              </div>
              <div class="right-thesis">
                <div class="form-group">
                  <input class="form-control" placeholder="05-May-2020" type="date">
                </div>
              </div>
            </div>
          </div>


          <div class="trade-btn-p">
            <a class=" btn-pre" (click)="previous()">Previous</a>
            <a class="btn-pre" (click)="next()">Entry Rules </a>

          </div>
        </div>
      </div> 