<div class="container-fluid">
    <div class="trade-strategies-sec">

        <div class="add-new-trade-btn">
            <a class="add-new" (click)="addRule('Add New', 'ADD RULE')" >

                <img src="../../../../../assets/images/icon/Icon ionic-ios-add-circle.png" alt="">
                ADD NEW RULE
            </a>

        </div>
        <div class="trade-strategies-table">
            <div class="card mb-4">
                <div class="card-body">

                    <!-- trade-btns -->

                    <div class="trade-st-box">
                        <div class="st-slect-sections">
                            <div class="trade-form">

                                <div class="form-group has-search">
                                    <input type="text" class="form-control" placeholder="Search for rules">
                                    <img src="../../../../../assets/images/icon/Icon awesome-search.png" alt=""
                                        class="form-icon">

                                </div>
                            </div>
                        </div>
                        <div class="right-box">

                            <div class="st-slect-section">

                                <div class="trade-sel">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Source</option>
                                        <option>Draft</option>
                                        <option>Open</option>
                                        <option>Closed</option>
                                        <option>Expired</option>
                                    </select>
                                    <img src="../../../../../assets/images/icon/Icon ionic-ios-arrow-down.png" alt=""
                                        class="form-icon-down">
                                </div>
                            </div>
                            <div class="st-slect-section select-btn">
                                <button class="btn btn-apply">APPLY FILTERS</button> &nbsp; &nbsp;
                                <button type="button" class="btn btn-link ">Clear</button>

                            </div>
                        </div>



                    </div>

                    <!-- Grid row -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Type </th>
                                <th>Description</th>
                                <th>Source</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-ac cursor-pointer">

                                
                                <td>08 May 2020</td>
                                <td>Entry</td>
                                <td>Always hedge your position to avoid significant loss</td>
                                <td>Experience</td>
                                <td>
                                    <div class="tabel-action">
                                        <div class="left-edit" (click)="addRule('Edit', 'Update')">
                                            <img src="../../../../../assets/images/Icon material-edit.png" alt="">
                                        </div>
                                        <div class="right-delete">
                                            <img src="../../../../../assets/images/Icon material-delete.png" alt="">
                                        </div>
                                    </div>
                                </td>
                             
                            </tr>
                            <tr class="table-ac cursor-pointer">

                                
                                <td>07 May 2020</td>
                                <td>Exit</td>
                                <td>Do not close the position before the target price is reached</td>
                                <td>Best Practice</td>
                                <td>
                                    <div class="tabel-action">
                                        <div class="left-edit" (click)="addRule('Edit', 'Update')">
                                            <img src="../../../../../assets/images/Icon material-edit.png" alt="">
                                        </div>
                                        <div class="right-delete">
                                            <img src="../../../../../assets/images/Icon material-delete.png" alt="">
                                        </div>
                                    </div>
                                </td>
                         

                            </tr>
                            <tr class="table-ac cursor-pointer">

                                
                                <td>08 May 2020</td>
                                <td>Entry</td>
                                <td>Do not buy for fear of missing out on a rally or opportunity</td>
                                <td>Lesson Learnt</td>
                                <td>
                                    <div class="tabel-action">
                                        <div class="left-edit" (click)="addRule('Edit', 'Update')">
                                            <img src="../../../../../assets/images/Icon material-edit.png" alt="">
                                        </div>
                                        <div class="right-delete">
                                            <img src="../../../../../assets/images/Icon material-delete.png" alt="">
                                        </div>
                                    </div>
                                </td>
                             

                            </tr>
                            <tr class="table-ac cursor-pointer">

                                
                                <td>07 May 2020</td>
                                <td>Exit</td>
                                <td>Always hedge your position to avoid significant loss</td>
                                <td>Experience</td>
                                <td>
                                    <div class="tabel-action">
                                        <div class="left-edit" (click)="addRule('Edit', 'Update')">
                                            <img src="../../../../../assets/images/Icon material-edit.png" alt="">
                                        </div>
                                        <div class="right-delete">
                                            <img src="../../../../../assets/images/Icon material-delete.png" alt="">
                                        </div>
                                    </div>
                                </td>
                              

                            </tr>
                            <tr class="table-ac cursor-pointer">

                                
                                <td>07 May 2020</td>
                                <td>Exit</td>
                                <td>Always hedge your position to avoid significant loss</td>
                                <td>Best Practice</td>
                                <td>
                                    <div class="tabel-action">
                                        <div class="left-edit" (click)="addRule('Edit', 'Update')">
                                            <img src="../../../../../assets/images/Icon material-edit.png" alt="">
                                        </div>
                                        <div class="right-delete">
                                            <img src="../../../../../assets/images/Icon material-delete.png" alt="">
                                        </div>
                                    </div>
                                </td>
                               

                            </tr>
                            <tr class="table-ac cursor-pointer">

                                
                                <td>07 May 2020</td>
                                <td>Exit</td>
                                <td>Always hedge your position to avoid significant loss</td>
                                <td>Lesson Learnt</td>
                                <td>
                                    <div class="tabel-action">
                                        <div class="left-edit" (click)="addRule('Edit', 'Update')">
                                            <img src="../../../../../assets/images/Icon material-edit.png" alt="">
                                        </div>
                                        <div class="right-delete">
                                            <img src="../../../../../assets/images/Icon material-delete.png" alt="">
                                        </div>
                                    </div>
                                </td>
                            

                            </tr>
                            <tr class="table-ac cursor-pointer">

                                
                                <td>07 May 2020</td>
                                <td>Exit</td>
                                <td>Always hedge your position to avoid significant loss</td>
                                <td>Best Practice</td>
                                <td>
                                    <div class="tabel-action">
                                        <div class="left-edit" (click)="addRule('Edit', 'Update')">
                                            <img src="../../../../../assets/images/Icon material-edit.png" alt="">
                                        </div>
                                        <div class="right-delete">
                                            <img src="../../../../../assets/images/Icon material-delete.png" alt="">
                                        </div>
                                    </div>
                                </td>
                              
                            </tr>
                            <tr class="table-ac cursor-pointer">

                                
                                <td>07 May 2020</td>
                                <td>Exit</td>
                                <td>Always hedge your position to avoid significant loss</td>
                                <td>Experience</td>
                                <td>
                                    <div class="tabel-action">
                                        <div class="left-edit" (click)="addRule('Edit', 'Update')">
                                            <img src="../../../../../assets/images/Icon material-edit.png" alt="">
                                        </div>
                                        <div class="right-delete">
                                            <img src="../../../../../assets/images/Icon material-delete.png" alt="">
                                        </div>
                                    </div>
                                </td>
                             
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

