<div class="container">
    <div class="trade-st-box">
        <label class="m-0">Filter By</label>
        <div class="px-2">
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="1">Source</option>
                <option value="2">Draft</option>
                <option value="3">Open</option>
                <option value="4">Closed</option>
                <option value="5">Expired</option>
            </select>
        </div>
        <a class="add-new" (click)="addRule('Add', 'SAVE')">
            <mat-icon class="mat-icon-sm text-success">add_circle</mat-icon>
            ADD RULE
        </a>
    </div>

    <div class="trade-strategies-table">
        <!-- Grid row -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type </th>
                    <th>Description</th>
                    <th>Source</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>08 May 2020</td>
                    <td>Entry</td>
                    <td>Always hedge your position to avoid significant loss</td>
                    <td>Experience</td>
                    <td>
                        <mat-icon class="text-success mat-icon-sm cursor" (click)="addRule('Edit', 'Update')">edit</mat-icon>
                        <mat-icon class="mat-icon-sm cursor ml-2">delete</mat-icon>
                    </td>
                 
                </tr>
                <tr>
                    <td>07 May 2020</td>
                    <td>Exit</td>
                    <td>Do not close the position before the target price is reached</td>
                    <td>Best Practice</td>
                    <td>
                        <mat-icon class="text-success mat-icon-sm cursor" (click)="addRule('Edit', 'Update')">edit</mat-icon>
                        <mat-icon class="mat-icon-sm cursor ml-2">delete</mat-icon>
                    </td>
                </tr>
                <tr>
                    <td>08 May 2020</td>
                    <td>Entry</td>
                    <td>Do not buy for fear of missing out on a rally or opportunity</td>
                    <td>Lesson Learnt</td>
                    <td>
                        <mat-icon class="text-success mat-icon-sm cursor" (click)="addRule('Edit', 'Update')">edit</mat-icon>
                        <mat-icon class="mat-icon-sm cursor ml-2">delete</mat-icon>
                    </td>
                 

                </tr>
                <tr>

                    
                    <td>07 May 2020</td>
                    <td>Exit</td>
                    <td>Always hedge your position to avoid significant loss</td>
                    <td>Experience</td>
                    <td>
                        <mat-icon class="text-success mat-icon-sm cursor" (click)="addRule('Edit', 'Update')">edit</mat-icon>
                        <mat-icon class="mat-icon-sm cursor ml-2">delete</mat-icon>
                    </td>
                  

                </tr>
                <tr>
                    <td>07 May 2020</td>
                    <td>Exit</td>
                    <td>Always hedge your position to avoid significant loss</td>
                    <td>Best Practice</td>
                    <td>
                        <mat-icon class="text-success mat-icon-sm cursor" (click)="addRule('Edit', 'Update')">edit</mat-icon>
                        <mat-icon class="mat-icon-sm cursor ml-2">delete</mat-icon>
                    </td>
                   

                </tr>
                <tr>
                    <td>07 May 2020</td>
                    <td>Exit</td>
                    <td>Always hedge your position to avoid significant loss</td>
                    <td>Lesson Learnt</td>
                    <td>
                        <mat-icon class="text-success mat-icon-sm cursor" (click)="addRule('Edit', 'Update')">edit</mat-icon>
                        <mat-icon class="mat-icon-sm cursor ml-2">delete</mat-icon>
                    </td>
                

                </tr>
                <tr>
                    <td>07 May 2020</td>
                    <td>Exit</td>
                    <td>Always hedge your position to avoid significant loss</td>
                    <td>Best Practice</td>
                    <td>
                        <mat-icon class="text-success mat-icon-sm cursor" (click)="addRule('Edit', 'Update')">edit</mat-icon>
                        <mat-icon class="mat-icon-sm cursor ml-2">delete</mat-icon>
                    </td>
                  
                </tr>
                <tr>
                    <td>07 May 2020</td>
                    <td>Exit</td>
                    <td>Always hedge your position to avoid significant loss</td>
                    <td>Experience</td>
                    <td>
                        <mat-icon class="text-success mat-icon-sm cursor" (click)="addRule('Edit', 'Update')">edit</mat-icon>
                        <mat-icon class="mat-icon-sm cursor ml-2">delete</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

