


<div class="managerules-sec">
   <!-- <div class="dashboard-header mb-2">
        <div>
            <p>CueTrade enables you to define trading rules that align with your experience and best practices. These rules serve as invaluable guides, keeping you within your boundaries and preventing repetitive mistakes. CueTrade offers two types of rules: automatic and manual.</p>
        </div>
    </div> -->

    <div class="d-flex align-items-center pb-2">
        <a class="add-new cursor" (click)="addEntryExitRule('Add', 'Save')">Add Rule</a>
    </div>

    <div class="trade-strategies-table">
        <div class="trade-table">
            <mat-table [dataSource]="dataSource" matSort>
                <!-- Position Column -->
                <ng-container matColumnDef="date">
                    <mat-header-cell class="date-cell" *matHeaderCellDef>Date </mat-header-cell>
                    <mat-cell class="date-cell" *matCellDef="let element"> {{element.createDate | date:'dd-MMM-yyyy'}} </mat-cell>
                </ng-container>

                <!-- Rule Description Column -->
                <ng-container matColumnDef="description">
                    <mat-header-cell class="description-cell" *matHeaderCellDef>Trading Rule</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="description-cell"> {{element.description}} </mat-cell>
                </ng-container>
                
                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell class="action-cell" *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="action-cell">
                        <button class="btn btn-edit" (click)="editRule(element, 'Edit', 'Update')">Update</button>
                        <button class="btn btn-delete ml-2" (click)="deleteRule(element)">Delete</button>
                        <!-- <mat-icon class="mat-icon-sm mat-icon-edit" (click)="editRule(element, 'Edit', 'Update')">edit</mat-icon>
                        <mat-icon class="mat-icon-sm ml-2" (click)="deleteRule(element)">delete</mat-icon> -->
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <span class="p-3 text-center" *ngIf="dataSource.totalCount === 0">You have not set any manual rules yet. Click 'Add Rule' to add a new manual rule</span>

            <!-- <mat-paginator *ngIf="dataSource.totalCount > 0" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="dataSource.totalCount"></mat-paginator> -->
        </div>
    </div>

</div>