@import '../../../../assets/styles/variable.scss';
.reports-section {
    padding-bottom: 2rem;
}
// tabs
.tab .nav-tabs {
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
}

.tab .nav-tabs li {
    padding: 0;
}

.tab .nav-tabs li:first-child>a {
    border-radius: 0;
}

.tab .nav-tabs li a {
    display: block;
    background: transparent;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    border: none;
    z-index: 2;
    transition: all 0.3s ease 0s;
    text-decoration: none;

    padding: 20px 0 12px 0;
    margin: 0 10px;
    color: #000;    //Venkat changed from #5B5C60
    position: relative;
    font-weight: 500;
}

.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a {
    color: #394C86;
    text-decoration: none;
}

.tab .nav-tabs li.active a::before,
.tab .nav-tabs li a:hover::before
{
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0px 0px;
    background: #4A69CB;
    position: absolute;
    bottom: -4px;
}

.tab .tab-content {
    padding: 0px;
    margin-top: 0;
    font-size: 15px;
    background: #f1f2f4;
    @media #{$extra-small} {
        overflow-y: scroll;
    }
    @media #{$small} {
        overflow-y: scroll;
    }
    @media #{$medium} {
        overflow-y: scroll;
    }
}

.tab .tab-content h3 {
    font-size: 24px;
    margin-top: 0;
}

@media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
    }
    .tab .nav-tabs li.active a:before {
        content: "\f105";
        bottom: 15%;
        left: 0;
        right: auto;
    }
}

.col-form-label {
    color: #4A69CB;
    font-size: 15px !important;
}
.trade-dash-name h3 {
    font-size: 15px !important;
}
.header-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #4A69CB;
}
.trade-table {
    min-height: 100vh;
}
.mat-table {
    background: #FFFFFF;
    border: 1px solid rgb(157 166 186 / 20%);
    // box-shadow: 0px 4px 4px rgba(157, 157, 157, 0.5);
}

tr.mat-header-row,
tr.mat-footer-row,
tr.mat-row {
    height: 40px;
    min-height: 40px;
    line-height: 40px;
}

.mat-header-cell {
    background: rgb(157 166 186 / 20%);
    color: #4A69CB;
    font-size: 15px;
    font-weight: 600;
    border: 0;
    flex: 0 0 10%;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    padding: .75rem 1rem !important;
    border-radius: 0;
    line-height: 20px;
    border: 0;
}
td.mat-cell {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
}
.action-cell {
    width: 10%;
    flex: 0 0 10%;
}
.value-cell {
    width: 10%;
    flex: 0 0 10%;
    min-width: 80px;
}

.reports-header {
    color: #000000;
    font-size: 18px;
    box-shadow: 0 1px 5px 0 rgba(var(--color-border-5--rgb), 0.1);
    background: #fff;
    align-items: center;
    justify-content:space-between;
    display: flex;
    padding: 5px 10px;
}

@media (max-width: 767px) {
    .example-box {
        top: 5% !important;
        left: 0 !important;
        right: 0 !important;
        margin: 0;
        width: 100%;
        overflow-y: auto;
        z-index: 999;
        transform: inherit !important;
    }

    .intraday-modal-header {
        flex-direction: column;
    }
    .rules-column {
        padding-right: 1rem;
    }
    
    .statistics-column {
        padding-left: 1rem;
        border: 0 !important;
    }
    .order-window .wrap {
        height: 81vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .order-window .body .product .type {
        width: 50%;
    }

    .order-window .body .price .order-type {
        margin-bottom: 20px;
    }

    .order-window .body .order-type {
        text-align: left;
        margin-left: 5px;
    }

    .order-window .footer .actions button {
        width: 49%;
    }

    .order-window .footer .margins {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .intraday-modal-header .columns {
        width: 100%;
    }
    .tab .nav-tabs {
        width: 100%;
    }
    .tab .nav-tabs li a {
        line-height: 18px;
    }
    .tab .nav-tabs li {
        width: 50%;
        text-align: center;
    }

    .tab .nav-tabs li.active a:before {
        content: "";
        bottom: 5%;
        left: 0;
        right: auto;
    }

    .compare-popup {
        width: 100%;
    }
    .order-window {
        width: 96%;
        margin: 0 auto;
    }
}