<div class="reports-section px-3">
    <!-- <div class="trade-dash-main">
            <div class="trade-dash-name">
                <h3>Settings</h3>
            </div>
        </div> -->

    <!-- risk-tabs -->
    <div class="trade-risk-tabs">
        <div class="tab" role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active" role="presentation">
                    <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#EntryExitRules" role="tab">Entry/Exit Rules</a>
                </li>
                <li role="presentation">
                    <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#CodedRules" role="tab">Coded Rules</a>
                </li>
            </ul>
            <div class="tab-content tabs">
                <div class="tab-pane active" id="EntryExitRules" role="tabpanel">
                    <app-managerules></app-managerules>
                </div>
                <div class="tab-pane" id="CodedRules" role="tabpanel">
                    <app-codedrules></app-codedrules>
                </div>
            </div>
        </div>
    </div>
</div>