<div class="dashboard-header">
    <div>
        <p>Set automatic or manual trading rules based on your past mistakes and best practices. By adhering to predetermined trading rules, you can avoid impulsive decision-making that can result in losses and make informed choices that maximize your profits.</p>
    </div>
</div>
<div class="reports-section px-3">
    <div class="trade-table p-3 pb-0 mb-0">
        <div class="row">
            <div class="col-sm-6">
                <app-codedrules></app-codedrules>
            </div>
            <div class="col-sm-6">
                <app-managerules></app-managerules>
            </div>
        </div>
    </div>
</div>