<div class="dashboard-header">
    <div>
        <p>CueTrade enables you to define trading rules that align with your experience and best practices. These rules serve as invaluable guides, keeping you within your boundaries and preventing repetitive mistakes. CueTrade offers two types of rules: automatic and manual.</p>
        <p>Automatic rules are consistently verified for each trade, with CueTrade promptly indicating whether a trade complies with the rule or not. On the other hand, manual rules act as text-based reminders, requiring manual updates as needed.</p>
    </div>
</div>
<div class="reports-section">
    <div class="trade-risk-tabs web-parent-reports">
        <div class="tab" role="tabpanel">
            <div class="reports-header">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active" role="presentation">
                        <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#codedRules" role="tab">Automatic Rules</a>
                    </li>
                    <li role="presentation">
                        <a aria-controls="profile" aria-expanded="false" data-toggle="tab" href="#manageRules" role="tab">Manage Rules</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content tabs">
                <div class="tab-pane active" id="codedRules" role="tabpanel">
                    <app-codedrules></app-codedrules>
                </div>
                <div class="tab-pane" id="manageRules" role="tabpanel">
                    <app-managerules></app-managerules>
                </div>
            </div>
        </div>
    </div>

    <div class="trade-table p-3 pb-0 mb-0">
        
    </div>
</div>