.chart-cont{
    height: 400px;
}

.highcharts-heatmap-series .highcharts-data-label span{
    top: 0px;
    left: 0px;
}
.nodata-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    position: absolute;
    width: 100%;
    left: 0;
    a {
        text-decoration: none;
    }
}