<div class="compare-popup">
    <div class="compare-pop-inner">
        <div class="top-pop-inner">
            <div class="left-heading">
                <h6>{{data.title}} Quantity</h6>
            </div>
            <div class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </div>
        </div>
        <div class="mobile-popup-header">
            <h6>
                <mat-icon class="trade-form-icon mr-2 cursor" (click)="closeModal()">arrow_back</mat-icon> 
                Add Option
            </h6>
        </div>

        <div class="main-pop-inner">
            <div class="row mb-2 align-items-center">
                <div class="col-6">
                    <label class="col-form-label">Action</label>
                    <select id="inputState" disabled="true" class="form-control select-input" [(ngModel)]="data.actionType">
                        <option value=1 [hidden]="!addTrade" selected data-default>Buy to Open</option>
                        <option value=2 [hidden]="!addTrade">Sell to Open</option>
                        <option value=3 [hidden]="!addTrade">Buy to Close</option>
                        <option value=4 [hidden]="!addTrade">Sell to Close</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2 align-items-center">
                <div class="col-6">
                    <label class="col-form-label">Enter Contracts</label>
                    <input type="number" (keydown)="preventNegatives($event, false)" min="0" class="form-control cards-input" [(ngModel)]="data.contracts" />
                </div>

                <div class="col-6">
                    <label class="col-form-label">Option Price </label>
                    <div class="form-group">
                        <input type="number" (keydown)="preventNegatives($event, true)" pattern="^\d*(\.\d{0,2})?$" (change)="checkForDecimalValidation($event)" step="0.01" min="0" class="form-control cards-input" placeholder="" [(ngModel)]="data.price" />
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <label class="col-form-label">Amount</label>
                <div class="form-control">
                    {{data.contracts && data.price ? (data.contracts * data.price * 100).toFixed(2) : 0}}
                </div>
            </div>

            <div class="separator"></div>

            <div class="row mb-2">
                <div class="pop-inner-title w-100 px-3">Specify execution date</div>
                <div class="col-6">
                    <div class="datepicker-group">
                        <input matInput [matDatepicker]="execution_date" [(ngModel)]="data.executedDate" name="execution_date">
                        <mat-datepicker-toggle matSuffix [for]="execution_date"></mat-datepicker-toggle>
                        <mat-datepicker #execution_date></mat-datepicker>
                    </div>
                </div>
            </div>

            <div class="pb-1">
                <label class="col-form-label">Notes</label>
                <textarea rows="2" class="form-control" [(ngModel)]="data.notes"></textarea>
            </div>
            <div class="mobile-separator"></div>
            <div class="btn-up mb-0 popup-footer">
                <button type="button" class="btn btn-add" [mat-dialog-close]="data">Save</button>
            </div>
            <div class="mobile-popup-footer pt-3">
                <button type="button" class="btn btn-add w-100 mr-2" [mat-dialog-close]="data">Save</button>
                <button type="button" class="btn btn-outline-secondary w-100 ml-2" (click)="closeModal()">Cancel</button>
            </div>
        </div>

    </div>
</div>