      <!-- step-fourth -->
 <div class="trade-analysis-table">
        <div class="container-fluid">

          <div class="trade-stategy-heading">
            <h6>
              Profit and loss on each trade for a defined stock price range
            </h6>
          </div>
        </div>

        <div class="trade-table">
          <table class="table table-striped">
            <thead>
              <tr>

                <th>Change</th>
                <th>Stock </th>
                <th>Option-1</th>
                <th>Option-2 </th>
                <th>Option-3</th>
                <th>Option-4</th>
                <th>Net</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-primary">-5%</td>
                <td>-$429</td>
                <td>$229</td>
                <td>$1000</td>
                <td>-$800</td>
                <td>-$225</td>
                <td>-$225</td>
              </tr>
              <tr>
                <td class="text-primary">-5%</td>
                <td>-$429</td>
                <td>$229</td>
                <td>$1000</td>
                <td>-$800</td>
                <td>-$225</td>
                <td>-$225</td>
              </tr>
              <tr>
                <td class="text-primary">-5%</td>
                <td>-$429</td>
                <td>$229</td>
                <td>$1000</td>
                <td>-$800</td>
                <td>-$225</td>
                <td>-$225</td>
              </tr>
              <tr>
                <td class="text-primary">-5%</td>
                <td>-$429</td>
                <td>$229</td>
                <td>$1000</td>
                <td>-$800</td>
                <td>-$225</td>
                <td>-$225</td>
              </tr>
              <tr>
                <td class="text-primary">-5%</td>
                <td>-$429</td>
                <td>$229</td>
                <td>$1000</td>
                <td>-$800</td>
                <td>-$225</td>
                <td>-$225</td>
              </tr>
              <tr>
                <td class="text-primary">-5%</td>
                <td>-$429</td>
                <td>$229</td>
                <td>$1000</td>
                <td>-$800</td>
                <td>-$225</td>
                <td>-$225</td>
              </tr>
              <tr>
                <td class="text-primary">-5%</td>
                <td>-$429</td>
                <td>$229</td>
                <td>$1000</td>
                <td>-$800</td>
                <td>-$225</td>
                <td>-$225</td>
              </tr>
              <tr>
                <td class="text-primary">-5%</td>
                <td>-$429</td>
                <td>$229</td>
                <td>$1000</td>
                <td>-$800</td>
                <td>-$225</td>
                <td>-$225</td>
              </tr>
              <tr>
                <td class="text-primary">-5%</td>
                <td>-$429</td>
                <td>$229</td>
                <td>$1000</td>
                <td>-$800</td>
                <td>-$225</td>
                <td>-$225</td>
              </tr>
              <tr>
                <td class="text-primary">-5%</td>
                <td>-$429</td>
                <td>$229</td>
                <td>$1000</td>
                <td>-$800</td>
                <td>-$225</td>
                <td>-$225</td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="container-fluid">
          <div class="trade-btn-p">
            <a class=" btn-pre" (click)="previous()">Previous</a>
            <a class="btn-pre" (click)="next()">Next</a>

          </div>
        </div>
      </div> 