<div class="compare-popup">
    <div class="compare-pop-inner">
        <div class="top-pop-inner">
            <div class="modal-title mb-1">{{title}}</div>
            <div class="right-close" (click)="closeModal()">
                <mat-icon>clear</mat-icon>
            </div>
        </div>

        <div class="main-pop-inner">
            <div class="mt-2">
                <div class="row mb-2 align-items-center">
                    <span class="col-8">What is the trigger for closing the trade ?</span>
                    <span class="px-3 followers-col"><input type="radio" class="mr-2" /> Show</span>
                    <span class="px-3 followers-col"><input type="radio" class="mr-2" /> Hide</span>
                </div>
                <div class="row mb-2 align-items-center">
                    <span class="col-8">Specify the reasons for closing the trade</span>
                    <span class="px-3 followers-col"><input type="radio" class="mr-2" /> Show</span>
                    <span class="px-3 followers-col"><input type="radio" class="mr-2" /> Hide</span>
                </div>
                <div class="row mb-2 align-items-center">
                    <span class="col-8">Gain or loss from the trade attributed to</span>
                    <span class="px-3 followers-col"><input type="radio" class="mr-2" /> Show</span>
                    <span class="px-3 followers-col"><input type="radio" class="mr-2" /> Hide</span>
                </div>
                <div class="row mb-2 align-items-center">
                    <span class="col-8">Specify the lessons learnt from the trade</span>
                    <span class="px-3 followers-col"><input type="radio" class="mr-2" /> Show</span>
                    <span class="px-3 followers-col"><input type="radio" class="mr-2" /> Hide</span>
                </div>
                
                
            </div>
        </div>

        <div class="modal-footer py-2">
            <button type="button" class="btn btn-join" [mat-dialog-close]="data">Save</button>
        </div>
    </div>
</div>