/* You can add global styles to this file, and also import other style files */

@import './assets/styles/variable.scss';
@import './assets/styles/custom.scss';
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0px !important;
}

p {
    margin-bottom: 0px !important;
}

.form-group {
    margin-bottom: 0px !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    color: #242E3A !important;
    background-color: #f5f8fa !important;
    font-size: 14px !important;
}

.form-control:focus {
    outline: none;
    box-shadow: none !important;
}

.mat-horizontal-stepper-header .mat-step-icon {
    margin-right: 0 !important;
    width: 20px !important;
    background: transparent !important;
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
    display: none;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    color: #37a01a;
    background: transparent !important;
}

.mat-horizontal-stepper-header-container {
    background: #FFFFFF;
    box-shadow: 0px -4px 16px rgba(157, 157, 157, 0.1);
    border-radius: 4px 4px 0 0;
    position: relative;
    @media #{$small} {
        padding: 10px 0px;
    }
    &::before {
        position: absolute;
        height: 2px;
        background: #f1f2f5;
        content: "";
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 9;
    }
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after,
[dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after,
[dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before {
    border-top-width: 2px !important;
}

.mat-stepper-horizontal-line {
    display: none;
}

.mat-horizontal-content-container {
    min-height: 40vh !important;
    padding: 0 !important;
    @media #{$small} {
        padding: 0 24px 9px 24px;
    }
}

.cursor-pointer {
    cursor: pointer !important;
}

.mat-dialog-container {
    padding: 0 !important;
}

.mat-horizontal-stepper-header {
    height: 50px !important;
    padding: 0 20px !important;
    background: #F6F8FB;
}

.mat-horizontal-stepper-header:first-child {
    border-radius: 4px 0 0 0;
}

@media #{$extra-small} {
    
    .mat-stepper-horizontal,
    .mat-stepper-vertical {
        background-color: transparent !important;
    }
    .mat-horizontal-content-container {
        padding: 0px !important;
    }
}

.mat-expansion-panel-header-title {
    width: 100%;
}

.mat-step-label {
    font-size: 15px !important;
    font-weight: 500 !important;
    @media #{$small} {
        white-space: break-spaces !important;
        font-size: 14px !important;
    }
}

.mat-step-label {
    color: #9DA6BA !important;
}

.mat-step-label-selected {
    color: #fff !important;
}

.mydrp {
    width: 210px !important;
    font-family: 'Poppins', sans-serif !important;
}

.trade-plan-date .mydrp {
    background: #F5F8FA;
    border: 1px solid #9DA6BA;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    font-family: 'Poppins', sans-serif !important;
}

.trade-plan-date .mydrp .selectiongroup,
.trade-plan-date .mydrp .selection {
    background: transparent !important;
    font-family: 'Poppins', sans-serif !important;
}

.trade-plan-date .mydrp .btnclear,
.trade-plan-date .mydrp .btnpicker {
    width: 20px !important;
    background: transparent !important;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px;
}

.date-range-md .mydrp .selectiongroup {
    height: 38px !important;
}

.date-range-md .mydrp .selection {
    height: 37px !important;
}

input:invalid {
    box-shadow: 0 0 1.5px 1px red;
}

.hide-bars::-webkit-inner-spin-button,
.hide-bars::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.hide-bars {
    border: none !important;
    width: 100%;
    text-align: center;
}

.hide-bars:focus {
    outline: none !important;
}

.height-auto {
    height: auto !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    // display: none;
    // -webkit-appearance: none;
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
    position: relative;
    font-family: 'Poppins', sans-serif !important;
    background-color: transparent !important;
}

.mat-stepper-vertical {
    border-top: 1px solid #cecece;
    min-height: 200px;
}

.mat-vertical-stepper-header {
    position: absolute !important;
    z-index: 20;
    width: 190px;
    left: 0;
    top: 0;
    height: 60px !important;
    box-sizing: border-box !important;
    border-bottom: 1px solid #cecece;
}

.mat-vertical-content-container {
    margin-left: 0 !important;
    padding-left: 190px;
}

.mat-vertical-stepper-content {
    border-left: 1px solid #cecece;
}

.mat-vertical-stepper-header:last-child {
    border-top-width: 2px !important;
}

.mat-stepper-vertical .mat-step:nth-child(2)>.mat-vertical-stepper-header {
    top: 60px;
}

.mat-stepper-vertical .mat-step:nth-child(3)>.mat-vertical-stepper-header {
    top: 120px;
}

.mat-stepper-vertical .mat-step:nth-child(4)>.mat-vertical-stepper-header {
    top: 180px;
}

.mat-stepper-vertical-line::before {
    border-left: 0 !important;
}

.mat-stepper-vertical .mat-step:nth-child(1)>.mat-vertical-content-container .mat-vertical-content {
    min-height: 250px;
}

.mat-expansion-indicator::after {
    color: #3A4C85 !important;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 360px; 
    max-width: 800px;
    margin: 1em auto;
}

/*.highcharts-background {
	fill: #F6F8FB;
	stroke: #9DA6BA;
	stroke-width: 1px solid;
} */

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
    max-height: 400px;
	max-width: 500px;
 
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
.highcharts-tooltip > span {
	  padding: 8px;
    background-color: rgba(255,255,255,1);
    z-index: 9999 !important;
    box-shadow: 1px 1px 2px #888;
}



.dateGain {
  position: absolute;
  text-align: center;
  background: #61BC6D;
  font-family: 'Poppins';
  color: #fff;
  width: 25px;
  z-index: 1 !important;
  border-bottom-right-radius: 5px;
}

.valGain {
  position: relative;
  z-index: 1 !important;
  
  font-family: 'Poppins';
  color: #61BC6D;
  
}


.dateloss {
  position: absolute;
  text-align: center;
  background: #EC6B56;
  font-family: 'Poppins';
  color: #fff;
  width: 25px;
  
  z-index: 1 !important;
  border-bottom-right-radius: 5px;
}

.valLoss {
  position: relative;
  z-index: 1 !important;
  
  font-family: 'Poppins';
  color: #EC6B56;
  
}
@media (max-width:1024px) {
    .mydrp {
        width: 170px !important;
    }
    .date-range-md .mydrp .selection {
        height: 32px !important;
    }
    .date-range-md .mydrp .selectiongroup {
        height: 33px !important;
    }
}