/* You can add global styles to this file, and also import other style files */
@import './assets/styles/variable.scss';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0px !important;
}

p{
    margin-bottom: 0px !important;

}

.form-group{
    margin-bottom: 0px !important;
}
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif !important; 

}


.form-control:focus{
    outline: none ;
    box-shadow: none !important;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #0183C0 !important;
}

.mat-horizontal-stepper-header-container {
    background: #DBDBDB !important;
    padding: 10px 100px;
    @media #{$small} {
        padding: 10px 0px;
      }
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before {
    border-top-width: 2px !important;
}

.mat-horizontal-stepper-header::after, .mat-horizontal-stepper-header::before, .mat-stepper-horizontal-line {
    border-top-color: #AAAAAA !important;
}

.mat-stepper-horizontal-line {
    border-top-width: 2px !important;
}

.mat-horizontal-content-container {
    overflow: auto !important;
    min-height: 40vh !important;

    @media #{$small} {
        padding: 0 24px 9px 24px;
      }
}

.cursor-pointer {
    cursor: pointer !important;
}

.mat-dialog-container {
    padding: 0 !important;
}

.mat-step-label-selected {
    color: $appbtn-color !important;
}

.mat-horizontal-stepper-header{
    pointer-events: none !important;
}


@media #{$extra-small} {
    .mat-horizontal-stepper-header-container {
        display: none !important;
      }

      .mat-stepper-horizontal, .mat-stepper-vertical{
          background-color: transparent !important;
      }
      .mat-horizontal-content-container{
          padding: 0px !important;
      }
  }

.mat-expansion-panel-header-title {
    width: 100%;
}

.mat-step-label{
    font-size: 16px !important;
    font-weight: 500 !important;
    @media #{$small} {
        white-space: break-spaces !important;
        font-size: 14px !important;
      }
}


.mydrp{
    width: 220px !important;
  }
  input:invalid {   box-shadow: 0 0 1.5px 1px red;   }


  .hide-bars::-webkit-inner-spin-button, 
  .hide-bars::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; 
  }
  .hide-bars {
      border: none !important;
      width: 100%;
      text-align: center;
  }
  
  .hide-bars:focus {
    outline: none !important;
  }

  .height-auto {
    height: auto !important;
  }