@import "./variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.dark-theme-body {
    @media #{$extra-small} {
        display: none;
    }
    .container {
        background: #242E3A;
        padding-bottom: 5px;
    }
}
#search-box::placeholder {
    color: #a3a3a3 ;
}
.mydrp .selection::placeholder {
    color: #a3a3a3 ;
    font-size: 12px;
}

.datepicker-group {
    margin: 0;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 4px;
    input.mat-input-element {
        margin: 0;
        position: relative;
        border: 0;
        padding: .35rem .25rem;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        text-align: left;
        height: 38px;
        font-size: 14px;
        font-weight: 500;
        color: #000;
        font-family: 'Poppins', sans-serif !important;
        &:focus {
            border: 0;
            outline: 0;
            background: transparent !important;
        }
    }
    .mat-icon-button {
        width: 18px;
        height: 18px;
        line-height: 1;
        border: 0;
        position: absolute;
        right: 2px;
        top: 11px;
        &:focus {
            outline: 0;
            background: transparent !important;
        }
        .mat-button-focus-overlay {
            background: transparent !important;
        }
        .mat-datepicker-toggle-default-icon {
            width: 18px;
            height: 18px;
        }
    }
}

.login-log {
    h6 {
        font-weight: 300;
        font-size: .9rem;
    }
}

.trade-card-box-header {
    justify-content: flex-end !important;
    display: flex !important;
    margin-bottom: .5rem;
    width: 100%;
    .delete_icon {
        width: 14px;
    }
}

.cursor {
    cursor: pointer;
}

.mat-step-header[aria-selected="true"] {
    background-color: #3A4C85;
    position: relative;
    overflow: inherit;
}

.text-link {
    font-weight: 300;
    color: #007bff !important;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 14px !important;
}

.text-link:hover {
    color: #000 !important;
    text-decoration: none !important;
}

.text-primary {
    color: #0183c0 !important;
}

.toast-top-center {
    top: 15px !important;
}

.toast-container .ngx-toastr {
    background: #FFFFFF;
    box-shadow: 0 0 5px #999999 !important;
    border-radius: 0 !important;
    padding: 8px 25px 8px 10px !important;
    color: inherit;
    min-height: 60px;
    align-items: center;
    display: flex;
    width: 380px !important;
    flex-direction: column;
    color: #000 !important;
}
.toast-message, .toast-title {
    width: 100%;
}
.toast-error {
    color: rgb(235 87 87) !important;
    border-left: 6px solid rgb(235 87 87);
}

.toast-success {
    color: rgb(97 189 110) !important;
    border-left: 6px solid rgb(97 189 110);
}

.toast-warning {
    color: #fdb525 !important;
    border-left: 6px solid #fdb525;
}

.toast-info {
    background-color: transparent !important;
    color: #33b5e5 !important;
}

// .toast-message::before {
//     position: absolute;
//     right: 5px;
//     top: 5px;
//     width: 20px;
//     height: 20px;
//     content: "x";
//     font-size: 16px;
//     font-weight: 800;
// }

.card {
    box-shadow: 0px 0px 10px 0px rgba(103, 103, 103, 0.49);
}

.trade-dash-main {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .trade-dash-name {
        margin-bottom: 0px;
        h3 {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 0px;
            color: #242E3A;
        }
    }
}

.trade-form .form-control {
    padding: 0.375rem 0.75rem;
    font-size: 13px !important;
    line-height: 1.5;
    color: #242E3A !important;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #9DA6BA;
    box-sizing: border-box;
    border-radius: 4px;
}

.mydrp .selection {
    font-size: .89rem !important;
    padding: 0 40px 0 6px !important;
}

.mydrp .btnclear,
.mydrp .btnpicker {
    width: 20px !important;
}

.btn {
    padding: 0.375rem 0.5rem !important;
}

input.mat-input-element {
    color: #495057;
}

.d-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.datepicker-sm {
    display: inline-flex !important;
    width: 120px;
}

.text-danger {
    color: #ff0000 !important;
}

.text-sm {
    font-size: .789rem;
}

.btn-apply {
    padding: 0.375rem 16px !important;
}

.custom-tooltip {
    font-size: 13px !important;
    color: #666d7c !important;
    border-radius: 4px;
    margin: 14px;
    max-width: 80% !important;
    background-color: #fff !important;
    box-shadow: 0 1px 9px -3px rgba(0, 0, 0, .75);
}

.mat-expansion-panel-header {
    background: #ededed !important;
    border-radius: 0 !important;
    padding: 10px 15px !important;
    height: inherit !important;
    border: 1px solid #cdcdcd;
}

.mat-expansion-panel {
    margin-bottom: 10px !important;
    border-radius: 0 !important;
}

.k-font-bold {
    font-weight: 500!important;
}

.text-success {
    color: #37a01a !important;
}

.mat-icon-xs {
    height: 16px !important;
    width: 20px !important;
    font-size: 16px !important;
}

.main-body {
    min-height: 100vh;
}

.strategies_filter .form-control {
    height: 40px !important;
}

.form-control,
.trade-thesis-sec {
    font-size: 12px;
}

.with-130 {
    width: 130px !important;
}

.mat-table {
    font-family: 'Poppins', sans-serif !important;
}

.mat-header-row {
    min-height: 50px;
    border: 0;
    border-radius: 4px 4px 0px 0px;
}

mat-header-cell:first-of-type,
.mat-header-cell:first-of-type {
    border-radius: 4px 0 0 0;
}

mat-header-cell:last-of-type,
.mat-header-cell:last-of-type {
    border-radius: 0 4px 0 0;
}

.mat-row {
    min-height: 45px;
}

.trade-table {
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.1);
    border-radius: 4px;
    margin-bottom: 1rem;
}

.mat-header-cell {
    background: #eaecf1;
    color: #3A4C85;
    font-size: 14px;
    font-weight: 600;
}

.mat-cell,
.mat-footer-cell {
    font-size: 14px;
    color: #3B5065;
}

.mat-row:nth-child(even) {
    background-color: transparent;
    border: 0;
}

.mat-row:nth-child(odd) {
    background-color: #f6f7fa;
    border: 0;
}

.mat-paginator {
    border-radius: 4px;
}

.mat-paginator-outer-container {
    border-radius: 4px;
}

.wrapper {
    align-items: stretch;
    display: flex;
    // width: 100%;
    @media #{$extra-small} {
        display: block;
    }
}

.sidebar-brand {
    padding-left: 8px;
    color: #f8f9fa;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding-top: 10px;
}

.sidebar-brand>span {
    color: #fff;
    font-weight: 600;
}

.sidebar-brand:focus {
    outline: none;
}

.sidebar {
    min-width: 210px;
    max-width: 210px;
    // transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
    direction: ltr;
    background: #394c86;
    -webkit-transform: translate3d(0, 0px, 0px);
    transform: translate3d(0, 0px, 0px);
    visibility: visible;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}

.sidebar.toggled {
    min-width: 60px;
    max-width: 60px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    z-index: 999;
}

.sidebar.toggled .sidebar-brand {
    width: 60px;
    max-width: 60px;
}

.main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    min-width: 0;
    transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
    flex-direction: column;
    padding-bottom: 60px;
    @media #{$extra-small} {
        padding-bottom: 0;
        min-height: inherit;
    }
}

.sidebar-link,
a.sidebar-link {
    display: block;
    padding: 0.25rem;
    color: rgba(255, 255, 255, 0.55);
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    @media #{$extra-small} {
        border-radius: 0;
    }
}

.sidebar-link>.mat-icon {
    color: #fff;
    display: none;
}

.sidebar-link>span {
    color: #fff;
    padding-left: 0.5rem;
}

.sidebar-link:hover,
.nav-active .sidebar-link {
    color: #fff;
    background: #2285FA;
    box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.2);
    text-decoration: none;
}

.sidebar-link:hover>.mat-icon,
.nav-active .sidebar-link>.mat-icon {
    color: #fff;
}

.sidebar.toggled {
    .sidebar-link,
    a.sidebar-link>span {
        white-space: nowrap;
        background: transparent;
        box-shadow: none;
    }
    .sidebar-link>.mat-icon {
        color: #fff;
        display: block;
    }
    .sidebar-link:hover>.mat-icon {
        color: #394C86;
    }
    .sidebar-link>span {
        display: none;
    }
    .sidebar-link:hover {
        color: #394C86;
        background: #FDFDFD;
        box-shadow: 0px 4px 16px rgba(157, 157, 157, 0.2);
        border-radius: 6px;
        position: absolute;
        z-index: 9999999;
        text-decoration: none;
    }
    .sidebar-link:hover>span {
        display: block !important;
        color: #394C86;
    }
    .sidebar-item {
        padding-left: 10px;
        min-height: 40px;
        &::before {
            position: absolute;
            height: 1px;
            background: #4c5c94;
            content: "";
            width: 40px;
            bottom: 0;
            left: 10px;
        }
    }
    .nav-active {
        &::before {
            height: 4px;
            background: #fff;
        }
    }
}

.sidebar-item {
    position: relative;
    padding: 0 10px 0 45px;
    min-height: 32px;
    @media #{$extra-small} {
        padding: 0;
        min-height: 40px;
    }
}

.page-heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
    color: #242E3A;
}

.top-nav-item {
    position: relative;
    padding: 0 10px;
}

.top-nav-link {
    padding: 0 0.5rem;
    color: #394C86;
    font-weight: 400;
    transition: background 50ms ease-in-out;
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
}

.notification_count {
    position: absolute;
    width: 30px;
    height: 16px;
    right: 0;
    top: 2px;
    background: #EB5757;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    color: #fff;
    padding: .5rem;
    display: flex;
    align-items: center;
}

.menu-toggle {
    color: #fff;
    float: right;
    margin-right: 10px;
    margin-top: 2rem;
}

.symbol-heading {
    color: #242E3A;
    font-weight: 1000;
    font-size: 28px;
}

.symbol-description {
    color: #9DA6BA;
    font-weight: 400;
    font-size: 16px;
    @media #{$extra-small} {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #9DA6BA;
    }
}

input,
button,
select,
optgroup,
textarea {
    font-family: 'Poppins', sans-serif !important;
}

.material-icons {
    font-size: 24px !important;
}

.mat-expansion-panel-content {
    font: 400 13px/20px 'Poppins', sans-serif !important;
}

.input-group.date-rang .selection {
    height: 40px !important;
    background: #FFFFFF;
    border: 1px solid #9DA6BA;
    font-size: 13px !important;
}

.input-group.date-rang .mydrp {
    border: 0 !important;
}

.input-group.date-rang .mydrp .btnpicker {
    margin: 4px 5px 0;
}

#search-box {
    font-size: 12px !important;
    height: 40px;
}

.mat-icon-sm {
    font-size: 21px !important;
}

.info-icon {
    color: rgb(157 166 186 / 64%);
    font-size: 16px !important;
}

.coded_rules_body .mat-table {
    display: table;
    width: 100%;
}

.coded_rules_body .mat-table .mat-row {
    display: table-row;
    width: 100%;
}

.coded_rules_body .mat-table .mat-cell {
    display: table-cell;
    vertical-align: middle;
}

.coded_rules_body .mat-table .mat-cell:first-child,
.coded_rules_body .mat-table .mat-cell:nth-child(2) {
    width: 36%;
}

.coded_rules_body .mat-table .mat-cell:nth-child(3) {
    width: 15%;
}

.mask {
    background-color: rgb(36 46 58 / 41%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 200;
    top: 0;
    display: flex;
    justify-content: center;
}

.loader {
    margin-top: 5rem;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.global-search #search-box {
    font-size: 12px !important;
    height: 33px;
    border: 0;
    padding: 0;
}
@media (max-width:1024px) {
    mat-cell:first-of-type,
    mat-footer-cell:first-of-type,
    mat-header-cell:first-of-type {
        padding-left: 10px !important;
    }
    mat-cell:last-of-type,
    mat-footer-cell:last-of-type,
    mat-header-cell:last-of-type {
        padding-right: 10px !important;
    }
    .mat-header-cell,
    .mat-cell,
    .mat-footer-cell,
    .custom-label {
        font-size: 12px !important;
    }
    .st-slect-section {
        margin-right: 0.5rem;
        height: 45px;
    }
    .btn-apply,
    .btn-outline-primary {
        padding: 0.375rem 1rem !important;
        height: 35px;
        line-height: 1.5;
    }
    .strategies_filter .form-control,
    .trade-sel .form-control {
        height: 35px !important;
    }
    .st-slect-section {
        margin-right: 0.567rem;
        height: 35px;
    }
    .mydrp .selection {
        font-size: 12px !important;
        padding: 0 25px 0 6px !important;
    }
    .date-range-md .mydrp .selection {
        height: 32px !important;
    }
    .mydrp .selbtngroup {
        height: 33px !important;
    }
    .page-heading {
        font-size: 18px !important;
    }
    .trade-name-rate,
    .bxo-name {
        font-size: 12px !important;
        padding: 5px !important;
    }
    .bxo-name {
        h6,
        span {
            font-size: 12px !important;
        }
    }
    .addnew-second {
        padding: 10px 0 !important;
    }
    .add-stock-sec {
        padding: 15px !important;
    }
    .add-stock-sec {
        padding: 15px !important;
    }
    .add-options-sec {
        .mat-expansion-panel-header {
            padding: 15px !important;
        }
    }
    .mat-expansion-panel-body {
        padding: 0 5px 15px 15px !important;
    }
    .risk-analysis-mobile .mat-expansion-panel-body, .compare-strategies-mobile .mat-expansion-panel-body {
        padding: 0 !important;
    }
    .datepicker-group input.mat-input-element {
        height: 33px !important;
    }
    .widget_item-title {
        text-align: center;
    }
}

@media screen and (min-width: 320px) and (max-width:599px) {
    .col-form-label {
        color: #929292;
        font-size: 12px !important;
    }
}

.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: rgba(0,0,0,.54) !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgba(0,0,0,.54) !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: rgba(0,0,0,.54) !important;
}
.investment-mobile .input-group.date-rang .selection {
    background: #FFFFFF;
    border: 1px solid #9DA6BA;
    font-size: 13px !important;
    height: 33px !important;
}
.investment-mobile .mydrp {
    width: 145px !important;
}
.investment-mobile .mydrp .selbtngroup {
    height: 28px !important;
}

@media #{$extra-small} {
    .editable-list .mat-list-item-content{
        padding: 0 10px !important;
    }
    .settings-component .mat-expansion-panel-body {
        padding-top: 10px !important;
    }
}
.font-size-14 {
    font-size: 14px !important;
}
.toast-close-button {
    right: 7px !important;
    top: 0px !important;
    font-size: 22px !important;
    z-index: 999 !important;
    color: inherit !important;
    position: absolute !important
}
.content-body {
    background: #fff;
    z-index: 90;
    position: relative;
    height: 84vh;
}

iframe {
    border: 0;
}

.slider-description .intro-text {
    font-weight: 400;
    font-size: 18px;
    padding: 10px 30px;
}

.mat-expansion-panel-body {
    @media #{$extra-small} {
        padding: 0 5px 5px 15px !important;
    }
}

.watch-video {
    font-weight: 800;
    font-size: 14px;
}
.watch-video-sm {
    font-size: 14px;
    font-weight: 800;
    color: #0056b3;
}
.watch-video-xs {
    font-size: 12px;
    font-weight: 800;
    color: #0056b3;
}
.beta-icon {
    width: 16px;
}
.modal-backdrop {
    background-color: rgb(0 0 0 / 28%) !important;
}
.video-modal iframe {
    @media #{$extra-small} {
        width: 100% !important;
        height: 200px !important;
    }
}
.home-link {
    color: #fff;
    box-shadow: none;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 18px;
    position: relative;
    a {
        color: #fff;
        font-weight: 600;
        display: flex;
        align-items: center;
        text-decoration: none;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    .mat-icon {
        height: 32px;
        width: 40px;
        font-size: 32px !important;
    }
    span {
        margin-left: 3px;
    }
}

.sidebar.toggled .home-link {
    padding: 10px;
    span {
        display: none;
    }
}

.parent-item {
    color: #fff;
    box-shadow: none;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 18px;
    position: relative;
    a {
        color: #fff;
        font-weight: 600;
    }
}

.parent-item:before {
    content: '';
    position: absolute;
    top: 20px;
    right: 30px;
    border-top: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.sidebar.toggled .parent-item {
    display: none;
}

.trade-navbar .list-unstyled {
    margin: 0;
}
.trade-navbar {
    margin-top: 1.5rem;
}

.checkbox-red .mat-checkbox-background {
    background-color: #e71c1c !important;
}
.addnew-trade {
    position: relative;
    .mat-horizontal-stepper-header-container {
        display: none !important;
    }
}

iframe body {
    border: 0;
}