@import "./variable.scss";

.datepicker-group {
    margin:0;
    position: relative;
    border: 1px solid #CCC;
    border-radius:4px;
    input.mat-input-element {
        margin:0;
        position: relative;
        border: 0;
        padding: .35rem .5rem;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        &:focus {
            border: 0;
            outline: 0;
            background: transparent !important;
        }
        
    }
    .mat-icon-button {
        width: 25px;
        height: 25px;
        line-height: 1;
        border: 0;
        position: absolute;
        right: 0;
        top: 5px;
        background: #fff !important;
        &:focus {
            outline: 0;
            background: transparent !important;
        }
        .mat-button-focus-overlay {
            background: transparent !important;
        }
    }
}

.login-member-name {
    align-items: center !important;
    h5{
        font-weight: 400;
        font-size: 1rem;
    }
}
.login-log {
    h6{
        font-weight: 300;
        font-size: .9rem;
    }
}
.trade-card-box-header {
    justify-content: flex-end !important;
    display: flex !important;
    margin-bottom: .5rem;
    width: 100%;
    .delete_icon {
        width: 14px;
    }
}
.cursor {
    cursor: pointer;
}

.mat-step-header[aria-selected="true"] { 
    // background-color: rgba(0, 0, 0, 0.04) !important;
    position: relative;
    overflow: inherit;
}
.mat-step-header[aria-selected=true]::before {
    content: "";
    position: absolute;
    right: -1px;
    background: #fff;
    height: 100%;
    top: 0;
    width: 1px;
}
.text-link {
    font-weight: 500;
    color: #007bff !important;
    text-decoration: underline !important;
    cursor: pointer;
}
.text-link:hover {
    color: #000 !important;
    text-decoration: none !important;
}