<div class="trade-plan-header">
    Daily Statistics
</div>
<div class="daily-statistics-container">
    <div class="row mt-3">
        <div class="col-sm-4">
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-11">Number of Trade Strategies</label>
                <span class="col-form-value col-1">6</span>
            </div>
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-11">Number of Transactions</label>
                <span class="col-form-value col-1">13</span>
            </div>
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-11">Planned Trades</label>
                <span class="col-form-value col-1">2</span>
            </div>
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-11">Contrarian Trades</label>
                <span class="col-form-value col-1">2</span>
            </div>
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-11">Long (Short) Trades</label>
                <span class="col-form-value col-1">3(2)</span>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-11">Realized Return</label>
                <span class="col-form-value col-1">3423.5</span>
            </div>
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-11">Net R</label>
                <span class="col-form-value col-1">1.4R</span>
            </div>
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-11">Win Rate</label>
                <span class="col-form-value col-1">52%</span>
            </div>
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-11">Profit Factor</label>
                <span class="col-form-value col-1">4.2</span>
            </div>
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-11">Commission Paid</label>
                <span class="col-form-value col-1">43.3</span>
            </div>
        </div>
        
        <div class="col-sm-4">
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-9">Portfolio Risk</label>
                <span class="col-form-value col-2">5343.5</span>
            </div>
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-9">Symbol with Highest Risk</label>
                <span class="col-form-value col-2">NIO</span>
            </div>
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-9">Symbol with Lowest Risk</label>
                <span class="col-form-value col-2">AMZN</span>
            </div>
            <div class="row align-items-center mb-2">
                <label class="col-form-label col-9">Ending Balance</label>
                <span class="col-form-value col-2">94385.34</span>
            </div>
        </div>
    </div>
</div>