<div class="compare-popup">
    <div class="slider-container">
        <div class="modal-header">
            <h3 class="slider-title">Know Your User</h3>
        </div>

        <div class="slider-inner" *ngIf="currentInd == 0">
            <div class="slider-description mb-3">
                <h3 class="slider-header">Welcome {{userName}}</h3>
                Before we get started, do you agree with CueTrade terms and conditions?
            </div>
            <div class="slider-description mb-3 d-flex"><input type="checkbox" name="" class="mr-2 checkbox" (change)="acceptChange()" /> I read and accept the CueTrade <a href="" class="mx-2">terms and service</a> and <a href="" class="mx-1">privacy policy</a></div>
            <div class="text-center pt-3">
                <button type="button" class="btn btn-next" [ngClass]="!isAcceptChecked ? 'disabled' : ''" (click)="isAcceptChecked ? nextSlide() : ''">Accept</button>
            </div> 
        </div>

        <div class="slider-inner" *ngIf="currentInd == 1">
            <div class="slider-body">
                <div class="slider-description mb-3">
                    Let's get to know each other better. It would not take more than a minute.
                </div>
                <div class="slider-description">How many trades do you execute per week on an average across all your accounts?</div>
                <div class="buttons-section">
                    <button type="button" class="btn btn-plain" (click)="nextSlide()">Less than 5</button>
                    <button type="button" class="btn btn-plain" (click)="nextSlide()">5 to 10</button>
                </div>
                <div class="buttons-section">
                    <button type="button" class="btn btn-plain" (click)="nextSlide()">10 to 20</button>
                    <button type="button" class="btn btn-plain" (click)="nextSlide()">More than 20</button>
                </div>
            </div>
            <ul class="slider-nav">
                <li class="nav-bar nav-bar-active">1/5</li>
                <li class="nav-bar"></li>
                <li class="nav-bar"></li>
                <li class="nav-bar"></li>
                <li class="nav-bar"></li>
            </ul> 
        </div>

        <div class="slider-inner" *ngIf="currentInd == 2">
            <div class="slider-body">
                <div class="slider-description mb-3">
                    What instruments do you trade the most?
                </div>
                <div class="slider-description">
                    <div class="d-flex align-items-center mb-3">
                        <input type="checkbox" name="Stocks" class="mr-2" (change)="instrumentsCheck($event)" [checked]="instrumentsList.includes('Stocks')" />  Stocks
                    </div>
                    <div class="d-flex align-items-center mb-3"><input type="checkbox" name="Options" class="mr-2" (change)="instrumentsCheck($event)" [checked]="instrumentsList.includes('Options')" />  Options</div>
                    <div class="d-flex align-items-center mb-3"><input type="checkbox" name="Futures" class="mr-2" (change)="instrumentsCheck($event)" [checked]="instrumentsList.includes('Futures')"  />  Futures</div>
                    <div class="d-flex align-items-center mb-3"><input type="checkbox" name="Forex" class="mr-2" (change)="instrumentsCheck($event)" [checked]="instrumentsList.includes('Forex')"  />  Forex</div>
                    <div class="d-flex align-items-center mb-3"><input type="checkbox" name="Commodities" class="mr-2" (change)="instrumentsCheck($event)" [checked]="instrumentsList.includes('Commodities')"  />  Commodities</div>
                    
                    <div class="d-flex mb-3 align-items-center">
                        <span class="d-flex align-items-center"><input type="checkbox" name="Other" class="mr-2" (change)="instrumentsCheck($event)" [checked]="instrumentsList.includes('Other')" />   Other</span>
                        <span class="col-6">
                            <input type="text" class="form-control form-control-sm" placeholder="Please specify" />
                        </span>
                    </div>
                    <div class="text-center mt-3 pt-3">
                        <button type="button" class="btn btn-next" [ngClass]="instrumentsList.length === 0 ? 'disabled' : ''" (click)="instrumentsList.length > 0 ? nextSlide() : ''">Next</button>
                    </div>
                </div>
            </div>
            <ul class="slider-nav">
                <li class="nav-bar nav-bar-active" (click)="goToSlide(1)"></li>
                <li class="nav-bar nav-bar-active">2/5</li>
                <li class="nav-bar"></li>
                <li class="nav-bar"></li>
                <li class="nav-bar"></li>
            </ul> 
        </div>

        <div class="slider-inner" *ngIf="currentInd == 3">
            <div class="slider-body">
                <div class="slider-description mb-3">
                    What's your biggest pain point in trading? Select all that are applicable
                </div>
                <div class="slider-description">
                    <div class="d-flex align-items-center mb-3">
                        <input type="checkbox" name="Lack of skill" class="mr-2" (change)="applicableCheck($event)" [checked]="applicableList.includes('Lack of skill')" />  Lack of skill (i.e., inability to find trading opportunities)
                    </div>
                    <div class="d-flex align-items-center mb-3"><input type="checkbox" name="Lack of discipline" class="mr-2" (change)="applicableCheck($event)" [checked]="applicableList.includes('Lack of discipline')" />  Lack of discipline (control over emotions, excessive trading, etc.)</div>
                    <div class="d-flex align-items-center mb-3"><input type="checkbox" name="Inability" class="mr-2" (change)="applicableCheck($event)" [checked]="applicableList.includes('Inability')"  />  Inability to manage risk effectively</div>
                    <div class="d-flex mb-3 align-items-center">
                        <span class="d-flex align-items-center"><input type="checkbox" name="Lack of tools" class="mr-2" (change)="applicableCheck($event)" [checked]="applicableList.includes('Lack of tools')" /> Lack of tools</span>
                        <span class="col-6">
                            <input type="text" class="form-control form-control-sm" placeholder="Please Specify" />
                        </span>
                    </div>
                    <div class="d-flex mb-3 align-items-center">
                        <span class="d-flex align-items-center"><input type="checkbox" name="Other" class="mr-2" (change)="applicableCheck($event)" [checked]="applicableList.includes('Other')" />   Other</span>
                        <span class="col-6">
                            <input type="text" class="form-control form-control-sm" placeholder="Please specify" />
                        </span>
                    </div>
                    <div class="text-center mt-3 pt-3">
                        <button type="button" class="btn btn-next" [ngClass]="applicableList.length === 0 ? 'disabled' : ''" (click)="applicableList.length > 0 ? nextSlide() : ''">Next</button>
                    </div>
                </div>
            </div>
            <ul class="slider-nav">
                <li class="nav-bar nav-bar-active" (click)="goToSlide(1)"></li>
                <li class="nav-bar nav-bar-active" (click)="goToSlide(2)"></li>
                <li class="nav-bar nav-bar-active">3/5</li>
                <li class="nav-bar"></li>
                <li class="nav-bar"></li>
            </ul> 
        </div>

        <div class="slider-inner" *ngIf="currentInd == 4">
            <div class="slider-body">
                <div class="slider-description">
                    <div class="text-center w-100">
                        Have you used any kind of trading journal including excel, diary, etc.?
                    </div>
                </div>
                
                <div class="buttons-center">
                    <button type="button" class="btn btn-next" (click)="nextSlide()">Yes</button>
                    <button type="button" class="btn btn-back ml-3" (click)="nextSlide()">No</button>
                </div>
            </div>
            <ul class="slider-nav">
                <li class="nav-bar nav-bar-active" (click)="goToSlide(1)"></li>
                <li class="nav-bar nav-bar-active" (click)="goToSlide(2)"></li>
                <li class="nav-bar nav-bar-active" (click)="goToSlide(3)"></li>
                <li class="nav-bar nav-bar-active">4/5</li>
                <li class="nav-bar"></li>
            </ul> 
        </div>

        

        <div class="slider-inner" *ngIf="currentInd == 5">
            <div class="slider-body">
                <div class="text-center w-100 pb-2">
                    How did you hear about CueTrade?
                </div>
                
                <div class="form-center">
                    <select class="form-control" (change)="onChange($event)">
                        <option value="">Select</option>
                        <option value="directly">We reached out to you directly</option>
                        <option value="StockTwits">StockTwits</option>
                        <option value="WhatsApp">WhatsApp</option>
                        <option value="YouTube">YouTube</option>
                        <option value="Twitter">Twitter</option>
                        <option value="Referral">Referral</option>
                        <option value="Other">Other</option>
                    </select>
                    
                    <div class="py-3 px-0" *ngIf="referralInput">
                        <input type="text" class="form-control form-control-sm" placeholder="Please Specify" />
                    </div>
                    <div class="mt-3 px-0" *ngIf="otherInput">
                        <input type="text" class="form-control form-control-sm" placeholder="Please specify" />
                    </div>
                    <div class="buttons-center">
                        <button type="button" (click)="isLastSlide ? closeModal() : ''" class="btn btn-next" [ngClass]="!isLastSlide ? 'disabled' : ''">Submit</button>
                    </div>
                </div>
            </div>
            <ul class="slider-nav">
                <li class="nav-bar nav-bar-active" (click)="goToSlide(1)"></li>
                <li class="nav-bar nav-bar-active" (click)="goToSlide(2)"></li>
                <li class="nav-bar nav-bar-active" (click)="goToSlide(3)"></li>
                <li class="nav-bar nav-bar-active" (click)="goToSlide(4)"></li>
                <li class="nav-bar nav-bar-active">5/5</li>
            </ul> 
        </div>
    </div>
</div>
    
    
