@import '../../../../../../../assets/styles/variable.scss';
.exit-thesis-pop{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  @media #{$extra-small} {
    height: inherit;
    top: 10%;
    bottom: auto;
  }
}
  
  .exit-thesis-pop-inner{
    width: 480px;
    height: auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0px 15px 45px #7d7d7d;
    font-size: 14px;
    @media #{$extra-small} {
      width: 90%;
    }
  }
  
  .pop-top-heading{
    background: #275C9F;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
  }
  
  .exit-con{
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    justify-content: space-between;
  }

  
  .right-input {
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    .form-control{
      height: 45px;
      background-color: #f9f9f9;
    }
  }
  
  .let-con {
    width: 31%;
      text-align: left;
  
    p{
      color: #000;
    }
  }
  
  .left-heading {
    font-size: 14px;
    h5 {
        color: #fff;
        font-size: 14px;
        margin: 0;
    }
}
  
.right-close {
  line-height: 0;
  span {
      cursor: pointer;
      color: #fff;
  }
  .mat-icon {
      cursor: pointer;
      height: 20px;
      width: 20px;
      color: #fff;
      font-size: 22px;
  }
}

.btn-up {
  padding-top: 0.5rem;
  text-align: right;
}

.btn-add {
  padding: 0.375rem 1.5rem !important;
  background: radial-gradient(159.03% 392.94% at 26.8% -25.69%, rgba(24, 255, 61, 0.2) 0%, rgba(155, 216, 186, 0.182) 97.92%), linear-gradient(180deg, #33CB39 0%, #1BD022 100%);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  cursor: pointer;
  border-radius: 100px;
  &:hover {
      color: white !important;
  }
}

.col-form-label {
  color: #393B40;
  font-size: 14px;
  font-weight: 500;
}

.form-control {
  padding: 0.375rem 0.5rem;
  font-size: 12px;
}

select.form-control {
  padding: 0.375rem 0.25rem;
}
.separator {
    background: #9DA6BA;
    opacity: 0.2;
    margin: .5rem 0;
    height: 1px;
}

.combobox {
    width: 55%;
    padding: 0 1rem;
    position: relative;
}
.combobox-input {
    width: 100%;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ced4da;
}
.combobox-input:focus {
    outline-style: none;
}
.combobox-options {
    position: absolute;
    background-color: white;
    width: 91%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 2px 2px 2px 2px #ccc;
    z-index: 1;
}
.selected {
    color: cornsilk;
    background-color: rgb(165, 112, 112);
}
.combobox-options li {
    display: block;
    font-size: 14px;
    padding: 10px;
    list-style: none;
    margin: 0;
}
.combobox-options li:hover {
    background-color: grey;
    color: white;
}
.error-text {
    color: rgb(165, 112, 112);
}
.error {
    border: 1px solid red;
}