<div class="container">
    <div class="trade-plan-section">


        <div class="add-new-trade-btn">
            <button class="add-new btn btn-apply" (click)="addEntry()"> ADD PLAN</button>
        </div>

        <div class="trade-strategies-table">
            <div class="card mb-4">
                <div class="card-body">

                    <!-- trade-btns -->

                    <div class="trade-st-box">
                        <div class="st-slect-sections">
                            <div class="trade-form">

                                <div class="form-group has-search">
                                    <input type="text" class="form-control" placeholder="Search by description">
                                    <img src="../../../../assets/images/icon/Icon awesome-search.png" alt=""
                                        class="form-icon">

                                </div>
                            </div>
                        </div>
                        <div class="right-box">

                            <div class="st-slect-section">
                                <div class="trade-date">

                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <my-date-range-picker placeholder="Date range" name="mydaterange"
                                                [options]="myDateRangePickerOptions"></my-date-range-picker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="st-slect-section select-btn">
                                <button class="btn btn-apply">APPLY FILTERS</button> &nbsp; &nbsp;
                                <button type="button" class="btn btn-link ">Clear</button>

                            </div>
                        </div>



                    </div>

                    <!-- Grid row -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="date">Date</th>
                                <th class="currnt">Positions Aligned with Rules </th>
                                <th class="market">Perspective on the market</th>
                                <th class="plan">Planned Trades</th>
                                <th class="per">Traded as
                                    per the plan</th>
                                <th class="lesson">Lessons Learnt</th>
                                <th class="edit"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="date">30-June</td>
                                <td class="currnt">No</td>
                                <td class="market">
                                    <p>Negative on the market fundamentally but neutral from money-inflow and Fed action
                                        perspectove. Negative mainly on large tech such as AAPL and cloud stocks. I am
                                        neutral on airlines and ridesharing stocks now. I believe markets will fall
                                        significantly due to hit on earnings which will be known in July/August, Biden
                                        win (roll-out of tax cuts), etc. </p>
                                </td>

                                <td class="plan">
                                    <p>Wait on AMZN. May be buy 3000 call and Put Spreads on AMZN for next
                                        week. Buy calls on tech stocks.</p>
                                </td>
                                <td class="per">
                                    <img alt="" class="img-fluid"
                                        src="../../../../assets/images/Dashboard/Icon_feather-check-removebg-preview.png">
                                </td>

                                <td class="lesson">
                                    <p>Do not trade same day calls and puts unnecessarily. Money will be lost
                                        consistently.</p>
                                </td>
                                <td>
                                    <div class="edit">
                                        <img alt="" src="../../../../assets/images/Icon material-edit.png">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td class="date">30-June</td>
                                <td class="currnt">No</td>
                                <td class="market">
                                    <p>Negative on the market fundamentally but neutral from money-inflow and Fed action
                                        perspectove. Negative mainly on large tech such as AAPL and cloud stocks. I am
                                        neutral on airlines and ridesharing stocks now. I believe markets will fall
                                        significantly due to hit on earnings which will be known in July/August, Biden
                                        win (roll-out of tax cuts), etc. </p>
                                </td>

                                <td class="plan">
                                    <p>Wait on AMZN. May be buy 3000 call and Put Spreads on AMZN for next
                                        week. Buy calls on tech stocks.</p>
                                </td>
                                <td class="per">
                                    <img alt="" class="img-fluid"
                                        src="../../../../assets/images/Dashboard/Icon_feather-check-removebg-preview.png">
                                </td>

                                <td class="lesson">
                                    <p>Do not trade same day calls and puts unnecessarily. Money will be lost
                                        consistently.</p>
                                </td>
                                <td>
                                    <div class="edit">
                                        <img alt="" src="../../../../assets/images/Icon material-edit.png">
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>