<div class="trade-plan-section">
    <div class="trade-strategies-table">
        <div class="main-body">
            <div class="trade-dash-main">
                <div class="trade-dash-name">
                    <h3>List of all the trade plans</h3>
                </div>
                <div class="trade_plans_header">
                    <span class="col-form-label mr-2">Filter By</span>
                    <div class="trade-plan-date mr-3">
                        <my-date-range-picker placeholder="Date range" name="mydaterange" [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)">
                        </my-date-range-picker>
                    </div>
                    <button class="btn add-new d-flex align-items-center" (click)="addEntry()"> <span class="add-icon mr-2">+</span> Add Plan</button>
                </div>
            </div>

            <div class="card-body px-3">
                <div class="mat-elevation-z8 trade-table">
                    <table mat-table [dataSource]="dataSource">
                        <!-- Position Column -->
                        <ng-container matColumnDef="day">
                            <th mat-header-cell *matHeaderCellDef> Entry Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.day | date: 'dd-MMM-yyyy'}} </td>
                        </ng-container>

                        <!-- Prediction Column -->
                        <ng-container matColumnDef="marketStatus">
                            <th mat-header-cell *matHeaderCellDef width="12%"> Market View</th>
                            <td mat-cell *matCellDef="let element"> {{element.marketStatus}} </td>
                        </ng-container>

                        <!-- Mindset Column -->
                        <ng-container matColumnDef="mindsetType">
                            <th mat-header-cell *matHeaderCellDef> Mindset </th>
                            <td mat-cell *matCellDef="let element"> {{element.mindsetType}} </td>
                        </ng-container>

                        <!-- Planned Trades Column -->
                        <ng-container matColumnDef="plannedTrades">
                            <th mat-header-cell *matHeaderCellDef> Planned Trades </th>
                            <td mat-cell *matCellDef="let element"> {{element.plannedTrades}} </td>
                        </ng-container>

                        <!--Aligned Column -->
                        <ng-container matColumnDef="aligned">
                            <th mat-header-cell *matHeaderCellDef>Aligned with Plan</th>
                            <td mat-cell *matCellDef="let element" [ngClass]="{
                'text-success': element.aligned == 'Yes',
                'text-danger': element.aligned == 'No'}">{{element.aligned == true ? 'Yes' : 'No'}}</td>
                        </ng-container>

                        <!-- Self-Review Column -->
                        <ng-container matColumnDef="selfReview">
                            <th mat-header-cell *matHeaderCellDef>Self-Assessment</th>
                            <td mat-cell *matCellDef="let element"> {{element.selfReview}} </td>
                        </ng-container>

                        <!-- Trades Column -->
                        <ng-container matColumnDef="todayStrategyCount">
                            <th mat-header-cell *matHeaderCellDef>Trade Count</th>
                            <td mat-cell *matCellDef="let element"> {{element.todayStrategyCount}} </td>
                        </ng-container>

                        <!-- Realized  Return Column -->
                        <ng-container matColumnDef="returnAmount">
                            <th mat-header-cell *matHeaderCellDef>Realized Return</th>
                            <td mat-cell *matCellDef="let element"> {{element.returnAmount}} </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef class="status-cell"> Status </th>
                            <td mat-cell *matCellDef="let element" [ngClass]="{
                'text-primary': element.status == 'Open',
                'text-success': element.status == 'Closed'}"> {{element.status}} </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon *ngIf="element.status == 'Open'" class="text-success cursor mat-icon-sm mr-3" (click)="editEntry(element)">edit</mat-icon>

                                <mat-icon *ngIf="element.status == 'Closed'" (click)="viewEntry(element)" class="mat-icon-sm cursor">visibility</mat-icon>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100, 200]" [showFirstLastButtons]="true" [length]="dataSource.totalCount"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>