<div class="dark-theme-body">
  <div class="container px-2">
    <div class="trade-plan-section">
      <div class="trade-strategies-table">
        <div class="card main-body">
          <div class="trade-dash-main">
            <div class="trade-dash-name">
              <h3>Trade Plans</h3>
            </div>
            <div class="trade_plans_header">
              <span class="col-form-label mr-2">Filter By</span>
                <div class="trade-date mr-3">
                  <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <my-date-range-picker placeholder="Date range" name="mydaterange" [options]="myDateRangePickerOptions"></my-date-range-picker>
                    </div>
                  </div>
                </div>
              <button class="add-new btn btn-apply" (click)="addEntry()"> New Plan</button>
            </div>
          </div>

          <div class="card-body">
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource">
                <!-- Position Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="perspective">
                  <th mat-header-cell *matHeaderCellDef width ="30%"> Perspective on the Market</th>
                  <td mat-cell *matCellDef="let element"> {{element.perspective}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="direction">
                  <th mat-header-cell *matHeaderCellDef> Market Direction </th>
                  <td mat-cell *matCellDef="let element"> {{element.direction}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="planned_trades">
                  <th mat-header-cell *matHeaderCellDef> Planned Trades </th>
                  <td mat-cell *matCellDef="let element"> {{element.planned_trades}} </td>
                </ng-container>

                <!-- Lessions Learnt Column -->
                <ng-container matColumnDef="aligned_with_plan">
                  <th mat-header-cell *matHeaderCellDef> Aligned with Plan</th>
                  <td mat-cell *matCellDef="let element"><img alt="" class="img-fluid"
                    src="../../../../assets/images/Dashboard/Icon_feather-check-removebg-preview.png" /></td>
                </ng-container>

                <!-- Lessions Learnt Column -->
                <ng-container matColumnDef="lessions_learnt">
                  <th mat-header-cell *matHeaderCellDef> Lessions Learnt </th>
                  <td mat-cell *matCellDef="let element"> {{element.lessions_learnt}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element"><div class="edit">
                    <img alt="" src="../../../../assets/images/Icon material-edit.png">
                </div></td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
              [length]="dataSource.totalCount"></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>